<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav">
  <%= render :partial => 'properties/listing_tab' %>
</div>
<h3>Listing Details</h3>
<div class="form_area" style="height:105px">
  <ul class="form_listing position_left">
    <li>
      <label for="keyword"><b>Address</b></label>
      <%= @property.address %>
    </li>
    <li>
      <label for="keyword"><b>Listing Type</b></label>
      <%= @property.aliasize %>
    </li>
    <li>
      <label for="keyword"><b>Type</b></label>
      <%= @property.property_type %>
    </li>
    <li>
      <label for="keyword"><b>Property Detail</b></label>
      <%= (@property.detail.land_area.blank? ? "" : "Land Area : #{@property.detail.land_area} #{@property.detail.land_area_metric}") unless ["NewDevelopment", "LandRelease"].include?(@property.type) %> <%= @property.detail.floor_area.blank? ? "" : ", Floor Area : #{@property.detail.floor_area} #{@property.detail.floor_area_metric}" %>
    </li>
    <li>
      <label for="keyword"><b>Price</b></label>
      <%= @property.price.blank? ? "" : number_to_currency(@property.price, :precision => 0) %>
    </li>
  </ul>
</div>
<%= render :partial => 'search_form' %>
<% form_tag("/agents/#{@agent.id}/offices/#{@office.id}/properties/#{@property.id}/match_contacts/create_match_contacts") do %>
  <%= render :partial => 'filter' %>
  <br/>
  <div class="action-button-wrapper">
    <tr>
      <td><%= submit_tag "Send Email" %></td>
    </tr>
  </div>
<%end%>