<span id="archive_icon_<%= msg.id %>">
<% if msg.archived? -%>
	Archived
<% elsif msg.pending_archive? -%>
	<% if msg.archivable_by?(current_user) -%>
		<%= link_to 'orange icon here', approve_archive_message_comments_path(msg) + "?height=300&width=430&modal=true", :class => "archive_btn thickbox"%>
	<% else -%>
		<span style="color:orange">orange icon here</span>
	<% end -%>
<% elsif msg.peding_archivable_by?(current_user) -%>
	<a class="thickbox" href="#TB_inline?height=100&width=430&modal=true&inlineId=request_archive_<%= msg.id %>">Archive Ticket</a>
<% end -%>
</span>