<h6>
	<%= link_to_unless_current 'View Messages', messages_path %> |
	<% if params[:action] == 'unread' -%>
		View unread <span class="emphasis">(<%= current_user.unread_messages_count %>)</span>
	<% else -%>
		<% link_to unread_messages_path do -%>
			View unread <span class="emphasis">(<%= current_user.unread_messages_count %>)</span>
		<% end -%>
	<% end -%>|
	<%= link_to_unless_current 'View Archives', archives_messages_path %>
</h6>