<div class="pack file_button">

	<% if !@message.new_record? && @message.file %>
		<p>File attached: <%= link_to @message.file.filename, @message.file.public_filename %> . Choose a new file will remove the current one.</p>
	<% end %>
	
	<p><strong>Attach files</strong> (Note: You may not upload files larger than 100 MB.)</p>
	<%= f.file_field :uploaded_file_data %>

</div>