<hr class="thick" />

<div id="tabulardiv" class="block files threequarters">

<div class="title_block block">
<h2>Developer Messages</h2>

<%= render :partial => 'messages_nav' %>

<div class="clearer"></div>
</div>

<div class="group">

	<% if @messages.blank? -%>
		<p>You don't have any messages yet.</p>
	<% else -%>
		<%= render :partial => 'message', :collection => @messages %>
    <%= will_paginate @messages %>
  <% end -%>
	
<div class="clearer"></div>
</div><!-- end first date .group -->

<div class="action_button">
	<span class="user_message"><%= unread_messages_icon %>Unread</span>
	<span class="user_message"><%= read_messages_icon %>Read</span>
  <span class="archived_message"><%= read_n_replied_messages_icon %>Read & Replied</span>
</div>

</div><!-- end #tabulardiv -->

<div id="sidebar" class="block files quarter">

	<%= render :partial => 'messages/filter_form' %>
	
</div><!-- end #sidebar -->