<%= render :partial => "messages/message_info", :locals => { :msg => admin_message, :unread => admin_message.unread_for_user?(current_user), :path => developer_message_path(@developer, admin_message) } %>
