<div id="clientcntrdiv" class="group">
<% if @clients.blank? %>
<%= dashboard_placeholder(900, "A list of all clients will appear here") %>
<%end%>
	<h3>Client Centre
		<small class="formgrouplinks">
			<%= link_to 'Go to Client Centre', developer_agents_path(@developer), :title => 'Client Centre' %>
			| <%= link_to 'Add a new Client', new_developer_agent_path(@developer), :title => "New Client Account" %>
		</small>
	</h3>
	<table cellpadding="0" cellspacing="0" class="clientcntr_table">
		<tr>
			<th class="first_cell field">Commenced</th>
			<th class="field">Client Name</th>
			<th class="field">Active Offices</th>
			<th class="field">Inactive Offices</th>
		</tr>
		<% @clients.each do |client| %>
			<tr class="<%= cycle 'alt', '' %>">
				<td class="first_cell value"><%= client.created_at.to_date %></td>
				<td class="value"><%= link_to h(client.name), developer_offices_path(@developer, :client => client.id), :style => "color:#0E7FC7" %></td>
				<td class="value"><%= link_to client.offices.active.count, developer_offices_path(@developer, :client => client.id, :status => 'active'), :style => "color:#0E7FC7" %></td>
				<td class="value"><%= link_to client.offices.inactive.count, developer_offices_path(@developer, :client => client.id, :status => 'inactive'), :style => "color:#0E7FC7" %></td>
			</tr>
		<% end %>
	</table>
</div>
