<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script type="text/javascript">
  function add_domain(element){
    var num = $('#count_field').val();
    $('<div class="domain-wrp" id="domain_index'+num+'"><div class="domain-left"><div class="domain-left50"><input type="text" value="" style="width: 50%;" name="domain[]name" id="domain_name'+($('#count_field').val())+'" class="single"></div><div class="domain-left50"><input type="text" value="" style="width: 50%;" name="domain[]ipn"  id="domain_ipn'+($('#count_field').val())+'" class="single"></div><div class="domain-clear"></div><div class="domain-left50">Send Current & Under Offer Listings</div><div class="domain-left50"><input type="checkbox" value="1" name="domain[]enable_export" id="domain_enable_export'+($('#count_field').val())+'"> Automatically enable this API for listings</div><div class="domain-clear"></div></div><div class="domain-right"><div><a href="#" onclick="$(\'#domain_index'+num+'\').remove();return false;"><img src="/images/icons/famfamfam/cancel.png?1279701518" alt="Cancel"></a></div></div><div class="domain-clear"></div></div>').insertBefore(".add_domain");
    $('#count_field').val(parseInt($('#count_field').val())+1);
    return false;
  }
</script>
<style>
  .domain-wrp{margin:5px 0;font-size:8pt;border-bottom:1px solid #cccccc;}
  .domain-left{width:90%;float:left;}
  .domain-left50{float:left;width:50%;padding-bottom:3px;}
  .domain-right{width:20px;float:right;}
  .domain-clear{clear:both;}
  .domain-add{margin:5px 0;font-size:8pt;text-align:center;}
</style>
<div class="group">
  <h4>Domains</h4>
  <div class="set full leader">
    <div class="group">
      <div>
        <div style="background-color: #E1EBF5;font-size:9pt;font-weight:bold;margin-bottom:5px;"><div style="width:45%;float:left;margin:3px 0;">&nbsp;(Website) Name</div><div style="float:left;margin:3px 0;">Property Notification</div><div style="clear:both"></div></div>
          <% if !@developer.domains.blank? %>
            <% @developer.domains.each_with_index do |domain, index| %>
            <div class="domain-wrp" id="domain_index<%= index %>">
              <div class="domain-left">
                <div class="domain-left50"><%= text_field_tag "domain[]name",domain.name, :id => "domain_name#{index}", :class => 'single domain_name', :style=>"width:80%"%></div>
                <div class="domain-left50"><%= text_field_tag "domain[]ipn",domain.ipn, :id => "domain_ipn#{index}",:class => 'single', :style=>"width:80%"%></div>
                <div class="domain-clear"></div>
                <div class="domain-left50"><a href="/developers/<%= @developer.id %>/trigger_domain?domain_id=<%= domain.id %>">Send Current & Under Offer Listings</a>
                </div>
                <div class="domain-left50"><%= check_box_tag "domain[]enable_export", "1", domain.enable_export, :id => "domain_enable_export#{index}" %> Automatically enable this API for listings</div>
                <div class="domain-clear"></div>
              </div>
              <div class="domain-right">
                <div><a href="#" onclick="$(this).children('img').attr('src','/images/ajax-loader.gif');var element = $('#domain_index<%= index %>');$.post('/developers/<%= @developer.id %>/delete_developer_domain', {'domain_id':<%= domain.id %>}, function(respond){if(respond == true){element.remove() }; }, 'json');return false;"><%= image_tag "/images/icons/famfamfam/cancel.png" %></a></div>
              </div>
              <div class="domain-clear"></div>
            </div>
            <% end%>
          <% else %>
            <div class="domain-wrp" id="domain_index0">
              <div class="domain-left">
                <div class="domain-left50"><%= text_field_tag "domain[]name",{}, :id => "domain_name0", :class => 'single domain_name', :style=>"width:80%"%></div>
                <div class="domain-left50"><%= text_field_tag "domain[]ipn",{}, :id => "domain_ipn0", :class => 'single', :style=>"width:80%"%></div>
                <div class="domain-clear"></div>
                <div class="domain-left50">Send Current & Under Offer Listings</div>
                <div class="domain-left50"><%= check_box_tag "domain[]enable_export", "1", false, :id => "domain_enable_export0" %> Automatically enable this API for listings</div>
                <div class="domain-clear"></div>
              </div>
              <div class="domain-right">
                <div><a href="#" onclick="$(this).children('img').attr('src','/images/ajax-loader.gif');var element = $('#domain_index0');$.post('/developers/<%= @developer.id %>/delete_developer_domain', {'domain_id':<%= domain.id %>}, function(respond){if(respond == true){element.remove() }; }, 'json');return false;"><%= image_tag "/images/icons/famfamfam/cancel.png" %></a></div>
              </div>
              <div class="domain-clear"></div>
            </div>
          <% end %>
          <input type="hidden" name="count_field" id="count_field" value="<%= @developer.domains.blank? ? 1 : @developer.domains.size %>"/>
          <div class="add_domain domain-add"><a onclick="add_domain(this);" style="cursor: pointer">Add Domain</a></div>
      </div>
    </div>
  </div>
</div>
