<% @news = News.first.data %>
<% if @quicklinks.blank? %>
<%= dashboard_placeholder(1070, "Latest Updates to the System will appear here") %>
<%end%>
<h3 class="full">Updates <small class="formgrouplinks"><a href="http://www.commercialloopcrm.com.au/category/zoo-property-system-updates/" target="_blank">View All</a></small></h3>
<table width="100%" cellpadding="0" cellspacing="0" class="help_center_table">
	
	<% @date = News.first.created_at.strftime("%Y/%m/%d") %>
  	<% if !@news.nil? %>
		<% @news.each do |k,v| %>
			<tr>
				<td class="first_cell"><%= link_to k, "#{translate_url_for_developer_user(v)}", :target => "_blank", :style => "color:#0E7FC7" %></td>
				<td><%= @date %></td>
			</tr>
		<% end %>
    <% end %>
</table>
