<h1>New developer</h1>

<% form_for(@developer) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>*Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>*Company:</td>
      <td><%= f.text_field :company %></td>
    </tr>
    <tr>
      <td>*URL:</td>
      <td><%= f.text_field :entry %>.<%= f.select :domain, domain_names.map { |d| [d, d] } %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <% fields_for :user do |creator| %>
      <tr>
        <td colspan='2'>Admin Info</td>
      </tr>
      <tr>
        <td>*first name:</td>
        <td><%= creator.text_field :first_name %></td>
      </tr>
      <tr>
        <td>*last name:</td>
        <td><%= creator.text_field :last_name %></td>
      </tr>
      <tr>
        <td>*phone:</td>
        <td><%= creator.text_field :phone %></td>
      </tr>
      <tr>
        <td>*login:</td>
        <td><%= creator.text_field :login %></td>
      </tr>
      <tr>
        <td>*email:</td>
        <td><%= creator.text_field :email %></td>
      </tr>
      <tr>
        <td>*password:</td>
        <td><%= creator.password_field :password %></td>
      </tr>
      <tr>
        <td>*confirm password:</td>
        <td><%= creator.password_field :password_confirmation %></td>
      </tr>
    <% end %>
  </table>

  <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', developers_path %>
