<div id="login_box">
  <% if cookies.present? %>
    <p><label>You will be redirected automatically. Please <a href="http://<%= get_current_subdomain %>.commercialloopcrm.com.au">click here</a> if you are not automatically redirected.</label></p>
  <% else %>
    <a href="#" onclick="window.open('<%= login_path %>?popup=1#login_box','','width=440,height=360,status=no'+top+','+left);">Click here to login.</a>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var winl = (screen.width-410)/2;
    var wint = (screen.height-360)/2;
    top = 'top='+wint
    left = 'left='+winl
    <% if cookies.present? %>
      window.location.replace('http://<%= get_current_subdomain %>.commercialloopcrm.com.au')
    <% end %>
  })

</script>
