<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip', :cache=>'style' %>
  <body>
    <div id="clientdiv" class="block accounts full"><br/>
      <div class="block form follower" style="padding-right:5px;">
        <div id="propertydatadiv" class="group">
          <div class="set">
            <h6 class="full">Types List</h6>
            <table cellpadding="0" cellspacing="0" class="update_table full">
              <tr>
                <th class="first_cell" style="background-color:#C8D2DC;">Name</th>
                <th style="background-color:#C8D2DC;"></th>
                <th style="background-color:#C8D2DC;"></th>
              </tr>
              <% @types.each{|type| %>
                <tr>
                  <td class="first_cell"><%=h type.name %></td>
                  <td class="value"><%= link_to 'Edit', edit_agent_office_livestock_type_path(@agent, @office, type) %></td>
                  <td class="value">
                    <%= link_to 'Destroy', agent_office_livestock_type_path(@agent, @office, type), :confirm => 'Are you sure?',
                      :method => :delete %>
                  </td>
                </tr>
              <% } %>
            </table>
            <%#= will_paginate @parents %>
            <div class="action_button" style="border:none;">
              <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_categories(); return false",
                :class =>"right" %>
              <%= link_to 'Add New Parent', new_agent_office_livestock_type_parent_path(@agent, @office), :class => "thickbox" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
