<style type="text/css">
   a img{color:transparent !important;}
   a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
   p{font-size:8pt;}
   .greybg{background-color:#EAEAEA;}
   .wrp{margin-top:3px;}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="<%= @base_url %>/images/mail_forward.png"/></a> to forward this email</div>
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;">
  <div style="width:780px;height:80px;">
    <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80" />
  </div>
  <div style="margin-bottom:3px;font-size:8pt;background-color:<%= @bgcolor %>" class="wrp">
    <div style="float:left;width:582px;background-color:<%= @mainbg %>;border-right:3px solid #FFFFFF;">
       <div style="width:565px;border-bottom:1px solid <%= @thinline %>;padding:5px 10px 5px 5px;color:<%= @maintext %>">
        <% unless @img_portrait_2.blank? %>
         <div style="width:180px;float:left;margin-right:5px;">
          <img src="<%= @img_portrait_2.public_filename %>" width="180" />
         </div>
        <% end %>
        <%= @data["sender_description"]  %>
        <div style="clear:both;"></div>
       </div>

       <% @categories.each do |category_param, category_title| %>

       <% if !@data[category_param].blank? && @data[category_param] != '0' %>
       <!-- Current Sales -->
       <% unless @property_ids[category_param].blank? %>
         <div style="font-weight:bold;padding:10px 13px;font-size:14pt;color:<%= @maintext %>;margin-bottom:5px;"><%= category_title %></div>
         <% @property_ids[category_param].each do |property| %>
         <% unless property.detail.blank? %>
         <div style="border-top:1px solid <%= @thinline %>;padding:10px 13px 2px 13px;margin-bottom:13px;">
             <div style="margin:8px 0;">
             <div style="font-size:10pt;float:left;width:400px;">
               <a href="{ecampaign_track_property_url}&property_id=<%= property.id %>" style="text-decoration:none;color:<%= @textcolor %>">
                 <%= property.unit_number.blank? ? "" : "#{property.unit_number}&nbsp;" %>
                 <%= property.street_number.blank? ? "" : "#{property.street_number}&nbsp;" %>
                 <%= property.street.blank? ? "" : "#{property.street}&nbsp;" %>
                 <span style="font-weight:bold;"><%= property.suburb %></span>
               </a>
             </div>
             <div style="float:right;color:<%= @icon_colour %>">
             <% if ['ResidentialSale', 'ResidentialLease', 'ProjectSale', 'HolidayLease'].include?(property.type.to_s) %>
               <%= (property.detail.bedrooms) ? "&nbsp;#{property.detail.bedrooms.to_s}&nbsp;<img src='#{@base_url}/images/#{@img_nm}_beds.gif'/>&nbsp;&nbsp;" : "" %>
               <%= (property.detail.bathrooms) ? "&nbsp;#{property.detail.bathrooms.to_s}&nbsp;<img src='#{@base_url}/images/#{@img_nm}_baths.gif'/>&nbsp;&nbsp;" : "" %>
               <%= ((property.detail.carport_spaces.to_i + property.detail.garage_spaces.to_i) == 0) ? "" : "&nbsp;#{(property.detail.carport_spaces.to_i + property.detail.garage_spaces.to_i).to_s}&nbsp;<img src='#{@base_url}/images/#{@img_nm}_cars.gif'/>&nbsp;&nbsp;" %>
              <% end %>
             </div>
             <div style="clear:both;"></div>
             </div>
             <div style="width:560px;height:150px;">
                 <div style="float:left;width:190px;height:150px;padding-right:8px;">
                   <a href="{ecampaign_track_property_url}&property_id=<%= property.id %>">
                   <% unless property.images.blank? %>
                     <img src="<%= property.images.first.public_filename(:thumb) %>" width="190" height="150" style="color:transparent !important;"/>
                   <% else %>
                     <img src="<%= @base_url %>/images/no_image.jpg" width="190" height="150" style="color:transparent !important;"/>
                   <% end %>
                   </a>
                 </div>
                 <div style="float:left;width:350px;height:150px;margin-left:5px;color:<%= @maintext %>">
                  <div style="height:135px;">
                   <div style="font-weight:bold;margin-bottom:5px;"><%= property.headline %></div>
                   <%= truncate(property.description, 350, "...") %>
                  </div>
                  <div style="height:15px;font-weight:bold;">
                  <% unless property.display_price.to_i == 0 %>
                    <% if property.type.to_s == 'Commercial'%>
                      <% if property.deal_type == 'Lease' %>
                        Price: <%= property.display_price.to_i == 1 ? (property.detail.rental_price.blank? ? "" : ("$#{property.detail.rental_price}" + (property.detail.rental_price_to.blank? ? "" : " - $#{property.detail.rental_price_to}"))) : property.display_price_text %>
                      <% else %>
                        Price: <%= property.display_price.to_i == 1 ? (property.detail.sale_price_from.blank? ? "" : ("$#{property.detail.sale_price_from}" + (property.detail.sale_price_to.blank? ? "" : " - $#{property.detail.sale_price_to}"))) : property.display_price_text %>
                      <% end %>
                    <% else %>
                      Price: <%= property.display_price.to_i == 1 ? (property.price.blank? ? "" : "$#{property.price}" + (property.to_price.blank? ? "" : "- $#{property.to_price}")) : property.display_price_text %>
                    <% end %>
                  <% end %>
                  </div>
                 </div>
             </div>
         </div>
         <% end %>
         <% end %>
       <% end %>
       <!-- End Current Sales -->
        <% end %>
       <% end %>

    </div>
    <div style="float:left;width:195px;color:#ffffff;">
        <div style="background-color:<%= @mainbg %>;">
            <%= @facebook_social_link %>
            <%= ecampagin_links(@info_links, @web_links, @general_links, @socials, @bgcolor, @heading, @headingtextcolor, @link_order) %>
            <div style="height:405px;background-color:<%= @bgcolor %>;">
              <img src="<%= @side_image.public_filename unless @side_image.blank? %>" width="195" height="400" />
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div style="width:780px;height:75px;">
    <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75" />
  </div>
  </div>
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;font-size:8pt;color:#999999;">
    <div style="width:400px;float:left;">To unsubscribe from this service please <a href="{unsubcribe}" style="color:#999999;text-decoration:underline;">click here</a>.</div>
    <div style="width:300px;float:right;text-align:right">Powered By <b><%= @office.agent.developer.name %></b></div>
    <div style="clear:both;"></div>
    <div style="width:400px;">Copyright &copy; <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %></div>
  </div>
</div>
</div>
<!--<div style='display:none;'>ect_start:{ecampaign_track_id}:ect_end</div>-->