<div class="block help full">
  <div class="title_block threequarters leader"><h2>Eproperty Alerts</h2>  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Setup Eproperty Alerts', choose_layout_agent_office_ealerts_path(@agent, @office), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Eproperty Alerts </h6>
     <fieldset class="pf_fs2">
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;"><b>No</b></td>
             <td style="background-color:#f0f0f0;"><b>Title</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Views</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>%</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Clicked</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Bounced</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Forward</b></td>
             <td style="background-color:#f0f0f0;"><b>Created</b></td>
             <td style="background-color:#f0f0f0;"><b>Activated</b></td>
             <td style="background-color:#f0f0f0;"><b>Action</b></td>
           </tr>
          <% @ealerts.each_with_index do |ealert, index| %>
           <tr>
             <td width="5%"><%= (index+1) %></td>
             <td width="30%"><%= ealert["title"] %></td>
             <td style="text-align:center;"><%= link_to ealert["recipient"], "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ealert["opened"], "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to view_rates(ealert["opened"], ealert["recipient"])+" %" , "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ealert["clicked"].blank? ? "0" : ealert["clicked"] , "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ealert["bounced"].blank? ? "0" : ealert["bounced"] , "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to ealert["forwarded"].blank? ? "0" : ealert["forwarded"] , "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %></td>
             <td><%= (ealert["created_at"].blank? ? "-" : ealert["created_at"].to_date.strftime("%d %B %Y")) %></td>
             <td><%= (ealert["sent_at"].blank? ? "-" : ealert["sent_at"].to_date.strftime("%d %B %Y")) %></td>
             <td width="13%">
               <% if ealert["sent_at"].blank? %><%= link_to "Edit", "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/edit_ealert", :style => "color:blue;"  %><% else %>Edit<% end %>
               &nbsp;|&nbsp;
               <%= link_to "Duplicate", "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/duplicate_ealert", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Stats", "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/stats", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Delete", "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/delete_alert", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>&nbsp;|&nbsp;
               <% if ealert["sent_at"].blank? %>
                 <%= link_to "Activate", "/agents/#{@agent.id}/offices/#{@office.id}/ealerts/#{ealert["id"]}/view_and_send", :style => "color:blue;"  %>
               <% else %>
                  Activated
               <% end %>
             </td>
           </tr>
           <% end %>
         </table>
    </fieldset>
    </div>
  </div>
</div>