<%= stylesheet_link_tag 'ui.datepicker' %>
<script type="text/javascript">
  $(function(){
    $('#schedule_data_start_date').datepicker();
  });
</script>
<div class="title_block block">
  <h2 class="page_title">Schedule Alerts</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= schedule_alert_agent_office_ealerts_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Schedule Alert to be Sent</h6><br/>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:150px;">How Often:</td>
          <td><%= select_tag "schedule_data[frequency]", options_for_select(@frequencies, @schedule_data['frequency']) %></td>
          </tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Start Date:</td><td><input type="text" name="schedule_data[start_date]" id="schedule_data_start_date" value="<%= @schedule_data['start_date'] %>" class="single"/></td></tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Time:</td>
            <td><%= select_tag "schedule_data[time]", options_for_select(@times, @schedule_data['time']) %></td>
          </tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;"><input type="checkbox" name="schedule_data[alert_enable]" <%= (@schedule_data['alert_enable'] == "1")? "checked" : "" %> value="1"/>&nbsp;Alerts are enabled</td><td>&nbsp;</td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_ealerts_path(@agent, @office) %>'">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>