<div class="group" style="background-color:#E1EBF5;">
<table cellpadding="0" cellspacing="0" class="update_table full">
<tr>
  <th class="first_cell" style="width:120px;background-color:#C8D2DC;">Date</th>
  <th style="width:200px;background-color:#C8D2DC;">Note Type</th>
  <th style="width:250px;background-color:#C8D2DC;">Property Address</th>
  <th style="width:100px;background-color:#C8D2DC;">Added By</th>
  <th style="background-color:#C8D2DC;">Note</th>
  <th style="width:100px;background-color:#C8D2DC;">Actions</th>
</tr>
<% unless @notes.blank? %>
<% @notes.each do |note| -%>
<tr>
  <td class="value">
    <span class="<%= (note.email_reminder == true ? "orange_bg" : "") %>">
   <%= (note.created_at ? note.created_at.utc.strftime("%d-%m-%Y %H:%M:%S") : Time.now.utc.strftime("%d-%m-%Y %H:%M:%S")) %>
    </span>
  </td>
  <td class="value"><%= (note.note_type_id ? note.note_type.nil? ? "-" :note.note_type.name : "-") %></td>
  <td class="value">
    <% unless note.property_id.blank? %>
      <a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%= note.property_id %>" style="color:#0e7fc7;"><%= (Property.find(note.property_id).short_address.present? ? Property.find(note.property_id).short_address : "-") %></a>
    <% else %>
      <%= (note.address ? note.address : "-") %>
    <% end %>
  </td>
  <td class="value"><%= (note.agent_user.nil? ? "Website" : contact_agent(note)) %></td>
  <td class="value"><%= (note.description ? note.description : "-") %></td>
  <td class="value">
    <%= link_to "Edit", edit_agent_office_agent_company_company_note_path(@agent,@office, @agent_company, note), :method => :get, :style => "color:blue;" %> |
    <%= link_to "Delete", agent_office_agent_company_company_note_path(@agent,@office, @agent_company, note), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>  </td>
</tr>
<% end -%>
<% end %>
</table>
<%= will_paginate @notes unless @notes.blank? %>
<div class="clearer"></div>
</div>

