<div class="title_block block">
  <h2 class="page_title">Notes For Company <%= @agent_company.company unless @agent_company.blank? %></h2>
</div>
<div id="clientdiv" class="block accounts full">
<% form_for :company_note, @company_note, :url => agent_office_agent_company_company_note_path(@agent,@office, @agent_company), :html => {:class => 'propertyform full', :method => :put} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'note_form', :locals => {:form => f} %>
  <%= render :partial => 'note_list' %>
<% end %>
</div><!-- end #clientdiv -->

