<div class="title_block block"><h2 class="page_title"><%= @property.short_address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="clientdiv" class="block accounts full">
<% form_for :property_note, @property_note, :html => {:class => 'propertyform full'} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set third" style="width:40%">
      <fieldset class="pf_fs2">
        <table>
          <tr style="background-color:#E1EBF5;"><td><b>Property Views</b></td><td><b>Week</b></td><td><b>Month</b></td><td><b>Total</b></td><td>&nbsp;</td></tr>
          <% @property_viewers.each do |view| -%>
          <tr style="background-color:#E1EBF5;"><td><%= view[:type] %></td><td><%= view[:week] %></td><td><%= view[:month] %></td><td><%= view[:total] %></td><td>&nbsp;</td></tr>
          <% end -%>
        </table>
        <table>
          <tr style="background-color:#E1EBF5;"><td><b>General Statistics</b></td><td><b>Week</b></td><td><b>Month</b></td><td><b>Total</b></td><td>&nbsp;</td></tr>
          <% @general_viewers.each do |gen| -%>
          <tr style="background-color:#E1EBF5;"><td><%= gen[:type] %></td><td><a href="javascript:filter_viewer_by_link('<%= gen[:note_id] %>','<%= gen[:start_week] %>','<%= gen[:end_week] %>');"><%= gen[:week] %></a></td><td><a href="javascript:filter_viewer_by_link('<%= gen[:note_id] %>','<%= gen[:start_month] %>','<%= gen[:end_month] %>');"><%= gen[:month] %></a></td><td><a href="javascript:filter_viewer_by_link('<%= gen[:note_id] %>','','');"><%= gen[:total] %></a></td><td>&nbsp;</td></tr>
          <% end -%>
        </table>
      </fieldset>
    </div>
    <div class="set third" style="width:40%">
      <fieldset class="pf_fs3">
       <table>
          <tr style="background-color:#E1EBF5;"><td><b>Source of Property Enquiries</b></td><td><b>Week</b></td><td><b>Month</b></td><td><b>Total</b></td></tr>
          <% @property_enquires.each do |enquiry| -%>
          <tr style="background-color:#E1EBF5;"><td><%= enquiry[:type] %></td><td><a href="javascript:filter_enquire_by_link('<%= enquiry[:id] %>','<%= enquiry[:start_week] %>','<%= enquiry[:end_week] %>');"><%= enquiry[:week] %></a></td><td><a href="javascript:filter_enquire_by_link('<%= enquiry[:id] %>','<%= enquiry[:start_month] %>','<%= enquiry[:end_month] %>');"><%= enquiry[:month] %></a></td><td><a href="javascript:filter_enquire_by_link('<%= enquiry[:id] %>', '', '');"><%= enquiry[:total] %></a></td><td>&nbsp;</td></tr>
          <% end -%>
          <tr style="background-color:#E1EBF5;"><td><%= @unindicated_source[:type] %></td><td><a href="javascript:filter_enquire_by_link('<%= @unindicated_source[:id] %>','<%= @unindicated_source[:start_week] %>','<%= @unindicated_source[:end_week] %>');"><%= @unindicated_source[:week] %></a></td><td><a href="javascript:filter_enquire_by_link('<%= @unindicated_source[:id] %>','<%= @unindicated_source[:start_month] %>','<%= @unindicated_source[:end_month] %>');"><%= @unindicated_source[:month] %></a></td><td><a href="javascript:filter_enquire_by_link('<%= @unindicated_source[:id] %>', '', '');"><%= @unindicated_source[:total] %></a></td><td>&nbsp;</td></tr>
       </table>
      </fieldset>
    </div>

    <div class="set third" style="width:20%;">
       <fieldset class="pf_fs3">
       <table class="pf-table">
        <tr class="li--8">
          <th class="first_cell field"></th>
          <td class="value">
            <%= link_to 'Add Note', new_agent_office_property_property_note_path(@agent, current_office, @property)+"?KeepThis=true&TB_iframe=true&height=550&width=900&modal=true",:class =>"thickbox",:id=>"add_new_note", :style => "color:blue;margin-top:350px;float:right;"%>
          </td>
        </tr>
       </table>
       </fieldset>
    </div>

    <div class="clearer"></div>
  </div>
<% end %>
</div>
<hr class="separator" />
<%= render :partial => 'filter' %>
