<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= javascript_include_tag 'jquery','jrails', 'jrails.autocomplete', 'jquery.suggest' %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
      });
      <% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
      <% unless ck == "duplicate" %>
        $(".contact").hide();
      <% end %>
    });
  </script>
  <%= javascript_include_tag 'ui/ui.datepicker', :cache =>'base_datepicker'%>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full"><br/>
  <% form_for :property_note, @property_note, :url => agent_office_property_property_notes_path(@agent,@office,@property), :html => {:class => 'propertyform full', :id => 'form_new'} do |f| %>
  <% fields_for @agent_contact do |contact_fields| %>
   <%= contact_fields.error_messages :class => 'errortext' %>
     <%= f.error_messages :class => 'errortext' %>
     <div class="block form follower" style="padding-right:5px;">
      <div id="propertydatadiv" class="group formdiv" style="min-height:350px;height:350px;">
        <div class="set">
          <h6 class="full">Add Note </h6>
          <fieldset class="pf_fs5">
            <%= f.hidden_field :agent_contact_id, :class => "single" %>
            <%= f.hidden_field :property_id, :value => @property.id %>
            <ul class="pf-ul">
              <li class="li--23"><label><span>Contact Name:</span></label>
                <%= text_field_with_auto_complete :contact, :name , {:value => "",:class =>'single', :style=>"width:500px;"}, {:method => :get, :indicator => 'indicator1', :after_update_element => "function (element, value) { $('#property_note_agent_contact_id').attr('value', value.id);}"}%>
                <span id="indicator1" style="display: none">
                <img src="/images/search-loader.gif" id="contact-loader"></img>
                </span>
                <a href="javascript:add_contact()" id="add_contact">&nbsp;Add</a>
                <a href="javascript:remove_contact()" id="remove_contact" style="display:none;">&nbsp;Remove</a>
              </li>

              <li class="li--17 required contact"><label><span>First Name:</span></label>
                <%= contact_fields.text_field :first_name, :class => "single" %>
              </li>
              <li class="li--17 required contact"><label><span>Last Name:</span></label>
                <%= contact_fields.text_field :last_name, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Email:</span></label>
                <%= contact_fields.text_field :email, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Home Number:</span></label>
                <%= contact_fields.text_field :home_number, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Work Number:</span></label>
                <%= contact_fields.text_field :work_number, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Mobile Number:</span></label>
                <%= contact_fields.text_field :mobile_number, :class => "single" %>
              </li>
              <li class="li--17 contact"><label><span>Contact Number:</span></label>
                <%= contact_fields.text_field :contact_number, :class => "single" %>
              </li>

              <li class="li--23"><label><span>Team member:</span></label>
                <%= f.select :agent_user_id, @team_members, :selected => current_user.id %>
              </li>
              <li class="li--23"><label><span>Note Type:</span></label>
                   <%= f.select :note_type_id, @notes_type,{},{:class =>"bed1"} %>
              </li>
              <li class="li--23"><label><span>Heard About this Property:</span></label>
                <%= f.select :heard_from_id, @heard_froms, {}, {:class => 'select_box'} %>
              </li>
              <li class="li--23"><label><span>Note Date:</span></label>
                <%= f.text_field :note_date ,:class =>'single datepicker', :style=> "width: 255px;"%>
              </li>
              <li class="li--23"><label><span>Note:</span></label>
                <%= f.text_area :description, :rows => "4" %>
              </li>
              <li class="li--17"><label><span>Signup to Alert:</span></label>
                <%= f.check_box :alert, :style => "width:15px;min-width:15px;" %>
              </li>
              <li class="li--17"><label><span>Given Contract/Application:</span></label>
                <%= f.check_box :contract, :style => "width:15px;min-width:15px;" %>
              </li>
              <li class="li--23"><label><span>&nbsp;</span></label>
                <button name="btn_submit" type="submit" value="Submit">
                  <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                </button>
              </li>
            </ul>

          </fieldset>
        </div>
      </div>
      <div id="propertydatadiv" class="group">
        <div class="action_button" style="border:none;">
          <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.location.reload(); return false", :style =>"float:right;"%>
        </div>
       </div>
     </div>
    <% end %>
  <% end %>
   </div>
</body>
</html>
<script type="text/javascript">
  function add_contact(){
    $(".contact").show();
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#contact_name").attr('disabled', 'disabled');
    $(".formdiv").height(550);
  }

  function remove_contact(){
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#contact_name").removeAttr('disabled');
    $(".formdiv").height(350);
  }
</script>
<% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
<% if ck == "duplicate" %>
  <script type="text/javascript">
     $(".formdiv").height(550);
     var answer = confirm ("There already exists a user in the database with this First Name, Last Name and Email/Telephone. Would you like to update that contact with this data?")
      if(answer){
        $("#form_new").attr('action', "<%= update_duplicate_property_note_path(@agent,@office,@property)  %> ");
        $("#form_new").submit();
      }else{
        add_contact();
      }
  </script>
<% end %>