<div class="block help full">
  <div class="title_block threequarters leader"><h2>Elist</h2>  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Setup Elist', choose_layout_agent_office_elists_path(@agent, @office), :class => 'btn' %>
    </div><br/>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Existing Elist </h6>
     <fieldset class="pf_fs2">
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;"><b>No</b></td>
             <td style="background-color:#f0f0f0;"><b>Title</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Views</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>%</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Clicked</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Bounced</b></td>
             <td style="background-color:#f0f0f0;text-align:center;"><b>Forward</b></td>
             <td style="background-color:#f0f0f0;"><b>Created</b></td>
             <td style="background-color:#f0f0f0;"><b>Sent</b></td>
             <td style="background-color:#f0f0f0;"><b>Action</b></td>
           </tr>
           <% unless @elists.blank? %>
          <% @elists.each_with_index do |elist, index| %>
           <tr>
             <td width="5%"><%= (index+1) %></td>
             <td width="30%"><%= elist["title"] %></td>
             <td style="text-align:center;"><%= link_to elist["recipient"], "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to elist["opened"], "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to view_rates(elist["opened"], elist["recipient"])+" %" , "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to elist["clicked"].blank? ? "0" : elist["clicked"] , "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to elist["bounced"].blank? ? "0" : elist["bounced"] , "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %></td>
             <td style="text-align:center;"><%= link_to elist["forwarded"].blank? ? "0" : elist["forwarded"] , "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %></td>
             <td><%= (elist["created_at"].blank? ? "-" : elist["created_at"].to_date.strftime("%d %B %Y")) %></td>
             <td><%= (elist["sent_at"].blank? ? "-" : elist["sent_at"].to_date.strftime("%d %B %Y")) %></td>
             <td width="13%">
               <% if elist["sent_at"].blank? %><%= link_to "Edit", "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/edit_elist", :style => "color:blue;"  %><% else %>Edit<% end %>
               &nbsp;|&nbsp;
               <%= link_to "Duplicate", "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/duplicate_elist", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Stats", "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/stats", :style => "color:blue;"  %>&nbsp;|&nbsp;
               <%= link_to "Delete", "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/delete_elist", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>&nbsp;|&nbsp;
               <% if elist["sent_at"].blank? %>
                 <%= link_to "Send Elist", "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{elist["id"]}/view_and_send", :style => "color:blue;"  %>
               <% else %>
                  Sent
               <% end %>
             </td>
           </tr>
           <% end %>
           <% end %>
         </table>
    </fieldset>
    </div>
  </div>
</div>