<div class="title_block block">
  <h2 class="page_title">Select Recipients</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= select_recipient_agent_office_elists_path(@agent, @office) %>" method="post" name="frm1">
<input type="hidden" name="group_ids" id="group_ids" value="<%= @value_group %>"/>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Search Contacts</h6>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Contact Name:</b></td>
            <td><input type="text" style="width: 255px;" size="30" name="recipient_data[search_contact_name]" id="search_contact_name" value="<%= @recipient_data['search_contact_name'] %>" class="single"/></td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2">
            <input type="button" name="search" value="Search Contacts" onclick="adv_search_contact_name();"/>
            <br/><br/><input type="checkbox" name="contact_name_checkbox_all" onchange="toggleChecked('contact_name_checkbox', this.checked)"/> Select All
            </td>
          </tr>
          <tr style="background-color:#FFFFFF"><td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="search_contact_name_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_elists_path(@agent, @office) %>'">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<script type="text/javascript">
   $(document).ready(function(){
     $("#prop_loading").hide();
     var name_ids = "<%= @contact_name_checkbox_ids %>";
     if(name_ids !=''){adv_search_contact_name();}
   });

    function adv_search_contact_name(){
      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_ebrochures_path(@agent, @office) %>",
        data:"search_contact_name=1&selection_contact_name="+$("#search_contact_name").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#search_contact_name_container").html('<center><img src="/images/ajax-loader.gif" id="loader_contact_name"></center>');
        },
        success: function(jsonResponse){
          $("#search_contact_name_container").html("");
          var ids = "<%= @contact_name_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" class="contact_name_checkbox" checked/> &nbsp; '+array["name"]+'</div>');
              }else{
                $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" class="contact_name_checkbox"/> &nbsp; '+array["name"]+'</div>');
              }
            });
          }else{
            $("#search_contact_name_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    }

    function include(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if(arr[i] == obj) return true;
        }
    }

    function toggleChecked(class_name, status) {
      $("."+class_name).each( function(){ $(this).attr("checked",status); });
    }
</script>