<div class="block help full">
  <div class="title_block threequarters leader"><h2>Elist Stats - <%= @elist_stats.title %> </h2>(<b>sent:</b> <%= @elist_stats.sent_at.present? ? @elist_stats.sent_at.strftime("%d %B %Y %H:%M:%S") : "-"%>)</div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <h6>Summary Stats</h6>
      <table width="100%" cellpadding="0" cellspacing="0">
       <tr><td style="width:15%"><b>Recipients:</b></td><td><%= link_to (@elist_stats.recipient.blank? ? 0 : @elist_stats.recipient), "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{@elist_stats.id}/stats?type=recipients", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Views:</b></td><td><%= link_to (@elist_stats.opened.blank? ? 0 : @elist_stats.opened), "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{@elist_stats.id}/stats?type=views", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>View Rates:</b></td><td><%= view_rates(@elist_stats.opened, @elist_stats.recipient)+" %" %></td></tr>
       <tr><td style="width:15%"><b>Clicked links:</b></td><td><%= @elist_stats.clicked.blank? ? "0" : @elist_stats.clicked %></td></tr>
       <tr><td style="width:15%"><b>Bounced:</b></td><td><%= link_to (@elist_stats.bounced.blank? ? 0 : @elist_stats.bounced), "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{@elist_stats.id}/stats?type=bounced", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Forwarded:</b></td><td><%= link_to (@elist_stats.forwarded.blank? ? 0 : @elist_stats.forwarded), "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{@elist_stats.id}/stats?type=forward", :style => "color:blue;" %></td></tr>
       <tr><td style="width:15%"><b>Unsubcribe:</b></td><td><%= link_to (@elist_stats.unsubcribed.blank? ? 0 : @elist_stats.unsubcribed), "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{@elist_stats.id}/stats?type=unsubcribe", :style => "color:blue;" %></td></tr>
      </table>
    </div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <fieldset class="pf_fs2">
        <div>
           <h6>Link Stats</h6>
          <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;"><b>No</b></td>
             <td style="background-color:#f0f0f0;width:60%;"><b>Link</b></td>
             <td style="background-color:#f0f0f0;"><b>Number clicks</b></td>
           </tr>
           <% @ecampaign_link_clicks.each_with_index do |link_click, index| %>
             <tr>
               <td><%= index + 1 %></td>
               <td><%= link_click.destination_name %></td>
               <td><%= link_to link_click.clicked, "/agents/#{@agent.id}/offices/#{@office.id}/elists/#{@elist_stats.id}/stats?link_id=#{link_click.id}", :style => "color:blue;"  %></td>
             </tr>
           <% end %>
         </table>
         </div>
    </fieldset>
    </div>
  </div>
  <% if !@destination.blank? || !@ecampaign_tracks.blank? %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <% unless @destination.blank? %> <h6>Stats for <%= @destination %></h6> <% end %>
      <% unless @stats_type.blank? %> <h6>Stats for <%= @stats_type == "forward" ? "forwarded by" : @stats_type %></h6> <% end %>
         <table width="100%" cellpadding="0" cellspacing="0">
           <tr>
             <td style="background-color:#f0f0f0;width:10%;"><b>No</b></td>
             <td style="background-color:#f0f0f0;width:30%;"><b>Name</b></td>
             <td style="background-color:#f0f0f0;"><b>Email</b></td>
             <% unless @destination.blank? %>
               <td style="background-color:#f0f0f0;"><b>Number clicks</b></td>
             <% end %>
           </tr>
           <% unless @destination.blank? %>
             <% @ecampaign_detail_clicks.each_with_index do |dc, index| %>
               <tr>
                 <td><%= index + 1 %></td>
                 <td><%= dc.agent_contact.full_name %></td>
                 <td><%= dc.agent_contact.email %></td>
                 <td><%= dc.count_click %></td>
               </tr>
             <% end %>
           <% end %>
           <% unless @ecampaign_tracks.blank? %>
             <% @ecampaign_tracks.each_with_index do |et, index| %>
               <tr>
                 <td><%= index + 1 %></td>
                 <td><%= et.agent_contact.full_name %></td>
                 <td><%= et.agent_contact.email %></td>
               </tr>
             <% end %>
           <% end %>
         </table>
    </div>
  </div>
  <% end %>
</div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_to_list" type="button" value="Back to elist list" style="float:right;" onclick="window.location= '<%= agent_office_elists_path(@agent, @office) %>'">Back to Elist list</button>
        </td></tr>
      </table>
  </div>
<style type="text/css">
table td{padding:2px;}
</style>