Dear <%= @user.first_name %>

An account has been created for you by <%= h @user.agent.name %> which allows you to manage your property listings through our online real estate property listing system.

You can login and start adding properties at:

Link: <%=h @url %>
Username: <%= @user.login %>
Password: <%= @user.password %>

Please do not hesitate to contact us if you have any questions in relation to updating or managing your properties.

Regards
<%= h @user.agent.name %>
