Dear <%= @user.first_name %>,

Property ID <%= @property.id %> at <%= @property.contact.address %> <%= @property.suburb %> has been updated/added by <%= @user.first_name+ " " +@user.last_name%> of <%= @office.agent.name+ " " +@office.name %>.

Please login to <%= @url %> and verify the listing by changing the status to Active so updates flow through to third party portals.

Kind regards 
Commercial Loop
