<% form_for :email_configuration_search, :method => :post, :url => "/agents/#{@agent.id}/offices/#{@office.id}/search_results/save_email_configuration", :html => {:class => 'propertyform full', :multipart => true, :id => 'ressalesform'} do |email| %>

  <div class="email-preview">
    <h3>Preview</h3>
    <iframe src="<%= email_body_preview_new_agent_office_search_result_path(@agent, @office) %>" width="100%" height="500" frameborder="0"></iframe>
  </div>

  <div class="clear"></div>
  <a href="javascript:$('#ressalesform').submit()" style="float:right;margin-left: 5px" class="buttons">Send</a>
  <span style="padding-left: 2px"></span>
  <a href="javascript:void(0)" class="buttons" id="back_button" style="float:right">Back</a>

<%end%>

<script>
  function goBack() {
    return function() {
      if (document.referrer == "") {
        window.location = "<%= @email_configuration_url %>"
      } else {
        history.back();
      }
    }
  }

  $(document).ready(function(){
    $('#back_button').click(goBack());
  })
</script>
