<ul class="form_listing position_left locations">
  <li>
    <h3 class="caption_form">
      <span>Location Details</span>
    </h3>
  </li>
  <li>
    <label for="state">State</label>
    <%= select_tag 'state', options_for_select(@states, params[:state_name]), {:class => "select_box", :style => "margin-left: 175px; margin-top: -30px"} %>
  </li>
  <li>
    <label for="state">Region</label>
    <% unless @regions.blank? %>
      <%= select_tag 'region_name_input', options_for_select(@regions), {:class => "select_box", :style => "margin-left: 175px; margin-top: -20px"} %>
    <%else%>
      <select id="region_name_input" name="region_name_input" class="select_box" style="margin-left: 175px; margin-top: -30px">
        <option>Please select</option>
      </select>
    <%end%>
    <%= hidden_field_tag "regions_id" %>
    <div id="regions" style="width:300px;"></div>
  </li>
  <li class="suburbs">
    <label for="state">Suburb</label>
    <%= select_tag 'suburb_name_input', options_for_select(['Please select', '']), {:class => "select_box", :style => "margin-left: 175px; margin-top: -30px"} %>
    <%= hidden_field_tag "suburbs_id" %>
  </li>
</ul>
<script type="text/javascript">
  $("#region_name_input").live("change", function(){
    //add_regions();
    populate_suburbs();
  });

$("#state").live("change", function(){
  if($("#regions_id").val() != ""){
    $("#regions_id").val("");
    $("#regions").remove();
  }
if($("#suburbs_id").val() != ""){
  $("#suburbs_id").val("");
  $("#suburbs").remove();
}
});

function add_regions(){
var all_id = $("#regions_id").val();
var arry_region = all_id.split('#');
var add = 0;
if($("#region_name_input").val()!=''){
  for(var x=0; x < arry_region.length; x++){
    if((arry_region[x]!='')&&(arry_region[x]==$("#region_name_input").val())){
      add = 1
    }
  }
  if(add != 1){
    var new_regions = $("#regions_id").val() + ',' + $("#region_name_input").val()
    var currentdate = new Date();
    var id_region = currentdate.getTime();
    var region_name = $("#region_name_input").val();
    $("#regions_id").attr('value', new_regions);
    $("#regions").append('<div id="'+id_region+'"style="padding-left:176px;width:200px"class="property_type_selected">'+region_name+'\
         <a href="javascript:remove_region('+id_region+',\''+region_name+'\')">x</a></div>');
  }
}
}

function remove_region(id,region){
var all_id = $("#regions_id").val();
var arry_region = all_id.split(',');
arry_region.splice(arry_region.indexOf(region), 1);
$("#regions_id").val("");
$("#regions_id").attr("value", arry_region);
$('#regions div#'+id).remove();
}

function populate_suburbs(){
var base_address = $("li.suburbs");
var controller = "<%= populate_suburbs_agent_office_search_results_path(@agent, @office) %>";
$.ajax({
  type: "GET",
  url: escape(controller),
  data: {"region_name" : $('#region_name_input').val(), "state_name" : $('#state').val(), "arr_suburb" : $("#suburbs_id").val()},
  dataType:"html",
  beforeSend:function(){
    $('#state').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
    $('#region_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
    $('#suburb_name_input').attr('disabled', 'disabled').css('background-color', '#E6E6E6');
  },
  success:function(data){
    $('#state').removeAttr('disabled').css('background-color', '#FFFFFF');
    $('#region_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
    $('#suburb_name_input').removeAttr('disabled').css('background-color', '#FFFFFF');
    jQuery("li.suburbs").html(data);
  }
})
}
</script>