<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_div { height: 100% }
</style>
<style type="text/css" >
  .wrapper{margin:0 auto;width:700px;height:auto;font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;}
  .logo{margin-bottom:5px;font-weight:bold;font-size:25px;}
  .headline{width:700px;height:30px;margin-bottom:5px;}
  .headline-text{font-size:12pt;font-weight:bold;}
  .middle-content{width:700px;height:auto;margin-bottom:5px;}
  .middle-content .right-column{width:450px;height:auto;float:left;}
  .middle-content .left-column{width:231px;height:auto;float:right;}
  .right-column .address-box{height:auto;border-bottom:1px solid #CCCCCC;margin-bottom:10px;padding:5px;width: 686px}
  .right-column .big-pic{margin-bottom:10px;}
  .right-column .detail{height:auto;margin-bottom:10px;}
  .right-column .map{height:100px;border:1px solid #CCCCCC;}
  .detail .right-column{width:140px;height:auto;float:left;}
  .small-pic{width:140px;margin-bottom:10px;}
  .detail .left-column{width:290px;height:auto;float:right;}
  .clear{clear:both;}
  .right-box{
    width:210px;
    min-height:100px;
    border:1px solid #CCCCCC;
    margin-bottom:10px;
    padding:5px 10px;
  }
  p {
    font-size: 11px;
  }
  .detail .left-column ul{font-size:8pt;}
  .content-label{
    width: 200px;
    float: left;
  }
  .uppercase{
    text-transform: uppercase
  }
</style>
<div class="wrapper">
  <% unless @property.agent.developer.blank? %>
    <div class="logo">
      <% unless @header_image.blank? %>
        <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="700"/>
      <% else %>
        <%= @property.agent.name %>
      <% end %>
    </div>
  <% end %>
  <div class="headline"><p><span class="headline-text">
        <%= @property.deal_type == "Both" ? "For Sale & Lease" : @property.deal_type %>
      </span> Property Id : <%= @property.id %></p></div>
  <div class="middle-content">
    <div class="right-column">
      <legend class="uppercase">Tenant Information</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Company</b> : <%= @tenancy.agent_contact.blank? ? "-" : (@tenancy.agent_contact.company.blank? ? "-" :@tenancy.agent_contact.company) %>
        <br/><b class="content-label">Contact</b> : <%= @tenancy.agent_contact.blank? ? "-" : @tenancy.agent_contact.full_name %>
        <br/><b class="content-label">Phone</b> : <%= @tenancy.agent_contact.blank? ? "-" : (@tenancy.agent_contact.contact_number.blank? ? "-" : @tenancy.agent_contact.contact_number) %>
        <br/><b class="content-label">Mobile</b> : <%= @tenancy.agent_contact.blank? ? "-" : (@tenancy.agent_contact.mobile_number.blank? ? "-" : @tenancy.agent_contact.mobile_number) %>
        <br/><b class="content-label">Email</b> : <%= @tenancy.agent_contact.blank? ? "-" : (@tenancy.agent_contact.email.blank? ? "-" : @tenancy.agent_contact.email) %>
        <div class="clear"></div>
      </div>
    </div>
    <div class="right-column">
      <legend class="uppercase">Transaction Information</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Rent (PSM)</b> : <%= @tenancy.rent.blank? ? "-" : "#{@tenancy.rent}" %>
        <br/><b class="content-label">Net/Gross</b> : <%= @tenancy.net_gross.blank? ? "-" : "#{@tenancy.net_gross}" %>
        <br/><b class="content-label">Outgoing (PSM)</b> : <%= @tenancy.outgoing.blank? ? "-" : "#{@tenancy.outgoing}" %>
        <br/><b class="content-label">Total Rental (PSM)</b> : <%= @tenancy.total_rental_psm.blank? ? "-" : "#{@tenancy.total_rental_psm}" %>
        <br/><b class="content-label">Total Rental (PA)</b> : <%= @tenancy.total_rental_pa.blank? ? "-" : "#{@tenancy.total_rental_pa}" %>
        <br/><b class="content-label">Lease Term</b> : <%= @tenancy.lease_term.blank? ? "-" : "#{@tenancy.lease_term}" %>
        <br/><b class="content-label">Options</b> : <%= @tenancy.option.blank? ? "-" : "#{@tenancy.option}" %>
        <br/><b class="content-label">Start Date</b> : <%= @tenancy.start_date.blank? ? "-" : "#{@tenancy.start_date}" %>
        <br/><b class="content-label">End Date</b> : <%= @tenancy.end_date.blank? ? "-" : "#{@tenancy.end_date}" %>
        <br/><b class="content-label">Lease Signed</b> : <%= @tenancy.lease_signed.blank? ? "-" : "#{@tenancy.lease_signed}" %>
        <br/><b class="content-label">Contract Link</b> : <%= @tenancy.contract_link.blank? ? "-" : "<a href='http://#{@tenancy.contract_link}' target='_blank'>#{@tenancy.contract_link}</a>" %>
        <br/><b class="content-label">Office Note</b> : <%= @tenancy.office_note.blank? ? "-" : "#{@tenancy.office_note}" %>
        <% @agent_user_transaction = AgentUser.find(@tenancy.transaction_sales_person) rescue nil %>
        <br/><b class="content-label">Salesperson*</b> : <%= @tenancy.transaction_sales_person.blank? ? "-" : (@agent_user_transaction.blank? ? "-" : @agent_user_transaction.full_name.blank? ? @agent_user_transaction.first_name : @agent_user_transaction.full_name) %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="right-column">
      <legend class="uppercase">External Agent (Optional)</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Company</b> : <%= @tenancy.external_agent_company.blank? ? "-" : "#{@tenancy.external_agent_company}" %>
        <br/><b class="content-label">Sales Person</b> : <%= @tenancy.external_agent_sales_person.blank? ? "-" : "#{@tenancy.external_agent_sales_person}" %>
        <br/><b class="content-label">Conjunction Fees</b> : <%= @tenancy.conjunction_fee.blank? ? "-" : "#{@tenancy.conjunction_fee}" %>
        <br/><b class="content-label">Scale of Fees</b> : <%= @tenancy.scale_of_fee.blank? ? "-" : "#{@tenancy.scale_of_fee}" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="right-column">
      <legend class="uppercase">Lease Expiry Diary</legend>
      <div class="address-box" style="font-size: 14px">
        <b class="content-label">Reminder Alert</b> : <%= @tenancy.reminder_alert.blank? ? "-" : "#{@tenancy.reminder_alert}" %>
        <% @agent_user = AgentUser.find(@tenancy.lease_expiry_sales_person) rescue nil %>
        <br/><b class="content-label">Salesperson*</b> : <%= @tenancy.lease_expiry_sales_person.blank? ? "-" : (@agent_user.blank? ? "-" : "#{@agent_user.full_name.blank? ? @agent_user.first_name : @agent_user.full_name}") %>
      </div>
      <div class="clear"></div>
    </div>
    <div
  </div>
</div>
<div class="footer">
  <% unless @header_image.blank? %>
    <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="700" style="margin-top: 400px;" />
  <% end %>
</div>
</div>