<div id="sidebar" class="block files quarter">
<!-- <div class="upload_button">
  <%= link_to "Add a New Country", new_admin_country_path, :class => "btn" %>
  <!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though. -->
</div> -->
</div>

<h2>Edit an Active Help</h2><br />
<% form_for :help, @help_page, :url => url_for({:controller => "/admin/active_help_pages", :action => "update", :id => @help_page.id}), :html => {:method => :put} do |f| %>

<%= f.error_messages :class => 'errortext' %>

<%= render :partial => 'form', :object => f %>

<%= submit_tag "Submit" %>
<% end %>
