<tr>
  <td>
    <img src="/images/pdf-icon.png" name="pdf" />
    <% if b.new_record? %>
      Filename
    <% else %>
      <%= b.filename %>
    <% end %>
  </td>
  <td width="20%"><%= file_field_tag "brochures[][uploaded_data]" %></td>
  <td width="10%">
    <%= hidden_field_tag "brochures[][id]", b.id %>
    <% unless b.new_record? %>
    <%= link_to 'View', b.public_filename, :target => '_blank' %> |
    <%= link_to_remote "Delete", :url => destroy_brochure_agent_office_property_vaults_path(@agent, @office, @property, :image_id => b.id), :method => :delete, :class => "delete_btn", :confirm => "Are you sure to delete this?" %>
    <% end %>
  </td>
</tr>