<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">The Vault allows you to share confidential documents for a listing with your Contacts. You can load the documents below and then select which Contacts have access to these documents along with the time limit for their access. Once their time limit has been reached they will no longer be able to view the documents. They must login with their username and password which is controlled in the Contacts section and you can have an additional password on each listing if required. View the logs for each listing to see when documents were accessed and by which Contact</span></h4>
</div>

<div class="block help full sub-opt-nav"><%= render :partial => "vault_tabs"%></div>

<div class="block transparent full">
  <div class="set full leader">
    <div class="group" style="background-color: orange">
      <p >You are using the Browser uploader. Try the <%= link_to "Flash uploader",vault_files_agent_office_property_vaults_path(@agent, @office, @property)+"?isBrowser=false" %> instead.</p>
    </div>
  </div>
</div>
<% form_for(@vault, :url => update_vault_agent_office_property_vaults_path(@agent, @office, @property)+"?redirect=vault_files", :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
  <div class="block media full">
    <div class="group" style="background-color:#E1EBF5;">
      <div>
        <div><h6>Send email alerting clients files have updated</h6></div>
        <div class="float-left"><%= f.check_box :update_alert %></div><p class="no-padding marginL10 float-left">Enable</p>
      </div>
      <div class="clearer"></div>
    </div>
  </div>
  <div id="contactsdiv">
   <table class="pf-table" style="border:none;">
     <tr class="li--8">
       <td class="value">
         <button name="update" type="submit" value="Update" style="float:right; padding:4px 10px 3px 7px">
          Submit
         </button>
       </td>
     </tr>
   </table>
  </div>
<% end %>
<div id="propertybrochurediv" class="block media full">
  <%= render :partial => "simple_brochure", :locals => { :position => 1 } %>
  <div class="clearer"></div>
</div>