<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">The Vault allows you to share confidential documents for a listing with your Contacts. You can load the documents below and then select which Contacts have access to these documents along with the time limit for their access. Once their time limit has been reached they will no longer be able to view the documents. They must login with their username and password which is controlled in the Contacts section and you can have an additional password on each listing if required. View the logs for each listing to see when documents were accessed and by which Contact</span></h4>
</div>

<div class="block help full sub-opt-nav"><%= render :partial => "vault_tabs"%></div>

<div id="clientdiv" class="block accounts full">
<% form_for(@vault, :url => update_vault_agent_office_property_vaults_path(@agent, @office, @property)+"?redirect=contact", :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
         <div>
           <div style="float:left;margin-bottom:10px;"><h6>Contact Access (search contacts below who will have access)</h6></div>
           <div style="float:right;margin-right:10px;font-size:9pt;font-weight:bold;">Can't find a Contact below then <%= link_to 'Add Contact', add_contact_agent_office_property_vaults_path(@agent, @office, @property)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new_contact", :style => "color:blue;"%></div>
           <div style="clear:both;"></div>
         </div>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Contact Name:</b></td>
            <td>
              <input type="hidden" name="search_checked" id="search_checked" />
              <input type="text" style="width: 255px;" size="30" name="vault[contact_search]" id="search_contact_name" value="" class="single"/>
              &nbsp;<input type="button" name="search" value="Search Contacts" onclick="adv_search_contact_name();"/>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5"><td colspan="2">
          <div style="background-color:#FFFFFF;margin-top:10px;padding:10px;border:1px solid grey;">
            <div id="search_contact_name_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
    <div class="set">
       <div style="width:100%">
         <div>
          <div style="float:left;font-size:10pt;font-weight:bold;margin-bottom:10px;">Granted Access</div>
          <div style="float:right;width:135px;font-size:10pt;"><%= link_to "View Access Logs",vault_logs_agent_office_property_vaults_path(@agent, @office, @property) %></div>
          <div style="clear:both;"></div>
        </div>
        <fieldset class="pf_fs2">
        <table class="pf-table">
         <tr class="li--8">
           <td class="value">
             <div id="granted_access">
             <% unless @vault.vault_contacts.blank? %>
               <% @vault.vault_contacts.each do |vc| %>
                 <% unless vc.agent_contact.blank? %>
                 <div style='width:50%;float:left;'><span><%= link_to "x", delete_contact_agent_office_property_vault_path(@agent, @office, @property, @vault)+"?contact_id=#{vc.agent_contact_id}", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "This user already have granted access, Are you sure want to delete?")}", :style => "color:red;" %></span>&nbsp;<b><%= vc.agent_contact.full_name.capitalize %></b> &nbsp;(Granted access: <%= vc.created_at.utc.strftime('%d/%m/%Y %H:%I:%S') %> , Status: <b><%= vault_access(vc) %></b>
                   <% if vault_access(vc) != 'active' %>
                     - <%= link_to "Extend Access", extend_access_agent_office_property_vault_path(@agent, @office, @property, @vault)+"?contact_id=#{vc.agent_contact_id}", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure want to extend access?")}" %>
                   <% end %>
                   ).<br/><span style="margin-left: 10px;"><%= welcome_mail_sent(@agent, @office, @property, @vault, vc.agent_contact_id) %></span></div>
                 <% end %>
               <% end %>
             <% end %>
             </div>
             <div style="clear:both;"></div>
           </td>
         </tr>
        </table>
        </fieldset>
        <div>
          <div style="float:left;margin:0 10px 10px 0;"><h6>Send welcome email to new users</h6></div>
          <div style="padding-top: 3px"><%= f.check_box :welcome_email %></div>
        </div>
      </div>
    </div>
    <div class="clearer"></div>
  </div>
   <div id="contactsdiv">
     <table class="pf-table" style="border:none;">
       <tr class="li--8">
         <td class="value">
           <button name="update" type="submit" value="Update" style="float:right;">
            Submit
           </button>
         </td>
       </tr>
     </table>
   </div>
<% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#prop_loading").hide();
  var name_ids = "<%= @vault.contact_access %>";
});

function include(arr, obj) {
  for(var i=0; i<arr.length; i++) {
    if(arr[i] == obj) return true;
  }
}

function check_search(obj){
  var myids = $("#search_checked").val();
  if(obj.checked == true){
    myids += "#"+obj.value;
    $("#granted_access").append('<div style="width: 50%; float: left;" id="granted_'+obj.value+'"><a href="javascript:remove_id('+obj.value+');" style="color:red;" name="del">x</a>&nbsp;<b>'+obj.title+'</b></div>');
  }else{
    myids = myids.replace('#'+obj.value, '');
    $("#granted_"+obj.value).remove();
  }
  $("#search_checked").val(myids);
}

function remove_id(id){
  var myids = $("#search_checked").val();
  myids = myids.replace('#'+id, '');
  $("#granted_"+id).remove();
}

function adv_search_contact_name(){
  if($("#search_contact_name").val() != ''){
    var vault_id = "<%= @vault.id unless @vault.blank? %>";
  $.ajax({
    type: "POST",
    url: "<%= search_contact_agent_office_property_vaults_path(@agent, @office, @property) %>",
    data:"vault_id="+vault_id+"&selection_contact_name="+$("#search_contact_name").val(),
    dataType:"JSON",
    beforeSend:function(){
      $("#search_contact_name_container").html('<center><img src="/images/ajax-loader.gif" id="loader_contact_name"></center>');
    },
    success: function(jsonResponse){
      $("#search_contact_name_container").html("");
      var ids = $("#search_checked").val();
      var arr = ids.split("#");
      if (jsonResponse != ''){
        var jsonObject = eval('(' + jsonResponse + ')');
        $.each(jsonObject.results, function(index,array){
          var grant = "";
          if(array["date"] != "-"){
            grant = '&nbsp;(Granted access: '+array["date"]+', Status: '+array["status"]+')';
          }

          if(include(arr, parseInt(array["id"]))){
            $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" onchange="check_search(this);" title="'+array["name"]+'" checked/> &nbsp; '+array["name"]+' '+grant+'</div>');
          }else{
            $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" onchange="check_search(this);" title="'+array["name"]+'"/> &nbsp; '+array["name"]+' '+grant+'</div>');
          }
        });
      }else{
        $("#search_contact_name_container").append("<center>No Matching Results</center>");
      };
    },
    complete:function(){
    }
  });
  }
  return false;
};
</script>