<%= stylesheet_link_tag 'uploadify' %>
<%= javascript_include_tag 'uploader/swfobject', 'uploader/swfupload','uploader/swfupload.queue','uploader/fileprogress_pdf','uploader/handlers_pdf'%>
<script type="text/javascript">
  var brochure_uploader;

  window.onload = function() {
    brochure_uploader = new SWFUpload({
      // Backend Settings
      upload_url: "<%= update_brochure_agent_office_property_vaults_path(@agent, @office, @property, :come_from => params[:come_from],:type=>"brochure" ) %>",
      post_params: { },

      // File Upload Settings
      file_post_name : "uploaded_data",
      file_types : "*.pdf",
      file_types_description : "Brochure Files",
      file_upload_limit : "10",
      file_queue_limit : "0",

      // Event Handler Settings (all my handlers are in the Handler.js file)
      file_dialog_start_handler : fileDialogStart,
      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,

      // Button Settings
      button_placeholder_id : "brochure_action_button",
      button_width: 120,
      button_height: 28,
      button_image_url:"<%= image_path("browse_brochure_gry.png") %>",
      custom_settings : {
        progressTarget : "brochure_images",
        element : "brochure",
        user_id : <%= current_user.id %>
      },
      // Flash Settings
      flash_url : "<%= javascript_path "uploader/swfupload.swf"  %>",
      debug: false
    });

    checkFlashPlayer()
};
</script>
<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">The Vault allows you to share confidential documents for a listing with your Contacts. You can load the documents below and then select which Contacts have access to these documents along with the time limit for their access. Once their time limit has been reached they will no longer be able to view the documents. They must login with their username and password which is controlled in the Contacts section and you can have an additional password on each listing if required. View the logs for each listing to see when documents were accessed and by which Contact</span></h4>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => "vault_tabs"%></div>

<div id="propphotogallerydiv" class="block media full">
  <div class="block transparent full">
    <div class="set full leader">
      <div class="group" style="background-color: orange">
        <p >You are using the Flash uploader. Problems? Try the <%= link_to "Browser uploader",vault_files_agent_office_property_vaults_path(@agent, @office, @property)+"?isBrowser=true" %> instead. </p>
      </div>
    </div>
  </div>
</div>
<div id="no-flash-warn" class="warn-text"></div>
<% form_for(@vault, :url => update_vault_agent_office_property_vaults_path(@agent, @office, @property)+"?redirect=vault_files", :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
  <div class="block media full">
    <div class="group" style="background-color:#E1EBF5;">
      <div>
        <div><h6>Send email alerting clients files have updated</h6></div>
        <div class="float-left"><%= f.check_box :update_alert %></div><p class="no-padding marginL10 float-left">Enable</p>
      </div>
      <div class="clearer"></div>
    </div>
  </div>
  <div id="contactsdiv">
   <table class="pf-table" style="border:none;">
     <tr class="li--8">
       <td class="value">
         <button name="update" type="submit" value="Update" style="float:right; padding:4px 10px 3px 7px">
          Submit
         </button>
       </td>
     </tr>
   </table>
  </div>
<% end %>

<div id="propertybrochurediv" class="block media full">
  <%= render :partial => "brochure", :locals => { :position => 1 } %>
  <div class="clearer"></div>
</div>