<div class="title_block block">
  <h2 class="page_title">The Vault</h2>
</div>
<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
<div class="set">
   <div style="width:100%">
    <h6>Access Logs</h6>
    <fieldset class="pf_fs2">
    <table>
        <tr><th>Date/Time</th><th>Contact Name</th><th>Filename</th></tr>
        <% unless @property.vault_logs.blank? %>
          <% @property.vault_logs.each do |log| %>
            <% unless log.blank? %>
            <tr><td width="20%"><%= log.created_at.utc.strftime("%d-%m-%Y %H:%I:%S") %></td><td><%= link_to log.agent_contact.full_name, edit_agent_office_agent_contact_path(@agent,@office, log.agent_contact) %></td><td><%= log.log_title %></td></tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>
<div class="clearer"></div>
</div>