<hr class="separator" />
<div class="title_block">
<h2>Post a New QuickLink</h2>
</div>

<div id="fileuploaddiv" class="block files full">
	
<% form_for :quicklink, :url => agent_messages_path(@quicklink), :html => { :class => "postuploadform full", :id => "postsuploadsform", :multipart => true } do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
</div>