<div id="opentimesdiv" class="group">
  <div class="set">
    <h6 class="full" style="font-size:12px;">Open Inspection Attendees (This is where you can add attendees to open inspections, they appear in Contacts tab and a note is created against that property)</h6><br/>
    <fieldset class="pf_fs5">
      <div class="pso">
        <div class="pso-date">Date</div>
        <div class="pso-attend">Attendees</div>
        <div class="pso-date">Date</div>
        <div class="pso-attend">Attendees</div>
        <div class="clearer"></div>
      </div>
      <div class="pso">
        <% unless @past_opentimes.blank? %>
          <% @past_opentimes.each do |pastopentime| %>
            <div class="pso-date"><%= link_to "x", destroy_past_opentime_path(@agent, @office, @property, pastopentime), {:method=>:delete,:confirm =>"Are you sure ?", :style=>"color:red;"} %>
              <strong><%= nil_on_fail { pastopentime.date.strftime("%d %b %y, %a") } %></strong> From <strong><%= pastopentime.start_time.strftime("%I:%M %p") %></strong> To <strong><%= pastopentime.end_time.strftime("%I:%M %p") %></strong>
            </div>
            <div class="pso-attend">
              <span style="margin-right:50px;"><%= pastopentime.total_attended %></span>
              <%= link_to "Add Attendee", agent_office_property_past_opentime_contact_pastopentime_relations_path(@agent,@office, @property, pastopentime)+"?KeepThis=true&TB_iframe=true&height=650&width=700&modal=true",:class =>"thickbox",:id=>"add_new_note", :style => "color:blue;" %>
            </div>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
<style type="text/css">
 .pso{ font-size:8pt;}
 .pso-date{width:370px;float:left;}
 .pso-attend{width:230px;float:left;}
</style>