<div class="wrapper" id="brochure" style="height:<%=(@editor_limit.to_i+30)%>px;<%= @style[:font] unless @style.blank? %>">
  <div class="middle" style="<%= @style[:heading_color]+@style[:title_color] unless @style.blank? %>"  id="brochure_title">
    <div style="width:630px;float:left;cursor:pointer;" id="brochure_title_text">
      <%= @data[:title] unless @data.blank? %>
    </div>
    <div style="height: 25px;float: right;font-size:11pt;padding:2px;">
      <% if @beds != 0 %>
        <%= @beds  %> <img height="18" width="18" src="/images/beds_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_beds"/>
      <% end %>
      <% if @baths != 0 %>
        <%= @baths  %> <img height="18" width="18" src="/images/baths_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_baths"/>
      <% end %>
      <% if @garages != 0 %>
        <%= @garages  %> <img height="18" width="18" src="/images/cars_<%= @option[:title_color] == '#FFFFFF' ? 'white.png' : 'black.png' %>" id="img_cars"/>
      <% end %>
    </div>
  </div>
  <div class="content over-hidden" style="height:<%=@editor_limit%>px;border:1px solid red;background-color: #fff">
    <div class="full-big space_margin" id="brochure_headline" style="cursor:pointer;">
      <%= @data[:headline] unless @data.blank? %>
    </div>
    <div class="full-big" id="brochure_description" style="cursor:pointer;">
      <%= @data[:description].gsub("\n","<br/>") if @data.present? && @data[:description].present? %>
    </div>
    <div class="full-small">
      <div class="small-desc left-side" id="brochure_price" style="cursor:pointer;">
        <%= @data[:price] unless @data.blank? %>
      </div>
      <div class="small-desc left-side">
        <% unless @primary_image.blank? %>
          <img class="left-side" src="<%= @primary_image.public_filename unless @primary_image.blank? %>" id="img_primary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
        <% end %>
        <div id="brochure_contact1" style="cursor:pointer;"><%= @data[:contact1] unless @data.blank?  %></div>
        <div class="clear"></div>
      </div>
      <div class="small-desc left-side">
        <%  unless @secondary_image.blank? %>
          <img class="left-side" src="<%= @secondary_image.public_filename unless @secondary_image.blank? %>" id="img_secondary" style="<%= @option[:display_team_image] == '1' ? '' : 'display:none;' %>"/>
        <% end %>
        <div id="brochure_contact2" style="cursor:pointer;"><%= @data[:contact2] unless @data.blank?  %></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>