<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2>
<% unless session[:search_keyword].blank? %>
  <span style="float:right"><%= link_to "Back to search results", "/agents/#{current_agent.id}/offices/#{current_office.id}/search_results?search_keyword=#{session[:search_keyword]}&commit=Search" %></span>
  <% end %>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block sub-opt-nav">
  <h2 class="page_title"><%= @agent_contact.full_name if @agent_contact.present? %></h2>
  <div><%= render :partial => 'agent_contacts/contact_options' %></div>
</div>

<div id="clientdiv" class="block accounts full">
  <% form_for :task, @task, :url => agent_office_property_property_task_path(@agent, @office, @property), :html => {:class => 'propertyform full', :method => :put} do |f| %>
    <%= f.error_messages :class => 'errortext' %>
    <%= render :partial => 'task_form', :locals => {:form => f} %>
    <%= render :partial => 'task_list' %>
  <% end %>
</div>
