
<%= render :partial => 'messages/back_to_messages' %>

<h2>Message Topics of Category <%= link_to h(@category.name), edit_message_category_path(@category) %></h2>

<p><%= link_to 'Add a New Topic', :action => 'new' %></p>

<p class="required">* Topics that have messages could not be deleted</p>

<ul class="edit_message_categories">
	<% @topics.each do |topic| %>
		<li id="topic_<%= topic.id %>">
			<%= h topic.name %>
			<span class='actions'>
				<%= link_to 'Edit', edit_message_category_topic_path(@category, topic) %>
				|
				<% if topic.can_delete? %>
					<%= link_to_remote 'Delete', :url => message_category_topic_path(@category, topic), :method => 'delete', :confirm => 'Are you sure to delete this category?' %>
				<% else %>
					Delete
				<% end %>
			</span>
		</li>
	<% end %>
</ul>

<%= will_paginate @topics %>