
<%= render :partial => 'messages/back_to_messages' %>

<h2>Add a New Topic for Category <%= link_to h(@category.name), edit_message_category_path(@category) %></h2>

<% form_for @topic, :url => message_category_topics_path do |f| %>
	<%= f.error_messages :class => 'errortext' %>
	<fieldset class="fu_fs1">
		<p class="required">
			<strong>Name:</strong><br />
			<%= f.text_field :name, :class => 'single' %>
		</p>

		<p><%= f.submit 'Save' %> or <%= link_to 'Cancel', message_categories_path %></p>
	</fieldset>
<% end %>