<span>Country:</span><br/>
<input type="text" name="country" value=""/><br/>
<span><b>Suburb:</b></span><br/>
<input type="text" name="suburb" value=""/><br/>
<span>Town/Village:</span><br/>
<input type="text" name="town_village" value=""/><br/>
<span><b>State:</b></span><br/>
<input type="text" name="state" value=""/><br/>
<span><b>Postcode:</b></span><br/>
<input type="text" name="zipcode" value=""/><br/>
<span>Unit Number:</span><br/>
<input type="text" name="unit_number" value=""/><br/>
<span><b>Street Number:</b></span><br/>
<input type="text" name="street_number" value=""/><br/>
<span><b>Street Name/Type:</b></span><br/>
<input type="text" name="street" value=""/><br/>
<span>Latitude/Longitude:</span><br/>
<input type="text" name="latitude" value=""/>/
<input type="text" name="longitude" value=""/><br/>
<span>Display Address:</span><br/>
<input type="text" name="display_address" value="1"/><br/>
<span>Deal Type:</span><br/>
<input type="text" name="deal_type"/><br/>
