<span><b>Normal season: (rental)</b></span><br/>
start date:<input type="text" name="normal_start_date" value=""/><br/>
end date:<input type="text" name="normal_end_date" value=""/><br/>
minimum stay:<input type="text" name="normal_minimum_stay" value="1 night"/><br/>

<label><span>Mid Season: (rental)</span></label><br/>
start date:<input type="text" name="mid_start_date" value=""/><br/>
end date:<input type="text" name="mid_end_date" value=""/><br/>
minimum stay:<input type="text" name="mid_minimum_stay" value="1 night"/><br/>

<label><span>High Season: (rental)</span></label><br/>
start date:<input type="text" name="high_start_date" value=""/><br/>
end date:<input type="text" name="high_end_date" value=""/><br/>
minimum stay:<input type="text" name="high_minimum_stay" value="1 night"/><br/>

<label><span>Peak Season: (rental)</span></label><br/>
start date:<input type="text" name="peak_start_date" value=""/><br/>
end date:<input type="text" name="peak_end_date" value=""/><br/>
minimum stay:<input type="text" name="peak_minimum_stay" value="1 night"/><br/>

<span>Unavailable Date:</span><br/>
<input type="text" name="unavailable_date" value=""/><br/>