<span><b>Property Type:</b></span><br/>
<input type="text" name="property_type" value=""/><br/>

<% if @ptype == 'commercial' -%>
  <span>Sale/Lease:</span><br/>
  <input type="text" name="deal_type" value=""/><br/>
<% end -%>

<% if @ptype == 'project_sale' -%>
  <span>Category (detail):</span><br/>
  <input type="text" name="deal_type" value=""/><br/>
<% end -%>

<span>Unique Property ID#:</span><br/>
<input type="text" name="property_id" value=""/><br/>

<% if @ptype == 'commercial' -%>
  <span>Building Name (detail):</span><br/>
  <input type="text" name="building_name" value=""/><br/>
<% end -%>

<span><b>Property Headline:</b></span><br/>
  <input type="text" name="headline" value=""/><br/>
<span><b>Property Description:</b></span><br/>
  <input type="text" name="description" value=""/><br/>

<% if %w(holiday_lease commercial).include?(@ptype) -%>
  <span>Addtional Features (detail):</span><br/>
  <input type="text" name="additional_notes" value=""/><br/>
<% end -%>

<% unless @ptype == 'project_sale' -%>
  <span>Year built (detail):</span><br/>
  <input type="text" name="year_built" value=""/><br/>
<% end -%>

<% if @ptype == 'residential_lease'%>
   <span>Fee Terms (detail):</span><br/>
   <input type="text" name="fee_terms" value=""/><br/>
<% end -%>
