<span>Carport Spaces (detail):</span><br/>
<input type="text" name="carport_spaces" value=""/><br/>
<span>Garage Spaces (detail):</span><br/>
<input type="text" name="garage_spaces" value=""/><br/>
<span>Off Street Spaces (detail):</span><br/>
<input type="text" name="off_street_spaces" value=""/><br/>
<span><b>Bedrooms (detail):</b></span><br/>
<input type="text" name="bedrooms" value=""/><br/>

<% if @ptype == 'holiday_lease' -%>
<span style="font-family: Arial,sans-serif">Max Persons (detail):</span><br/>
<input type="text" name="max_persons" value=""/><br/>
<% end -%>
<span>Half Bedroom (detail):</span><br/>
<input type="text" name="half_bedroom" value=""/><br/>
<span><b>Bathrooms (detail):</b></span><br/>
<input type="text" name="bathrooms" value=""/><br/>
<span>Half Bathroom (detail):</span><br/>
<input type="text" name="half_bathroom" value=""/><br/>