<%= render :partial => 'data' %>

<span>Tax Rates (detail):</span><br/>
<input type="text" name="tax_rate" value=""/>
<input type="text" name="tax_rate_period" value="Per Week"/><br/>
<span>Water Rates (detail):</span><br/>
<input type="text" name="water_rate" value=""/>
<input type="text" name="water_rate_period" value="Per Week"/><br/>
<span>Condo/Strata Fees (detail):</span><br/>
<input type="text" name="condo_strata_fee" value=""/>
<input type="text" name="condo_strata_fee_period" value="Per Week"/><br/>
<span>Estimated Rental Return (detail):</span><br/>
<input type="text" name="estimate_rental_return" value=""/>
<input type="text" name="estimate_rental_return_period" value="Per Week"/><br/>