<span><b>Price :</b></span><br/>
<input type="text" name="price" value=""/>to
<input type="text" name="to_price" value=""/><br/>
<input type="text" name="price_per" value=""/><br/>

<label><span>Deposit/Bond: <span>(detail)</span></span></label>
<input type="text" name="bond" value=""/><br/>

<%= render :partial => 'display_price' %>
<br/>
<label><span><b>Date Available</b>: </span></label>
<input type="text" name="date_available" value="11/11/2010"/><br/>
