<%= render :partial => 'auction_datetime' %>

<span><b>Price/Search Price:</b></span><br/>
<input type="text" name="price" value=""/>to
<input type="text" name="to_price" value=""/><br/>

<%= render :partial => 'display_price' %>