/*
Theme Name: PB 'n J Typography Styles
Theme URI: http://wordpress.org/
Description: The jelly on top of the pb 'n j..
Version: 1.0
Author: Jen Germann
Author URI: http://jengermann.com/
Tags: lucida grande, blue, rose
*/

html, body {  }
body { font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif; font-size: 11px; line-height: 14px; }

/* ----------------------------------------------------------
				Typography
---------------------------------------------------------- */
h1, h2, h3 { font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif; }
h3, h4, h5, h6, legend, blockquote p { font-weight: bold; }

h1 { font-size: 36px; line-height: 40px; letter-spacing: -1px; }
	h1#logo { margin: 0 20px 0 0; }
	h1.title {  }
		.post h1.title { margin-bottom: 10px; }
			/*body.misc h1.title { margin: 0; }*/
			body.misc h1.title, body#forum h1.title { display: none; }
				body#terms-of-use.misc h1.title, body#privacy-policy.misc h1.title { display: block; }

	#slider h1 { margin-bottom: 10px; }
h2 { font-size: 24px; line-height: 22px; letter-spacing: -1px; }
	body#home .block h2 { margin: 5px 0 15px; text-align: center; }
	.devhome .block h2, .agenthome .block h2 { margin: 0 0 15px; text-align: left; }
	#features_box h2 { margin: 0 0 10px; text-align: center; }
		#features_box h2:first-child { font-size: 28px; line-height: 24px; margin: 0 0 25px; }
	.articles h2, .single h2 { margin: 0 0 5px; font-weight: normal; letter-spacing: normal; }
	.portalblock h2 { font-weight: bold; }
h3 { font-size: 18px; line-height: 24px }
	h3.title { margin-bottom: 20px; font-weight: normal; }
		body.misc h3.title { display: none; }
	.post h3.title { margin: 0 0 30px; }
	.bannerwrap h3 { margin: 0 20px 0 0; padding: 1px 0 0; float: left; font-weight: normal; }
	.post h3 {  }
	#comments h3 { margin: 0 0 10px; }
	cite.fn {  }
h4, legend { font-size: 15px; line-height: 19px; }
	#extra h4 { margin-bottom: 15px; }
	.group h4, #sidebar .block h4 { margin-bottom: 5px; }
	legend { padding: 5px; border: 1px solid; }
h5 { font-size: 14px; line-height: 19px; }
	#content .portalblock h5 { margin: 0 0 10px; text-align: center; }
h6 { font-size: 12px; line-height: 16px; }

p, ul, ol { margin:0 0 14px; padding:0; }

	#nav p { font-size: 14px; line-height: 20px; }
		#nav p.float-left { margin: 15px 0 0; }
		#nav p.float-right { margin: 10px 0 0; }
		
	#content .block p, #content .leftside p, .post p, .post ul, .post ol { font-size: 12px; line-height: 19px; }
		#content.portalhome .block p { text-align: center; }
	
	#slider p { font-size: 14px; line-height: 20px; }
	#features p { margin: 0 0 10px; }
	#features_box p { font-size: 12px; line-height: 18px; }
	#content .feature_tour ul, #content .feature_tour p { font-size: 11px; line-height: 17px; }
	
	p.postdate { margin-bottom: 7px; }
	#footer p { margin-bottom: 0; float: left; }
	p#footerlogo { margin: 0 10px 0 0; }


ul { list-style: none; }
.entry ul 			{ padding:10px 0 14px 40px; list-style: disc; }
ol { padding:10px 0 14px 40px; list-style-position: inside; }
	.entry ul li, .entry ol li { margin: 0 0 10px; }
		

	ul.features li .block { line-height: 10px !important; }
	ol.commentlist li { font-size: 18px; font-style: italic; font-weight: bold; }
		ol.commentlist li div, ol.commentlist li p { font-size: 12px; font-style: normal; font-weight: normal; }

	#content.archives ul { padding: 0 0 14px; list-style-position: inside; font-size: 12px; }
		#content.archives ul li { padding: 0 0 7px 3px; }

	#sidebar ul { line-height: 18px; }
	#sidebar ul#sidenav { font-size: 14px; }
	ul.slider_nav { font-size: 18px; }


blockquote { margin: 0 auto; padding: 10px 0; border: 0; text-align: center; }
	blockquote.fullsize_testimonial { margin: 20px auto; }
	#content.sectionhome blockquote.fullsize_testimonial { margin: 20px 20px 10px 0; }
blockquote h2 { margin: 0 0 10px; font-size: 28px; font-weight: normal; letter-spacing: -1px; line-height: 32px; }
blockquote p { padding: 0 0 3px; font-style: italic; line-height: 1.4375em; }
cite { font-size: 14px; line-height: 20px; font-weight: bold; font-style: italic; }
	blockquote.fullsize_testimonial cite { text-align: center; }
.quotemark { font-family: georgia, times, serif; }

acronym, abbr	{ cursor:help; border-bottom:1px solid; }	

strong, em 	{  }
strong { font-weight: bold; }
em { font-style: italic; }

li p, p label { font-size: 12px; }
small { font-size:0.875em; }
	small.comment-time {  }

/***** Forms *****/

input, select { font-size: 12px; font-weight: bold; }
textarea { font-size: 12px; line-height:16px; }
label { font-size: 12px; font-weight: bold; }
	label small { font-weight: normal; }
textarea { font-family: "lucida grande", "lucida sans unicode", arial, helvetica, sans-serif; }

/***** Tables *****/

caption, th, td {
	text-align: left;
	font-weight: normal;
}

table.portal_support { margin:0 0 21px !important; border: 1px solid #ddd; border-top: 0; border-right: 0; }
table.portal_support caption {
	background:#eb9300; padding: 7px 0 9px;
	margin: 10px 0 0;
	border-top:1px solid #eb9300; /* 4c96bd */
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-khtml-border-radius-topleft:3px;
	-khtml-border-radius-topright:3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	font-size: 15px; font-weight: bold; text-align: center; }
table.portal_support th { border-right: 1px solid #ddd; font-size: 12px; padding: 10px 0 5px; font-weight: bold; text-align: center; }
table.portal_support td { border-right: 1px solid #ddd; }
table.portal_support td p { font-size: 11px; line-height: 16px; text-align: center; }
table.portal_support a {  }

/* ----------------------------------------------------------
				Color
---------------------------------------------------------- */
/* font color */
.post strong { color: #111; }
body, h1, h2, h3, h4, h5, h6, blockquote p, input, select, textarea, label, cite { color: #222; }
code, .grey, #nav p, small.comment-time, #content .portalblock h5, #footer p { color: #83858b; } /* Zoo Grey */
strong { color: #333; }
p, #sidebar li { color: #444; }
h3.title { color: #555; }
#content p.postdate, blockquote p { color: #777; }
#extra h4, #extra p.postdate { color: #eb9300; } /* Zoo Yellow */
#extra h6 { color: #509dc5; } /* Zoo Blue */
legend, .bannerwrap h3, body.misc h3.title, #subscribe_to_rss p, #subscribe_to_rss h5 { color: #fff; }

/* backgrounds */
#extra, #footer { background-color: #222; }
.action_banner, #subscribe_to_rss { background-color: #333; }
 /* { background-color: #509dc5; } Zoo Blue */
/* { background-color: #94a924; } Zoo Green */
legend { background-color: #83858b; }
.submitter, .postmetadata { background-color: #c4ce91; } /* Zoo Green */
#features_box { background-color: #eee; }
ol.commentlist li.odd  { background-color: #e9edd6; }
#sidebar, img.article_img, #comments, img.avatar {  }
ul#postTabs li { background-color: #ef4123; } /* Zoo Red */
 /* { background-color: #e0edf5; } NICE LITE BLUE */
#content .portalblock.block, #sidebar .block, ul.slider_nav a.selected { background-color: #fff; }

/* borders */ /* Navy 00273c */
#footerwrap { border-color: #333; }
body#agents .action_banner, body#developers .action_banner { border-color: #444; }
body.agents #header, #extra { border-color: #509dc5; } /* Zoo Blue */
/* fieldset { border-color: #666; } */
#header { border-color: #94a924; } /* Zoo Green */
#title_block { border-color: #859820; }
blockquote { border-color: #aaa; }
hr, .entry ul li, .entry ol li, #comments, #respond, #extra ul li, img.system_screenshot, h2.pagetitle, ol.commentlist, ol.commentlist li { border-color: #83858b; } /* Zoo Grey */
input, select, textarea, .grey, #sidebar ul#sidenav, #sidebar ul#sidenav li, img.avatar, .feature_tour hr { border-color: #ccc; }
hr.lite, #content .block, .navigation, #sidebar .block, .inside ul li, .submitter { border-color: #ddd; }
body#popup #sidebar ul li img { border-color: #e0edf5; }
legend, img.article_img, #features_box, #content ul.features li .block { border-color: #eee; }
body#popup #sidebar ul li.current img { border-color: #ef4123; } /* Zoo Red */
body.developers #header { border-color: #f36f3e; } /* off orange */
#content .leftside hr { border-color: #fff; }



/* ----------------------------------------------------------
				Links
---------------------------------------------------------- */
a:link, a:visited, .post a:link strong, .post a:visited strong { color: #ef4123; text-decoration: none; }
	/* body.developers a:link, body.developers a:visited, body.developers .post a:link strong, body.developers .post a:visited strong { color: #3c8cb4; } */
a:hover, a:active { color: #666; text-decoration: underline; }

h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
ul li a:link, ul li a:hover {  }

h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active {  }

#extra a { color: #fff; }

a.highlight { background:#eb9300; color: #000 !important; text-decoration: none; }
label.highlight a { color: #000 !important; text-decoration: underline; }
a.highlight:hover, a.highlight:active { text-decoration: underline; }
label.highlight a:hover, label.highlight a:active { text-decoration: none; }


#nav p.float-left a:link, #nav p.float-left a:visited { border: 0; color: #222; text-decoration: underline; }
#nav p.float-left a:hover, #nav p.float-left a:active, #nav a.current { color: #555; text-decoration: underline; }

.navigation a, .navigation a:visited { background-color: #ef4123; padding: 3px 6px; display: block; font-weight: bold; color: #fff !important; }
.navigation a:hover, .navigation a:active { background-color: #83858b; }

#sidebar ul#sidenav li.current_page_item a { font-weight: bold; }

#footer p a { border-bottom: 1px dotted #555; text-decoration: none; } /* Zoo Grey */
#footer p a:hover, #footer p a:active { border-bottom-style: solid; } /* Zoo Grey */
	#footer p#footerlogo a { border: 0; }

a.startover { background: #fff; font-size: 12px; }

a.learn_more { 
	width: 10em; background: #eb9300 url(/images/sprites.gif) repeat-x 0 -40px;
	margin: 10px auto; padding: 5px 4px 6px; 
	
	border:1px solid #eb9300; /* 4c96bd */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

	display: block; font-size: 18px;
	}
a.top_link { background: url(/images/sprites.gif) no-repeat 100% -18px; padding-right: 14px; }

/* ----------------------------------------------------------
				Buttons
---------------------------------------------------------- */
.button { height: 28px; }

a.btn, input.btn, input#searchsubmit, input#submit { 
	height: 18px;
	background: #ef4123; 
	padding: 4px 9px; 

	border:1px solid #ef4123; /* 4c96bd */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

	float: left; 
	display: block;
	font-size: 15px; line-height: 18px;
	font-weight: bold; 
	text-align: center; 
	text-transform: uppercase; 
	color: #fff !important;
}
	#sidebar .button { margin: 0 0 10px; clear: both; }
	#sidebar a.btn { width: 280px; background: #94a924; border-color: #94a924; }
		body.misc #sidebar a.btn { background: #ef4123; border-color: #ef4123; }

input.btn, input#searchsubmit, input#submit {
	height: 28px;
	cursor: pointer;
}
	input#searchsubmit { width: 70px; }
	input#submit { width: 160px !important; }
	form.tdomf_form input.btn { width: 80px !important; }
	input.btn:hover, input.btn:active, input#searchsubmit:hover, input#searchsubmit:active, input#submit:hover, input#submit:active { text-decoration: underline; }

p.submit_btn { margin: 40px 0; }
input.preview_btn { margin-right: 10px; }

ul#postTabs li a { color: #fff; }
ul#postTabs li a:hover, ul#postTabs li a:active, ul#postTabs li.ui-tabs-selected a { text-decoration: underline; }

/* ----------------------------------------------------------
				Global
---------------------------------------------------------- */
.text-left 		{ text-align:left; }
.text-right 	{ text-align:right; }
.text-center, #title_block .title	{ text-align:center; }
.text-justify 	{ text-align:justify; }

.bold 			{ font-weight:bold; }
.italic 		{ font-style:italic; }
.underline 		{ border-bottom:1px solid; }
.highlight 		{ background:#ffdda5; padding: 1px 3px; color: #000 !important; }

.nobullet 		{ list-style:none;list-style-image:none; }
.bullet_list	{ padding:10px 0 14px 40px; list-style: disc; }
	#sidebar .bullet_list { padding: 10px 0 0; list-style-position: inside; }
.bullet_go		{ padding:10px 0 9px 30px; list-style: none; }
	#sidebar .bullet_go { padding: 0; }
	.bullet_go li { background: url(/images/sprites.gif) no-repeat 0 5px; margin: 0 0 5px; padding: 0 0 0 20px; }
		#sidebar .bullet_go li { background-position: 0 9px; padding: 4px 0 4px 20px; margin: 0 !important; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


