<div id="sidebar" class="block files quarter">
<!-- <div class="upload_button">
  <%= link_to "Add a New Country", new_admin_country_path, :class => "btn" %>
  <!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though. -->
</div> -->
</div>

<h2>Active Help</h2><br />
<% form_for :data, @help_data, :url => update_admin_active_help_path, :html => {:method => :put} do |h| %>
<table id='active_help'>
<tbody>
<% @help_data.each do |k,v| %>
<tr><td>Title</td><td><%= text_field_tag "help_data_key[]", k , :class => "single" %></td></tr>
<tr><td>Help Content</td><td><%= text_area_tag "help_data[]", v , :cols => "50", :rows => "10" %></td></tr>
<% end unless @help_data.blank? %>
</tbody>
</table>

<a href="#" onclick="$('#active_help tbody').append('<tr><td>Title</td><td><input type=\'text\' name=\'help_data_key[]\' /></td></tr>\n<tr><td>Help Content</td><td><textarea name=\'help_data[]\' cols=\'50\' rows=\'10\'></textarea></td></tr>'); return false;" title="">Add another</a>

<%= submit_tag "Submit" %>
<% end %>

