<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Companies </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Creator</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% @companies.each do |company| -%>
        <tr>
          <td class="first_cell"><%= (company.created_at ? company.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (company.company ? company.company : "-") %></td>
          <td class="value"><%= (company.creator_id.nil? || company.creator.blank? ? "System" : company.creator.full_name) %></td>
          <td class="value">
            <% unless company.creator_id.nil? %>
            <%= link_to "Edit", edit_agent_office_company_contact_path(@agent,@office, company), :method => :get %> |
            <%= link_to "Delete", agent_office_company_contact_path(@agent,@office, company), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
            <% end %>
        </tr>
        <% end -%>
   </table>
    <%= will_paginate @companies %>
    <div class="action_button" style="border:none;">

      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_categories(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>