<form action="<%= listeners_export_path(@property) %>" method="post" name="form1">
  <table>
    <tr><td><b>cre_id</b>:</td><td><input type="text" name="cre_id" value=""/></td></tr>
    <tr><td><b>rca_id</b>:</td><td><input type="text" name="rca_id" value=""/></td></tr>
    <tr><td><b>message_error</b>:</td><td><input type="text" name="message_error" value=""/></td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="submit"/></td></tr>
  </table>
</form>