
.frameBody
{
    font-family:"Lucida Sans","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
    font-size:11px;
    margin:0;
    width:100%;
    height:100%;
    background-color: white;
}

.rte-zone
{
    width:500px;
    margin:0;
    padding:0;
    border:1px #999 solid;
    clear:both;
    height:200px;
    display:block;
}

 


