/* theme1 */
.stock_header {
  height: auto;
  margin-bottom:3px;
}

.stock_header .bg-top {
  height: 80px;
  background-color: #FFFFFF;
  margin-bottom:3px;
}

.stock_middle {
  height: 30px;
  line-height: 30px;
  display: block;
  font-weight:bold;
  background-color: #FDCE44;
  text-align:center;
  color:#ffffff;
}

.stock_list {
  height: 99px;
  overflow: hidden;
  padding:5px;
  border-bottom: 1px dotted #666666;
  font-size: 9pt; color: #455e7c;
}

.list_img{ float:left;}
.list_desc{
  width:655px;
  float:left;
  margin-left: 10px;
}
.col1{
  width: 405px;
  float:left;  
}
.col2{width:250px;float:right;text-align:right;color:#999999;}
.list_title{float:left;width:80%;font-size: 14pt; color: #ff9531; font-weight: bold;}
.list_price{margin-top:10px;}


/* theme2 */

.stock-theme2 .stock_header {
  margin-bottom:18px;
}

.s2-list{
  height: 240px;
  overflow: hidden;
  padding:5px;
  font-size: 9pt; color: #455e7c;
}
.s2-headline{
  height:20px;padding:5px 0;font-size:14pt;font-weight:bold;
}
.s2-content-left{
  width:530px;
  float:left;
}
.s2-content-right{
  float:right;
  padding:5px;
  width:220px;
  text-align:center;
  font-size:10pt;
}


/* theme3 */
.stock_footer{
  margin-top:10px;
  height: 80px;
  overflow: hidden;
}

.s3-list{
  height: 223px;
  overflow: hidden;
  padding:5px;
  font-size: 9pt; color: #455e7c;
}
.s3-headline{
  height:20px;padding:5px 0;font-size:14pt;font-weight:bold;
}
.s3-content-left{
  width:530px;
  float:left;
}
.s3-content-right{
  float:right;
  padding:5px;
  width:220px;
  text-align:center;
  font-size:10pt;
}

.desc-option{
  font-size:12pt;
  margin-bottom:15px;
}

.detail-option{
  float:left;
  width:260px;
}

.detail-title{
  font-weight:bold;
  float:left;
  width:130px;
}

.grey-stock{background-color:#f0f0f0;}
.boldf{font-weight:bold;}
.bedn{font-size:10pt;padding-bottom:1px;}
.bedf{font-size:5pt;padding-top:1px;}

/* -----------------------  */
/*         theme4           */
/* -----------------------  */

.stock-theme4 {
  margin-bottom:18px;
  font-family: Helvetica;
}

.s4-header{
  height: 80px;
  margin-bottom:3px;
  overflow: hidden;
}

.s4-header2{
  height: 75px;
  margin-bottom:3px;
  overflow: hidden;
}
.s4-headline{
 height: 38px;
 line-height: 30px;
 display: block;
 font-weight:bold;
 text-align:right;
 color:#000000;
 font-size:18pt;
 padding-right:20px;
}

.s4-list {
  height: 110px;
  overflow: hidden;
  padding: 4px 18px;
  font-size: 9pt; 
  color: #000000;
  margin-bottom: 8px;
}

.s4-img{overflow: hidden;float:left;width:158px;height:110px;margin-right:10px;text-align: center;}
/*.s4-img img{width:158px;margin:0;
	position:relative;
	top:-20px;}*/
.s4-bed{padding-top:3px;float:left;width:160px;height:95px;border-top:2px solid #000000;margin-right:10px;line-height: 12px;}
.s4-desc{padding-top:3px;float:left;width:238px;height:95px;border-top:2px solid #000000;margin-right:10px;line-height: 12px;font-size: 8pt;}
.s4-opentime{padding-top:3px;float:left;width:154px;height:95px;border-top:2px solid #000000;font-size: 8pt;line-height: 12px;}

.s4-bed-1{font-size: 8pt;margin-bottom: 5px;}
.s4-bed-detail{float:left;width:30px;height:20px;border-left:2px solid black;line-height: 5px;padding:2px;}


/* -----------------------  */
/*         theme5           */
/* -----------------------  */

.stock-theme5 {
  margin-bottom:18px;
  font-family: Helvetica;
}

.s5-header{
  height: 80px;
  margin-bottom:20px;
  overflow: hidden;
}

.s5-footer{
  margin-top:18px;
  height: 80px;
  overflow: hidden;
}

.s5-list {
  float:left;
  width:375px;
  height: 126px;
  overflow: hidden;
  padding: 5px;
  font-size: 9pt;
  color: #000000;
  margin-bottom: 15px;
  margin-right:5px;
  font-size:9pt;
}

.s5-img{
    overflow: hidden;
    float:left;
    width:150px;
    height:113px;
}
.s5-bbc{
    width:43px;
    height:125px;
    float:left;
    font-weight:bold;
}
.s5-bbc-detail{
   margin-left:5px;
   margin-bottom:10px;
}
.s5-content{
    width:180px;
    height:125px;
    float:left;
}
.s5-content-suburb{font-weight:bold;}
.s5-content-address{font-weight:bold;font-size:8pt;}
.s5-content-opentime{font-weight:bold;font-size:8pt;}
.s5-content-headline{font-size:7pt;width: 180px;overflow:hidden; height:20px;}
.s5-content-price{font-weight:bold;}
.s5-content-contact{font-weight:bold;font-size:8pt;}
.s5-content-name{
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

/* -----------------------  */
/*         theme6           */
/* -----------------------  */

.stock-theme6 {
  margin-bottom:18px;
  font-family: Helvetica;
}

.s6-header{
  height: 120px;
  margin-bottom:10px;
  overflow: hidden;
}

.s6-main{
 width:770px;
 padding-left: 10px;
 font-size:8pt;
}

.s6-listing-wrp{
  float:left;
  width:370px;
  height:32px;
  overflow: hidden;
  border-top:2px solid black;
  padding-top:3px;
}

.s6-col1{
  float:left;
  width:100px;
}

.s6-col2{
  float:left;
  width:270px;
}

.s6-bedroom{
  float:left;
  border-left:2px solid black;
  padding-left:2px;
  width:27px;
  height:25px;
  line-height: 13px;
  font-size:10pt;
}

.s6-bedf{
 font-size:6pt;
 line-height: 6px;
}

.s6-address-wrp{
  float:left;
  font-weight:bold;
  height:12px;
  overflow: hidden;
  line-height: 12px;
}

.s6-suburb{
  float:left;
  margin-right:5px;
  width:90px;
}

.s6-address{
  float:left;
  margin-right:5px;
  width:115px;
}

.s6-price{
  float:left;
  text-align:right;
  width:55px;
}

.s6-web-url{
    
}

.sub2nav{ }
.optnav{
  background-color: #E1EBF5;
  border: 1px solid #BEC8D2;
  float: left;
  margin-right:10px;
  padding: 5px;
  text-transform: uppercase;
  cursor:pointer;
}

.optnav a{
  padding:0px;
  font-size: 8pt;
  text-decoration:none;
  color:#28323C !important;
}

.optnav a:hover{
  background-color: #C8D2DC;
  font-size: 8pt;
  text-decoration:none;
  color:#28323C !important;
}

.optnav:hover{
  background-color:#C8D2DC;
}
.current-nav{
  background-color:#C8D2DC;
}
.sub-opt-nav{margin-bottom:10px;}
.listing_tab_nav{margin-bottom:20px;}