@media (min-width: 979px) and (max-width: 1200px){}
.blue{color: blue !important}
.red{color: red !important}
.w20p{width: 20% !important}
.left{float: left}
.right{float: right}
.h100px{min-height:100px;height:127px;}
.field_content{
    padding: 5px !important;
}

.field_content .current-listing{
    margin-left:0 !important;
    margin-right: 0 !important;
}

.optnav-group-listing-details a, .optnav-group-marketing a, .optnav-group-other  a{
    padding: 5px !important;
}
fieldset {
    border: medium none;
    clear: both;
}
/*
Theme Name: Zoo Agents
Theme URI: http://wordpress.org/
Description: Styles for Zoo Property's Agents site.
Version: 1.0
Author: Jen Germann
Author URI: http://jengermann.com/
Tags: dashboard, modules, listings
*/

/* --------------------------------------------------------------

   The beautiful Silk Icon set from famfamfam:
   http://www.famfamfam.com/lab/icons/silk/

/* --------------------------------------------------------------

   Reset.css
   * Resets default browser CSS styles.

   Original by Erik Meyer:
   * http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/

-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, button,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}

html, body { border:0; margin:0; padding:0; }
body { font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; font-size: 100%; color: #28323c; line-height: 1.125em; } /* sets font size to browser default, typically 16px; line-height to 18px */
body.agents { background: url(/images/backgrounds/bg_body_agents.gif) repeat-x 0 0px; }
body.knightfrank { background: url(/images/backgrounds/bg_body_knightfrank.gif) repeat-x 0 0; }
body.jll { background: url(/images/backgrounds/bg_body_jll.gif) repeat-x 0 0; }
body.cre{ background: url(/images/backgrounds/bg_body_cre_white.gif) repeat-x 0 0; }
body.inno{ background: url(/images/backgrounds/bg_body_inno.png) repeat-x 0 0;}
body.developers { background: url(/images/backgrounds/bg_body_developers.gif) repeat-x 0 0; }
body.admin { background: url(/images/backgrounds/bg_body_admin.gif) repeat-x 0 0; }

/* ----------------------------------------------------------
				Typography
---------------------------------------------------------- */
p, ul, ol, table, button { font-size: 11px; }
h1, h2, h3, h4, h5, h6, legend { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; font-weight: bold; color: #28323c; }

h1 { font-size: 100%; }

h2 { font-size: 20px; margin-bottom: 5px; }
.block.accounts h2 { margin: 2px 0 11px; }
h2.page_title { margin: 2px 0 18px;  }
h3, legend { font-size: 15px; }
h3 { padding-bottom: 5px; position: relative; }
.rowblock h3 { padding-bottom: 3px; }
legend { padding: 0 5px; }
h4 { font-size: 14px; margin-bottom: 7px; position: relative; }
#memberdetailsdiv h4 { margin-bottom: 11px; }
.block.transparent h4 { margin: 0 0 3px; }
.title_block h4, h4 span { font-weight: normal; }
h5 { font-size: 11px; font-weight: normal; }
h6 { font-size: 12px; margin-bottom: 7px; position: relative; } /* titles on res sales page */
h6.helplink { text-align: right; }

small.formgrouplinks { position: absolute; top: 0; right: 0; z-index: 99; }
h3 small.formgrouplinks { top: 2px; }
h4 small.formgrouplinks { top: 1px; }
#duplistingsdiv small.formgrouplinks, #vtlinksfilesdiv small.formgrouplinks, #submissiondiv small.formgrouplinks { top: 7px; right: 10px; }

.title_block { margin: 0 0 25px; }

p, ul, ol{ margin:0; padding:0 0 20px 0; }
p.helpblockmeta { padding: 0 0 0 35px; }
p.help_message { padding: 0 0 0 35px; }
p.rowdescr, p.rowdate, p.rowcomments, p.rowtime, p.rowclient, p.rowmetadata { padding: 0 0 2px; }
p.errortext, div.errortext h2 { background-color: #EF4123; margin: 0 0 18px; padding: 12px; text-align: center; font-size: 18px; line-height: 24px; color: #fff; }
p.required { width: 250px; background-color: #d2dce6; margin: 0 0 18px; padding: 5px; font-weight: bold; }
p.key { padding: 0 0 5px; }
#fileuploaddiv fieldset p.required { width: auto; background-color: transparent; margin: 0; padding: 0 0 18px; }

blockquote 		{ margin:22px 40px; padding:0; }
ul 				{ list-style: none; }
.block ul { width: 100%; display: table; }
.sideblock ul { width: 95%; }
small 			{ font-size:11px; font-weight: normal; }
img 			{ border:0; }
p#mapcontainer img { width: 100%; min-width: 420px; max-width: 550px; height: auto; }
img.avatar { width: 50px; height: 50px; margin: 0 5px 0 0; vertical-align: middle; }
img.avatar.mini { width: 42px; height: 42px; float:left; margin: 0 7px 10px 0; border: 1px solid #d2dce6; }
img.team_photo { border: 2px solid #d2dce6; }
acronym, abbr	{ cursor:help; letter-spacing:1px; border-bottom:1px solid; }

strong, em 	{ font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; }
strong { font-weight: bold; }
em { font-style: italic; }

.lite, p.rowmetadata, .filesize { color: #78828c; }
td.first_cell .lite { font-style: italic; }
.property_id { color: #3c4650; }
.emphasis { color: #28323c !important; }
.alert, .loss { color: #EF4123; }
.growth { color: #94A924; }
.announce { color: #94A924; }
.pf_error, div.fieldWithErrors * { background: #EF4123; padding:1px 3px; font-weight: bold; color: #fff !important; }
.required { font-weight: bold !important; color: #28323c !important; }

/***** Links *****/
a { padding: 1px; font-weight: bold; text-decoration: underline; }
a:link, a:visited 	{ color: #0e7fc7; } /* 303030 */
a:hover, a:active 	{ background-color: #0e7fc7; color: #fff !important; text-decoration: none; } /* 3f3f3f */
h1#logo a:hover, h1#logo a:active { background-color: transparent; }

h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited {
    color: #28323c;
}
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active {
    background-color: #28323c;
    color: #fff;
}

table.bluelink a:link, a:visited { color: #0E7FC7; } /* 303030 */
table.bluelink a:hover, a:active { background-color: #0e7fc7; color: #fff !important; text-decoration: none; } /* 3f3f3f */

table a:link, table a:visited { color: #3c4650; }
table a:hover, table a:active { background-color: #3c4650; }

.delete a:link { background-color: #d2dce6; }
.delete a:hover, .delete a:active { background-color: #3c4650; }

h1#logo a:link, h1#logo a:visited { color: #fff; }

h6 a.current:link, h6 a.current:visited { background: #d2dce6; }
h6 a.current:hover, h6 a.current:active { background: #3c4650; }

ul#quick_links a:link, ul#quick_links a:visited { color: #e1ebf5; }
ul#quick_links a:hover, ul#quick_links a:active { background-color: #28323c; }

p.navlinks a:link, p.navlinks a:visited { color: #28323c; }
p.navlinks a:hover, p.navlinks a:active { background-color: #28323c; color: #e1ebf5; }

.rowicon a, table.app-table td.widget_image a { padding: 0; background: none; text-decoration: none; }
div.user_message .rowicon  a .overlay, div.user_message .rowicon  a:hover .overlay { color: #ef4123 !important; }
div.archived_message .rowicon  a:hover .overlay { color: #3c4650 !important; }

.alert td a { color: #EF4123; }

/***** Buttons *****/

/* Delete buttons (delete.gif) */
.delete_btn { background: none !important; vertical-align: middle; }

/* Archive buttons (folder.gif) */
.archive_btn { background: none !important; vertical-align: middle; }

/* Files buttons */
.file_show { padding: 5px; text-align: center; }
.file_show p { padding: 0; }
.file_show img.property_image { margin: 0 auto 8px; }

table.update_table .file_button,
table.update_table .file_show,
table.update_table .action_button { width: 295px; }

table.update_table .file_button input, table.update_table .action_button input { width: auto; min-width: inherit; }


/* Action buttons */
.action_button { height: 35px; margin: 5px 0; padding: 5px; border-top: 3px solid #bec8d2; font-size: 11px; clear: both; }
.filtersresultsdiv .action_button { margin: 0 0 0 5px; padding: 0; border: 0; float: left; font-size: 11px; clear: none; }
.ab_top .action_button { margin: 0 0 25px; border-top: 0; border-bottom: 3px solid #bec8d2; }
.teamassignform .action_button { border-color: #eb9300; }

.block.leader .action_button { margin-right: 5px; }
.block.follower .action_button { margin-left: 5px; }

/* Thank you to Particletree for this: http://particletree.com/features/rediscovering-the-button-element/ */
button, .action_button a {
    width:auto !important;
    background-color: #cde9f8 !important;
    margin:0 7px 0 0 !important;
    padding:4px 10px 3px 7px !important; /* IE6 */

    border:1px solid #0e7fc7 !important; /* 4c96bd */
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -khtml-border-radius: 4px !important;
    border-radius: 4px !important;

    float:left;
    display:block !important;
    overflow:visible !important;
    text-decoration:none !important;
    font-weight:bold !important;
    color:#28323c !important;
    cursor:pointer !important;
}
.action_button span { margin: 5px 0 0; float: left; }
.filtersresultsdiv button, .filtersresultsdiv .action_button a { margin: -3px 0 0; }
.teamassignform button { border-color: #eb9300; }

.action_button button[type]{
    padding:4px 10px 4px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.action_button button img, .action_button a img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
.filtersresultsdiv .action_button button.filter, .filtersresultsdiv .action_button button.submit { padding: 2px 10px 2px 7px !important; }

/* STANDARD */

button:hover, .action_button a:hover{
    background-color:#f5faff;
    border:1px solid #509dc5;
    color:#509dc5;
}
.action_button a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* Upload buttons */
.upload_button { margin: 0 0 6px; }
.block.follower .upload_button { margin-left: 5px; }
.upload_button a {
    background: #3c4650;
    padding: 20px 15px !important;
    border: 2px solid #28323c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
    text-shadow:1px 1px 1px #111;
}
.upload_button a:hover { background: #505a64; }

#sidebar .upload_button {  }
#sidebar .upload_button a { padding: 19px 0; }

.upload_button a img { margin-right: 8px; vertical-align: text-bottom; }

/* Question button */
.helplink { background: none !important; vertical-align: middle; }

/* Purchase buttons */
.purchase_button { background: #3c4650; margin: 0 0 6px; }
.purchase_button h2 { margin: 10px 0; text-align: center; color: #e1ebf5; }
.block.follower .purchase_button { margin-left: 5px; }
.purchase_button a { width: 100%; background: #28323c; padding: 10px 0; display: block; text-align: center; color: #fff; }

/* More links */
a.btn { background: #3c4650; margin: 0 auto; padding: 2px 5px 4px; color: #fff; }


/***** Tables *****/
/* tables still need 'cellspacing="0"' in the markup */
table {
    width: 100%;
    border:0; margin:0 0 18px 0; padding:0;
    border-collapse: separate;
    border-spacing: 0;
    clear: both;

    border: 2px solid #f7fcff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}
table table { margin: 0; border: 0; }
form.propertyform table { border: 0; }
form.propertyform table.email-tab {
    background-color: #e1ebf5;
    border: 1px solid #d7dbde;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px; }
.set table.full { margin: 0; padding: 0; }
caption, th, td {
    text-align: left;
    font-weight: normal;
}
tr { background-color: #fff; }
tr:hover { background-color: #f5faff; }
tr.alt { background-color: #f5faff; }
tr.alt:hover { background-color: #e1ebf5; }
th, td { padding: 4px 0px 0px 4px; vertical-align: top;}
th {
    background-color: #e1ebf5;
    border-bottom: 1px solid #fff;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #3c4650;
}
#officestatsdiv th { font-size: 9px; text-align: center; color: #3c4650; }
#officestatsdiv th span { cursor: help; }
tr.extra_th th { padding: 6px 0 0; border: 0; text-align: center; vertical-align: bottom !important; }
tr.header_th th, tr.header_th td, tr.header_td td { padding-top: 16px; }
td { border-bottom: 1px dotted #d2dce6; }
#officestatsdiv td { text-align: center; }
#officestatsdiv td.first_cell { width: 110px; text-align: left; }
#officestatsdiv td.table_total { min-width: 35px; }
th.first_cell, td.first_cell { padding-left: 4px; vertical-align: middle; }
td.field { color: #5a5a5a; }
td.value { color: #28323c; }
td.total, tr.total td, td.total input { font-weight: bold; }

td.list-action { width: 190px; }
td.list_agent { width: 130px; }
td.list_id { width: 50px; }
td.list_ptype { width:70px; }
td.list_type { width: 90px; }
td.list_status { width: 70px; }
td.list_suburb { width: 140px; }
td.list_edit { width: 50px; }
td.list_number { width: 200px; }

table.property-list td a { font-weight: normal; }
.property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
}
.property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
}

table.pf-table { margin: 0 0 18px; }
table.pf-table th, table.pf-table td, table.pf-table tr, table.pf-table tr:hover { background-color: transparent; border: 0; }
table.pf-table th { font-weight: normal; text-align: center; }
table.pf-table .first_cell { padding: 0 !important; }
table.pf-table .field { text-align: left; color: #28323c; }

#linksfilesdiv td { padding: 1px 0 0; }
#availabilitydiv th.first_cell { width: 110px !important; }
#garagingbedbathdiv th.first_cell { width: 100px; }
#buildingareasdiv th.first_cell { width: 100px; }

table.pf-cal { width: 33%; float: left; border-right: 15px solid #e1ebf5; clear: none; }
table#next_month_cal.pf-cal { border: 0; }
table.pf-cal caption, table.pf-cal th, table.pf-cal td { text-align: center; }
p.calnav { height: 22px; background: #d2dce6; padding: 0 5px; }
p.calnav span { width: 50%; display: block; float: left; }
.cal_next { text-align: right; }

.list_visits_this_week, .list_visits_last_week, .list_visits_this_month, .list_visits_last_month, .list_total_visits, .list_total_emails { text-align: center; }

table.update_table tr:hover, table.payments-list tr:hover { background-color: #fff; }
table.update_table td.first_cell { width: 150px; }
table.update_table input { width: 60%; min-width: 220px; }
table.update_table select { width: 61%; min-width: 227px; }

.th_country, .td_country, .theme_total, tr.theme_total th { background: #ffffb0; }
.th_clients, .td_clients { background: #cfc; }
.th_offices, .td_offices { background: #c9eaf9; }
.th_team, .td_team { background: #f5f4dd; }
.th_listings, .td_listings { background: #f9cde8; }

/***** Global Classes *****/

/* ----------------------------------------------------------

								COLORS

	BLUE: 509DC5							ORANGE: F85911
	RED: EF4123								GREEN: 94A924
	YELLOW: EB9300							AQUA: 50B5B5
	VIOLET: B57195							GREY: 83858B
	ROSE: F2665E							BROWN: BB7932
	NAVY: 00273c

	GREYS:
	28323c	3c4650	505a64	646e78	78828c	8c96a0
	a0aab4	bec8d2	c8d2dc	d2dce6	e1ebf5	f5faff

---------------------------------------------------------- */

hr 				{ width: 100%; background-color: #fff; margin: 0 0 15px !important; border: 0; border-top: 1px solid #bec8d2; clear: both; color: #fff; }
#header hr { background-color: #509DC5; margin: 0 !important; border-top: 1px solid #509DC5; color: #509DC5; }
hr.separator { border-color: #fff; }
hr.thick { border-top: 3px solid #bec8d2; }

.clearer		{ clear:both; }
.hide			{ display: none; }

.float-left 	{ float:left; }
.float-right 	{ float:right; }

.text-left 		{ text-align:left; }
.text-right 	{ text-align:right; }
.text-center 	{ text-align:center; }
.text-justify 	{ text-align:justify; }

.bold 			{ font-weight:bold; }
.italic 		{ font-style:italic; }
.underline 		{ border-bottom:1px solid; }
.highlight 		{ background:#ffc; }

.img-left 		{ float:left;margin:4px 10px 4px 0; }
.img-right 		{ float:right;margin:4px 0 4px 10px; }

.nomargin		{ margin: 0 !important; }
.nopadding 		{ padding:0; }
.noindent 		{ margin-left:0;padding-left:0; }
.nobullet 		{ list-style:none;list-style-image:none; }
.noborder, tr.noborder td { border: 0 !important; }
.noenter			{ background-color: transparent; margin: 2px; border: 0 !important; cursor: default; }

/* ----------------------------------------------------------
					Main Elements
---------------------------------------------------------- */
/* Global */
#main_body { width: 96%; min-width: 900px; max-width: 1260px; margin: 0 auto; }

.quarter, .third, .half, .twothirds, .threequarters, .fifth { float: left; }

.quarter 		{ width: 25%; }
.third			{ width: 33%; }
.fifth			{ width: 20%; }
#featuresdiv ul.third { width: 33% !important; }
#featuresdiv ul ul li:hover, #featuresdiv ul ul li:active { color: #000; }
.block.third.middle { width: 34%; }
.half				{ width: 50%; }
#linksfilesdiv span.half { min-width: 125px; }
.twothirds		{ width: 67%; }
.threequarters { width: 75%; }
.full				{ width: 100%; float: none; clear: both; }

.group {
    padding: 7px 10px !important;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url("/images/PIE-1.0.0/PIE.htc");
}
.group.withsets { padding-right: 0 !important; }
.set .group { padding: 0 !important; }
.block.leader .group, .set.leader .group { margin-left: 0 !important; margin-right: 5px; }
.block.middle .group, .set.middle .group { margin-left: 5px; margin-right: 5px; }
.block.follower .group, .set.follower .group { margin-left: 5px; margin-right: 0 !important; }

.block.form .group, .block.tables .group, .block.media .group, .block.transparent .group, .block.accounts .group,
.block.files .group, #createdisplaylistingsdiv.block .group, .block.store .group, .block.instructions .group, .block.billing .group,
.block.suburbs .group {
    background-color: #c8d2dc;
    padding: 10px !important;
    margin-bottom: 10px;
    border:1px solid #bec8d2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
form.propertyform .block.form .group { background-color: #e1ebf5; border-color: #d7dbde; }

.block.form .group .group, .block.tables .group .group, .block.media .group .group, .block.transparent .group .group, .block.accounts .group .group, 	.block.files .group .group, #createdisplaylistingsdiv.block .group, .block.store .group .group, .block.instructions .group .group, .block.billing .group .group,
.block.suburbs .group .group {
    background-color: transparent; padding: 0 !important; border: 0;
}
.block.help .group { background: #ffc url(/images/icons/icon_info.gif) no-repeat 10px center; margin: 20px 0; border-bottom: 1px solid #d2dce6; }
.block.store.half .group { background: #fff; }
body#messages.agents .block.help .group { background-image: none; }
.block.transparent .group { background-color: transparent; margin-bottom: 10px; border-width: 1px; }
.block.accounts .group, .block.store .group { margin-bottom: 20px; }
.block.accounts .set .group { margin-bottom: 2px; }

#tabulardiv .group { margin: 0 10px 10px 0; padding: 7px 10px 1px !important; clear: both; }
#storediv .group.holder { margin-right: 10px;  }

.pack { background-color: #e1ebf5; margin: 0 0 5px; padding: 5px; }
.pack input { font-size: 10px !important; }

.block ul li	{ width: 100%; margin: 0 0 5px; float: left; }

ul.pf-ul li { margin: 0 0 7px; }


/***** Forms *****/

form 			{ margin:0; padding:0; }
fieldset { clear: both; }
input, select, textarea { margin: 0; padding: 0; font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; font-size: 11px; font-weight: normal; }
input.single { padding: 2px 2px 3px; }
input.wider { width: 35em; }
input#quick_edit_txtbox_input, input#quick_edit_txtbox_clients_input { width: 140px; margin: -1px 0 0; padding: 1px 2px; font-size: 11px; } /* in navigation */
input.checkbox { width: auto !important; min-width: inherit !important; }
textarea 		{ padding: 3px 2px; line-height:1.25em; }
body#team #descriptiondiv textarea { border: 3px solid #bec8d2; }

input.single, input#quick_edit_txtbox_input, input#quick_edit_txtbox_clients_input, textarea, select { border: 1px solid #ccc; border-top-color: #999; border-left-color: #999; }

fieldset li label, fieldset th.leader, fieldset td.leader { width: 35%; min-width: 145px; float: left; }
#featuresdiv fieldset li label { width: auto; float: none; }
#featuresdiv fieldset li.li--32 label { min-width: 90px; float: left; } /* your features */
#teammemberlistdiv label { width: 65%; min-width: 210px; }
#pricingrentaldisplaydiv th.leader { width: 35%; min-width: 160px; }
/*#buildingareasdiv fieldset th.leader, #auctiondatetimediv th.leader, #pricingdiv th.first_cell { min-width: 120px; }*/

/*#holidaypricediv #pricediv fieldset li label, */ #availabilitydiv #pricediv fieldset li label, #availabilitydiv fieldset th.first_cell, #memberdetailsdiv fieldset li label, #smsdiv fieldset li label { width: 18%; min-width: 95px; }
#premisediv fieldset li label, #franchisediv fieldset li label { width: 25%; min-width: 95px; display: none;}

fieldset li input, fieldset li select, fieldset li textarea { float: left; }
#featuresdiv fieldset li input { float: none; }

#smsdiv fieldset input,
#propertydatadiv fieldset input, #propertydatadiv fieldset textarea,
#memberdetailsdiv fieldset input, #propertyaddressdiv fieldset input,
#displayingpricingdiv li.li--44 input, #displayingpricediv li.li--42 input, #vtlinksfilesdiv li.li--46 input, #displayingpricediv li.li--82 input { width: 60%; /*min-width: 220px;*/ }

#propertydatadiv fieldset select, #energyefficiencydiv fieldset select, #parentlistingdiv fieldset select,
#propertyaddressdiv fieldset select, #propertycontactsdiv fieldset select { width: 61%; /*min-width: 261px;*/ }
#propertycommercialcontactsdiv fieldset select { width: 100%;}
#contactsdiv fieldset select {width:261px; min-width: 261px; }
#opentimesdiv fieldset select {width:100px; min-width: 100px; }
#opentimesdiv fieldset table td {background-color:#e1ebf5; }

#propertydatadiv li.li--6 input, #propertydatadiv li.li--7 input, #propertydatadiv li.li--8 input { width: 30%; margin-right: 5px } /* Estimated Rental Return */
#propertydatadiv li.li--6 select, #propertydatadiv li.li--7 select, #propertydatadiv li.li--8 select { width: 29% !important; } /* Estimated Rental Return */
#propertyroomdiv li.li--6 select { width: 61% !important; }
#propertydatadiv li.li--9 select { width: 31% !important; }
#propertydatadiv li.li--40 input, #propertyaddressdiv li.li--23 input { width: auto !important; min-width: 5px !important; float: none; } /* Display Address */
#propertydatadiv li.li--41 input { float: none; } /* Display Address */

li.li--35 select, li.li--38 select { width: 50%; min-width: 80px !important; } /* linksdiv, filesdiv */
#landblockfloorareasdiv fieldset input { width: 28%; /*min-width: 30px;*/ margin-right: 10px; }
#landblockfloorareasdiv fieldset select { width: 29%; /*min-width: 30px;*/ margin-right: 10px; }
#garagingbedbathdiv td select { width: 90%; min-width: 60px; }
/*#holidaypricediv fieldset input, */  #availabilitydiv fieldset input { width: 65px !important; min-width: 30px; margin-left: 10px; }
/*#holidaypricediv fieldset select,*/ #holidaypricediv fieldset li.li--40 select, #pricingdiv select { width: 105px !important; min-width: 30px; margin-left: 10px; }
#holidaypricediv fieldset li.li--40 input { width: 65px !important; min-width: 30px; }

li.li--36 input { width: 55%; min-width: 30px !important; } /* Virtual Tour */
#descriptiondiv fieldset textarea,
#smsdiv fieldset textarea { width: 97%; }

/*#leasedetailsdiv input { width: 50%; min-width: 30px; }*/
.inputfull-9 {width:90%;}
.selectfull-9 {width:91%;}
.halfinput {width:45%;}
.first_tab {width:35%;}
#franchisediv input {width:92%;}
#franchisediv select {width:93%;}
.inputbuild { width:90%;}
#premisediv select { width:91%;}
#buildingareasdiv tr.li--69 input { width: 45%; }
#buildingareasdiv tr.li--69 select { width: 45%; }
#auctiondatetimediv input#pf_field_39 { width: 96%; } /* auction place */
#leasedetailsdiv select {width:94%;}
#leasedetailsdiv .inputfull-8 {width:92%;}

#duplistingsdiv, #vtlinksfilesdiv, #submissiondiv { position: relative; }
#duplistingsdiv select {width:125px !important;}
#staffdiv input { width: 60%;}
#financialsdiv input { width: 60%;}
/* Agents System Pages
---------------------------------------------------------- */
/***** Dashboard *****/
#officestatsdiv { margin: 0 0 5px; }

.filtersresultsdiv form { width: 100%; }
.filtersresultsdiv form, .filtersresultsdiv p, .filtersresultsdiv input, .filtersresultsdiv select, .filtersresultsdiv div { float: left; }
.filtersresultsdiv form { margin: 0 20px 20px 0; }
.filtersresultsdiv input, .filtersresultsdiv select { margin: 0 5px 0 0; }
.filtersresultsdiv p { margin: 2px 0 20px 0; padding: 0; }

/***** media page: photo, plans, video and audio galleries *****/
.block.media form .set, #memdetailsdescrdiv .set { margin: 5px; }
.block.media form .set { width: 21%; }
form.mediaform { margin: 0 0 25px; }
form.mediaform .set { max-width: 180px; background: #fff; margin: 0 10px 10px 0; padding: 10px; float: left; border: 3px solid #d2dce6; }
form.mediaform fieldset { width: 92%; }
form.mediaform ul, form.mediaform .file_show { width: 94%; }
form.mediaform ul { padding: 0 0 10px; }
form.mediaform .set input.single { width: 176px; }
form.mediaform h4 { margin: 0; float: left; }
form.mediaform .file_button { width: 172px; }

form.mediaform .action_button input.btn { padding: 5px; font-size: 20px; }

/***** files/messages page *****/
.tabularrow.set { background: #fff; margin: 0 0 15px 0; padding: 10px 0 0 7px; }
#fileuploaddiv.block.files .set { padding: 0 !important; }
form.postuploadform fieldset { background: #fff; padding: 10px; border: 3px solid #d2dce6; }
form.postuploadform input.single, form.postuploadform textarea.area { width: 99%; }

form.postuploadform label.required { width: 110px; float: left; display: block; }
form.postuploadform p.select_recipient span.select_office { padding-left: 115px; display: block; }
form.postuploadform p.select_recipient a { padding-top: 5px !important; display: block; }

p.select_recipient label.required { float: left; }
.selectreceiptionsdiv { margin-left: 10px; float: left; }
.select_office { clear: both; }

ul.message_topic { margin: 0 0 0 20px; padding: 0; }
ul.edit_message_categories li { width: 300px; position: relative; padding-bottom: 10px; }
ul.edit_message_categories li span { position: absolute; right: 10px; }
/*.rowdates { width: 15%; padding: 12px 0 0; border-top: 3px solid #bec8d2; }
.filelisting { width: 85%; padding: 15px 0 0; border-top: 1px solid #bec8d2; }
*/

.rowicon, .rowblock, .rowdates, .filelisting { float: left; }
.rowicon { margin-right: 7px; position: relative; }
.rowicon .overlay { width: 32px; font-size: 11px; font-weight: bold; text-align: center; position: absolute; top: 6px; left: 0; }
.rowblock { padding: 0 0 12px; }
#messages .rowblock h3, #messages p.rowdate { min-width: 400px; margin-right: 10px; }
span.user_message img, span.archived_message img { vertical-align: middle; margin-right: 3px; }
span.user_message { margin-right: 10px; }

/***** team page *****/
table.team_info_table { width: 100%; margin: 0; }
table.team_info_table td { padding: 0; border: 0; vertical-align: top; }
table.team_info_table td table { margin: 0; }
table.team_info_table td table td { border-bottom: 1px dotted #d2dce6; }
table.team_info_table td.team_info_cell table td { padding: 4px 0 !important; }
table.team_info_table tr { background-color: transparent; }
td.image_portrait { width: 96px; padding: 8px 0 0 15px !important; }
td.editdelete { border: 0 !important; }
td.editdelete p { padding: 5px 0 0; }
span.access_level { font-weight: bold; text-transform: uppercase; }
span.access_level1 { color: #509DC5; }
span.access_level2 { color: #F85911; }
span.access_level3 { color: #94A924; }

/***** tools page *****/
#graphofviewsdiv {  }
#graphboxdiv { margin: 0 0 20px; border: 3px solid #bec8d2; }

#teammemberlistdiv select { margin-right: 5px !important; }

#teammemberlistdiv label {  }
#teammemberlistdiv ul li { width: 50%; clear: none !important; }

/* bulk team assign */
table.bulk-reassign { margin-top: 10px; }

/***** exports page *****/
table.account_portal_details_table td { padding-right: 5px; }
td.td_portal_name { width: 15%; min-width: 165px; }
td.td_portal_info { width: 25%; }
td.td_portal_pricing { width: 12%; padding-left: 10px; padding-right: 10px; }
th.th_portal_pricing { padding-left: 10px; padding-right: 10px; }
td.td_portal_type { width: 8%; }
td.td_portal_country { width: 10%; }
td.td_portal_status { width: 10%; }
td.td_portal_docs { width: 20%; padding: 0 !important; }

/* Developers System Pages
---------------------------------------------------------- */
/***** Dashboard ****
#clientcntrdiv, #clientmessagecntrdiv { position: relative; }
#clientcntrdiv form#clientselectform { position: absolute; top: 5px; left: 125px; }
#clientmessagecntrdiv form#clientselectform { position: absolute; top: 5px; left: 155px; }*/

/***** client centre *****/
body#client_cntr .mapdiv { margin-bottom: 10px; }
table.access_table { margin: 0; }
table.access_table tr:hover { background-color: #fff; }
table.access_table td.value { width: 50%; padding-left: 4px; vertical-align: top; }
table.access_table select.select_box { margin-right: 5px; }

table.logo_form_table tr:hover { background: #fff; }
table.logo_form_table th, table.logo_form_table td { vertical-align: top; text-align: center; }

/***** message Center *****/
body#messages .title_block {  }
body#messages form#clientselectform { padding: 0 10px 0 0; float: right; }

/***** Store *****/
/* Themes list */
h6.storenav { margin: 0 0 15px 10px; }

.page_toolbar { width: 260px; margin: 0 auto 15px; }
.page_toolbar p { padding: 0 !important; }

p.page_prev { margin-right: 10px; float: left; display: block; }
p.page_next { margin-left: 8px; float: left; text-align: right; }
.page_prev a 	{ font-weight: bold; }
.page_next a 	{ font-weight: bold; }

p.page_numbers	{ float: left; }
.page_numbers a	{ width: 14px; background: #d2dce6; margin: 0 2px 0 0; padding: 0 5px; border: 1px dotted #d2dce6; float: left; display: block; font-weight: normal; text-align: center; }

.page_prev a:hover, .page_next a:hover, .page_numbers a:hover,
.page_prev a:active, .page_next a:active, .page_numbers a:active,
.page_numbers a.current_page, .page_numbers a:hover { color: #28323c !important; text-decoration: none !important; font-weight:bold }


.item_image { background: #fff; margin: 0 0 15px; padding: 5px; border: 1px solid #d2dce6; text-align: center; }
.item_image a { background: transparent; }

.item_name_description p { padding-right: 10px; }

.item_price_buttons {  }
.item_price_buttons h2 { margin: 0 0 10px; text-align: center; }
.item_price_buttons p { margin: 0 0 5px; padding: 0; }
.item_price_buttons p a { background: #F85911; padding: 2px 5px 4px; display: block; }

/* Theme View page */
.block.themes.twothirds { max-width: 832px; }
ul.theme_features_list, ul.theme_details_list { list-style: disc; margin: 0 0 0 15px; }

/* Apps List page */
table.app-table p { padding: 0; }
table.app-table td { padding: 10px 5px; }
table.app-table td.widget_image { width: 100px; height: 120px; }
table.app-table td.widget_image img { width: 100px; height: 50px; }
.block.apps table.app-table td.widget_description { width: 22%; }

/* Add Themes/API's page */
.block.store form.postuploadform fieldset, form.postuploadform .block.store fieldset { margin-bottom: 15px; }
.block.store form.postuploadform select, form.postuploadform .block.store select { width: 99%; }

.block.instructions h4 { margin-bottom: 18px; padding: 0; line-height: 1.5em; }
#sidebar.block.links ul.themes_lists { list-style: disc; margin: 0 0 0 15px; }

/***** Payments *****/
table.paymentdetails_table {  }

tr.payment_country th { padding-top: 20px; }

td.invoice_subtotal,
td.invoice_total_subtotal,
td.invoice_tax_subtotal,
td.invoice_cost_subtotal,
td.invoice_cost_total,
td.invoice_tax_total,
td.invoice_total_total,
td.invoice_total,
.list_cost,
.list_tax,
.list_total,
.list_debit,
.list_credit { text-align: right !important; }

.list_cost, .list_tax, .list_total { padding-right: 8px; }
.invoice_cost_subtotal, .invoice_tax_subtotal, .invoice_total_subtotal { padding-right: 4px; }

tr.payment_total td { padding-top: 20px; font-size: 12px; }

.invoice_zoo_info { float: right; }
.invoice_zoo_info p { margin: 0 0 0 50px; }

.invoice_developer_info { margin: 35px 0 0; float: left; }

/* Admin System Pages
---------------------------------------------------------- */
/***** Team page *****/
td.field_im input, td.field_im label, td.field_im select,
td.field_timeframe input, td.field_timeframe label, td.field_timeframe select { float: left; }
td.field_im input { width: 148px !important; min-width: inherit !important; margin-right: 10px; } /* Admin team_update.php IM name input */
td.field_im select { width: 75px !important; min-width: inherit !important; }
td.field_timeframe input { width: 102px !important; min-width: inherit !important; margin-right: 10px; } /* Admin team_update.php IM name input */
body#exports.admin td.field_timeframe input { width: 66px !important; }
body#team.admin td.field_im input { width: 95px !important; }
td.field_timeframe select { width: 101px !important; min-width: inherit !important; }

/***** Analytics Page *****/
body#tools.admin table.analytics_summary_table td.value { text-align: right; }
body#tools.admin table.analytics_summary_table th.field { text-align: center; }

/***** Assign Developer *****/
body#assign_developer #bulkassignfilterdiv { width: 870px; margin: 0 auto 20px; }
body#assign_developer #bulkassignfilterdiv form.teamassignform { width: 270px; background-color: #ffffb0; margin: 0 50px; padding: 20px; border: 1px solid #eb9300; float: left; text-align: center; }

body#assign_developer #bulkassignfilterdiv h4 { margin: 0 0 15px; }
body#assign_developer #bulkassignfilterdiv h6 { margin: 115px 0 0; font-size: 25px; color: #eb9300; }
body#assign_developer #bulkassignfilterdiv p { padding: 0 0 10px; }
body#assign_developer #bulkassignfilterdiv select { width: 100% !important; }
body#assign_developer #bulkassignfilterdiv button { background-color: #f5faff; margin: 0 auto !important; float: none !important; }

/***** Store *****/
body.admin form.postuploadform fieldset.fu_fs4, body.admin form.postuploadform fieldset.fu_fs2 { background-color: #e1ebf5; }
body.admin form.postuploadform fieldset.fu_fs4 label, body.admin form.postuploadform fieldset.fu_fs4 input.single { float: left !important; clear: none !important; }
body.admin form.postuploadform fieldset.fu_fs4 label { width: 100px !important; min-width: inherit; }
body.admin form.postuploadform fieldset.fu_fs4 input.single, body.admin form.postuploadform fieldset.fu_fs4 select { width: 150px !important; min-width: inherit; }

body#store_update li.review_price input { width: 80px !important; min-width: inherit; }
body#store_update li.review_price input { margin-right: 5px; }
body#store_update li.review_price select { width: 60px !important; min-width: inherit; }

body#store_update fieldset.fu_fs2 .pack p { padding: 0; }

/***** Countries *****/
.suburbs.leader .group { min-height: 152px; }

/* quick edit box */
#searchbox{ background-color: #fff; margin-top: 5px; padding: 5px; }
body#developer_acct #searchbox { background-color: transparent; margin: 0 0 20px; padding: 0; }
#searchbox p { padding: 0 0 10px; }
span#search{ margin-right: 2px; font-size: 1.4em; font-weight: bold;}
#searchbox input{border: 1px solid #d2dce6; height: 21px; padding: 2px 4px 0; font-size: 1.5em; font-weight: bold; color: #bec8d2; }
.search-hints{color: #d2dce6;}
#searchResult { background-color: #ffffb0 !important; padding: 0 0 5px; border: 0 !important; z-index: 100; }
body#countries_update #searchResult { width: 490px; }
body#developer_acct #searchResult { width: 423px; }
#searchResult h4 { background-color: #eb9300; margin: 0 0 5px; padding: 3px; font-size: 12px; color: #fff; }
#searchResult p { padding:0 0 0 5px; }
table.autocomplete_list{ background:#fff; margin: 0 0 5px 5px; }
body#countries_update table.autocomplete_list { width:480px; }
body#developer_acct table.autocomplete_list { width:413px; }

table.autocomplete_list th, table.autocomplete_list td { padding-top: 2px; padding-bottom: 2px; }
.time-stamp { margin: 0 10px 18px 0; float: right; }
.time-stamp p {margin: 0; font-family: Verdana, Arial, sans-serif; color: #78828c; }


/***** Settings *****/
/* Billings */


/* System Cost per Country */
td.td_cost_per_office input, td.td_cost_tax input { width: 50px; min-width: inherit; }
td.td_cost_total input { width: 70px; min-width: inherit; }

/* Quick Links */
td.td_ql_name { width: 200px; }
td.td_ql_name input { width: 180px; min-width: inherit; }
td.td_ql_link input { width: 400px; min-width: inherit; }

/* Revenue Sharing */
form.revenue_share_form input { width: 50px; min-width: inherit; }

body#tools.admin table.analytics_summary_table td.value,
body#payments.admin table.analytics_summary_table td.value { text-align: right; }
body#tools.admin table.analytics_summary_table th.field,
body#payments.admin table.analytics_summary_table th.field { text-align: right; }
body#payments.admin table.analytics_summary_table .first_cell { width: 150px !important; }

/* Header
---------------------------------------------------------- */
#header { height: 100px; }
.header{ height: 85px }
h1#logo, #accountmetadata, .quick_links { float: left; }

h1#logo { margin: 20px 0 0 0; }
body.developers h1#logo, body.admin h1#logo { padding: 18px 40px 0 0; }
body.knightfrank h1#logo { padding: 5px 40px 0 0; }
body.jll h1#logo { padding: 5px 40px 0 0; }
body.cre h1#logo { padding: 13px 40px 0 0; margin:0}
body.inno h1#logo { padding: 0 40px 0 0; }

#accountmetadata { width: auto; max-width: 30%; min-width: 15% !important; padding: 22px 0 5px; color: #e1ebf5; }
* html #accountmetadata { min-width: 30%; width: 40% !important; width: 40%; }
#accountmetadata p { padding: 0; }
span.customer_id { padding: 0 10px 0 0; float: left; }
span.account_name { display: block; float: left; }
span.logged_in { display: block; clear: both; }

ul#quick_links { margin: 0 0 0 0; padding: 22px 0 0; float: right; }
ul#quick_links li { float: left; }
ul#quick_links li.link1, ul#quick_links li.link2 { margin: 0 8px 0 0; padding: 0 7px 0 0; border-right: 1px solid #e1ebf5; }
body.developers ul#quick_links li.link2 { margin: 0; padding: 0; border: 0; }
ul#quick_links li.link2 {  }
ul#quick_links li.link3 {  }
ul#quick_links li.link3 a, body.developers ul#quick_links li.link2 a { color: #F85911; }

/* Navigation
---------------------------------------------------------- */
#navdiv { padding: 0; position: relative; }
p.navlinks {width: 210px !important;padding: 0;float: right;position: absolute;top: 5px;right: 10px;text-align: right;z-index: 99;color: #28323c;margin-right: 4%;}
span.navlink { margin: 0 5px 0 0; padding: 0 7px 0 0; border-right: 1px solid #3c4650; }
body.agents span.navlink.navlink3, body.agents span.navlink.navlink4 { margin: 0; padding: 0; border: 0; }
body.developers span.navlink.navlink2, body.developers span.navlink.navlink3 { margin: 0; padding: 0; border: 0; }
body.agents #navlinks span.navlink4 { width: 100%; clear: both; text-align: right !important; }
body.developers #navlinks span.navlink3 { width: 100%; clear: both; text-align: right !important; }

ul#nav { width: 100%;  min-height: 83px; height: auto !important; height: 83px; margin: 0; padding: 0; clear: both; font-size: 14px; text-transform: uppercase; }
ul#nav li { height: 40px; margin: 0 1px 0 0; padding: 0; float: left; font-weight: bold; text-align: center; color: #fff; }

ul#nav li a { width: 144px; height: 28px; padding: 17px 0 0; border: 0; display: block; text-decoration: none; color: #fff !important; position: relative; }
body.agents ul#nav li a { background: url(/images/backgrounds/bg_nav_agents.gif) no-repeat 0 5px; }
body.knightfrank ul#nav li a { background: url(/images/backgrounds/bg_nav_knightfrank.gif) no-repeat 0 5px; }
body.jll ul#nav li a { background: url(/images/backgrounds/bg_nav_jll.gif) no-repeat 0 5px; }
body.cre ul#nav li a { background: url(/images/backgrounds/bg_nav_cre.gif) no-repeat 0 5px; }
body.inno ul#nav li a { background: url(/images/backgrounds/bg_nav_inno.gif) no-repeat 0 5px; }
body.developers ul#nav li a { background: url(/images/backgrounds/bg_nav_developers.gif) no-repeat 0 5px; }
body.admin ul#nav li a { background: url(/images/backgrounds/bg_nav_admin.gif) no-repeat 0 5px; }

.inno ul#nav li a{padding-top:15px}

ul#nav li.current a { background-position: 0 -40px !important; color: #28323c !important; }
ul#nav li a:hover { background-position: 0 -85px !important; color: #28323c !important; }

body.agents ul#nav li.current a, body.agents ul#nav li a:hover { color: #28323c !important; }
body.developers ul#nav li.current a, body.developers ul#nav li a:hover { color: #28323c !important; }
body.admin ul#nav li.current a, body.admin ul#nav li a:hover { color: #28323c !important; }

/* drop down menus */
ul#nav li ul { width: 100%; min-height: 38px; margin: 0; padding: 0; float: left; position:absolute; left: -9999px; }
ul#nav li.current ul { left: 0; }
ul#nav li ul li { height: auto; background: none; margin: 0; text-align: left; }
ul#nav li ul li.subnav_title { margin: 7px 5px 3px 10px; padding: 3px 5px; font-weight: bold; }
ul#nav li ul li.subnav1 {  }
ul#nav li ul li.subnav2 {  }
ul#nav li ul li.subnav3 {  }
* html ul#nav li ul li.subnav1 form { width: 24%; }
* html ul#nav li ul li.subnav2 form { width: 24%; }
* html ul#nav li ul li.subnav3 form { width: 35%; }
ul#nav li ul li:hover, ul#nav li ul li.sfhover { background-image: none !important; background-color: transparent; }
ul#nav li ul li a, ul#nav li ul li fieldset { width: auto; height: auto; background-image: none !important; margin: 9px 5px 0 10px; padding: 3px 5px; }

body.agents ul#nav li ul li.subnav_title, body.agents ul#nav li ul li fieldset label { color: #509DC5 !important; }
body.developers ul#nav li ul li.subnav_title, body.developers ul#nav li ul li fieldset label { color: #f85911 !important; }
body.admin ul#nav li ul li.subnav_title, body.admin ul#nav li ul li fieldset label { color: #ef4123 !important; }

ul#nav li.current li a { }
ul#nav li ul li.current a, ul#nav li.current ul li a:hover, ul#nav li ul li a:hover, ul#nav li ul li a:active { background-image: none !important; background: #e1ebf5; }

.extrasubnav { position: absolute; top: 54px; left: 0; }
.extrasubnav ul { padding: 0; }
.extrasubnav ul li { height: auto; background: none; margin: 0; float: left; font-weight: bold; text-align: left; text-transform: uppercase; }
.extrasubnav ul li a { width: auto; height: auto; background-image: none !important; margin: 0 5px 0 10px; padding: 3px 5px; border: 0; display: block; text-decoration: none; }
.extrasubnav ul li.current a, .extrasubnav ul li.current ul li a:hover, .extrasubnav ul li a:hover, .extrasubnav ul li ul li a:active { background-image: none !important; background: #e1ebf5; }
body.agents .extrasubnav ul li a { color: #28323c !important; }
body.developers .extrasubnav ul li a { color: #28323c !important; }
body.admin .extrasubnav ul li a { color: #28323c !important; }

span.notify { background: #ef4123; padding: 2px 3px 3px; float: right; font-size: 9px; line-height: 1em; font-weight: bold; color: #fff; position: absolute; top: 3px; right: 0; }

/* Footer
---------------------------------------------------------- */
#footer { width: 100%; margin: 25px auto 0; padding: 10px 0 0; border-top: 1px solid #bec8d2; clear: both; color: #78828c; position: relative; }

/* Sidebar
---------------------------------------------------------- */
#sidebar { float: right; }
.sideblock {
    background-color: #e1ebf5;
    margin: 0 0 10px;
    padding: 10px;
    border:2px solid #d2dce6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

    position: relative;

}


/* drop down menus */
ul.messagecatslist li { height: auto; }
ul.messagecatslist li ul { margin: 0 0 0 15px; padding: 0; display: block; clear: both; display: none; }
ul.messagecatslist li:hover ul, ul.messagecatslist li.current ul { display: block; }
ul.messagecatslist li ul li { height: auto; background: none; margin: 0 0 1px !important; text-align: left; }

/* Content
---------------------------------------------------------- */
#content { float: left; }

/***** Posts *****/
/* Comments - Comment List */
#comments							{ float: left; }
#comments-list 						{ width: 700px; margin: 0 0 17px; padding: 0 0 1px; border-bottom: 1px solid #d2dce6; }
h5#comments, h5#respond				{ padding: 0; }

.comments 							{ clear: both; }
.comment  							{ margin: 0; padding: 8px 0 0 0; border-top: 1px solid #d2dce6; border-bottom: 1px solid #d2dce6; clear: both; color: #78828c; }
.comment p							{ padding: 0 0 14px; }
.comment img 						{ border: 0; padding: 0; }
.comment.alt 						{ border: 0; color: #3c4650; }
.comment-me 						{ border-top: 1px solid #d2dce6; }
.commentcontent 					{ width: 460px; margin: 0 20px 0 0; padding: 0; clear: both; float: left; }
.authorinfo 						{ width: 220px; margin: 0; padding: 0; float: left; }
.authorinfo img 					{ float: left; }
.authorinfo p 						{ width: 220px; float: right; }
.comment_author						{ font-weight: bold; }

/* Comments - Leave a Reply */
#commentform-container 				{ width: 700px; margin: 0 0 17px; float: left; clear: both; }
#commentform-container label {  }
#commentform-container form input	{ width: 212px; }
#commentform-container form input.btn { width: 220px; font-size: 1em; }
#commentform-container form textarea { width: 452px; height: 140px; margin: 0; }
.form_basics, .your_comment_details { width: 700px; margin: 0; padding: 0; }
.form_basics 						{ margin-top: 9px; } .your_comment_details { margin-top: 30px; }
.form_basic_info, .your_comment 	{ width: 460px; margin: 0 20px 12px 0; padding: 0; clear: both; float: left; }
.authorinfo, .about_comments, .comment_details { width: 220px; margin: 0; padding: 0; float: left; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

div.pagination {
    font-size: 11px;
    padding: 0 0 5px 0;
}

/* Quick Edit with Flexbox plugin, a little style */
div.quick_edit_txtbox, div#quick_edit_txtbox {
    display: inline;
}

/* Calendar date display style */
#rental_date_calendar { width: 100%; float: left; }
#rental_date_calendar input {display: none;}
#rental_date_calendar select {position: static; margin: 0; display: inline;}
#rental_date_calendar { margin: 20px auto;}

#rental_date_calendar a#refresh_link { font-size: 12px; font-weight: bold; }

.calendar_date_select {
    width:195px;
    background: #efefe7;
    border: 5px solid #efefe7;
    display:block;
    z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
    position: absolute;
    z-index: 999;
}

.canvas_1, .canvas_2, .canvas_3 {
    width: 165px;
    background: #efefe7;
    margin: 0;
    padding: 10px;
    float: left;
}


.cds_footer {
    background: #ccc;
    padding:5px 0;
    font-size:12px;
    font-weight: bold;
    text-align:center;
    color:#f06824;
}

.cds_buttons {
    background: #ddd;
    font-size:12px;
    font-weight: bold;
    text-align:center;
}
.calendar_date_select .cds_buttons { padding: 2px 0 4px; border: 1px solid #ccc; border-top: 0; }

.cds_buttons span { padding: 0 3px; }
.cds_buttons a { text-decoration: underline; }

.cds_header {
    background: #ddd;
    padding: 5px 0 0;
    text-align:center;
}
.calendar_date_select .cds_header { padding:5px 0; border: 1px solid #ccc; }
.calendar_date_select .cds_body { border: 1px solid #ccc; border-top: 0; border-bottom: 0; }
.calendar_date_select .cds_body { border-top: 1px solid #e6e6e6; }
.calendar_date_select .cds_footer { border: 1px solid #bbb; border-top: 1px solid #d0d0d0; }

.cds_header span {
    font-size:12px;
    color: #444;
    font-weight: bold;
}
.cds_header a.prev, .cds_header a.next { font-size: 15px; }
.cds_header a.prev { margin-left: 5px; float:left; }
.cds_header a.next { margin-right: 5px; float:right; }
.cds_header a.close { float:right; display:none; }

.calendar_date_select .cds_header select { font-size: 11px; }
.calendar_date_select .cds_header select.month { width:90px; margin-right: 5px; }
.calendar_date_select .cds_header select.year { width:61px; }


.cds_body table { border: 2px solid #ddd; }
.cds_body table th, .cds_body table td { padding: 2px 2px 1px; text-align: center; }
.cds_body table td { color: #333; border-bottom: 1px solid #eee; }
.cds_body table thead { background: #ddd; }
.cds_body table tbody { background: #fff; padding: 0 0 10px; }

.cds_body .other { color: #999; }

.cds_body .booked { font-weight: bold; }
.cds_body .normal { background: #ffc; }
.cds_body .peak { background: #ede; }
.cds_body .mid { background: #cff; }
.cds_body .high { background: #e0f98d; }

.cds_body .today { background: #eee; color: #03070b; font-weight: bold; }

#refresh_feature input[type=checkbox] {
    float:left;
    margin-right:5px
}

/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker-div, .ui-datepicker-inline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: #ddd;
    width: 185px;
}
#ui-datepicker-div {
    display: none;
    border: 1px solid #777;
    z-index: 105; /*must have*/
}
.ui-datepicker-inline {
    float: left;
    display: block;
    border: 0;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-dialog {
    padding: 5px !important;
    border: 4px ridge #ddd !important;
}
.ui-datepicker-disabled {
    position: absolute;
    z-index: 100;
    background-color: white;
    opacity: 0.5;
}
button.ui-datepicker-trigger {
    width: 25px;
}
img.ui-datepicker-trigger {
    margin: 2px;
    vertical-align: middle;
}
.ui-datepicker-prompt {
    float: left;
    padding: 2px;
    background: #ddd;
    color: #000;
}
* html .ui-datepicker-prompt {
    width: 185px;
}
.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
    clear: both;
    float: left;
    width: 100%;
    color: #fff;
}
.ui-datepicker-control {
    background: #400;
    padding: 2px 0px;
}
.ui-datepicker-links {
    background: #000;
    padding: 2px 0px;
}
.ui-datepicker-control, .ui-datepicker-links {
    font-weight: bold;
    font-size: 80%;
}
.ui-datepicker-links label { /* disabled links */
                             padding: 2px 5px;
                             color: #888;
}
.ui-datepicker-clear, .ui-datepicker-prev {
    float: left;
    width: 34%;
}
.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev {
    float: right;
    text-align: right;
}
.ui-datepicker-current {
    float: left;
    width: 30%;
    text-align: center;
}
.ui-datepicker-close, .ui-datepicker-next {
    float: right;
    width: 34%;
    text-align: right;
}
.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next {
    float: left;
    text-align: left;
}
.ui-datepicker-header {
    padding: 1px 0 3px;
    background: #333;
    text-align: center;
    font-weight: bold;
    height: 1.3em;
}
.ui-datepicker-header select {
    background: #333;
    color: #fff;
    border: 0px;
    font-weight: bold;
}
.ui-datepicker {
    background: #ccc;
    text-align: center;
    font-size: 100%;
}
.ui-datepicker a {
    display: block;
    width: 100%;
}
.ui-datepicker-title-row {
    background: #777;
}
.ui-datepicker-days-row {
    background: #eee;
    color: #666;
}
.ui-datepicker-week-col {
    background: #777;
    color: #fff;
}
.ui-datepicker-days-cell {
    color: #000;
    border: 1px solid #ddd;
}
.ui-datepicker-days-cell a{
    display: block;
}
.ui-datepicker-week-end-cell {
    background: #ddd;
}
.ui-datepicker-title-row .ui-datepicker-week-end-cell {
    background: #777;
}
.ui-datepicker-days-cell-over {
    background: #fff;
    border: 1px solid #777;
}
.ui-datepicker-unselectable {
    color: #888;
}
.ui-datepicker-today {
    background: #fcc !important;
}
.ui-datepicker-current-day {
    background: #999 !important;
}
.ui-datepicker-status {
    background: #ddd;
    width: 100%;
    font-size: 80%;
    text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#ui-datepicker-div a, .ui-datepicker-inline a {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    color: #000;
}
.ui-datepicker-inline .ui-datepicker-links a {
    padding: 0 5px !important;
}
.ui-datepicker-control a, .ui-datepicker-links a {
    padding: 2px 5px !important;
    color: #eee !important;
}
.ui-datepicker-title-row a {
    color: #eee !important;
}
.ui-datepicker-control a:hover {
    background: #fdd !important;
    color: #333 !important;
}
.ui-datepicker-links a:hover, .ui-datepicker-title-row a:hover {
    background: #ddd !important;
    color: #333 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.ui-datepicker-multi .ui-datepicker {
    border: 1px solid #777;
}
.ui-datepicker-one-month {
    float: left;
    width: 185px;
}
.ui-datepicker-new-row {
    clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


/* Input textbox - do not specify a width here, it will be overwritten */
.ffb-input {
    float:left;
    color:#000; /* must specify along with watermark color */
}
/* Color of watermark, if present */
.ffb-input.watermark { /* added and removed dynamically */
                       color:#888; /* must specify along with input color */
}
/* Drop-down arrow, with sprited image */
.ffb-arrow {
    float:left;
    width:18px;
    height:22px;
    background-image:url(/images/sel.gif);
}
.ffb-arrow.out { /* css sprite technique */
                 background-position:0;
}
.ffb-arrow.over { /* css sprite technique */
                  background-position:-18px 0;
}
.ffb-arrow.active { /* css sprite technique */
                    background-position:-36px 0;
}
.ffb-no-results
{
    padding: 2px;
    color:#888;
    font-style:italic;
}
/* Container for dropdown contents */
.ffb {
    position:absolute; /* this guy's parent div is hard-coded to position:relative */
    overflow:hidden;
    border-left:1px solid #7B9EBD;
    border-right:1px solid #7B9EBD;
    border-bottom:1px solid #7B9EBD;
    background-color:#fff; /* Give it a background-color, so it's not transparent */
}
.ffbContainer {
    position:absolute; /* this guy's parent div is hard-coded to position:relative */
    overflow:hidden;
    border-left:1px solid #7B9EBD;
    border-right:1px solid #7B9EBD;
    border-bottom:1px solid #7B9EBD;
    background-color:#fff; /* Give it a background-color, so it's not transparent */
    left:35% !important;
}

/* Inner div for dropdown */
.ffb .content {
    overflow:auto;
}
.ffb .content .row {
    border-bottom:1px solid #7B9EBD;
    color:#555;
    height:20px;
    clear:both;
}
.ffb-sel {
    cursor:pointer;
    cursor:hand;
    background-color:#ddd;
}
.ffb-match {
    background-color:#ff9; /* light yellow */
    text-decoration:underline;
    color:#000;
}

/* Paging */
.ffb .paging {
    margin:2px;
    vertical-align:middle;
}
.ffb .page, .ffb a.page {
    font-size:85%;
    padding:2px;
    border:solid 1px #339;
    background-color:#eef;
    margin:2px;
    float:left;
}
.ffb .box {
    width:18px;
    margin:2px;
    float:left;
}
.ffb .summary {
    font-size:85%;
    float:right;
}

/* Inner div for dropdown */
.ffbContainer .content {
    overflow:auto;
}
.ffbContainer .content .row {
    border-bottom:1px solid #7B9EBD;
    color:#555;
    height:20px;
    clear:both;
}

/* Paging */
.ffbContainer .paging {
    margin:2px;
    vertical-align:middle;
}
.ffbContainer .page, .ffbContainer a.page {
    font-size:85%;
    padding:2px;
    border:solid 1px #339;
    background-color:#eef;
    margin:2px;
    float:left;
}
.ffbContainer .box {
    width:18px;
    margin:2px;
    float:left;
}
.ffbContainer .summary {
    font-size:85%;
    float:right;
}

/* Unique IDs */
#ffb8 .row .col1 {
    float:left;
    width:132px;
}
#ffb8 .row .col2 {
    float:left;
    width:232px;
}


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
}

#TB_secondLine {
    font: 10px Arial, Helvetica, sans-serif;
    color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.TB_overlayMacFFBGHack {background: url(/images/macFFBgHack.png) repeat;}
.TB_overlayBG {
    background-color:#000;
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
                     position: absolute;
                     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
    position: fixed;
    background: #ffffff;
    z-index: 102;
    color:#000000;
    display:none;
    border: 4px solid #525252;
    text-align:left;
    top:50%;
    left:50%;
}

* html #TB_window { /* ie6 hack */
                    position: absolute;
                    margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
    display:block;
    margin: 15px 0 0 15px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}

#TB_caption{
    height:25px;
    padding:7px 30px 10px 25px;
    float:left;
}

#TB_closeWindow{
    height:25px;
    padding:11px 25px 10px 0;
    float:right;
}

#TB_closeAjaxWindow{
    padding:7px 10px 5px 0;
    margin-bottom:1px;
    text-align:right;
    float:right;
}

#TB_ajaxWindowTitle{
    float:left;
    padding:7px 0 5px 10px;
    margin-bottom:1px;
}

#TB_title{
    background-color:#e8e8e8;
    height:27px;
}

#TB_ajaxContent{
    clear:both;
    padding:2px 15px 15px 15px;
    overflow:auto;
    text-align:left;
    line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
    padding:15px;
}

#TB_ajaxContent p{
    padding:5px 0px 5px 0px;
}

#TB_load{
    position: fixed;
    display:none;
    height:13px;
    width:208px;
    z-index:103;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
                  position: absolute;
                  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
    z-index:99;
    position:fixed;
    top: 0;
    left: 0;
    background-color:#fff;
    border:none;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    height:100%;
    width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
                        position: absolute;
                        height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
    clear:both;
    border:none;
    margin-bottom:-1px;
    margin-top:1px;
    _margin-bottom:1px;
}

.thickbox_close_btn { position: absolute; top: 10px; right: 10px;}


#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }
.current_yellow{background-color:yellow;}
.wraper_export{width:1000px;border:none;margin:0;}
.export_list{width:240px;float:left;font-size:11px;}
.auto_complete{z-index:1;}
.orange_bg{background-color:#EB9300;}
.box {
    background:transparent url(../images/gravatar-horizontal-sprite.png) repeat-y scroll 0 0;
    min-height:260px;
    padding:10px 37px;
    color:#222222;
    cursor:default;
    font-family:Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.4em;
    width:900px;
    margin:0 auto;
}
.button_large, .button_small, .button {
    -moz-border-radius-bottomleft:16px;
    -moz-border-radius-bottomright:16px;
    -moz-border-radius-topleft:16px;
    -moz-border-radius-topright:16px;
    background:#FAFAFA url(../images/gravatar-vertical-sprite.png) repeat-x scroll 0 0;
    border:1px solid #BBBBBB;
    color:#444444;
    cursor:pointer;
    font-size:15px;
    line-height:18px;
    padding:4px 12px;
    text-decoration:none;
    text-shadow:0 1px 0 #FFFFFF;
}
.button_large:hover, .button_small:hover, .button:hover {
    background-color:#EEEEEE;
    background-position:0 -50px;
    border-color:#666666;
    color:#000000;
}
.box_crop1{
    float: left; text-align: center; width: 600px;margin-right:50px;
}
.box_crop2{
    float: left; width: 192px; text-align: center;
}

.overlay_map{
    z-index:1;
    position:absolute;
    left:0px;
    top:0px;
    background-color: black;
    height: 500px;
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.5;
}

.overlay_title{
    z-index:2;
    position:absolute;
    top:230px;
    font-weight:bold;
    color:#ffffff;
    font-size:14pt;
}

.autopopup {
    overflow:hidden;
    border-left:1px solid #7B9EBD;
    border-right:1px solid #7B9EBD;
    border-bottom:1px solid #7B9EBD;
    background-color:#fff; /* Give it a background-color, so it's not transparent */
    left:35% !important;
}

.color_block{
    border:1px solid black;width:15px;height:15px;
}

.avail_desc{
    float:left;margin-right:5px;
}

.red_star{
    color: red;
}

.sub2nav{ }
.optnav{
    background-color: #E1EBF5;
    border: 1px solid #BEC8D2;
    float: left;
    margin-right:10px;
    padding: 5px;
    text-transform: uppercase;
    /*cursor:pointer;*/
}

.optnav a{
    padding:0px;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav a:hover{
    background-color: #C8D2DC;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav:hover{
    background-color:#C8D2DC;
}
.current-nav{
    background-color:#C8D2DC;
}

/*group listing tab */
.optnav-group-listing-details{
    background-color: #dc9f97;
    border: 1px solid #dc9f97;
    float: left;
    margin-right:10px;
    padding: 5px;
    text-transform: uppercase;
    /*cursor:pointer;*/
}

.optnav-group-listing-details a{
    padding:0px;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav-group-listing-details a:hover{
    background-color: #DF0D45;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav-group-listing-details:hover{
    background-color:#DF0D45;
}
.current-nav-group-listing-details{
    background-color:#DF0D45;
}

.optnav-group-marketing{
    background-color: #FAAC58;
    border: 1px solid #FAAC58;
    float: left;
    margin-right:10px;
    padding: 5px;
    text-transform: uppercase;
    /*cursor:pointer;*/
}

.optnav-group-marketing a{
    padding:0px;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav-group-marketing a:hover{
    background-color: #D37919;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav-group-marketing:hover{
    background-color:#D37919;
}
.current-nav-group-marketing{
    background-color:#D37919;
}

.optnav-group-other{
    background-color: #FFFF78;
    border: 1px solid #FFFF78;
    float: left;
    margin-right:10px;
    padding: 5px;
    text-transform: uppercase;
    /*cursor:pointer;*/
}

.optnav-group-other a{
    padding:0px;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav-group-other a:hover{
    background-color: #EFEF70;
    font-size: 8pt;
    text-decoration:none;
    color:#28323C !important;
}

.optnav-group-other:hover{
    background-color:#EFEF70;
}
.current-nav-group-other{
    background-color:#EFEF70;
}
/*end group listing tab */

.sub-opt-nav{margin-bottom:10px;}
.listing_tab_nav{margin-bottom:20px;}
.no-border{border: none !important}
.no-padding{padding: 0 !important}
.borderL1{border-left: 1px solid #E1EBF5}
.padL7{padding-left: 7px}
.warn-text{
    font-size: 12px;
    color: red;
    padding-bottom: 10px;
}
.marginL10{margin-left: 10px}
.kf-header{
    background-color: white;
    border-bottom: 5px solid #EE1848;
    padding: 20px;
}
.testi-image{
    padding: 5px 0
}
.send_exp{
    float: right;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
.marginR25{margin-right:25px}
.marginR5{margin-right:5px}
.marginLR25{margin:0 25px}
.top-add-domain{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}
.paddingT10p{padding-top:10px}
.classify ul li.list_detail{
    width:auto;
    /*    background-color: #FA5882;
        border: 2px solid red;*/
    border-radius: 10px 10px 10px 10px;
    padding: 13px;
    margin-right: 10px;
}
.classify ul li.marketing{
    width:auto;
    /*    background-color: #FAAC58;
        border: 2px solid #FF8000;*/
    border-radius: 10px 10px 10px 10px;
    padding: 13px;
    margin-right: 10px;
}
.classify ul li.other{
    width:auto;
    /*    background-color: #F3F781;
        border: 2px solid #D7DF01;*/
    border-radius: 10px 10px 10px 10px;
    padding: 13px;
    margin-right: 10px;
}
.search{
    background-color: #2ED6C2;
    border: 2px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    width: 130px;
    height: 20px;
    margin-top: -32px;
    margin-left: 355px;
}
.classify ul li.keyword{
    background-color: #FFFFFF;
    padding: 5px;
    width: 337px;
    height: 20px;
}
a.advanced_search{
    color: #0E7FC7;
    font-size: 10px;
}
.advanced_search_form_commercial{
    background-color: #FFFFFF;
    width: auto;
}
.list-option{
    float:left;
}
.list-option ul.option{

}
.type-options{
    float: left;
}
.type-options ul.option{
}
.fieldset .search{
    width: 10%;
}
li.li--16 label.labelized{
    font-size: 13px;
    width: 12.3%
}
.search_submit{
    float: right;
}
a.advanced_search:hover{
    background: none;
    color: #000000 !important;
}
tr.search-history{
    background:#0E7FC7
}
td.search-history{
    font-weight: bold;
    text-decoration: underline;
    color:#FFFFFF;
}
tr.email-configuration{
    background: transparent;
}
td.email-configuration{
    font-weight: bold;
    font-size: 16px;
    color:#FFFFFF;
    width: 100px;
}
td.email-configuration h3{
    color: #28323c;
    font-size: 12px;
    margin-bottom: 7px;
    font-weight: bold;
    color: #28323c;
}

td.email-label{
    width: 200px
}

/*    Listing Tab      */
.field_content{
    border:1px solid #000;
    background-color:#f9f9f9;
    padding: 10px 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.field_content legend{
    margin:0;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    min-width:140px;
    width:auto;
    height:23px;
    display: block;
}

.list_detail .field_content{ border:1px solid #E1EBFE;}

/*.list_detail .field_content legend{ border:1px solid #E1EBFE;}*/

.marketing .field_content{ border:1px solid #E1EBFE;}

/*.marketing .field_content legend{ border:1px solid #E1EBFE;}*/

.other .field_content{ border:1px solid #E1EBFE;}

/*.other .field_content legend{ border:1px solid #E1EBFE;}*/

.field_content legend h3{
    padding:0;
    margin:0;
    display: block;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    color:#28323c;
    text-align:left;
    line-height:0px;
}

.optnav-group-listing-details, .optnav-group-marketing, .optnav-group-other,
.optnav-group-listing-details:hover, .optnav-group-marketing:hover, .optnav-group-other:hover{
    border: 0px none;
    background-color: transparent;
    margin-right:2px;
}

.optnav-group-listing-details a, .optnav-group-marketing a, .optnav-group-other  a{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 10px;
    font-size:11px;
}

.optnav-group-listing-details a{ background-color:#E1EBFE; }

.optnav-group-marketing a{ background-color:#E1EBFE;}

.optnav-group-other a{ background-color: #E1EBFE; }

.optnav-group-listing-details a, .optnav-group-marketing a, .optnav-group-other a{
    color: #28323c;
    text-shadow: 1px 0px 1px #ffffff;
}

.list_detail > fieldset > div  > a:hover, .marketing > fieldset > div > a:hover, .other > fieldset > div > a:hover{
    color: #fff !important;
    text-shadow: 1px 1px 0px #3e3e3e;
    background-color: transparent;
    font-size:11px;
}

a.current-active-listing-detail-link{
    color: #fff !important;text-shadow: 1px 1px 0px #3e3e3e;background-color: #C8D2DC;font-size:11px;
}

a.current-active-marketing-link{
    color: #fff !important;text-shadow: 1px 1px 0px #3e3e3e;background-color: #C8D2DC;font-size:11px;
}

a.current-active-other-link{
    color: #fff !important;text-shadow: 1px 1px 0px #3e3e3e;background-color: #C8D2DC;font-size:11px;
}

.field_content .current-listing{ margin-left:3px; }

.optnav-group-listing-details a:hover{ color: #fff !important;text-shadow: 1px 1px 0px #3e3e3e;background-color: #C8D2DC !important;font-size:11px; }
.optnav-group-marketing a:hover{ color: #fff !important;text-shadow: 1px 1px 0px #3e3e3e;background-color: #C8D2DC !important;font-size:11px; }
.optnav-group-other a:hover{ color: #fff !important;text-shadow: 1px 1px 0px #3e3e3e;background-color: #C8D2DC !important;font-size:11px; }

.classify ul li.list_detail{ margin-right: 3px; }

/*.classify ul.content_group{
    border:1px solid #e5e5e5;
    width: 96.2%;
    padding:0 1%;
    background-color:#fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}*/

.classify ul.content_group li{
    margin: 0 15px 0 0px !important;
    padding:13px 0px;

}

.classify ul.content_group li.last{ margin-right: 0px !important; }
/* End Listing Tab */

.top_padding{margin-top:-15px }

a.search-history{
    color:#0E7FC7;
    font-size: 10px;
}
.grey-table,
.grey-table-bottom{
    background-color: transparent;
    padding: 0 0 10px;
    font-weight: bold;
    width: 35%;
}
.basic_search{
    margin:10px 0;
    position: relative;
    padding:0;
}

.basic_search a{
    font-size: 12px;
}

.listing_layout{
    margin:0;
    position: relative;
    padding: 0;
}

.listing_layout li{
    float:left;
    padding:10px 0px 4px 10px;
    margin:0 0 10px;
}

.listing_layout li.separator{
    background: url("/images/separator.png") no-repeat scroll right -10px transparent;
    padding:0 25px 10px 10px !important;
}

.buttons
{
    display: inline-block;
    padding: 4px 10px 4px 7px;
    line-height: 15px;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    text-align:center;
    font-size: 11px;
    color:#28323c;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    height: auto;
    min-height: 15px;
    background-color: #cde9f8;
    border: 1px solid #0e7fc7;
    behavior: url("/images/PIE-1.0.0/PIE.htc");
}


.btns_green{
    border:1px solid #0e7fc7;
}

.btns_green:hover{
    border:1px solid #0e7fc7;
    color:#509dc5 !important;
}

.btns_green:active{
    border:1px solid #0e7fc7;
    color:#509dc5 !important;
}

.btns_grey{
    border:1px solid #0e7fc7;
    margin-top: 0;
}

.btns_grey:hover{
    color:#509dc5 !important;
    border:1px solid #0e7fc7;
}

.btns_grey:active{
    color: #509dc5 !important;
    border:1px solid #0e7fc7;
}

.btns_yellow{
    border:1px solid #0e7fc7;
}

.btns_yellow:hover{
    color:#509dc5 !important;
    border:1px solid #0e7fc7;
}

.btns_yellow:active{
    color:#509dc5 !important;
    border:1px solid #0e7fc7;
}

.form_area{
    width:97.5%;
    border:1px solid #d7dbde;
    padding: 1% 1.2%;
    background-color:#e1ebf5;
    margin:10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    display: none;
}

.position_left{ float: left; }

.position_right{ float: right; }

.form_listing{
    position: relative;
    width:47%;
}

.form_area li{
    margin: 0 0 5px;
    position: relative;
    width:100%;
}



.form_area li label{
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    color:#28323c;
    width: 30%;
}


.form_area li.last{ margin: 0;}

.form_area li.two_field label.second{ width:7%; }

.form_area li.two_field input{ width:128px; }
.form_area li.two_field select{ width:134px; }


.form_area li .list_radio_button{
    margin:0;
    position: relative;
    padding: 0 0 0 2px;
    top: -2px;
}

.form_area li .list_radio_button label{
    display: block;
    margin:0 0 6px;
}

.form_area .list_radio_button label span{
    position: relative;
    top:-2px;
}

.form_area .list_radio_button label{ width: auto; }


.form_area select,
.form_area textarea,
.form_area input[type="text"],
.form_area input[type="password"],
.form_area input[type="datetime"],
.form_area input[type="datetime-local"],
.form_area input[type="date"],
.form_area input[type="month"],
.form_area input[type="time"],
.form_area input[type="week"],
.form_area input[type="number"],
.form_area input[type="email"],
.form_area input[type="url"],
.form_area input[type="search"],
.form_area input[type="tel"],
.form_area input[type="color"],
.form_area .uneditable-input {
    display: inline-block;
    padding:2px 2px 3px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 14px;
    color: #555555;
    vertical-align: middle;
    border-radius: 0;
}

.form_area input,
.form_area textarea,
.form_area .uneditable-input {
    width: 314px;
}

.form_area textarea {
    height: auto;
}

.form_area textarea,
.form_area input[type="text"],
.form_area input[type="password"],
.form_area input[type="datetime"],
.form_area input[type="datetime-local"],
.form_area input[type="date"],
.form_area input[type="month"],
.form_area input[type="time"],
.form_area input[type="week"],
.form_area input[type="number"],
.form_area input[type="email"],
.form_area input[type="url"],
.form_area input[type="search"],
.form_area input[type="tel"],
.form_area input[type="color"],
.form_area select,
.form_area .uneditable-input {
    background-color: #ffffff;
    color:#28323c;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 60%;
    margin:0px 0px 8px;
    border: 1px solid #ccc;
    border-top-color: #999;
    border-left-color: #999;
}

.form_area textarea:focus,
.form_area input[type="text"]:focus,
.form_area input[type="password"]:focus,
.form_area input[type="datetime"]:focus,
.form_area input[type="datetime-local"]:focus,
.form_area input[type="date"]:focus,
.form_area input[type="month"]:focus,
.form_area input[type="time"]:focus,
.form_area input[type="week"]:focus,
.form_area input[type="number"]:focus,
.form_area input[type="email"]:focus,
.form_area input[type="url"]:focus,
.form_area input[type="search"]:focus,
.form_area input[type="tel"]:focus,
.form_area input[type="color"]:focus,
.form_area .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
}



.form_area input[type="radio"],
.form_area input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    margin-top: 0;
    line-height: normal;
}

.form_area input[type="file"],
.form_area input[type="image"],
.form_area input[type="submit"],
.form_area input[type="reset"],
.form_area input[type="button"],
.form_area input[type="radio"],
.form_area input[type="checkbox"] {
    width: auto;
}

.form_area select,
.form_area input[type="file"] {
    height: 21px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    line-height: 20px;
    border: 1px solid #ccc;
    border-top-color: #999;
    border-left-color: #999;
}

.form_area select {
    width: 328px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top-color: #999;
    border-left-color: #999;
}

.form_area select[multiple],
.form_area select[size] {
    height: auto;
}

.form_area select:focus,
.form_area input[type="file"]:focus,
.form_area input[type="radio"]:focus,
.form_area input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.section_captions{
    margin:10px 0;
    position: relative;
}

.caption_info{
    font-size: 13px;
    font-weight: bold;
}

.selectbox{
    padding:4px;
    border:1px solid #9fc4f5;
    width: 20%;
    color:#707070;
    font-size: 12px;
    margin:10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.form_search_results{
    margin:0;
    position: relative;
    padding:0;
}

.form_search_results dd{
    float: left;
    position: relative;
    padding: 30px 17px 10px 0;
    height:48px;
}

.form_search_results dd.separator_form{
    background: url("../images/separator2.png") no-repeat scroll right -2px transparent;
}

.form_search_results dd.sinput{ width:400px; }

.form_search_results .listing_layout li{ padding: 0px 0px 4px 10px; }

.form_search_results dd .search_input{ float: left; }

.form_search_results dd .btn_img_search{ float: right; behavior: url("/images/PIE-1.0.0/PIE.htc");}

.search_input{
    padding:5px 2px 6px;
    font-size: 11px;
    color:#a9a9a9;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 83%;
    margin:0px 0px 8px;
    border: 1px solid #ccc;
    border-top-color: #999;
    border-left-color: #999;
}

.search_input:focus{
    border-color: rgba(82, 168, 236, 0.8);
}

.btn_img_search, .btn_img_search:hover{
    width:36px;
    height:27px;
    border: 1px solid #0e7fc7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: right;
    background: repeat-x 0px 0px #cde9f8;
    behavior: url("/images/PIE-1.0.0/PIE.htc");
}

.btn_img_search:hover{
    background: repeat-x 0px 0px #f5faff !important;
    border:1px solid #0e7fc7;
}

.btn_img_search:active{
    background: url("../images/bg_btn_search_active.png") repeat-x 0px 0px #c9c9c9 !important;
    border:1px solid #c0c0c0;
}

.btn_img_search:active  .icon_search{ background: url("../images/icon_search_active.png") no-repeat scroll -1px -1px transparent; }

.btn_img_search .icon_search{
    display: block;
    width:19px;
    height: 19px;
    background: url("../images/icon_search.png") no-repeat scroll -1px -1px transparent;
    position: relative;
    top:-1px;
    left:1px;
}

h3.caption_form{
    border-top:1px solid #9dd0ea;
    width:100%;
    margin:10px 0;
}

h3.caption_form span{
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top:-10px;
    display: inline-block;
    background-color:#e5eff1;
    min-width: 100px;
    color:#575f61;
    padding-right: 10px;
    width:auto;
}

.list_checkbox{
    width:85%;
    position: relative;
    padding-left:0.5%;
}

.list_checkbox dd{
    float: left;
    width: 22%;
    height: auto;
    min-height:30px;
}

.width_full li .list_checkbox dd label{
    width: auto;
    position: relative;
    top:-2px;
    padding-left: 4px;
}

.width_full{ width: 100%;}

.width_full li label{ width: 14%; }

.form_listing h3.caption_form{ margin:20px 0px 10px; }

.buttons:hover{
    background-color: #f5faff;
    color: #509dc5;
}
.form_area li .first_form + .second{ margin-left: 12px; }

::-webkit-input-placeholder {
    color: #28323c;
}

:-moz-placeholder { /* Firefox 18- */
                    color: #28323c;
}

::-moz-placeholder {  /* Firefox 19+ */
                      color: #28323c;
}

:-ms-input-placeholder {
    color: #28323c;
}
a.csv-button:hover{
    color: #509dc5 !important
}
span.dollar{
    padding-right: 10px
}
label.transaction{
    width:19.3%;
    padding-left: 8px
}
label.tenancy{
    width: 35%
}
label.tenancy-edit{
    width: 16%
}
label.transaction-edit{
    width: 16%
}
label.tenancy_short{
    width: 20%
}
input.transaction-input{
    width: 255px
}
.ajax-contact{
    width:234px;
    padding: 0;
    margin: 0
}
.ajax-contact-edit{
    width:186px;
    padding: 0;
    margin: 0
}
#tenant_name_ctr{
    margin-top: 20px;
    top: 19px;
    left: 0px;
    display: block;
    width: 324px;
    margin-left: -26px
}

/*UPDATE*/
body{
  background:url("/images/bg-body.jpg") repeat-x #fff
}
.containerBox{
  width: 96%;
  min-width: 900px;
  max-width: 1260px;
  margin: 0 auto;
}

#header{
  background:#00273c;
  min-width: 900px;
}

ul#nav{
  padding-left:4%;
  padding-right:4%;
  width:auto;
}
/* To revert the header like the old style, just give comment this code below */
body ul#nav li a,body ul#nav li.current a{
background-image: url("/images/bg-nav.png") 0 5px !important;
border-radius: 5px 5px 0 0;
padding-top: 10px;
margin-top: 7px;
margin-right: 3px;
box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
background-repeat: repeat-x !important;
background-position: 0 -3px !important;
}
body ul#nav li.current a{

   background-position: 0 -47px !important; color: #28323c !important;
}
body ul#nav li a:hover{
   background-position: 0 -92px !important; color: #28323c !important;
}
/* end revert */
ul#nav li.current ul{
 margin-left: 4%;
width: auto;
}
#navdiv{
  position:relative;
  min-height:85px;
  min-width: 900px;
  border-bottom:1px solid #ccc;
  padding:0;
  margin-bottom: 20px;
}
/* To revert the header like the old style, just give comment this code below */
ul#nav{
  min-height: 45px;
  background:url("/images/bg-nav-top.png")  0 0 repeat-x #509dc5;
}
/* end revert */
.welcome-header{
  float: left;
  color: #fff;
  width:auto;
  font-size:20px;
  font-weight: bold;
}
.welcome-header a{
  text-decoration: none;
}

/* Agent Dashboard - Office Menu at the top */
.office-client {
  color: #fff;
  font-size: 11px;
  margin: 5px 0 0;
  text-align: right;
}

.office-client a {
  color: #fff;
}

.office-client .bold {
  font-weight: bold;
}

#external_agent_name_ctr{
    top: 19px;
    display: block;
    width: 204px;
}

/* SMS pages */
.counter-info {
  clear: both;
  text-align: right;
  margin-right: 3%;
}

.receiver_number_container {
  width: 82%;
  float: right;
}

.receiver_number_box_container {
  margin-bottom: 15px;
  height: auto;
  overflow: hidden;
}

#add_receiver_number {
  clear: both;
  text-align: right;
  margin-right: 15%;
}

#validation_text {
  padding: 7px;
  background-color: #EF4123;
  color: #fff;
  margin-bottom: 15px;
  display: none;
}

/* Custom CSS for ffbContainer inside SMS Div */
#smsdiv .ffbContainer {
  position: relative;
  top: 0px !important;
  left: 0 !important;
}

/* Custom CSS for Flexbox Template Result */
.contact-autocomplete-row {
  clear: both;
}

.contact-autocomplete-row .col-left {
  width: 80%;
  float: left;
}

.contact-autocomplete-row .col-right {
  width: 20%;
  float: left;
}

/* Email configuration CSS */
tr.email-configuration td{
  border: none;
}

.email-preview,
.email-preview h3 {
  margin-bottom: 25px;
}

/*
 * Task Page
*/
#task-list table {
  width: auto;
  margin: 0;
}

.below_keyword{
    margin-top:-20px;
}
.reduce{
    margin-bottom: -30px
}
