<% logo = @office.logos.find_by_order(type) %>
<div class="group">
  <table cellpadding="0" cellspacing="0" class="logo_form_table full">
    <tr><th colspan="2"><%= banner %></th></tr>
    <tr><td class="field first_cell"><%= logo_image @office, type %></td></tr>
    <tr>
      <td colspan="2" class="first_cell editdelete"><p>
        <span class="upload"><%= link_to 'Upload', logo_agent_office_path(@agent,@office, :type => type) %></span> |
        <span class="view"><%= link_to "View", logo_agent_office_path(@agent,@office, :view_type => type), :title => "View Logo" %></span>
			<% if logo %>
	 |
	        <span class="delete"><%= link_to 'Delete', logo_agent_office_path(@agent,@office, :type => type), :method => :delete, :confirm => "Are you sure to delete this logo?" %></span>
			<% end %>
      </p></td>
    </tr>
  </table>
</div>
