<!-- NOTE TO DEVELOPER: This form is used for both Adding and Updating Offices. It should be blank if you're adding a Office. Title should say Add a Office. And it should have all previously entered values when you are Updating a Office and the title should be Update a Office. Thanks! -->

<div class="block full">
  <h2>Update Office Details: <%=h @agent.name %> - <%=h @office.name %></h2>
</div>

<div id="officediv" class="block accounts full">

  <% form_for :office, @office, :url => agent_office_path(@agent,@office), :html => {:id => 'edit_office_form', :method => 'put'} do |f| %>

    <%= f.error_messages :class => 'errortext' %>

    <%= render :partial => 'form', :object => f %>

    <div class="action_button">
      <button name="update" type="button" value="Update" onclick="$('#edit_office_form').submit();">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
      </button>
      <span>or&nbsp;&nbsp;</span>
      <% link_to agent_offices_path(@agent) do %>
        <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/> Cancel
      <% end %>
    </div> 


  <% end %>
</div><!-- end #officediv -->
