Dear <%= @user.first_name %>
<br/>
Contact: <%= @contact.name %>
<br/>
Telephone: <%= @contact.home_number %>
<br/>
Mobile: <%= @contact.mobile_number %>
<br/>
Email: <%= @contact.email %>
<br/>
Note: <%= @message %>
<br/>
<br/>
Kind regards <%= @developer_name %>