<%= javascript_include_tag  'date.js', 'jquery.datePicker-2.1.2.js', 'datemonth' %>
<%= stylesheet_link_tag 'datePicker' %>
<script type="text/javascript">
  $(document).ready(function(){
    $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
    });

    $(".datepicker").change(function(){
      detectDateCollision(this);
      higlight_in_range();
    });

    $('.inline').datePickerMultiMonth(
    {
      numMonths: 3,
      inline: true,
      selectMultiple:true

    }).bind(
    'dpMonthChanged',
    function(event, displayedMonth, displayedYear)
    {
      // higlight_in_range();
      // uncomment if you have firebug and want to confirm this works as expected...
      // console.log('dpMonthChanged', arguments);
    }
  ).bind(
    'dateSelected',
    function(event, date, $td, status)
    {
      // uncomment if you have firebug and want to confirm this works as expected...
      //console.log('dateSelected', arguments);

    }
  );
    //higlight_in_range();
    //$(".current-month").filter(".31102009").css("color", "red");
    higlight_in_range();
  });

</script>

<div id="availabilitydiv" class="group">

  <div class="set">
    <h6 class="full">Availability <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Availability"] %></span></small></h6>
    <fieldset class="pf_fs12">
      <table class="pf-table" id="season_container">
        <!-- NOTE TO DEVELOPER: All input boxes in this table should be calendars. -->
        <tr>
          <th class="first_cell"> </th>
          <th>start</th>
          <th>end</th>
          <th>min. stay</th>
          <th></th>
        </tr>
        <%unless @property.rental_seasons.blank?%>
          <tr class="li--41">
            <th class="first_cell field required"><label><span>Available to Lease:</span></label></th>
            <% @property.rental_seasons.each_with_index do |rental_season, i| %>
              <%if i == 0%>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'normal' %>
                  <%= text_field_tag "rental_season[][start_date]", (rental_season.start_date ? rental_season.start_date.strftime("%m/%d/%Y") : nil), :class => 'single datepicker normal_rental_date', :id => 'normal_start_date' %>
                </td>
                <td>
                  <%= text_field_tag "rental_season[][end_date]", (rental_season.end_date ? rental_season.end_date.strftime("%m/%d/%Y") : nil), :class => 'single datepicker normal_rental_date', :id => 'normal_end_date' %>
                </td>
                <td colspan="2">
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}, rental_season.minimum_stay), :class => 'select_box' %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <tr><td colspan="5"><span class="lite">[Dates above not included below will be priced as Normal Season]</span></td></tr>


          <tr class="li--44">
            <% @property.rental_seasons.each_with_index do |rental_season, i| %>
              <% if rental_season.season == 'mid' %>
              <tr class="li--44">
                <th class="first_cell field"><label><span>Mid Season:</span></label></th>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'mid' %>
                  <%= hidden_field_tag "rental_season[][position]", rental_season.position %>
                  <%= text_field_tag "rental_season[][start_date]", (rental_season.start_date ? rental_season.start_date.strftime("%m/%d/%Y") : nil), :class => "single datepicker mid_rental_date_#{rental_season.position}", :id => "mid_start_date_#{rental_season.position}" %>
                </td>
                <td>
                  <%= text_field_tag "rental_season[][end_date]", (rental_season.end_date ? rental_season.end_date.strftime("%m/%d/%Y") : nil), :class => "single datepicker mid_rental_date_#{rental_season.position}", :id => "mid_end_date_#{rental_season.position}" %>
                </td>
                <td>
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}, rental_season.minimum_stay), :class => 'select_box' %>
                </td>
                <% if rental_season.position == 1 %>
                  <td>   <%= link_to_function 'Add Another', "addRentalSeason(this, 'mid')" %></td>
                <% else %>
                  <td>   <%= link_to_function 'Remove', "removeRentalSeason(this)" %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
          </tr>



          <tr class="li--44">
            <% @property.rental_seasons.each_with_index do |rental_season, i| %>
              <% if rental_season.season == 'high' %>
              <tr class="li--44">
                <th class="first_cell field"><label><span>High Season:</span></label></th>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'high' %>
                  <%= hidden_field_tag "rental_season[][position]", rental_season.position %>
                  <%= text_field_tag "rental_season[][start_date]", (rental_season.start_date ? rental_season.start_date.strftime("%m/%d/%Y") : nil), :class => "single datepicker high_rental_date_#{rental_season.position}", :id => "high_start_date_#{rental_season.position}" %>
                </td>
                <td>
                  <%= text_field_tag "rental_season[][end_date]", (rental_season.end_date ? rental_season.end_date.strftime("%m/%d/%Y") : nil), :class => "single datepicker high_rental_date_#{rental_season.position}", :id => "high_end_date_#{rental_season.position}" %>
                </td>
                <td>
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}, rental_season.minimum_stay), :class => 'select_box' %>
                </td>
                <% if rental_season.position == 1 %>
                  <td>   <%= link_to_function 'Add Another', "addRentalSeason(this, 'high')" %></td>
                <% else %>
                  <td>   <%= link_to_function 'Remove', "removeRentalSeason(this)" %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          </tr>


          <tr class="li--44">
            <% @property.rental_seasons.each_with_index do |rental_season, i| %>
              <% if rental_season.season == 'peak' %>
              <tr class="li--44">
                <th class="first_cell field"><label><span>Peak Season:</span></label></th>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'peak' %>
                  <%= hidden_field_tag "rental_season[][position]", rental_season.position %>
                  <%= text_field_tag "rental_season[][start_date]", (rental_season.start_date ? rental_season.start_date.strftime("%m/%d/%Y") : nil), :class => "single datepicker peak_rental_date_#{rental_season.position}", :id => "peak_start_date_#{rental_season.position}" %>
                </td>
                <td>
                  <%= text_field_tag "rental_season[][end_date]", (rental_season.end_date ? rental_season.end_date.strftime("%m/%d/%Y") : nil), :class => "single datepicker peak_rental_date_#{rental_season.position}", :id => "peak_end_date_#{rental_season.position}" %>
                </td>
                <td>
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}, rental_season.minimum_stay), :class => 'select_box' %>
                </td>
                <% if rental_season.position == 1 %>
                  <td>   <%= link_to_function 'Add Another', "addRentalSeason(this, 'peak')" %></td>
                <% else %>
                  <td>   <%= link_to_function 'remove', "removeRentalSeason(this)" %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
          </tr>
        <% else %>
          <tr class="li--41">
            <% if  @normal_seasons[0].new_record? %>
              <th class="first_cell field required"><label><span>Available to Lease:</span></label></th>
              <td>
                <%= hidden_field_tag "rental_season[][season]", 'normal' %>
                <%= hidden_field_tag "rental_season[][position]", '0' %>
                <%= text_field_tag "rental_season[][start_date]", nil, :class => 'single datepicker normal_rental_date', :id => 'normal_start_date' %>
              </td>
              <td>
                <%= text_field_tag "rental_season[][end_date]", nil, :class => 'single datepicker normal_rental_date', :id => 'normal_end_date' %>
              </td>
              <td colspan="2">
                <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}), :class => 'select_box' %>
              </td>
            <% else %>
              <th class="first_cell field required"><label><span>Available to Lease:</span></label></th>
              <td>
                <%= hidden_field_tag "rental_season[][season]", 'normal' %>
                <%= text_field_tag "rental_season[][start_date]", (@normal_seasons[0].start_date ? @normal_seasons[0].start_date.strftime("%m/%d/%Y") : nil), :class => 'single datepicker normal_rental_date', :id => 'normal_start_date' %>
              </td>
              <td>
                <%= text_field_tag "rental_season[][end_date]", (@normal_seasons[0].end_date ? @normal_seasons[0].end_date.strftime("%m/%d/%Y") : nil), :class => 'single datepicker normal_rental_date', :id => 'normal_end_date' %>
              </td>
              <td colspan="2">
                <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}, @normal_seasons[0].minimum_stay), :class => 'select_box' %>
              </td>
            <% end %>
          </tr>
          <tr><td colspan="5"><span class="lite">[Dates above not included below will be priced as Normal Season]</span></td></tr>
          <% unless @mid_seasons.blank? %>
          <% @mid_seasons.each_with_index do |mid, i| %>
            <tr class="li--42">
              <% if mid.new_record? %>
                <th class="first_cell field"><label><span>Mid Season:</span></label></th>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'mid' %>
                  <%= hidden_field_tag "rental_season[][position]", i + 1 %>
                  <%= text_field_tag "rental_season[][start_date]", nil, :class => "single datepicker mid_rental_date_#{i + 1}", :id => "mid_start_date_#{i + 1}" %>
                </td> <td>
                  <%= text_field_tag "rental_season[][end_date]", nil, :class => "single datepicker mid_rental_date_#{i + 1}", :id => "mid_end_date_#{i + 1}" %>
                </td>
                <td>
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}), :class => 'select_box' %>
                </td>
                <td>   <%= link_to_function 'Add Another', "addRentalSeason(this, 'mid')" %></td>
              <% end %>
            </tr>
          <% end %>
          <% end %>

          <% unless @high_seasons.blank? %>
          <% @high_seasons.each_with_index do |high, i| %>
            <tr class="li--43">
              <% if high.new_record? %>
                <th class="first_cell field"><label><span>High Season:</span></label></th>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'high' %>
                  <%= hidden_field_tag "rental_season[][position]", i + 1 %>
                  <%= text_field_tag "rental_season[][start_date]", nil, :class => "single datepicker high_rental_date_#{i + 1}", :id => "high_start_date_#{i + 1}" %>
                </td>
                <td>
                  <%= text_field_tag "rental_season[][end_date]", nil, :class => "single datepicker high_rental_date_#{i + 1}", :id => "high_end_date_#{i + 1}" %>
                </td>
                <td>
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}), :class => 'select_box' %>
                </td>
                <td>   <%= link_to_function 'Add Another', "addRentalSeason(this, 'high')" %></td>
              <% end %>
            </tr>
          <% end %>
          <% end %>

          <% unless @peak_seasons.blank? %>
          <% @peak_seasons.each_with_index do |peak, i| %>
            <tr class="li--44">
              <% if peak.new_record? %>
                <th class="first_cell field"><label><span>Peak Season:</span></label></th>
                <td>
                  <%= hidden_field_tag "rental_season[][season]", 'peak' %>
                  <%= hidden_field_tag "rental_season[][position]", i + 1 %>
                  <%= text_field_tag "rental_season[][start_date]", nil, :class => "single datepicker peak_rental_date_#{i + 1}", :id => "peak_start_date_#{i + 1}" %>
                </td>
                <td>
                  <%= text_field_tag "rental_season[][end_date]", nil, :class => "single datepicker peak_rental_date_#{i + 1}", :id => "peak_end_date_#{i + 1}" %>
                </td>
                <td>
                  <%= select_tag "rental_season[][minimum_stay]", options_for_select(@minimum_stay.map{|s|[s,s]}), :class => 'select_box' %>
                </td>
                <td>   <%= link_to_function 'Add Another', "addRentalSeason(this, 'peak')" %></td>
              <% end %>
            </tr>
          <% end %>
         <% end %>
        <% end %>
      </table>
    </fieldset>
  </div> <!-- end #availabilitydiv SET -->

  <div id="availcalendardiv" class="set">
    <%= hidden_field_tag "unavailable_date",@detail.unavailable_date %>
    <h6 class="full">Availability Calendar</h6>
    <p>Click on Available date to make it unavailable. Double click on Unavailable date to make it available.</p>
    <fieldset class="pf_fs13">
      <a id="refresh_link" onclick="higlight_in_range();return false;" href="#">Refresh</a>
      <div id="calendar_date_display" class="inline">
        <input id="e_date" type="hidden" name="e_date" style="display:none;"/>
        <span id="cds_placeholder_50831" style="display: none; position: absolute;"></span>
      </div>
    </fieldset>
    <br/><br/>
    <div>
      <fieldset class="pf_fs12">
      <table class="pf-table" id="season_container">
        <!-- NOTE TO DEVELOPER: All input boxes in this table should be calendars. -->
        <tr>
          <th class="first_cell" colspan="3" style="text-align:left;"><b>Color Description</b></th>
        </tr>
        <tr>
          <td style="width:30%;"><div class="color_block avail_desc" style="background-color:cyan;"></div><div>Mid Season</div></td>
          <td style="width:30%;"><div class="color_block avail_desc" style="background-color:chartreuse;"></div><div>High Season</div></td>
          <td><div class="color_block avail_desc" style="background-color:HotPink;"></div><div>Peak Season</div></td>
        </tr>
        <tr>
          <td style="width:30%;"><div class="color_block avail_desc" style="background-color:yellow;"></div><div>Available</div></td>
          <td><div class="color_block avail_desc" style="background-color:#CCCCCC;"></div><div>Unavailable</div></td>
        </tr>
      </table>
      </fieldset>
    </div>

  </div> <!-- end SET -->

</div><!-- end #availcalendardiv GROUP -->