<div id="franchisediv" class="group">
  <div class="set">
    <h6 class="full">Franchise <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Franchise"] %></span></small></h6>
    <fieldset class="pf_fs115">
      <table class="pf-table">
        <tr class="li--65">
          <th class="first_cell field first_tab"><label><span>Franchise:</span></label></th>
          <td class="value" colspan="3"><%= detail.select :franchise, @franchise_options %></td>
        </tr>
        <tr class="li--66">
          <th class="first_cell field"><label><span>Total Outlets</span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :outlets, :class => 'single' %></td>
        </tr>
        <tr class="li--67">
          <th class="first_cell field"><label><span>Franchise Royalties: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :franchise_royalties, :class => 'single' %></td>
        </tr>
        <tr class="li--68">
          <th class="first_cell field"><label><span>Franchise Levies: </span></label></th>
          <td class="value"><%= detail.text_field :franchise_levies, :class => 'single' %></td>
        </tr>
      </table>
    </fieldset>
  </div>
</div><!-- end #franchisediv GROUP -->
