<div id="businesspricediv" class="group">

  <%= render :partial => 'auction_datetime', :locals => {:detail => detail} %>

  <div id="pricingdiv" class="set full">
    <h6 class="full">Pricing</h6>
    <fieldset class="pf_fs11">
      <table class="pf-table">
        <tr class="li--38">
          <th class="first_cell field required first_tab">
            <label><span>Price/Search Price:<span class="red_star">*</span></span></label>
          </th>
          <td class="value" colspan="2">
            <%= form.text_field :price, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
            <span style="margin:0 6px;">to</span>
            <%= form.text_field :to_price, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
          </td>
          <td style="width:20%" class="value required">
            <label>Include tax:<span class="red_star">*</span> </label>
            <%= detail.check_box(:price_include_tax) %>
          </td>
        </tr>
        <tr class="li--43">
          <th class="first_cell field required"><label><span>Price Include Stock:<span class="red_star">*</span></span></label></th>
          <td class="value" colspan="3">
            <%= detail.check_box :price_include_stock%>
          </td>
        </tr>
        <tr class="li--44">
          <th class="first_cell field"><label><span>Approximate Stock Value:</span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :approximate_stock_value, :class => 'single inputfull-9' %>
          </td>
        </tr>
      </table>
    </fieldset>
  </div> <!-- end #pricingdiv SET -->

  <%= render :partial => 'display_price', :locals => {:form => form} %>

</div><!-- end #businesspricediv GROUP -->
