<div id="buildingareasdiv" class="group">
  <div class="set">
    <h6 class="full">Building Areas <small>(Whole Numbers Only)</small> <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a>
    <span class="helplink_info" style="display:none"><%= @help_data["Commercial: Building Areas"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <table class="pf-table">
        <% if get_current_subdomain == 'knightfrank' %>
        <tr class="li--69">
          <th class="first_cell field" style="width:35%;"><label><span>Total Land Area:</span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :land_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)"%>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[land_area_metric]', options_for_select(@land_area_metrics,(@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)) %>
            <% else %>
              <%= detail.select :land_area_metric, @land_area_metrics,{:selected => (@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)} %>
            <% end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Total Floor Area: (SL)</span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :floor_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[floor_area_metric]', options_for_select(@floor_area_metrics,(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)) %>
            <% else %>
              <%= detail.select :floor_area_metric, @floor_area_metrics,{:selected =>(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <% else %>
        <tr class="li--69">
          <th class="first_cell field" style="width:35%;"><label><span>Total Land Area:</span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :land_area, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)"%>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[land_area_metric]', options_for_select(@land_area_metrics,(@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)) %>
            <% else %>
              <%= detail.select :land_area_metric, @land_area_metrics,{:selected => (@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)} %>
            <% end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Total Floor Area: (SL)</span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :floor_area, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[floor_area_metric]', options_for_select(@floor_area_metrics,(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)) %>
            <% else %>
              <%= detail.select :floor_area_metric, @floor_area_metrics,{:selected =>(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <% end %>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Office Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :office_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[office_area_metric]', options_for_select(@office_area_metrics,(@detail.office_area_metric.blank? ? "Square Metres" : @detail.office_area_metric)) %>
            <% else %>
              <%= detail.select :office_area_metric, @office_area_metrics,{:selected => (@detail.office_area_metric.blank? ? "Square Metres" : @detail.office_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Warehouse Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :warehouse_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[warehouse_area_metric]', options_for_select(@warehouse_area_metrics,(@detail.warehouse_area_metric.blank? ? "Square Metres" : @detail.warehouse_area_metric)) %>
            <% else %>
              <%= detail.select :warehouse_area_metric, @warehouse_area_metrics,{:selected => (@detail.warehouse_area_metric.blank? ? "Square Metres" : @detail.warehouse_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Retail Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :retail_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[retail_area_metric]', options_for_select(@retail_area_metrics,(@detail.retail_area_metric.blank? ? "Square Metres" : @detail.retail_area_metric)) %>
            <% else %>
              <%= detail.select :retail_area_metric, @retail_area_metrics,{:selected => (@detail.retail_area_metric.blank? ? "Square Metres" : @detail.retail_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Other Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :other_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_building_detail[other_area_metric]', options_for_select(@other_area_metrics, (@detail.other_area_metric.blank? ? "Square Metres" : @detail.other_area_metric)) %>
            <% else %>
              <%= detail.select :other_area_metric, @other_area_metrics,{:selected => (@detail.other_area_metric.blank? ? "Square Metres" : @detail.other_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field first_tab">
            <label><span>Size Range (sqm):</span></label>
          </th>
          <td class="value" colspan="2">
            <%= form.text_field :size_from, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
            <span style="margin:0 6px;">to</span>
            <%= form.text_field :size_to, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
          </td>
        </tr>
        <tr class="li--65">
          <td class="first_cell field"><label><span>Number of Suites: </span></label></td>
          <td class="value" colspan="3"><%= form.text_field :number_of_suites, :maxlength => 3, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
        <tr class="li--65">
          <td class="first_cell field"><label><span>Number of Floor/levels: </span></label></td>
          <td class="value" colspan="3"><%= detail.text_field :number_of_floors, :maxlength => 3, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
        <tr class="li--65">
          <td class="first_cell field"><label><span>Number of Car Spaces: </span></label></td>
          <td class="value" colspan="3"><%= detail.text_field :number_of_carspaces, :maxlength => 3, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Parking Comments: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :parking_comments, :size => 15, :maxlength => 255, :class => 'single inputfull-9' %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field first_tab">
            <label><span>Carspace Range:</span></label>
          </th>
          <td class="value" colspan="2">
            <%= detail.text_field :carspace_from, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
            <span style="margin:0 6px;">to</span>
            <%= detail.text_field :carspace_to, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
</div><!-- end #buildingareasdiv GROUP -->
