<% content_for :head do %>
  <%= javascript_include_tag 'jquery.utils', 'jquery.strings', 'ui/ui.dropslide', 'ui/ui.timepickr' %>
  <%= stylesheet_link_tag 'ui.core', 'ui.timepickr' %>
  <script type="text/javascript">
    $(function(){
      $('#date input').datepicker({dateFormat:'dd/mm/yy'});
    });
  </script>
<% end %>

<li class="li--3">
  <label><span>Unique ID#:</span></label>
  <%= form.text_field :property_id, :class => 'single fldrequired' %>
</li>

<li class="li--5">
  <label><span>Headline:</span></label>
  <%= form.text_field :headline, :class => 'single fldrequired', :maxlength => 150 %>
</li>

<li class="li--6">
  <label><span>Description:</span></label>

  <%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<li class="li--3" id="date" style="display:none;">
  <label><span>Date:</span></label>
  <%= detail.text_field :date, :class => 'single fldrequired', :value => (( @property.detail.date.blank? ? "" : @property.detail.date.strftime("%d/%m/%Y") ) unless @property.detail.blank?) %>
</li> 

<li class="li--8">
  <label><span>Time:</span></label>
  <%= select_tag 'hour', options_for_select(@hours, (@property.detail.time.blank? ? "-" : change_time_to_hour(@property.detail.time))), {:style => "width:22%;"} %>
  <div style="width: 3%; float: left; text-align: center;">:</div>
  <%= select_tag 'min', options_for_select(@mins, (@property.detail.time.blank? ? "-" : change_time_to_min(@property.detail.time))), {:style => "width:21%;"} %>
</li>

<li class="li--6">
  <label><span>Buyers Premium:</span></label>

  <%= detail.text_area :buyers_premium, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<li class="li--6">
  <label><span>Warranty:</span></label>

  <%= detail.text_area :warranty, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<li class="li--3">
  <label><span>GST:</span></label>
  <%= select_tag 'clearing_sales_event_detail[gst]', options_for_select(@clearing_sales_event_gst, @property.detail.gst), :class => 'select_box'  %>
</li> 

<li class="li--6">
  <label><span>Sale Info:</span></label>

  <%= detail.text_area :sale_info, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<li class="li--6">
  <label><span>Collection:</span></label>

  <%= detail.text_area :collection, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<li class="li--6">
  <label><span>OH & S:</span></label>

  <%= detail.text_area :ohs, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:void(0)" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<script type="text/javascript">
  $(document).ready(function(){
    $(".loading").hide();

    $("#aspell a").click(spellcheckText());
  });

  function spellcheckText() {
    return function() {
      var liParent = $(this).closest('li');

      liParent.find(".loading").show();
      liParent.find("#aspell").hide();

      liParent.find('textarea').spellchecker({
        lang: "en",
        engine: "google",
        suggestBoxPosition: "above"
      }).spellchecker("check", function(result){
        liParent.find(".loading").hide();
        liParent.find("#aspell").show();
        if (result) {
          alert('There are no incorrectly spelt words.');
        }
      });
    }
  }

  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description").spellchecker({
      lang: "en",
      engine: "google",
      suggestBoxPosition: "above"
    }).spellchecker("check", function(result){
      $(".loading").hide();
      $("#aspell").show();
      if (result) {
        alert('There are no incorrectly spelt words.');
      }
    });
  }
</script>
