<script type="text/javascript">
  $(document).ready(function(){
    var secondary_contact = '<%= @property.secondary_contact_type %>';
    var third_contact = '<%= @property.third_contact_type %>';
    var fourth_contact = '<%= @property.fourth_contact_type %>';

    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });
    $("#primary_loading").hide();
    $("#secondary_loading").hide();
    $("#third_loading").hide();
    $("#fourth_loading").hide();

    if(secondary_contact != 'Normal' && secondary_contact != ''){
      update_contact_vendor("secondary", '<%= @property.secondary_contact_id %>', secondary_contact);
    }

    if(third_contact != 'Normal' && third_contact != ''){
      update_contact_vendor("third", '<%= @property.third_contact_id %>', third_contact);
    }

    if(fourth_contact != 'Normal' && fourth_contact != ''){
      update_contact_vendor("fourth", '<%= @property.fourth_contact_id %>', fourth_contact);
    }
  })
  function update_contact_vendor(type, selected, type_agent){
    var base_ptype = $("#wrap_"+type);
    var add ="";
    var controller = "<%= populate_agent_agent_office_properties_path(@agent, @office) %>";
    $.ajax({
      type: "POST",
      url: escape(controller),
      data:({type_agent : type_agent}),
      dataType:"JSON",
      beforeSend:function(){
        $("#property_"+type+"_contact_id").attr("disabled","disabled");
        $("#"+type+"_loading").show();
        $("#add_"+type+"_contact_id").hide();
        $("#indicator1").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == selected){
              option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
            }else{
              option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
            }
          };
        };
        var html = "<select id='property_"+type+"_contact_id' name='property["+type+"_contact_id]' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        if(type_agent == 'Conjunctional'){ add = "&conjunctional"; }
        $("#property_"+type+"_contact_id").removeAttr("disabled");
        $("#"+type+"_loading").hide();
        $("#add_"+type+"_contact_id").attr("href","/agents/<%= @agent.id %>/offices/<%= @office.id %>/agent_users/new?level3"+add+"&contact_type="+type+"&KeepThis=true&TB_iframe=true&height=380&width=520&modal=true");
        if(type_agent != 'Network'){ $("#add_"+type+"_contact_id").show(); }
      }
    });
  }
</script>
<style type="text/css">
  table a:link, table a:visited {
    color:#0E7FC7;
  }
</style>
<div id="propertycommercialcontactsdiv" class="group contact_vendor">
  <div class="set">
    <h6 class="full">Property Contacts <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Contacts"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <table class="pf-table">
        <tr class="li--69">
          <% if params[:action] == "commercial_building" %>
            <th class="first_cell field" style="width:35%;"><label><span>Primary Contact:</span></label></th>
          <%else%>
            <th class="first_cell field required" style="width:35%;"><label><span>Primary Contact:<span class="red_star">*</span> </span></label></th>
          <%end%>
          <td class="value" colspan="2">
            <div id="wrap_primary"><%= form.select :primary_contact_id,  @contacts, {:class => 'select_box',:selected =>@property.primary_contact_id } %></div>
          </td>
          <td>
            <div id="primary_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
            <%= link_to 'Add', new_agent_office_agent_user_path(@agent,@office)+"?level3&contact_type=primary&KeepThis=true&TB_iframe=true&height=380&width=523&modal=true",:class =>"thickbox",:id=>"add_primary_contact_id" if !current_user.allow_property_owner_access?%>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field" style="width:35%;"><label><span>Secondary Contact: </span></label></th>
          <td class="value" style="width:20%;">
            <%= form.select :secondary_contact_type, @contact_types, {:class => 'select_box',:selected =>@property.secondary_contact_type }, {:onchange => "change_type('secondary', this.value)"} %>
          </td>
          <td class="value" style="width:40%;">
            <div id="wrap_secondary"><%= form.select :secondary_contact_id, @contacts, {:class => 'select_box',:selected =>@property.secondary_contact_id } %></div>
          </td>
          <td>
            <div id="secondary_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
            <%= link_to 'Add', new_agent_office_agent_user_path(@agent,@office)+"?level3&contact_type=secondary&KeepThis=true&TB_iframe=true&height=380&width=523&modal=true",:class =>"thickbox",:id=>"add_secondary_contact_id" if !current_user.allow_property_owner_access?%>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field" style="width:35%;"><label><span>Third Contact: </span></label></th>
          <td class="value" style="width:20%;">
            <%= form.select :third_contact_type, @contact_types, {:class => 'select_box',:selected =>@property.third_contact_type}, {:onchange => "change_type('third', this.value)"} %>
          </td>
          <td class="value" style="width:40%;">
            <div id="wrap_third"><%= form.select :third_contact_id, @contacts, {:class => 'select_box',:selected =>@property.third_contact_id } %></div>
          </td>
          <td>
            <div id="third_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
            <%= link_to 'Add', new_agent_office_agent_user_path(@agent,@office)+"?level3&contact_type=third&KeepThis=true&TB_iframe=true&height=380&width=523&modal=true",:class =>"thickbox",:id=>"add_third_contact_id" if !current_user.allow_property_owner_access?%>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field" style="width:35%;"><label><span>Fourth Contact: </span></label></th>
          <td class="value" style="width:20%;">
            <%= form.select :fourth_contact_type, @contact_types, {:class => 'select_box',:selected =>@property.fourth_contact_type}, {:onchange => "change_type('fourth', this.value)"} %>
          </td>
          <td class="value" style="width:40%;">
            <div id="wrap_fourth"><%= form.select :fourth_contact_id, @contacts, {:class => 'select_box',:selected =>@property.fourth_contact_id } %></div>
          </td>
          <td>
            <div id="fourth_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
            <%= link_to 'Add', new_agent_office_agent_user_path(@agent,@office)+"?level3&contact_type=fourth&KeepThis=true&TB_iframe=true&height=380&width=523&modal=true",:class =>"thickbox",:id=>"add_fourth_contact_id" if !current_user.allow_property_owner_access?%>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
</div>

<div id="externalagentdetailsdiv" class="group external_agent_div" style="z-index:1;display:none;">
  <div class="set">
    <h6 class="full">External Agent Details<small class="formgrouplinks"> <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Vendor"] %></span></small></h6>
    <fieldset class="pf_fs14">
      <%= form.hidden_field :external_agent_contact_id, :class => "single" %>
      <ul class="pf-ul">
        <li class="li--48">
          <span class="threequarters" style="width:100%;">
            <label><span>External Agent Name:</span></label>
            <div id="external_agent_name"></div>
            <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            <a href="javascript:add_external_agent()" id="add_external_agent">&nbsp;Add</a>
            <a href="javascript:remove_external_agent()" id="remove_external_agent" style="display:none;">&nbsp;Remove</a>
          </span>
        </li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>First Name:</span></label>
            <%= form.text_field :external_agent_first_name, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Last Name:</span></label>
            <%= form.text_field :external_agent_last_name, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Email:</span></label>
            <%= form.text_field :external_agent_email, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Contact Number:</span></label>
            <%= form.text_field :external_agent_phone, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Home Number:</span></label>
            <%= form.text_field :external_agent_home_number, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Work Number:</span></label>
            <%= form.text_field :external_agent_work_number, :class => 'single' %>
          </span></li>
        <li class="li--48 external_agent" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Mobile Number:</span></label>
            <%= form.text_field :external_agent_mobile_number, :class => 'single' %>
          </span></li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #externalagentdetailsdiv GROUP -->

<div id="vendordetailsdiv" class="group" style="z-index:1;">
  <div class="set">
    <h6 class="full">
      <% if ['edit', 'commercial'].include?(params[:action]) %>
       Owner Details
      <%end%>
      <small class="formgrouplinks"> <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Vendor"] %></span></small></h6>
    <fieldset class="pf_fs14">
      <%= form.hidden_field :agent_contact_id, :class => "single" %>
      <ul class="pf-ul">
        <li class="li--48">
          <span class="threequarters" style="width:100%;">
            <label><span>Contact Name:</span></label>
            <div id="contact_name"></div>
            <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
            <a href="javascript:add_contact()" id="add_contact">&nbsp;Add</a>
            <a href="javascript:remove_contact()" id="remove_contact" style="display:none;">&nbsp;Remove</a>
          </span>
        </li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>First Name:</span></label>
            <%= form.text_field :vendor_first_name, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Last Name:</span></label>
            <%= form.text_field :vendor_last_name, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Email:</span></label>
            <%= form.text_field :vendor_email, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Contact Number:</span></label>
            <%= form.text_field :vendor_phone, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Home Number:</span></label>
            <%= form.text_field :home_number, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Work Number:</span></label>
            <%= form.text_field :work_number, :class => 'single' %>
          </span></li>
        <li class="li--48 contact" style="display:none;"><span class="threequarters" style="width:100%;">
            <label><span>Mobile Number:</span></label>
            <%= form.text_field :mobile_number, :class => 'single' %>
          </span></li>
      </ul>
    </fieldset>
  </div>
</div><!-- end #vendordetailsdiv GROUP -->

<script type="text/javascript">
$(document).ready(function(){
  <% if params[:action] == 'update' %>
    <% unless params[:property][:primary_contact_id].blank? %>
      $("#property_primary_contact_id").find("option[value='<= params[:property][:primary_contact_id] %>']").attr('selected', 'selected');
    <%end%>
    <% unless params[:property][:secondary_contact_type].blank? %>
      $("#property_secondary_contact_type").find("option[value='<%= params[:property][:secondary_contact_type] %>']").attr('selected', 'selected');
      <% unless params[:property][:secondary_contact_id].blank? %>
        $("#property_secondary_contact_id").find("option[value='<%= params[:property][:secondary_contact_id] %>']").attr('selected', 'selected');
      <%end%>
    <%end%>
    <% unless params[:property][:third_contact_type].blank? %>
      $("#property_third_contact_type").find("option[value='<%= params[:property][:third_contact_type] %>']").attr('selected', 'selected');
      <% unless params[:property][:third_contact_id].blank? %>
        $("#property_third_contact_id").find("option[value='<%= params[:property][:third_contact_id] %>']").attr('selected', 'selected');
      <%end%>
    <%end%>
    <% unless params[:property][:fourth_contact_type].blank? %>
      $("#property_fourth_contact_type").find("option[value='<%= params[:property][:fourth_contact_type] %>']").attr('selected', 'selected');
      <% unless params[:property][:fourth_contact_id].blank? %>
        $("#property_fourth_contact_id").find("option[value='<%= params[:property][:fourth_contact_id] %>']").attr('selected', 'selected');
      <%end%>
    <%end%>
  <%end%>

  <% if params[:action] == "edit" %>
  <% unless @property.ownership.blank? %>
    <% if @property.ownership == "External" %>
      $(".external_agent_div").show();
      $(".contact_vendor").hide();
    <%else%>
      $(".external_agent_div").hide();
      $(".contact_vendor").show();
    <%end%>
    <%else%>
      $("#property_ownership_internal").attr("checked", true);
    <%end%>
  <%end%>
});

  function add_contact(){
    $(".contact").show();
    $(".formdiv").height(550);
    $("#remove_contact").show();
    $("#add_contact").hide();
    $("#contact_name_input").attr('disabled', 'disabled');
  }

  function add_external_agent(){
    $(".external_agent").show();
    $(".formdiv").height(550);
    $("#remove_external_agent").show();
    $("#add_external_agent").hide();
    $("#external_agent_name_input").attr('disabled', 'disabled');
  }

  function remove_contact(){
    $(".contact").hide();
    $("#add_contact").show();
    $("#remove_contact").hide();
    $("#contact_name_input").removeAttr('disabled');
  }

  function remove_external_agent(){
    $(".external_agent").hide();
    $("#add_external_agent").show();
    $("#remove_external_agent").hide();
    $("#external_agent_name_input").removeAttr('disabled');
  }

  function change_type(type, value){
    update_contact_vendor(type, "", value);
  }
</script>