<div id="buildingareasdiv" class="group">
  <div class="set">
    <h6 class="full">Building Areas <small>(Whole Numbers Only)</small> <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a>
        <span class="helplink_info" style="display:none"><%= @help_data["Commercial: Building Areas"] %></span></small></h6>
    <fieldset class="pf_fs6">
      <table class="pf-table">
        <% if get_current_subdomain == 'knightfrank' %>
          <tr class="li--69">
            <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
              <th class="first_cell field" style="width:35%;"><label><span>Total Land Area:</span></label></th>
            <%else%>
              <th class="first_cell field" style="width:35%;"><label><span>Total Land Area:<span class="red_star">***</span></span></label></th>
            <%end%>
            <td class="value" colspan="3">
              <%= detail.text_field :land_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)"%>
              <% if @property.new_record? %>
                <%= select_tag 'commercial_detail[land_area_metric]', options_for_select(@land_area_metrics,(@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)) %>
              <% else %>
                <%= detail.select :land_area_metric, @land_area_metrics,{:selected => (@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)} %>
              <% end %>
            </td>
          </tr>
          <tr class="li--69">
            <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
              <th class="first_cell field"><label><span>Total Floor Area: (SL)</span></label></th>
            <%else%>
              <th class="first_cell field"><label><span>Total Floor Area: (<span class="red_star">*</span>SL)</span></label></th>
            <%end%>
            <td class="value" colspan="3">
              <%= detail.text_field :floor_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
              <% if @property.new_record? %>
                <%= select_tag 'commercial_detail[floor_area_metric]', options_for_select(@floor_area_metrics,(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)) %>
              <% else %>
                <%= detail.select :floor_area_metric, @floor_area_metrics,{:selected =>(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)} %>
              <%end %>
            </td>
          </tr>
        <% else %>
          <tr class="li--69">
            <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
              <th class="first_cell field" style="width:35%;"><label><span>Total Land Area:</span></label></th>
            <%else%>
              <th class="first_cell field" style="width:35%;"><label><span>Total Land Area:<span class="red_star">***</span></span></label></th>
            <%end%>
            <td class="value" colspan="3">
              <%= detail.text_field :land_area, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)"%>
              <% if @property.new_record? %>
                <%= select_tag 'commercial_detail[land_area_metric]', options_for_select(@land_area_metrics,(@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)) %>
              <% else %>
                <%= detail.select :land_area_metric, @land_area_metrics,{:selected => (@detail.land_area_metric.blank? ? "Square Metres" : @detail.land_area_metric)} %>
              <% end %>
            </td>
          </tr>
          <tr class="li--69">
            <% if params[:action] == "commercial_building" || @property.type.to_s == "CommercialBuilding" %>
              <th class="first_cell field"><label><span>Total Floor Area: (SL)</span></label></th>
            <%else%>
              <th class="first_cell field"><label><span>Total Floor Area: (<span class="red_star">*</span>SL)</span></label></th>
            <%end%>
            <td class="value" colspan="3">
              <%= detail.text_field :floor_area, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
              <% if @property.new_record? %>
                <%= select_tag 'commercial_detail[floor_area_metric]', options_for_select(@floor_area_metrics,(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)) %>
              <% else %>
                <%= detail.select :floor_area_metric, @floor_area_metrics,{:selected =>(@detail.floor_area_metric.blank? ? "Square Metres" : @detail.floor_area_metric)} %>
              <%end %>
            </td>
          </tr>
        <% end %>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Office Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :office_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[office_area_metric]', options_for_select(@office_area_metrics,(@detail.office_area_metric.blank? ? "Square Metres" : @detail.office_area_metric)) %>
            <% else %>
              <%= detail.select :office_area_metric, @office_area_metrics,{:selected => (@detail.office_area_metric.blank? ? "Square Metres" : @detail.office_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Warehouse Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :warehouse_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[warehouse_area_metric]', options_for_select(@warehouse_area_metrics,(@detail.warehouse_area_metric.blank? ? "Square Metres" : @detail.warehouse_area_metric)) %>
            <% else %>
              <%= detail.select :warehouse_area_metric, @warehouse_area_metrics,{:selected => (@detail.warehouse_area_metric.blank? ? "Square Metres" : @detail.warehouse_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Retail Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :retail_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[retail_area_metric]', options_for_select(@retail_area_metrics,(@detail.retail_area_metric.blank? ? "Square Metres" : @detail.retail_area_metric)) %>
            <% else %>
              <%= detail.select :retail_area_metric, @retail_area_metrics,{:selected => (@detail.retail_area_metric.blank? ? "Square Metres" : @detail.retail_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Other Area: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :other_area, :size => 15, :class => 'single', :onkeypress => "return isNumberKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[other_area_metric]', options_for_select(@other_area_metrics, (@detail.other_area_metric.blank? ? "Square Metres" : @detail.other_area_metric)) %>
            <% else %>
              <%= detail.select :other_area_metric, @other_area_metrics,{:selected => (@detail.other_area_metric.blank? ? "Square Metres" : @detail.other_area_metric)} %>
            <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Land Frontage: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :land_frontage, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[land_frontage_metric]', options_for_select(@depth_metrics, (@detail.land_frontage_metric.blank? ? "Square Metres" : @detail.land_frontage_metric)) %>
          <% else %>
              <%= detail.select :land_frontage_metric, @depth_metrics,{:selected => (@detail.land_frontage_metric)} %>
          <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Land Depth Left: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :land_depth_left, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[land_depth_left_metric]', options_for_select(@depth_metrics, (@detail.land_depth_left_metric.blank? ? "Square Metres" : @detail.land_depth_left_metric)) %>
          <% else %>
              <%= detail.select :land_depth_left_metric, @depth_metrics,{:selected => (@detail.land_depth_left_metric)} %>
          <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Land Depth right: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :land_depth_right, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[land_depth_right_metric]', options_for_select(@depth_metrics, (@detail.land_depth_right_metric.blank? ? "Square Metres" : @detail.land_depth_right_metric)) %>
          <% else %>
              <%= detail.select :land_depth_right_metric, @depth_metrics,{:selected => (@detail.land_depth_right_metric)} %>
          <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Land Depth rear: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :land_depth_rear, :size => 15, :class => 'single', :onkeypress => "return isDesimalKey(event)" %>
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[land_depth_rear_metric]', options_for_select(@depth_metrics, (@detail.land_depth_rear_metric.blank? ? "Square Metres" : @detail.land_depth_rear_metric)) %>
          <% else %>
              <%= detail.select :land_depth_rear_metric, @depth_metrics,{:selected => (@detail.land_depth_rear_metric)} %>
          <%end %>
          </td>
        </tr>
        <tr class="li--69">
          <th class="first_cell field"><label><span>Land Crossover: </span></label></th>
          <td class="value" colspan="3">
            <% if @property.new_record? %>
              <%= select_tag 'commercial_detail[land_crossover]', options_for_select(@land_crossover,@detail.land_crossover ) %>
          <% else %>
              <%= detail.select :land_crossover, @land_crossover,{:selected => (@detail.land_crossover )} %>
          <% end %>
          </td>
        </tr>

        <tr class="li--65">
          <th class="first_cell field first_tab">
            <label><span>Area Range:(<span class="red_star">*</span>ML)</span></label>
          </th>
          <td class="value" colspan="2">
            <%= detail.text_field :area_range, :class => 'single', :style=>"width:40%;", :onkeypress => "return isDecimalKey(event)" %>
            <span style="margin:0 6px;">to</span>
            <%= detail.text_field :area_range_to, :class => 'single', :style=>"width:40%;", :onkeypress => "return isDecimalKey(event)" %>
          </td>
          <td style="width:20%;font-weight:bold;"><label>m2</label></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Whole or Part:<span class="red_star">*</span></span></label></th>
          <td class="value" colspan="3">
            <%= detail.radio_button :all_the_building, 0, {:checked =>@detail.all_the_building == 0} %> Strata &nbsp;
            <%= detail.radio_button :all_the_building, 1, {:checked =>@detail.all_the_building == 1} %> Freehold &nbsp;
            <%= detail.radio_button :all_the_building, 2, {:checked =>@detail.all_the_building == 2} %> Not applicable
          </td>
        </tr>
        <tr class="li--65">
          <td class="first_cell field"><label><span>All the Floor: </span></label></td>
          <td class="value" colspan="3"><%= detail.check_box :all_the_floor %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Zoning: </span></label></th>
          <td class="value" colspan="3">
            <%= detail.text_field :zoning, :size => 15, :maxlength => 40, :class => 'single inputfull-9' %>
          </td>
        </tr>
        <tr class="li--65">
          <td class="first_cell field"><label><span>Number of Car Spaces: </span></label></td>
          <td class="value" colspan="3"><%= detail.text_field :carport_spaces, :maxlength => 3, :class => 'single halfinput', :onkeypress => "return isNumberKey(event)" %></td>
        </tr>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Parking Comments: </span></label></th>
          <td class="value" colspan="3"><%= detail.text_field :parking, :size => 15, :maxlength => 255, :class => 'single inputfull-9' %></td>
        </tr>
        <% if get_current_subdomain == 'knightfrank' %>
          <tr class="li--65">
            <th class="first_cell field"><label><span>Tenancy:<span class="red_star">**</span></span></label></th>
            <td class="value" colspan="3">
              <%= detail.select :current_leased, @current_leaseds, {:selected => @detail.current_leased.blank? ? params[:commercial_detail][:current_leased] : @detail.current_leased },{:style => "width:46%;"} %>
            </td>
          </tr>
        <% else %>
          <tr class="li--65">
            <th class="first_cell field"><label>Tenancy:<span class="red_star">****</span></label></th>
            <td class="value" colspan="3">
              <%= detail.select :current_leased, @current_leaseds, {:selected => @detail.current_leased },{:style => "width:46%;"} %>
            </td>
          </tr>
        <% end %>
        <tr class="li--65">
          <th class="first_cell field"><label><span>Tenancy Options:</span></label></th>
          <td class="value" colspan="3">
            <%= detail.select :tenancy_option, @tenancy_options,{:selected => @detail.tenancy_option },{:style => "width:46%;"} %>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
</div><!-- end #buildingareasdiv GROUP -->

<script type="text/javascript">
  $(document).ready(function(){
    <% if params[:action] == 'update' %>
      <% unless params[:commercial_detail][:land_frontage].blank? %>
        $("#commercial_detail_land_frontage").val('<%= params[:commercial_detail][:land_frontage] %>');
      <%end%>
      <% unless params[:commercial_detail][:land_depth_left].blank? %>
        $("#commercial_detail_land_depth_left").val('<%= params[:commercial_detail][:land_depth_left] %>');
      <%end%>
      <% unless params[:commercial_detail][:land_depth_right].blank? %>
        $("#commercial_detail_land_depth_right").val('<%= params[:commercial_detail][:land_depth_right] %>');
      <%end%>
      <% unless params[:commercial_detail][:land_depth_rear].blank? %>
        $("#commercial_detail_land_depth_rear").val('<%= params[:commercial_detail][:land_depth_rear] %>');
      <%end%>
      <% unless params[:commercial_detail][:all_the_building].blank? %>
        <% if params[:commercial_detail][:all_the_building] == '0' %>
          $("#commercial_detail_all_the_building_0").attr('checked', 'checked');
        <%elsif params[:commercial_detail][:all_the_building] == '1' %>
          $("#commercial_detail_all_the_building_1").attr('checked', 'checked');
        <%else%>
          $("#commercial_detail_all_the_building_2").attr('checked', 'checked');
        <%end%>
      <%end%>
      <% unless params[:commercial_detail][:current_leased].blank? %>
        $("#commercial_detail_current_leased").find("option[value='<%= params[:commercial_detail][:current_leased] %>']").attr('selected', 'selected');
      <%end%>
      <% unless params[:commercial_detail][:tenancy_option].blank? %>
        $("#commercial_detail_tenancy_option").find("option[value='<%= params[:commercial_detail][:tenancy_option] %>']").attr('selected', 'selected');
      <%end%>
      <% unless params[:commercial_detail][:current_leased].blank? %>
        $("#commercial_detail_current_leased").find("option[value='<%= params[:commercial_detail][:current_leased] %>']").attr('selected', 'selected');
      <%end%>
      <% unless params[:commercial_detail][:price_include_tax].blank? %>
        <% if params[:commercial_detail][:price_include_tax] == '2' %>
          $("#commercial_detail_price_include_tax_2").attr('checked', 'checked');
        <%elsif params[:commercial_detail][:price_include_tax] == '3' %>
          $("#commercial_detail_price_include_tax_3").attr('checked', 'checked');
        <%else%>
          $("#commercial_detail_price_include_tax_1").attr('checked', 'checked');
        <%end%>
      <%end%>
      <% unless params[:property][:display_price].blank? %>
        <% if params[:property][:display_price] == '1' %>
          $("#property_display_price_1").attr('checked', 'checked');
        <%elsif params[:property][:display_price] == '2' %>
          $("#property_display_price_2").attr('checked', 'checked');
          <% unless params[:property][:display_price_text].blank? %>
            $("#property_display_price_text").val('<%= params[:property][:display_price_text] %>');
          <%end%>
        <%else%>
          $("#property_display_price_0").attr('checked', 'checked');
        <%end%>
      <%end%>
      <% unless params[:commercial_detail][:auction_date].blank? %>
        $("#auction_date").val("<%= params[:commercial_detail][:auction_date].to_date.strftime('%d/%m/%Y') %>");
      <%end%>
      <% unless params[:commercial_detail][:auction_time].blank? %>
        $("#auction_hour").find("option[value='<%= params[:commercial_detail][:auction_time].split(":")[0] %>']").attr('selected', 'selected');
        $("#auction_min").find("option[value='<%= params[:commercial_detail][:auction_time].split(":")[1] %>']").attr('selected', 'selected');
      <%end%>
    <%end%>
  })
</script>