<% if @primary_contact.present? %>
  <div class="right-box">
    <%= @primary_contact.full_name %>
    <p>
      <%= "<b>Phone</b> : #{@primary_contact.phone}" if @primary_contact.phone.present? %>
      <%= "<br/><b>Mobile</b> : #{@primary_contact.mobile}" if @primary_contact.mobile.present? %>
      <%= "<br/><b>Email</b> : #{@primary_contact.email}" if @primary_contact.email.present? %>
    </p>
  </div>
<% end %>
<% if @secondary_contact.present? %>
  <div class="right-box">
    <%= @secondary_contact.full_name %>
    <p>
      <%= "<b>Phone</b> : #{@secondary_contact.phone}" if @secondary_contact.phone.present? %>
      <%= "<br/><b>Mobile</b> : #{@secondary_contact.mobile}" if @secondary_contact.mobile.present? %>
      <%= "<br/><b>Email</b> : #{@secondary_contact.email}" if @secondary_contact.email.present? %>
    </p>
  </div>
<% end %>
<% if @third_contact.present? %>
  <div class="right-box">
    <%= @third_contact.full_name %>
    <p>
      <%= "<b>Phone</b> : #{@third_contact.phone}" if @third_contact.phone.present? %>
      <%= "<br/><b>Mobile</b> : #{@third_contact.mobile}" if @third_contact.mobile.present? %>
      <%= "<br/><b>Email</b> : #{@third_contact.email}" if @third_contact.email.present? %>
    </p>
  </div>
<% end %>
