<% if current_office.new_development  || current_office.commercial_building  || current_office.land_release || current_office.residential_sale  || current_office.residential_lease  || current_office.commercial  || current_office.holiday_lease  || current_office.project_sale  || current_office.business_sale %>
  <h2>Create New Listing</h2>
<%end%>
<div class="sub-opt-nav" style="margin-top:10px;">
  <div class="sub2nav">
    <% if current_office.residential_sale  %>
      <div class="optnav"><%= link_to 'Residential Sale', residential_sale_new_agent_office_property_path(@agent,@office), :title => 'Residential Sale' %></div>
    <%end%>
    <% if current_office.residential_lease  %>
      <div class="optnav"><%= link_to 'Residential Lease', residential_lease_new_agent_office_property_path(@agent,@office), :title => 'Residential Lease' %></div>
    <%end%>
    <% if current_office.new_development  %>
      <div class="optnav"><%= link_to 'Residential Building', new_development_new_agent_office_property_path(@agent,@office), :title => 'Residential Building' %></div>
    <%end%>
    <% if current_office.commercial  %>
      <div class="optnav"><%= link_to 'Commercial Sale/Lease', commercial_new_agent_office_property_path(@agent,@office), :title => 'Commercial Sale/Lease' %></div>
    <%end%>
    <% if current_office.commercial_building  %>
      <div class="optnav"><%= link_to 'Building', commercial_building_new_agent_office_property_path(@agent,@office), :title => 'Residential Building' %></div>
    <%end%>
    <% if current_office.land_release  %>
      <div class="optnav"><%= link_to 'Land Release', land_release_new_agent_office_property_path(@agent,@office), :title => 'Land Release' %></div>
    <%end%>
    <% if current_office.general_sale  %>
      <div class="optnav"><%= link_to 'General Sale', general_sale_new_agent_office_property_path(@agent,@office), :title => 'General Sale' %></div>
    <%end%>
    <% if current_office.livestock_sale  %>
      <div class="optnav"><%= link_to 'Livestock Sale', livestock_sale_new_agent_office_property_path(@agent,@office), :title => 'Livestock Sale' %></div>
    <%end%>
    <% if current_office.clearing_sales_event  %>
      <div class="optnav"><%= link_to 'Clearing Sales Event', clearing_sales_event_new_agent_office_property_path(@agent,@office), :title => 'Clearing Sales Event' %></div>
    <%end%>
    <% if current_office.holiday_lease  %>
      <div class="optnav"><%= link_to 'Holiday Lease', holiday_lease_new_agent_office_property_path(@agent,@office), :title => 'Holiday Lease' %></div>
    <%end%>
    <% if current_office.project_sale  %>
      <div class="optnav"><%= link_to 'House & Land', project_sale_new_agent_office_property_path(@agent,@office), :title => 'House & Sale' %></div>
    <%end%>
    <% if current_office.business_sale  %>
      <div class="optnav"><%= link_to 'Business Sale', business_sale_new_agent_office_property_path(@agent,@office), :title => 'Business Sale' %></div>
    <%end%>
    <% if current_office.clearing_sale  %>
      <div class="optnav"><%= link_to 'Clearing Sale', clearing_sale_new_agent_office_property_path(@agent,@office), :title => 'Clearing Sale' %></div>
    <%end%>
    <div style="clear:both;"></div>
  </div>
</div>
<% unless params[:controller] == "search_results" %>
  <hr class="thick"></hr>
<%end%>
