<div id="displayingpricingdiv" class="set">
  <h6 class="full">Displaying Price</h6>
  <fieldset class="pf_fs12">
    <ul class="pf-ul">
      <li class="li--43"><label><span>Display Above Price:</span></label>
        <%= form.radio_button :display_price, Property::DISPLAY_PRICE, {:checked =>@property.display_price == 1}%>
      </li>
      <li class="li--44"><label><span>Display Text in Place of Price:</span></label>
      <%= form.radio_button :display_price, Property::DISPLAY_PRICE_TEXT,{:checked => @property.display_price == 2 ,:style=>"width:14px;min-width:0px;margin-right:5px;"}  %>
      <%= form.text_field :display_price_text, :class => 'single', :maxlength => 50, :onclick => "jQuery('#property_display_price_2').attr('checked', true);",:style=>"width:56%" %>
      </li>
      <li class="li--45"><label><span>Do not Display any Price Details:</span></label>
        <%= form.radio_button :display_price, Property::DONT_DISPLAY_PRICE,{:checked => @property.display_price == 0}%>
      </li>
    </ul>
  </fieldset>
</div> <!-- end #displayingpricingdiv SET -->
