<script type="text/javascript">
   function send_duplicate(){
     number = $("#duplication_number").val();
     listing = $("#duplication_listing").val();
     window.location = "<%= duplication_agent_office_property_path(@agent,@office,@property) %>?duplication_listing="+listing+"&duplication_number="+number;
   }
</script>
<div id="duplistingsdiv" class="group">

  <div class="set">
    <h6 class="full">Duplication<small class="formgrouplinks"> <a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Vendor"] %></span></small></h6>
      <ul class="pf-ul">
        <li class="li--48">
          <span class="threequarters" style="width:100%;">
            <div>
              <% if params[:action] == 'new_development' || @ptype == 'new_development' -%>
                <div style="width:35%;float:left;">Duplicate Listing:</div>
                <input type="hidden" name="duplication_listing" id="duplication_listing" value="NewDevelopment"/>
              <% else %>
                <div style="width:35%;float:left;">Listing Type:</div>
                <select id="duplication_listing" name="duplication_listing" >
                  <% if @office.residential_sale == true %>
                    <option value="ResidentialSale">Residential Sale</option>
                  <%end%>
                  <% if @office.residential_lease == true %>
                    <option value="ResidentialLease">Residential Lease</option>
                  <%end%>
                  <% if @office.holiday_lease == true %>
                    <option value="HolidayLease">Holiday Lease</option>
                  <%end%>
                  <% if @office.project_sale == true %>
                    <option value="ProjectSale">House & Land</option>
                  <%end%>
                </select>
                &nbsp;
              <% end %>
             <%= select_tag "duplication_number", options_for_select((1..10).map{|c| [c, c]}, params[:duplication_number]) %>
             <a href="javascript:send_duplicate();" style="font-size:9pt;">Duplicate</a>
            </div>
          </span>
        </li>
      </ul>
  </div>
</div><!-- end #duplistingsdiv GROUP -->