<li class="li--3">
  <label><span>Unique ID#:</span></label>
  <%= form.text_field :property_id, :class => 'single fldrequired' %>
</li>

<li class="li--5">
  <label><span>Headline:</span></label>
  <%= form.text_field :headline, :class => 'single fldrequired', :maxlength => 150 %>
</li>

<li class="li--6">
  <label><span>Description:</span></label>

  <%= form.text_area :description, :rows => 8, :cols => 17, :class => 'area', :maxlength => 65535 %>

  <div style="clear:both;"></div>

  <div style="float:right;margin-right:25px;">
   <span  id="aspell"><a href="javascript:spellcheck()" name="spell" style="text-decoration:none;" ><%= image_tag "/images/spellcheck.png" %> Check Spelling</a></span>
   <span class="loading"><%= image_tag "/images/ajax-loader.gif" %></span>
  </div>

  <div style="clear:both;"></div>
</li>

<script type="text/javascript">
  $(document).ready(function(){ $(".loading").hide();});
  // check the spelling on a textarea
  function spellcheck(){
    $(".loading").show();
    $("#aspell").hide();
    $("#property_description")
    .spellchecker({
            lang: "en",
            engine: "google",
            suggestBoxPosition: "above"
    })
    .spellchecker("check", function(result){
            // if result is true then there are no badly spelt words
            $(".loading").hide();
            $("#aspell").show();
            if (result) {
              alert('There are no incorrectly spelt words.');
            }
    });
  }
</script>
