<div id="parentlistingdiv" class="group">
  <div class="set">
    <h6 class="full">Parent Listing</h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul" id="address-container">
        <% unless @property.type.to_s == "BusinessSale" || params[:action] == "business_sale" %>
        <li class="li--14">
          <label><span>Parent Category: </span></label>
          <div id="parent">
            <% if @property.new_record? %>
              <% if @office.new_development && @office.land_release == false && @office.commercial_building == false && @office.general_sale == false && @office.livestock_sale == false && @office.clearing_sales_event == false %>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="">Please select</option>
                  <option value="NewDevelopment" selected="selected">Residential Building</option>
                </select>
              <%elsif @office.new_development == false && @office.land_release && @office.commercial_building == false && @office.general_sale == false && @office.livestock_sale == false && @office.clearing_sales_event == false %>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="">Please select</option>
                  <option value="LandRelease" selected="selected">Land Release</option>
                </select>
              <%elsif @office.new_development == false && @office.land_release == false && @office.commercial_building && @office.general_sale == false && @office.livestock_sale == false && @office.clearing_sales_event == false %>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="">Please select</option>
                  <option value="CommercialBuilding" selected="selected">Building</option>
                </select>
              <%elsif @office.new_development == false && @office.land_release == false && @office.commercial_building && @office.general_sale == true && @office.livestock_sale == false && @office.clearing_sales_event == false %>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="">Please select</option>
                  <option value="GeneralSale" selected="selected">General Sale</option>
                </select>
              <%elsif @office.new_development == false && @office.land_release == false && @office.commercial_building && @office.general_sale == false && @office.livestock_sale == true && @office.clearing_sales_event == false %>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="">Please select</option>
                  <option value="LivestockSale" selected="selected">Livestock Sale</option>
                </select>
              <%elsif @office.new_development == false && @office.land_release == false && @office.commercial_building && @office.general_sale == false && @office.livestock_sale == false && @office.clearing_sales_event == true %>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="">Please select</option>
                  <option value="ClearingSalesEvent" selected="selected">Clearing Sales Event</option>
                </select>
              <%elsif @office.new_development == false && @office.land_release == false && @office.commercial_building == false && @office.general_sale == false && @office.livestock_sale == false && @office.clearing_sales_event == false %>
                <%= form.select :parent_category, [['Please select', nil]] %>
              <%else%>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="" selected="selected">Please select</option>
                  <% if @office.new_development %>
                    <option value="NewDevelopment">Residential Building</option>
                  <%end%>
                  <% if @office.land_release %>
                    <option value="LandRelease">Land Release</option>
                  <%end%>
                  <% if @office.commercial_building %>
                    <option value="CommercialBuilding">Building</option>
                  <%end%>
                  <% if @office.general_sale %>
                    <option value="GeneralSale">General Sale</option>
                  <%end%>
                  <% if @office.livestock_sale %>
                    <option value="LivestockSale">Livestock Sale</option>
                  <%end%>
                  <% if @office.clearing_sales_event %>
                    <option value="ClearingSalesEvent">Clearing Sales Event</option>
                  <%end%>
                </select>
              <%end%>
            <%else%>
              <% if !@property.parent_category.blank? %>
                <% if @property.parent_category == "NewDevelopment" %>
                  <select id="property_parent_category" name="property[parent_category]">
                    <option value="">Please select</option>
                    <option value="NewDevelopment" selected="selected">Residential Building</option>
                    <% if @office.land_release %>
                      <option value="LandRelease">Land Release</option>
                    <%end%>
                    <% if @office.commercial_building %>
                      <option value="CommercialBuilding">Building</option>
                    <%end%>
                    <% if @office.general_sale %>
                      <option value="GeneralSale">General Sale</option>
                    <%end%>
                    <% if @office.livestock_sale %>
                      <option value="LivestockSale">Livestock Sale</option>
                    <%end%>
                    <% if @office.clearing_sales_event %>
                      <option value="ClearingSalesEvent">Clearing Sales Event</option>
                    <%end%>
                  </select>
                <%elsif @property.parent_category == "LandRelease" %>
                  <select id="property_parent_category" name="property[parent_category]">
                    <option value="">Please select</option>
                    <% if @office.new_development %>
                      <option value="NewDevelopment">Residential Building</option>
                    <%end%>
                    <option value="LandRelease" selected="selected">Land Release</option>
                    <% if @office.commercial_building %>
                      <option value="CommercialBuilding">Building</option>
                    <%end%>
                    <% if @office.general_sale %>
                      <option value="GeneralSale">General Sale</option>
                    <%end%>
                    <% if @office.livestock_sale %>
                      <option value="LivestockSale">Livestock Sale</option>
                    <%end%>
                    <% if @office.clearing_sales_event %>
                      <option value="ClearingSalesEvent">Clearing Sales Event</option>
                    <%end%>
                  </select>
                <% elsif @property.parent_category == "CommercialBuilding" %>
                  <select id="property_parent_category" name="property[parent_category]">
                    <option value="">Please select</option>
                    <% if @office.new_development %>
                      <option value="NewDevelopment">Residential Building</option>
                    <%end%>
                    <% if @office.land_release %>
                      <option value="LandRelease">Land Release</option>
                    <%end%>
                    <option value="CommercialBuilding" selected="selected">Building</option>
                    <% if @office.general_sale %>
                      <option value="GeneralSale">General Sale</option>
                    <%end%>
                    <% if @office.livestock_sale %>
                      <option value="LivestockSale">Livestock Sale</option>
                    <%end%>
                    <% if @office.clearing_sales_event %>
                      <option value="ClearingSalesEvent">Clearing Sales Event</option>
                    <%end%>
                  </select>
                <% elsif @property.parent_category == "GeneralSale" %>
                  <select id="property_parent_category" name="property[parent_category]">
                    <option value="">Please select</option>
                    <% if @office.new_development %>
                      <option value="NewDevelopment">Residential Building</option>
                    <%end%>
                    <% if @office.land_release %>
                      <option value="LandRelease">Land Release</option>
                    <%end%>
                    <% if @office.commercial_building %>
                      <option value="CommercialBuilding">Building</option>
                    <%end%>
                    <option value="GeneralSale" selected="selected">General Sale</option>
                    <% if @office.livestock_sale %>
                      <option value="LivestockSale">Livestock Sale</option>
                    <%end%>
                    <% if @office.clearing_sales_event %>
                      <option value="ClearingSalesEvent">Clearing Sales Event</option>
                    <%end%>
                  </select>
                <% elsif @property.parent_category == "LivestockSale" %>
                  <select id="property_parent_category" name="property[parent_category]">
                    <option value="">Please select</option>
                    <% if @office.new_development %>
                      <option value="NewDevelopment">Residential Building</option>
                    <%end%>
                    <% if @office.land_release %>
                      <option value="LandRelease">Land Release</option>
                    <%end%>
                    <% if @office.commercial_building %>
                      <option value="CommercialBuilding">Building</option>
                    <%end%>
                    <% if @office.general_sale %>
                      <option value="GeneralSale">General Sale</option>
                    <%end%>
                    <option value="LivestockSale" selected="selected">Livestock Sale</option>
                    <% if @office.clearing_sales_event %>
                      <option value="ClearingSalesEvent">Clearing Sales Event</option>
                    <%end%>
                  </select>
                <% elsif @property.parent_category == "ClearingSalesEvent" %>
                  <select id="property_parent_category" name="property[parent_category]">
                    <option value="">Please select</option>
                    <% if @office.new_development %>
                      <option value="NewDevelopment">Residential Building</option>
                    <%end%>
                    <% if @office.land_release %>
                      <option value="LandRelease">Land Release</option>
                    <%end%>
                    <% if @office.commercial_building %>
                      <option value="CommercialBuilding">Building</option>
                    <%end%>
                    <% if @office.general_sale %>
                      <option value="GeneralSale">General Sale</option>
                    <%end%>
                    <% if @office.livestock_sale %>
                      <option value="LivestockSale">Livestock Sale</option>
                    <%end%>
                    <option value="ClearingSalesEvent" selected="selected">Clearing Sales Event</option>
                  </select>
                <%end%>
              <%elsif @office.new_development == false && @office.land_release == false && @office.commercial_building == false %>
                <%= form.select :parent_category, [['Please select', nil]] %>
              <%else%>
                <select id="property_parent_category" name="property[parent_category]">
                  <option value="" selected="selected">Please select</option>
                  <% if @office.new_development %>
                    <option value="NewDevelopment">Residential Building</option>
                  <%end%>
                  <% if @office.land_release %>
                    <option value="LandRelease">Land Release</option>
                  <%end%>
                  <% if @office.commercial_building %>
                    <option value="CommercialBuilding">Building</option>
                  <%end%>
                  <% if @office.general_sale %>
                    <option value="GeneralSale">General Sale</option>
                  <%end%>
                  <% if @office.livestock_sale %>
                    <option value="LivestockSale">Livestock Sale</option>
                  <%end%>
                  <% if @office.clearing_sales_event %>
                    <option value="ClearingSalesEvent">Clearing Sales Event</option>
                  <%end%>
                </select>
              <%end%>
            <%end%>
          </div>
        </li>
        <li class="li--14">
          <label><span>Parent Listing: </span></label>
          <div id="parent">
            <% if @property.new_record? || @property.parent_category.blank? || @property.parent_listing_id.blank? %>
              <% if @parent.size == 1 %>
                <select id="property_parent_listing_id" name="property[parent_listing_id]">
                  <option value="<%=@parent.first.id%>"><%= @parent.first.address %></option>
                </select>
              <%else%>
                <select id="property_parent_listing_id" name="property[parent_listing_id]">
                  <option value="">Please Select</option>
                  <% unless session[:parent_category].blank? %>
                    <% if session[:parent_category] == "NewDevelopment" %>
                      <%@residential_building_options.each do |res_build|%>
                        <option value="<%=res_build.id%>"><%=res_build.address%></option>
                      <%end%>
                    <%elsif session[:parent_category] == "LandRelease"%>
                      <%@land_release_options.each do |land_rel|%>
                        <option value="<%=land_rel.id%>"><%=land_rel.address%></option>
                      <%end%>
                    <%else%>
                      <%@commercial_building_options.each do |com_build|%>
                        <option value="<%=com_build.id%>"><%=com_build.address%></option>
                      <%end%>
                    <%end%>
                  <%end%>
                </select>
              <%end%>
            <%else%>
              <% if @property.parent_category == "NewDevelopment" %>
                <%= form.select :parent_listing_id, @residential_building_options, :class => 'select_box', :selected => @property.parent_listing_id %>
              <% elsif @property.parent_category == "LandRelease" %>
                <%= form.select :parent_listing_id, @land_release_options, :class => 'select_box', :selected => @property.parent_listing_id %>
              <%elsif @property.parent_category == "CommercialBuilding" %>
                <%= form.select :parent_listing_id, @commercial_building_options, :class => 'select_box', :selected => @property.parent_listing_id %>
              <%elsif @property.parent_category == "GeneralSale" %>
                <%= form.select :parent_listing_id, @general_sale_options, :class => 'select_box', :selected => @property.parent_listing_id %>
              <%elsif @property.parent_category == "LivestockSale" %>
                <%= form.select :parent_listing_id, @livestock_sale_options, :class => 'select_box', :selected => @property.parent_listing_id %>
              <%elsif @property.parent_category == "ClearingSalesEvent" %>
                <%= form.select :parent_listing_id, @clearing_sales_event_options, :class => 'select_box', :selected => @property.parent_listing_id %>
              <%end%>
            <%end%>
          </div>
          <%= form.check_box :is_children_listing, :style => "display:none;" %>
        </li>
        <%end%>
          <% unless @property.type == "ClearingSale" || params[:action] == "clearing_sale" %>
            <li class="li--23" id="li_displayAddress">
          <%end%>
          <% unless @property.type == "ClearingSale" || params[:action] == "clearing_sale" %>
          <label><span>Listing Ownership: </span></label>
          <%else%>
          <label style="padding-right:103px"><span>Listing Ownership: </span></label>
          <%end%>
          <%= form.radio_button :ownership, "Agency", :onchange => "javascript:switch_ownership();" %>&nbsp; Agency &nbsp;
          <span style="float:right;padding-right: 235px"><%= form.radio_button :ownership, "Prospect", :onchange => "javascript:switch_ownership();" %>&nbsp; Prospect &nbsp;</span>

          <% unless @property.type == "ClearingSale" || params[:action] == "clearing_sale" %>
          </li>
        <%end%>
      </ul>
    </fieldset>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    <% if @property.ownership.blank? %>
      $("#property_ownership_agency").attr('checked', 'checked');
    <%end%>
    <% if params[:action] == 'update' %>
      <% unless params[:property][:ownership].blank? %>
        <% if params[:property][:ownership] == 'Agency' %>
          $("#property_ownership_agency").attr("checked", "checked");
        <%else%>
          $("#property_ownership_prospect").attr("checked", "checked");
        <%end%>
        <% unless params[:commercial_detail][:property_type2].blank? %>
          $("#commercial_detail_property_type2").find("option[value='<%= params[:commercial_detail][:property_type2] %>']").attr('selected', 'selected');
        <%end%>
      <%end%>
      <% unless params[:property][:parent_listing_id].blank? %>
        $("#property_parent_listing_id").find("option[value='<%= params[:property][:parent_listing_id] %>']").attr('selected',);
      <%end%>
    <%end%>
<% unless session[:parent_category].blank? %>
  <% if session[:parent_category] == "NewDevelopment" %>
        $("#property_parent_listing_id option[value=<%=session[:parent_listing_id]%>]").attr("selected", "selected");
  <%elsif session[:parent_category] == "LandRelease" %>
        $("#property_parent_listing_id option[value=<%=session[:parent_listing_id]%>]").attr("selected", "selected");
  <%else%>
        $("#property_parent_listing_id option[value=<%=session[:parent_listing_id]%>]").attr("selected", "selected");
  <%end%>
<%end%>

<% unless @property.new_record? %>
  <% if @property.parent_category == "NewDevelopment" %>
        var option_element_residential_building;
    <% @residential_building_options.each do |res_build| %>
          option_element_residential_building = option_element_residential_building + "<option value=<%=res_build.id %>><%= res_build.address.to_s %></option>"
    <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_residential_building);
        $("#property_parent_listing_id").find('option[value=<%=@property.parent_listing_id%>]').attr('selected', 'selected');
  <% elsif @property.parent_category == "LandRelease" %>
        var option_element_land_release;
    <% @land_release_options.each do |land_release| %>
          option_element_land_release = option_element_land_release + "<option value=<%=land_release.id %>><%= land_release.address.to_s %></option>"
    <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_land_release);
        $("#property_parent_listing_id").find('option[value=<%=@property.parent_listing_id%>]').attr('selected', 'selected');

  <% elsif @property.parent_category == "CommercialBuilding" %>
        var option_element_commercial_building;
    <% @commercial_building_options.each do |com_building| %>
          option_element_commercial_building = option_element_commercial_building + "<option value=<%=com_building.id %>><%= com_building.address.to_s %></option>"
    <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_commercial_building);
        $("#property_parent_listing_id").find('option[value=<%=@property.parent_listing_id%>]').attr('selected', 'selected');

  <% elsif @property.parent_category == "GeneralSale" %>
        var option_element_general_sale;
    <% @general_sale_options.each do |general_sale_option| %>
          option_element_general_sale = option_element_general_sale + "<option value=<%=general_sale_option.id %>><%= general_sale_option.address.to_s %></option>"
    <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_general_sale);
        $("#property_parent_listing_id").find('option[value=<%=@property.parent_listing_id%>]').attr('selected', 'selected');

  <% elsif @property.parent_category == "LivestockSale" %>
        var option_element_livestock_sale;
    <% @livestock_sale_options.each do |livestock_sale_option| %>
          option_element_livestock_sale = option_element_livestock_sale + "<option value=<%=livestock_sale_option.id %>><%= livestock_sale_option.address.to_s %></option>"
    <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_livestock_sale);
        $("#property_parent_listing_id").find('option[value=<%=@property.parent_listing_id%>]').attr('selected', 'selected');

  <% elsif @property.parent_category == "ClearingSalesEvent" %>
        var option_element_clearing_sales_event;
    <% @clearing_sales_event_options.each do |clearing_sales_event_option| %>
          option_element_clearing_sales_event = option_element_clearing_sales_event + "<option value=<%=clearing_sales_event_option.id %>><%= clearing_sales_event_option.address.to_s %></option>"
    <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_clearing_sales_event);
        $("#property_parent_listing_id").find('option[value=<%=@property.parent_listing_id%>]').attr('selected', 'selected');

  <%elsif @property.parent_category.blank? %>
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
  <%end%>
<%else%>
    $("#property_ownership_agency").attr("checked", true);
      if($("#property_parent_category").val() == "NewDevelopment"){
        var option_element_residential_building;
  <% @residential_building_options.each do |res_build| %>
          option_element_residential_building = option_element_residential_building + "<option value=<%=res_build.id %>><%= res_build.address.to_s %></option>"
  <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_residential_building);
      }else if($("#property_parent_category").val() == "LandRelease"){
        var option_element_land_release;
  <% @land_release_options.each do |land_release| %>
          option_element_land_release = option_element_land_release + "<option value=<%=land_release.id %>><%= land_release.address.to_s %></option>"
  <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_land_release);
      }else if($("#property_parent_category").val() == "CommercialBuilding"){
        var option_element_commercial_building;
  <% @commercial_building_options.each do |com_building| %>
          option_element_commercial_building = option_element_commercial_building + "<option value=<%=com_building.id %>><%= com_building.address.to_s %></option>"
  <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_commercial_building);

      } else if($("#property_parent_category").val() == "GeneralSale"){
        var option_element_general_sale;
  <% @general_sale_options.each do |general_sale_option| %>
    option_element_general_sale= option_element_general_sale + "<option value=<%=general_sale_option.id %>><%= general_sale_option.address.to_s %></option>"
  <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_general_sale);

      } else if($("#property_parent_category").val() == "LivestockSale"){
        var option_element_livestock_sale;
  <% @livestock_sale_options.each do |livestock_sale_option| %>
    option_element_livestock_sale= option_element_livestock_sale + "<option value=<%=livestock_sale_option.id %>><%= livestock_sale_option.address.to_s %></option>"
  <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_livestock_sale);

      } else if($("#property_parent_category").val() == "ClearingSalesEvent"){
        var option_element_clearing_sales_event;
  <% @clearing_sales_event_options.each do |clearing_sales_event_option| %>
    option_element_clearing_sales_event= option_element_clearing_sales_event + "<option value=<%=clearing_sales_event_option.id %>><%= clearing_sales_event_option.address.to_s %></option>"
  <%end%> ;
        $("#property_parent_listing_id option").remove();
        $("#property_parent_listing_id").append("<option value=''>Please select</option>");
        $("#property_parent_listing_id").append(option_element_clearing_sales_event);
      }

<%end%>
  });

  $("#property_parent_category").live("change", function(){
    if($("#property_parent_category").val() == "NewDevelopment"){
      var option_element_residential_building;
<% @residential_building_options.each do |res_build| %>
        option_element_residential_building = option_element_residential_building + "<option value=<%=res_build.id %>><%= res_build.address.to_s %></option>"
<%end%> ;
      $("#property_parent_listing_id option").remove();
      $("#property_parent_listing_id").append("<option value=''>Please select</option>");
      $("#property_parent_listing_id").append(option_element_residential_building);
      if($('#property_parent_listing_id').val() != ''){
        $('#property_is_children_listing').attr('checked', 'checked');
        $('#property_is_children_listing').val('1');
      }else{
        $('#property_is_children_listing').removeAttr('checked');
        $('#property_is_children_listing').val('0');
      }
    }else if($("#property_parent_category").val() == "LandRelease"){
      var option_element_land_release;
<% @land_release_options.each do |land_release| %>
        option_element_land_release = option_element_land_release + "<option value=<%=land_release.id %>><%= land_release.address.to_s %></option>"
<%end%> ;
      $("#property_parent_listing_id option").remove();
      $("#property_parent_listing_id").append("<option value=''>Please select</option>");
      $("#property_parent_listing_id").append(option_element_land_release);
      if($('#property_parent_listing_id').val() != ''){
        $('#property_is_children_listing').attr('checked', 'checked');
        $('#property_is_children_listing').val('1');
      }else{
        $('#property_is_children_listing').removeAttr('checked');
        $('#property_is_children_listing').val('0');
      }
    }else if($("#property_parent_category").val() == "CommercialBuilding"){
      var option_element_commercial_building;
<% @commercial_building_options.each do |com_building| %>
        option_element_commercial_building = option_element_commercial_building + "<option value=<%=com_building.id %>><%= com_building.address.to_s %></option>"
<%end%> ;
      $("#property_parent_listing_id option").remove();
      $("#property_parent_listing_id").append("<option value=''>Please select</option>");
      $("#property_parent_listing_id").append(option_element_commercial_building);
      if($('#property_parent_listing_id').val() != ''){
        $('#property_is_children_listing').attr('checked', 'checked');
        $('#property_is_children_listing').val('1');
      }else{
        $('#property_is_children_listing').removeAttr('checked');
        $('#property_is_children_listing').val('0');
      }
    } else if($("#property_parent_category").val() == "GeneralSale"){
      var option_element_general_sale;
<% @general_sale_options.each do |general_sale_option| %>
        option_element_general_sale = option_element_general_sale + "<option value=<%=general_sale_option.id %>><%= general_sale_option.address.to_s %></option>"
<%end%> ;
      $("#property_parent_listing_id option").remove();
      $("#property_parent_listing_id").append("<option value=''>Please select</option>");
      $("#property_parent_listing_id").append(option_element_general_sale);
      if($('#property_parent_listing_id').val() != ''){
        $('#property_is_children_listing').attr('checked', 'checked');
        $('#property_is_children_listing').val('1');
      }else{
        $('#property_is_children_listing').removeAttr('checked');
        $('#property_is_children_listing').val('0');
      }
    } else if($("#property_parent_category").val() == "LivestockSale"){
      var option_element_livestock_sale;
<% @livestock_sale_options.each do |livestock_sale_option| %>
        option_element_livestock_sale = option_element_livestock_sale + "<option value=<%=livestock_sale_option.id %>><%= livestock_sale_option.address.to_s %></option>"
<%end%> ;
      $("#property_parent_listing_id option").remove();
      $("#property_parent_listing_id").append("<option value=''>Please select</option>");
      $("#property_parent_listing_id").append(option_element_livestock_sale);
      if($('#property_parent_listing_id').val() != ''){
        $('#property_is_children_listing').attr('checked', 'checked');
        $('#property_is_children_listing').val('1');
      }else{
        $('#property_is_children_listing').removeAttr('checked');
        $('#property_is_children_listing').val('0');
      }
    } else if($("#property_parent_category").val() == "ClearingSalesEvent"){
      var option_element_clearing_sales_event;
<% @clearing_sales_event_options.each do |clearing_sales_event_option| %>
        option_element_clearing_sales_event = option_element_clearing_sales_event + "<option value=<%=clearing_sales_event_option.id %>><%= clearing_sales_event_option.address.to_s %></option>"
<%end%> ;
      $("#property_parent_listing_id option").remove();
      $("#property_parent_listing_id").append("<option value=''>Please select</option>");
      $("#property_parent_listing_id").append(option_element_clearing_sales_event);
      if($('#property_parent_listing_id').val() != ''){
        $('#property_is_children_listing').attr('checked', 'checked');
        $('#property_is_children_listing').val('1');
      }else{
        $('#property_is_children_listing').removeAttr('checked');
        $('#property_is_children_listing').val('0');
      }
    }

  });

  $('#property_parent_listing_id').live('change', function(){
    update_children_address();
  });

  function update_children_address(){
    var base_address = $('#propertyaddressdiv');
    var controller = "<%= update_child_property_address_agent_office_properties_path(@agent, @office) %>";
    //var controller = "/agents/<%#=@agent.id%>/offices/<%#=@office.id%>/properties/update_child_property_address"
    $.ajax({
      type: "GET",
      url: escape(controller),
      data: {"property_parent_listing_id" : $('#property_parent_listing_id').val(),
        "property_id" : "<%=@property.id%>" },
      dataType:"html",
      beforeSend:function(){
        $("#property_country").attr("disabled", "disabled");
        $("#property_street").attr("disabled", "disabled");
        $("#property_suburb_suggest_input").attr("disabled", "disabled");
        $("#property_street_number").attr("disabled", "disabled");
        $("#property_street").attr("disabled", "disabled");
        $("#lb_town_village").hide();
        $("#lb_state").hide();
        $("#lb_zip_code").hide();
      },
      success: function(data){
        $("#property_country").removeAttr('disabled');
        jQuery("#propertyaddressdiv").html(data);
        $("#country_loading").hide();
      }
    });
    return false;
  };

  function switch_ownership(){
    if($("#property_ownership_agency").is(":checked") == true){
      $(".contact_vendor").slideDown("slow");
      $(".external_agent_div").slideUp("slow");
      $("#property_external_agent_id").val("");
      $("#property_external_agent_first_name").val("");
      $("#property_external_agent_last_name").val("");
      $("#property_external_agent_email").val("");
      $("#property_external_agent_phone").val("");
      $("#property_external_agent_work_number").val("");
      $("#property_external_agent_home_number").val("");
      $("#property_external_agent_mobile_number").val("");
      <% unless @property.primary_contact_id.blank? %>
        $("#property_primary_contact_id").val('<%= @property.primary_contact_id %>');
      <%end%>
      <% unless @property.secondary_contact_type.blank? %>
        $("#property_secondary_contact_type").val('<%= @property.secondary_contact_type %>');
      <%end%>
      <% unless @property.secondary_contact_id.blank? %>
        $("#property_secondary_contact_id").val('<%= @property.secondary_contact_id %>');
      <%end%>
      <% unless @property.third_contact_type.blank? %>
        $("#property_third_contact_type").val('<%= @property.third_contact_type %>');
      <%end%>
      <% unless @property.third_contact_id.blank? %>
        $("#property_third_contact_id").val('<%= @property.third_contact_id %>');
      <%end%>
      <% unless @property.fourth_contact_type.blank? %>
        $("#property_fourth_contact_type").val('<%= @property.fourth_contact_type %>');
      <%end%>
      <% unless @property.fourth_contact_id.blank? %>
        $("#property_fourth_contact_id").val('<%= @property.fourth_contact_id %>');
      <%end%>
    }else{
      $(".contact_vendor").slideUp("slow");
      $(".external_agent_div").slideDown("slow");
      $("#property_primary_contact_id").val("");
      $("#property_secondary_contact_type").val("");
      $("#property_secondary_contact_id").val("");
      $("#property_third_contact_type").val("");
      $("#property_third_contact_id").val("");
      $("#property_fourth_contact_type").val("");
      $("#property_fourth_contact_id").val("");
      <% unless @property.external_agent_id.blank? %>
        $("#property_external_agent_id").val('<%= @property.external_agent_id %>');
      <%end%>
      <% unless @property.external_agent_first_name.blank? %>
        $("#property_external_agent_first_name").val('<%= @property.external_agent_first_name %>');
      <%end%>
      <% unless @property.external_agent_last_name.blank? %>
        $("#property_external_agent_last_name").val('<%= @property.external_agent_last_name %>');
      <%end%>
      <% unless @property.external_agent_email.blank? %>
        $("#property_external_agent_email").val('<%= @property.external_agent_email %>');
      <%end%>
      <% unless @property.external_agent_phone.blank? %>
        $("#property_external_agent_phone").val('<%= @property.external_agent_phone %>');
      <%end%>
      <% unless @property.external_agent_work_number.blank? %>
        $("#property_external_agent_work_number").val('<%= @property.external_agent_work_number %>');
      <%end%>
      <% unless @property.external_agent_home_number.blank? %>
        $("#property_external_agent_home_number").val('<%= @property.external_agent_home_number %>');
      <%end%>
      <% unless @property.external_agent_mobile_number.blank? %>
        $("#property_external_agent_mobile_number").val('<%= @property.external_agent_mobile_number %>');
      <%end%>
    }
  }

</script>
