<% properties.each do |pline| %>
  <tr id="<%= dom_id pline %>" >
  <style type="text/css">
    #mask {
      position:absolute;
      z-index:9000;
      background-color:#000;
      display:none;
    }
  </style>
  <script type="text/javascript">
    function fbs_click(params) {
      t=document.title;
  <% if (@office.url.blank? && pline.detail && pline.detail.property_url.blank?) %>
        callToServer("<%= share_on_facebook_agent_office_property_path(@agent, @office, pline, :height => 200, :width => 300) %>",200,300);
  <%else%>
        window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(params)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=500,height=450');
  <%end%>
      return false;
    }
  </script>
  <script type="text/javascript">
    function callToServer(path,width,height) {
      if($("RSIFrame").length <= 1){
        var winW = $(window).width();
        $("#booting").show();
        $('#mask').css({'width': winW,'height': 800,"position":"fixed","top":0,"left":0});
        if(width == "200" && height == "300"){
          $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a>'));
          $("#frameContainer").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
          $("#booting").hide();
          $("#frameContainer").css('top', height/2);
        }else{
          $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a><iframe id="RSIFrame"></iframe>'));
          $("#RSIFrame").css("background-color", "white");
          $("#RSIFrame").attr("width", width);
          $("#RSIFrame").attr("height", height);
          $("#RSIFrame").attr("position", 'fixed');
          $("#RSIFrame").attr("src", path);
          $("#frameContainer").css('left',winW/2-$("#RSIFrame").width()/2);
          $("#frameContainer").css('width', "400px");
          $("#frameContainer").css('top', 45);
        }
        //transition effect
        $('#mask').fadeIn(1000);
        $('#mask').fadeTo("slow",0.8);
        $('#closeFrame').css({'width':"100%",'height':"10px","background":"black","z-index":"9999","top":"0px","text-align":"center","color":"white"});
        $("#frameContainer").append($("#closeFrame"));
        //Get the window height and width
        $("#frameContainer").attr("width", width+50);
        $("#frameContainer").attr("height", height+50);
        $("#frameContainer").css({display:"block"})
        $("#frameContainer").css('float', "left");
        $("#frameContainer").css('z-index','9999');
        $("#frameContainer").css('position','fixed');
        $("#frameContainer").append($("#RSIFrame"))
        $('#closeFrame').click(function () {
          $("#mask").hide();
          $("#frameContainer").remove();
          $("#closeFrame").remove();
          $("#RSIFrame").remove();
          tb_remove_ajax();
          return false;
        });
        $('#mask').click(function () {
          $("#mask").hide();
          $("#frameContainer").remove();
          $("#closeFrame").remove();
          $("#RSIFrame").remove();
          tb_remove_ajax();
        });
        return false;
      }
    };
    function tb_remove_ajax() {
      $("#mask").hide();
      $("#frameContainer").remove();
      $("#closeFrame").remove();
      $("#RSIFrame").remove();
      var controller = "<%= update_listing_agent_office_properties_path(@agent,@office) %>";
      $.ajax({
        type: "GET",
        url: escape(controller),
        success: function(jsonResponse){
          $("#booting").hide();
          if(jsonResponse != ''){
            var property = new String(jsonResponse).split('-');
            $("#"+property[0]+"_"+property[1]).insertAfter($('.property-list').find('tr').eq(0))
            switch(property[3]){
              case "1":
                $("#"+property[0]+"_"+property[1]+"_"+property[2]).find('img:first').attr('src','/images/icons/'+property[2]+'.gif');
                break;
              default:
                $("#"+property[0]+"_"+property[1]+"_"+property[2]).find('img:first').attr('src','/images/icons/'+property[2]+'_grey.gif');
                break;
            }
          }
        },
        complete:function(){

        }
      });
      window.parent.preparing_changes();
    }
    function tb_remove_ajax_and_change_location(referer) {
      $("#mask").hide();
      $("#frameContainer").remove();
      $("#closeFrame").remove();
      $("#RSIFrame").remove();
      $("#booting").hide();
      window.location.replace(referer);
    }
    function check_color(id,ptype){
      var controller = "<%= check_color_agent_office_properties_path(@agent,@office) %>";
      $.ajax({
        type: "GET",
        url: escape(controller),
        data:"id="+id+"&ptype="+ptype,
        success:function(jsonResponse){
          var eval_json = eval(jsonResponse);
          $("#"+ptype+"_"+id+"_"+"icon_photo").find('img').attr("src",eval_json[0]);
          $("#"+ptype+"_"+id+"_"+"icon_plan").find('img').attr("src",eval_json[1]);
          $("#"+ptype+"_"+id+"_"+"icon_date").find('img').attr("src",eval_json[2]);
         // $("#"+ptype+"_"+id+"_"+"icon_video").find('img').attr("src",eval_json[3]);
        },
        complete:function(){
        }
      });
    };
  </script>
  <td class="list_edit first_cell first_cell link_table"><%= link_to 'EDIT', edit_agent_office_property_path(@agent,@office,pline,:come_from => request.request_uri) , :style =>"color:#0e7fc7;"%></td>
  <td class="list_id"><%= pline.id.to_s.strip %></td>
  <td class="list_ptype"><%=  abbrv_properties(pline.type).to_s.strip %></td>
  <td class="list_number" style="<%= pline.display_address ? 'color:black' : 'color:grey'%>"><span title="<%= h pline.contact.address.to_s.strip %>"><%= pline.unit_number.blank? ? "" : pline.unit_number.to_s.strip + " / " %><%= h pline.contact.address.to_s.strip %></span></td>
  <td class="list_suburb"><%= h pline.suburb.to_s.strip %></td>
  <td class="list_type"><%= h pline.property_type.to_s.strip %></td>
  <td class="list_price"><span class="all" title="Display price"><%= link_to [number_to_currency pline.price, :precision => 0].to_s.strip, price_agent_office_property_path(@agent, @office, pline, :height => 400, :width => 500, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;', :style =>"color:#0e7fc7;" %>
    </span></td>
  <td class="list_agent"><%= link_to pline.primary_contact.blank? ? '' : pline.primary_contact.full_name.to_s.strip, assign_agent_office_property_path(@agent, @office, pline, :height => 200, :width => 400, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;', :style =>"color:#0e7fc7;" %>
  </td>

  <script type="text/javascript">
    $(document).ready(function(){
      check_color('<%= pline.id %>','<%= pline.type.to_s.underscore %>');return false;
    });
  </script>
  <td class="list-action">

    <%= link_to image_tag("/images/icons/icon_photo_grey.gif"), photos_agent_office_property_path(@agent, @office, pline, :height => 500, :width => 900, :come_from => request.request_uri),:id =>"#{dom_id pline}_icon_photo", :onclick => 'callToServer($(this).attr("href"),400,500);return false;'%>
    <%= link_to image_tag("/images/icons/icon_plan_grey.gif"), floorplans_agent_office_property_path(@agent, @office, pline, :height => 500, :width => 900, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_icon_plan"  %>
    <%= link_to image_tag("/images/icons/icon_date_grey.gif"), agent_office_property_opentimes_path(@agent, @office, pline, :height => 300, :width => 400 , :come_from => request.request_uri)+"?KeepThis=true&TB_iframe=true&height=300&width=400", :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_icon_date"  %>
    <%= link_to image_tag("/images/icons/icon_preview.gif"), preview_agent_office_property_path(@agent, @office, pline, :height => 500, :width => 500, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_icon_preview"  %>
    <!--
  <#%= link_to video_icon(pline), new_agent_office_property_video_path(@agent, @office, pline, :height => 550, :width => 450, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),460,460);return false;',:id =>"#{dom_id pline}_icon_video"  %>
  <#%= link_to mp3_icon(pline), agent_office_property_mp3s_path(@agent, @office, pline, :height => 400, :width => 300, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_icon_mp3"  %>
  <#%= link_to brochure_icon(pline), agent_office_property_brochures_path(@agent, @office, pline, :height => 200, :width => 500, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_icon_brochure"  %>
  <#%= link_to map_icon(pline), gmap_agent_office_property_path(@agent, @office, pline, :height => 500, :width => 400, :KeepThis => true, :TB_iframe => true ), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_icon_map"  %>
  <a href="tools.php" onclick="dialog.ajaxactivate('/email/property/109339',null); return false;"><img alt="Icon_analytics" src="/images/icons/icon_analytics.gif" /></a>
  <#%= link_to image_tag("/images/icons/icon_help.gif"), new_agent_message_path(@agent, :height => 400, :width => 400, :come_from => request.request_uri, :property_id => pline.id, :layout => "false"), :onclick => 'callToServer($(this).attr("href"),400,500);return false;' %></td>
    -->
  </td>


  <% if !current_user.allow_property_owner_access? %>
    <td class="list_status"><%= link_to status_icon(pline), status_agent_office_property_path(@agent, @office, pline, :height => 300, :width => 400, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_status" %></td>
  <% end %>
  <td class="list_share"><%= link_to image_tag("icons/Facebook.png"),"http://www.facebook.com/share.php",:rel=>"nofollow", :onclick => "return fbs_click(\"#{translate_url_for_fb(@office.url,pline.id)  || pline.detail.property_url }\")",:target=>"_blank",:class =>"fb_share_button" %><%= link_to image_tag("icons/twitter.png"), share_on_twitter_agent_office_property_path(@agent, @office, pline, :height => 300, :width => 400, :come_from => request.request_uri), :onclick => 'callToServer($(this).attr("href"),400,500);return false;',:id =>"#{dom_id pline}_share_twitter" %></td>
  </tr>
<% end %>
<%= will_paginate properties%>

