<%= debug @property %>
<h2 class="page_title"><%= @property.type.underscore.gsub("_"," ").split(/\s+/).each{ |word| word.capitalize! }.join(' ') %></h2>
<p align="right"><%= link_to "Update Listing", :controller => :properties, :action => :edit, :id => @property.id %></p>
<table border="0" cellpadding="0" celspacing="0">
	<tr>
		<td>Property ID</td>
		<td>: <%= @property.id %></td>
	</tr>
	<tr>
		<td>Address</td>
		<td>: <%= @property.address %></td>
	</tr>
	<tr>
		<td>Property Category</td>
		<td>: <%= @property.type.underscore.gsub("_"," ").split(/\s+/).each{ |word| word.capitalize! }.join(' ') %></td>
	</tr>
	<tr>
		<td>Property Type</td>
		<td>: <%= @property.property_type %></td>
	</tr>
	<tr>
		<td>Unique Property ID</td>
		<td>: <%= @property.id %></td>
	</tr>	
	<tr>
		<td>Property Headline</td>
		<td>: <%= @property.headline %></td>
	</tr>
	<tr>
		<td>Property Description</td>
		<td>: <%= @property.description %></td>
	</tr>
	<tr>
		<td>Year built</td>
		<td>: <%= @property.description %></td>
	</tr>
	<tr>
		<td>Tax Rates</td>
		<td>: <%= @property.description %></td>
	</tr>
	<tr>
		<td>Condo/Strata Fees</td>
		<td>: <%= @property.description %></td>
	</tr>
	<tr>
		<td>Estimated Rental Return</td>
		<td>: <%= @property.description %></td>
	</tr>
	<tr>
		<td>Number of Bedrooms</td>
		<td>: <%= @detail.bedrooms %></td>
	</tr>
	<tr>
		<td>Number of Bathrooms</td>
		<td>: <%= @detail.bathrooms %></td>
	</tr>
	<tr>
		<td>Number of Carport Spaces</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Number of Garage Spaces:</td>
		<td>: <%= @detail.garage_spaces %></td>
	</tr>	
	<tr>
		<td>Number of Off Street Spaces</td>
		<td>: <%= @detail.off_street_spaces %></td>
	</tr>	
	<tr>
		<td>Energy Efficiency Rating</td>
		<td>: <%= @detail.energy_efficiency_rating %></td>
	</tr>	
	<tr>
		<td>Mapping Coordinates</td>
		<td>: Latitude <%= @property.latitude %>, Longitude <%= @property.longitude %></td>
	</tr>
	<tr>
		<td>Land Area</td>
		<td>: <%= @detail.land_area %></td>
	</tr>	
	<tr>
		<td>Floor Area</td>
		<td>: <%= @detail.floor_area %></td>
	</tr>	
	<tr>
		<td>Number of Floors/Levels</td>
		<td>: <%= @detail.number_of_floors %></td>
	</tr>	
	<tr>
		<td>Features</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Virtual Tour</td>
		<td>: <%= @detail.virtual_tour %></td>
	</tr>	
	<tr>
		<td>Forthcoming Auction</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Auction Place</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Auction Date/Time</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Price/Search Price</td>
		<td>: <%= number_to_currency @property.price , :unit => '$', :separator => ",", :delimiter => "."%></td>
	</tr>	
	<tr>
		<td>Display Above Price</td>
		<td>: <%= @property.display_price == "1"? "Yes" : "No" %></td>
	</tr>	
	<tr>
		<td>Display text in place of Price</td>
		<td>: <%= @property.display_price_text %></td>
	</tr>	
	<tr>
		<td>Do not display any price details</td>
		<td>: <%= @property.display_price == "1"? "No" : "Yes" %></td>
	</tr>	
	<tr>
		<td>Primary Contact</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Secondary Contact</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>	
	<tr>
		<td>Vendors Details + First Name</td>
		<td>: <%= @property.vendor_first_name %></td>
	</tr>	
	<tr>
		<td>Vendors Details + Last Name</td>
		<td>: <%= @property.vendor_last_name %></td>
	</tr>	
	<tr>
		<td>Vendors Details + Email</td>
		<td>: <%= @property.vendor_last_name %></td>
	</tr>	
	<tr>
		<td>Vendors Details + Phone</td>
		<td>: <%= @property.vendor_phone %></td>
	</tr>	
	<tr>
		<td>Submission Date</td>
		<td>: <%= @property.created_at.strftime('%b %d, %Y') %></td>
	</tr>	
	<tr>
		<td>Last Updated</td>
		<td>: <%= time_ago_in_words(@property.updated_at) %></td>
	</tr>
	<tr>
		<td>The number of Images</td>
		<td>: <%= @images %></td>
	</tr>
	<tr>
		<td>The number of floor plans</td>
		<td>: <%= @fplan %></td>
	</tr>
	<tr>
		<td>The number of Videos</td>
		<td>: <%= @videos %></td>
	</tr>
	<tr>
		<td>The number of MP3s</td>
		<td>: <%= @mp3 %></td>
	</tr>	
</table>