<div id="featuresdiv" class="group">
  <div class="set">
    <h6 class="full">Features <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Features"] %></span></small></h6>
    <fieldset class="pf_fs7">
    <ul class="pf-ul third">
      <%= feature_list('internal', @pre_defined_features[0], 'li--27') %>
    </ul>
    <ul class="pf-ul third">
      <%= feature_list('external', @pre_defined_features[1], 'li--28') %>
      <%= feature_list('security', @pre_defined_features[2], 'li--29') %>
      <%= feature_list('general', @pre_defined_features[3], 'li--30') %>
    </ul>
    <ul class="pf-ul third">
      <%= feature_list('location', @pre_defined_features[4], 'li--30') %>
      <%= feature_list('lifestyle', @pre_defined_features[5], 'li--31') %>
      <li class="li--32">
        <label><strong>Your Features:</strong></label>
        <ul> <%= render :partial => 'feature', :collection => @your_features %> </ul>
      </li>
      <li class="li--34 textonly">
        <%= link_to 'Add New', new_agent_office_user_defined_feature_path(@agent,@office) %> | <%= link_to 'Edit', agent_office_user_defined_features_path(@agent,@office) %> | <a href="#" title="">Help</a>
      </li>
    </ul>

    </fieldset>
  </div>
</div><!-- end #featuresdiv GROUP -->
