<h2 class="page_title">Residential Sale</h2>
<p align="right"><%= link_to "Update Listing", :controller => :properties, :action => :edit, :id => @property.id %></p>
<table border="0" cellpadding="0" celspacing="0">
	<tr>
		<td>Property ID</td>
		<td>: <%= @property.id %></td>
	</tr>
	<tr>
		<td>Address</td>
		<td>: <%= @property.address %></td>
	</tr>
	<tr>
		<td>Property Category</td>
		<td>: Residential Sale </td>
	</tr>
	<tr>
		<td>Property Type</td>
		<td>: <%= @property.property_type %></td>
	</tr>
	<tr>
		<td>Property Headline</td>
		<td>: <%= @property.headline %></td>
	</tr>
	<tr>
		<td>Property Description</td>
		<td>: <%= @property.description %></td>
	</tr>
	<tr>
		<td>Number of Bedrooms</td>
		<td>: <%= @detail.bedrooms %></td>
	</tr>
	<tr>
		<td>Number of Bathrooms</td>
		<td>: <%= @detail.bathrooms %></td>
	</tr>
	<tr>
		<td>Number of Parking</td>
		<td>: <%= @detail.carport_spaces %></td>
	</tr>
	<tr>
		<td>The number of Images</td>
		<td>: <%= @images %></td>
	</tr>
	<tr>
		<td>The number of floor plans</td>
		<td>: <%= @fplan %></td>
	</tr>
	<tr>
		<td>The number of Videos</td>
		<td>: <%= @videos %></td>
	</tr>
	<tr>
		<td>The number of MP3s</td>
		<td>: <%= @mp3 %></td>
	</tr>	
</table>