<% if @detail.present? %>
  <%# External Links %>
  <%= "<br/><b>Property URL</b> : #{@detail.property_url}" if @detail.property_url.present? %>
  <%= "<br/><b>Virtual Tour 1</b> : #{@detail.virtual_tour}" if @detail.virtual_tour.present? %>
  <%= "<br/><b>Virtual Tour 2</b> : #{@detail.ext_link_1}" if @detail.ext_link_1.present? %>
  <%= "<br/><b>Video URL</b> : #{@detail.ext_link_2}" if @detail.ext_link_2.present? %>
<% end %>

<br/>

<%# Pricing %>
<% if @property.display_price.to_i == 1 && @property.price.present? %>
  <%= "<br/><b>Price/Search Price</b> : #{property_currency(@property.price)} to #{property_currency(@property.to_price)}" %>
<% elsif @property.display_price.to_i == 2 && @property.display_price_text.present? %>
  <br/><b>Price</b> : <%= @property.display_price_text %>
<% end %>

<br/>

<%= render 'properties/vendor_detail' %>
