<div class="property-summary-data">
  <%#= @property.primary_contact.blank? ? "": "<div><b>Primary Contact</b> : #{@property.primary_contact.full_name}</div>" %>
  <%= @property.secondary_contact.blank? ? "": "<div><b>Secondary Contact</b> : #{@property.secondary_contact.full_name} (#{@property.secondary_contact.office.name})</div>" %>
  <%= @property.third_contact.blank? ? "": "<div><b>Third Contact</b> : #{@property.third_contact.full_name} (#{@property.third_contact.office.name})</div>" %>
  <%= @property.fourth_contact.blank? ? "": "<div><b>Fourth Contact</b> : #{@property.fourth_contact.full_name} (#{@property.fourth_contact.office.name})</div>" %>
</div>

