<div class="property-summary-data">
  <% if @features.present? %>
    <div><b>Features:</b></div>
    <% @features_label.each{ |label| %>
      <% if @features.find_by_type(label[:name]).present? %>
        <div><br /><b><%= label[:text] %>:</b></div>

        <% @features.each { |feature| %>
          <%= "<div>#{feature.name}</div>" if feature.type == label[:name] %>
        <% } %>
      <% end %>
    <% } %>
  <% end %>
</div>
