<div class="property-summary-data">
  <% unless @property.is_a?(NewDevelopment)||(LandRelease)%>
    <%= "<div><b>Year built:</b> : #{@detail.year_built}</div>" if @detail.year_built.present? && !@property.is_a?(ProjectSale) %>
    <%= "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" if @detail.land_area.present? %>
    <%= "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" if @detail.floor_area.present? %>
  <% end %>

  <% if @property.is_a?(ResidentialSale) %>
    <%= "<div><b>Property ID</b> : #{@property.property_id}</div>" if @property.property_id.present? %>
    <%= "<div><b>Year built:</b> : #{@detail.year_built}</div>" if @detail.year_built.present? %>
    <%= "<div><b>Tax Rate:</b> : #{@detail.tax_rate} #{@detail.tax_rate_period}</div>" if @detail.tax_rate.present? %>
    <%= "<div><b>Water Rate:</b> : #{@detail.water_rate} #{@detail.water_rate_period}</div>" if @detail.water_rate.present? %>
    <%= "<div><b>Condo/Strata Fee:</b> : #{@detail.condo_strata_fee_period}</div>" if @detail.condo_strata_fee.present? %>
    <%= "<div><b>Estimated Rental Return:</b> : #{@detail.estimate_rental_return}</div>" if @detail.estimate_rental_return.present? %>
    <%= "<div><b>New Construction:</b> : #{@detail.new_construction ? 'Yes' : 'No'}</div>" if @detail.new_construction.present? %>
    <%= "<div><b>Capital Growth:</b> : #{@detail.capital_growth}</div>" if @detail.capital_growth.present? %>
    <%= "<div><b>Rental Yield:</b> : #{@detail.rental_yield}</div>" if @detail.rental_yield.present? %>

    <%= @detail.bedrooms.blank? ? "": "<div><b>Bedrooms</b> : #{@detail.bedrooms}</div>" %>
    <%= @detail.half_bathroom.blank? ? "": "<div><b>Half Bathroom</b> : #{@detail.half_bathroom == true ? 'Yes' : 'No'}</div>" %>
    <%= @detail.bathrooms.blank? ? "": "<div><b>Bathrooms</b> : #{@detail.bathrooms}</div>" %>
    <%= @detail.half_bedroom.blank? ? "": "<div><b>Half Bedroom</b> : #{@detail.half_bedroom == true ? 'Yes' : 'No'}</div>" %>
    <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
    <%= @detail.carport_spaces.blank? ? "": "<div><b>Carport Spaces</b> : #{@detail.carport_spaces}</div>" %>
    <%= @detail.garage_spaces.blank? ? "": "<div><b>Garage Spaces</b> : #{@detail.garage_spaces}</div>" %>
    <%= @detail.off_street_spaces.blank? ? "": "<div><b>Off Street Spaces</b> : #{@detail.off_street_spaces}</div>" %>
    <%= @detail.storage.blank? ? "": "<div><b>Storage</b> : #{@detail.storage ? 'Yes' : 'No'}</div>" %>

    <%= @detail.energy_efficiency_rating.blank? ? "": "<div><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}</div>" %>

    <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
    <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
    <%= @detail.number_of_floors.blank? ? "": "<div><b>Level</b> : #{@detail.number_of_floors}</div>" %>
    <%= @detail.internal_area.blank? ? "": "<div><b>Internal Area</b> : #{@detail.internal_area} m2</div>" %>
    <%= @detail.balcony_area.blank? ? "": "<div><b>Balcony Area</b> : #{@detail.balcony_area} m2</div>" %>

    <%= @detail.property_url.blank? ? "": "<div><b>Property URL</b> : #{@detail.property_url}</div>" %>
    <%= @detail.virtual_tour.blank? ? "": "<div><b>Virtual Tour 1</b> : #{@detail.virtual_tour}</div>" %>
    <%= @detail.ext_link_1.blank? ? "": "<div><b>Miniwebs 1</b> : #{@detail.ext_link_1}</div>" %>
    <%= @detail.ext_link_2.blank? ? "": "<div><b>Video URL</b> : #{@detail.ext_link_2}</div>" %>

    <%= @detail.forthcoming_auction.blank? ? "": "<div><b>Forthcoming Auction</b> : #{@detail.forthcoming_auction ? 'Yes' : 'No'}</div>" %>
    <%= @detail.auction_place.blank? ? "": "<div><b>Event Place</b> : #{@detail.auction_place}</div>" %>
    <%= @detail.auction_date.blank? ? "": "<div><b>Event Date</b> : #{@detail.auction_date}</div>" %>
    <%= @detail.auction_time.blank? ? "": "<div><b>Event Time</b> : #{@detail.auction_time}</div>" %>

  <% elsif @property.is_a?(ResidentialLease) %>
    <%= @property.property_id.blank? ? "": "<div><b>Property ID</b> : #{@property.property_id}</div>" %>

    <% if @detail.present? %>
      <%= @detail.year_built.blank? ? "": "<div><b>Year built:</b> : #{@detail.year_built}</div>" %>
      <%= @detail.fee_terms.blank? ? "": "<div><b>Fee Terms:</b> : #{@detail.fee_terms}</div>" %>

      <%= @detail.bedrooms.blank? ? "": "<div><b>Bedrooms</b> : #{@detail.bedrooms}</div>" %>
      <%= @detail.half_bathroom.blank? ? "": "<div><b>Half Bathroom</b> : #{@detail.half_bathroom == true ? 'Yes' : 'No'}</div>" %>
      <%= @detail.bathrooms.blank? ? "": "<div><b>Bathrooms</b> : #{@detail.bathrooms}</div>" %>
      <%= @detail.half_bedroom.blank? ? "": "<div><b>Half Bedroom</b> : #{@detail.half_bedroom == true ? 'Yes' : 'No'}</div>" %>
      <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
      <%= @detail.carport_spaces.blank? ? "": "<div><b>Carport Spaces</b> : #{@detail.carport_spaces}</div>" %>
      <%= @detail.garage_spaces.blank? ? "": "<div><b>Garage Spaces</b> : #{@detail.garage_spaces}</div>" %>
      <%= @detail.off_street_spaces.blank? ? "": "<div><b>Off Street Spaces</b> : #{@detail.off_street_spaces}</div>" %>


      <%= @detail.energy_efficiency_rating.blank? ? "": "<div><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}</div>" %>

      <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
      <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
      <%= @detail.number_of_floors.blank? ? "": "<div><b>Level</b> : #{@detail.number_of_floors}</div>" %>


      <%= @detail.property_url.blank? ? "": "<div><b>Property URL</b> : #{@detail.property_url}</div>" %>
      <%= @detail.virtual_tour.blank? ? "": "<div><b>Virtual Tour 1</b> : #{@detail.virtual_tour}</div>" %>
      <%= @detail.ext_link_1.blank? ? "": "<div><b>Miniwebs 1</b> : #{@detail.ext_link_1}</div>" %>
      <%= @detail.ext_link_2.blank? ? "": "<div><b>Video URL</b> : #{@detail.ext_link_2}</div>" %>

    <% end %>

    <% if @detail.present? %>
      <%= @detail.bond.blank? ? "": "<div><b>Bond</b> : #{@detail.bond}</div>" %>
      <%= @detail.date_available.blank? ? "": "<div><b>Date Available</b> : #{@detail.date_available.strftime("%d/%m/%Y")}</div>" %>
    <% end %>
  <% elsif @property.is_a?(BusinessSale) %>
    <%= @property.property_type.blank? ? "": "<div><b>Property Type</b> : #{@property.property_type}</div>" %>
    <%= @detail.category.blank? ? "": "<div><b>Sub-Category:</b> : #{@detail.category}</div>" %>
    <%= @detail.category2.blank? ? "": "<div><b>Category 2:</b> : #{@detail.category2}</div>" %>
    <%= @detail.sub_category2.blank? ? "": "<div><b>Sub-Category 2:</b> : #{@detail.sub_category2}</div>" %>
    <%= @detail.category3.blank? ? "": "<div><b>Category 3:</b> : #{@detail.category3}</div>" %>
    <%= @detail.sub_category3.blank? ? "": "<div><b>Sub-Category 3:</b> : #{@detail.sub_category3}</div>" %>

    <%= @property.property_id.blank? ? "": "<div><b>Property ID</b> : #{@property.property_id}</div>" %>
    <%= @detail.business_name.blank? ? "": "<div><b>Business Name:</b> : #{@detail.business_name}</div>" %>
    <%= @detail.additional_notes.blank? ? "": "<div><b>Additional Notes:</b> : #{@detail.additional_notes}</div>" %>
    <%= @detail.year_built.blank? ? "": "<div><b>Year Built:</b> : #{@detail.year_built}</div>" %>

    <%= @detail.energy_efficiency_rating.blank? ? "": "<div><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}</div>" %>

    <%= @detail.category.blank? ? "": "<div><b>Category</b> : #{@detail.category}</div>" %>
    <%= @detail.business_name.blank? ? "": "<div><b>Business Name</b> : #{@detail.business_name}</div>" %>
    <%= @detail.premise.blank? || @detail.premise == "Please select" ? "": "<div><b>Premise</b> : #{@detail.premise}</div>" %>
    <%= @detail.lease_commencement.blank? ? "": "<div><b>Lease commencement</b> : #{@detail.lease_commencement}</div>" %>
    <%= @detail.lease_end.blank? ? "": "<div><b>Lease End</b> : #{@detail.lease_end}</div>" %>
    <%= @detail.lease_option.blank? || @detail.lease_option == "Please select" ? "": "<div><b>Lease Option</b> : #{@detail.lease_option}</div>" %>
    <%= @detail.lease_plus_another.blank? || @detail.lease_plus_another == "Please select" ? "": "<div><b>Lease Plus Another</b> : #{@detail.lease_plus_another}</div>" %>
    <%= @detail.current_rent.blank? ? "": "<div><b>Current Rent</b> : #{@detail.current_rent}</div>" %>
    <%= @detail.current_rent_include_tax.blank? ? "": "<div><b>Current Rent Include Tax</b> : #{@detail.current_rent_include_tax ? 'Yes' : 'No'}</div>" %>
    <%= @detail.current_outgoings.blank? ? "": "<div><b>Current Outgoings</b> : #{@detail.current_outgoings}</div>" %>
    <%= @detail.current_outgoings_include_tax.blank? ? "": "<div><b>Current Outgoings Include Tax</b> : #{@detail.current_outgoings_include_tax ? 'Yes' : 'No'}</div>" %>

    <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
    <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
    <%= @detail.patron_capacity.blank? ? "": "<div><b>Patron Capacity</b> : #{@detail.patron_capacity}</div>" %>
    <%= @detail.parking_spaces.blank? ? "": "<div><b>Parking Spaces</b> : #{@detail.parking_spaces}</div>" %>
    <%= @detail.parking_comments.blank? ? "": "<div><b>Parking Comments</b> : #{@detail.parking_comments}</div>" %>


    <%= @detail.franchise.blank? || @detail.franchise == "Please select" ? "": "<div><b>Franchise</b> : #{@detail.franchise}</div>" %>
    <%= @detail.outlets.blank? ? "": "<div><b>Outlets</b> : #{@detail.outlets}</div>" %>
    <%= @detail.franchise_royalties.blank? ? "": "<div><b>Franchise Royalties</b> : #{@detail.franchise_royalties}</div>" %>
    <%= @detail.franchise_levies.blank? ? "": "<div><b>Franchise Levies</b> : #{@detail.franchise_levies}</div>" %>

    <%= @detail.staff_full_time.blank? ? "": "<div><b>Staff Full Time</b> : #{@detail.staff_full_time}</div>" %>
    <%= @detail.staff_part_time.blank? ? "": "<div><b>Staff Part Time</b> : #{@detail.staff_part_time}</div>" %>
    <%= @detail.staff_casual.blank? ? "": "<div><b>Staff Casual</b> : #{@detail.staff_casual}</div>" %>

    <%= @detail.annual_turnover.blank? ? "": "<div><b>Annual Turnover</b> : #{@detail.annual_turnover}</div>" %>
    <%= @detail.annual_gross_profit.blank? ? "": "<div><b>Annual Gross Profit</b> : #{@detail.annual_gross_profit}</div>" %>
    <%= @detail.annual_ebit.blank? ? "": "<div><b>Annual Ebit</b> : #{@detail.annual_ebit}</div>" %>

    <%= @detail.property_url.blank? ? "": "<div><b>Property URL</b> : #{@detail.property_url}</div>" %>
    <%= @detail.virtual_tour.blank? ? "": "<div><b>Virtual Tour 1</b> : #{@detail.virtual_tour}</div>" %>
    <%= @detail.ext_link_1.blank? ? "": "<div><b>Miniwebs 1</b> : #{@detail.ext_link_1}</div>" %>
    <%= @detail.ext_link_2.blank? ? "": "<div><b>Video URL</b> : #{@detail.ext_link_2}</div>" %>

    <%= @detail.approximate_stock_value.blank? ? "": "<div><b>Approximate Stock Value</b> : #{@detail.approximate_stock_value}</div>" %>
    <%= @detail.price_include_tax.blank? ? "": "<div><b>Price Include Tax</b> : #{@detail.price_include_tax ? 'Yes' : 'No'}</div>" %>
    <%= @detail.price_include_stock.blank? ? "": "<div><b>Price Include Stock</b> : #{@detail.price_include_stock ? 'Yes' : 'No'}</div>" %>

    <%= @detail.forthcoming_auction.blank? ? "": "<div><b>Forthcoming Auction</b> : #{@detail.forthcoming_auction ? 'Yes' : 'No'}</div>" %>
    <%= @detail.auction_place.blank? ? "": "<div><b>Event Place</b> : #{@detail.auction_place}</div>" %>
    <%= @detail.auction_date.blank? ? "": "<div><b>Event Date</b> : #{@detail.auction_date}</div>" %>
    <%= @detail.auction_time.blank? ? "": "<div><b>Event Time</b> : #{@detail.auction_time}</div>" %>

  <% elsif @property.is_a?(ProjectSale) %>
    <%= "<div><b>Category</b> : #{@detail.category}</div>" if (@detail.category rescue nil).present? %>
    <%= "<div><b>Unique ID</b> : #{@property.property_id}</div>" if @property.property_id.present? %>
    <%= "<div><b>Date of Completion</b> : #{@detail.date_of_completion}</div>" if (@detail.date_of_completion rescue nil).present? %>
    <%= "<div><b>Estimated Rental Return</b> : #{@detail.estimate_rental_return} #{@detail.estimate_rental_return_period}</div>" if (@detail.estimate_rental_return rescue nil).present? %>

    <div>

    <%= "<div><b>Parent Category</b> : #{@property.aliasize}</div>" %>
    <%= "<div><b>Parent Listing</b> : #{@parent_listing.address}</div>" if @parent_listing.present? %>

    <% if @detail.present? %>

      <%= @detail.bedrooms.blank? ? "": "<div><b>Bedrooms</b> : #{@detail.bedrooms}</div>" %>
      <%= @detail.half_bathroom.blank? ? "": "<div><b>Half Bathroom</b> : #{@detail.half_bathroom == true ? 'Yes' : 'No'}</div>" %>
      <%= @detail.bathrooms.blank? ? "": "<div><b>Bathrooms</b> : #{@detail.bathrooms}</div>" %>
      <%= @detail.half_bedroom.blank? ? "": "<div><b>Half Bedroom</b> : #{@detail.half_bedroom == true ? 'Yes' : 'No'}</div>" %>
      <%= @detail.carport_spaces.blank? ? "": "<div><b>Carport Spaces</b> : #{@detail.carport_spaces}</div>" %>
      <%= @detail.garage_spaces.blank? ? "": "<div><b>Garage Spaces</b> : #{@detail.garage_spaces}</div>" %>
      <%= @detail.off_street_spaces.blank? ? "": "<div><b>Off Street Spaces</b> : #{@detail.off_street_spaces}</div>" %>

      <%= "<div><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}</div>" if @detail.energy_efficiency_rating.present? %>

      <%= "<div><b>Design Type</b> : #{@detail.design_type}</div>" if @detail.design_type.present? %>
      <%= "<div><b>Style</b> : #{@detail.style}</div>" if @detail.style.present? %>
      <%= "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" if @detail.floor_area.present? %>
      <%= "<div><b>Porch Terrace Area</b> : #{@detail.porch_terrace_area}  (#{@detail.porch_terrace_area_metric})</div>" if @detail.porch_terrace_area.present? %>
      <%= "<div><b>Garage Area</b> : #{@detail.garage_area} (#{@detail.garage_area_metric})</div>" if @detail.garage_area.present? %>
      <%= "<div><b>Land Width</b> : #{@detail.land_width}  (#{@detail.land_width_metric})</div>" if @detail.land_width.present? %>
      <%= "<div><b>Land Depth</b> : #{@detail.land_depth} (#{@detail.land_depth_metric})</div>" if @detail.land_depth.present? %>
      <%= "<div><b>Development Name</b> : #{@dev_detail.development_name}</div>" if @dev_detail.present? %>
      <%= "<div><b>Development Category</b> : #{@detail.new_development_category_id}</div>" if @detail.new_development_category_id.present? %>
    <% end %>

    <%= "<div><b>Design Type</b> : #{@design_type.name}</div>" if (@design_type.name rescue nil).present? %>
    <%= "<div><b>Style</b> : #{@style.name}</div>" if (@style.name rescue nil).present? %>
    <%= "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" if @detail && @detail.land_area.present? %>
  <% elsif @property.is_a?(HolidayLease) %>
    <%= @property.property_type.blank? ? "": "<div><b>Property Type</b> : #{@property.property_type}</div>" %>
    <%= @property.property_id.blank? ? "": "<div><b>Property ID</b> : #{@property.property_id}</div>" %>

    <% if @detail.present? %>
      <%= @detail.year_built.blank? ? "": "<div><b>Year built:</b> : #{@detail.year_built}</div>" %>

      <%= @detail.bedrooms.blank? ? "": "<div><b>Bedrooms</b> : #{@detail.bedrooms}</div>" %>
      <%= @detail.half_bathroom.blank? ? "": "<div><b>Half Bathroom</b> : #{@detail.half_bathroom == true ? 'Yes' : 'No'}</div>" %>
      <%= @detail.bathrooms.blank? ? "": "<div><b>Bathrooms</b> : #{@detail.bathrooms}</div>" %>
      <%= @detail.half_bedroom.blank? ? "": "<div><b>Half Bedroom</b> : #{@detail.half_bedroom == true ? 'Yes' : 'No'}</div>" %>
      <%= @detail.carport_spaces.blank? ? "": "<div><b>Carport Spaces</b> : #{@detail.carport_spaces}</div>" %>
      <%= @detail.garage_spaces.blank? ? "": "<div><b>Garage Spaces</b> : #{@detail.garage_spaces}</div>" %>
      <%= @detail.off_street_spaces.blank? ? "": "<div><b>Off Street Spaces</b> : #{@detail.off_street_spaces}</div>" %>
      <%= @detail.energy_efficiency_rating.blank? ? "": "<div><b>Energy Efficiency Rating</b> : #{@detail.energy_efficiency_rating}</div>" %>
      <%= @detail.max_persons.blank? ? "": "<div><b>Max Persons</b> : #{@detail.max_persons}</div>" %>

      <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
      <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
      <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>

      <%= @detail.property_url.blank? ? "": "<div><b>Property URL</b> : #{@detail.property_url}</div>" %>
      <%= @detail.virtual_tour.blank? ? "": "<div><b>Virtual Tour 1</b> : #{@detail.virtual_tour}</div>" %>
      <%= @detail.ext_link_1.blank? ? "": "<div><b>Miniwebs 1</b> : #{@detail.ext_link_1}</div>" %>
      <%= @detail.ext_link_2.blank? ? "": "<div><b>Video URL</b> : #{@detail.ext_link_2}</div>" %>

    <% end %>

    <% if @detail.present? %>
      <%= @detail.bond.blank? ? "": "<div><b>Bond</b> : #{@detail.bond}</div>" %>
      <%= @detail.cleaning_fee.blank? ? "": "<div><b>Cleaning Fee</b> : #{@detail.cleaning_fee}</div>" %>
      <%= @detail.price_period.blank? ? "": "<div><b>Price Period</b> : #{@detail.price_period}</div>" %>

      <%= @detail.mid_season_price.blank? ? "": "<div><b>Mid Season Price</b> : #{@detail.mid_season_price} (#{@detail.mid_season_period})</div>" %>
      <%= @detail.high_season_price.blank? ? "": "<div><b>High Season Price</b> : #{@detail.high_season_price} (#{@detail.high_season_period})</div>" %>
      <%= @detail.peak_season_price.blank? ? "": "<div><b>Peak Season Price</b> : #{@detail.peak_season_price} (#{@detail.peak_season_period})</div>" %>
      <%= @detail.unavailable_date.blank? ? "": "<div><b>Unavailable Date</b> : #{@detail.unavailable_date}</div>" %>

    <% end %>

    <% @property.rental_seasons.each do |rental_season| %>
      <div><b>Season:</b> <%= rental_season.season %></div>
      <div><b>Start Date:</b> <%= rental_season.start_date.to_date.strftime('%d %B %Y') rescue 'Not Defined' %></div>
      <div><b>End Date:</b> <%= rental_season.end_date.to_date.strftime('%d %B %Y') rescue 'Not Defined' %></div>
      <div><b>Minimum Stay:</b> <%= rental_season.minimum_stay %></div>
    <% end %>
  <% elsif @property.is_a?(NewDevelopment) %>
    <% if @detail.present? %>
      <%= @detail.development_name.blank? ? "": "<div><b>Building Name</b> : #{@detail.development_name}</div>" %>
      <%= @detail.development_website.blank? ? "": "<div><b>Building Website</b> : #{@detail.development_website}</div>" %>
      <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
      <%= @detail.number_of_properties.blank? ? "": "<div><b>Number Of Properties</b> : #{@detail.number_of_properties}</div>" %>
      <%= @detail.architect_name.blank? ? "": "<div><b>Architect Name</b> : #{@detail.architect_name}</div>" %>
      <%= @detail.start_date.blank? ? "": "<div><b>Start Date</b> : #{@detail.start_date}</div>" %>
      <%= @detail.completion_date.blank? ? "": "<div><b>Completion Date</b> : #{@detail.completion_date}</div>" %>
      <%= @detail.distance.blank? ? "": "<div><b>Distance</b> : #{@detail.distance}</div>" %>
      <%= @detail.listing_privacy.blank? ? "": "<div><b>Listing Privacy</b> : #{@detail.listing_privacy}</div>" %>

      <%= @detail.bedroom_from.blank? ? "": "<div><b>Bedroom</b> : #{@detail.bedroom_from} to #{@detail.bedroom_to}</div>" %>
      <%= @detail.bathroom_from.blank? ? "": "<div><b>Bathroom</b> : #{@detail.bathroom_from} to #{@detail.bathroom_to}</div>" %>
      <%= @detail.carspace_from.blank? ? "": "<div><b>Carspace</b> : #{@detail.carspace_from} to #{@detail.carspace_to}</div>" %>
      <%= @detail.size_from.blank? ? "": "<div><b>Size</b> : #{@detail.size_from} to #{@detail.size_to}</div>" %>

    <% end %>

  <% elsif @property.is_a?(LandRelease) %>
    <% if @detail.present? %>
      <%= "<div><b>Release Name</b> : #{@detail.release_name}</div>" if @detail.release_name.present? %>
      <%= "<div><b>Release Website</b> : #{@detail.release_website}</div>" if @detail.release_website.present? %>
      <%= "<div><b>Start Date</b> : #{@detail.start_date}</div>" if @detail.start_date.present? %>
      <%= "<div><b>Completion Date</b> : #{@detail.completion_date}</div>" if @detail.completion_date.present? %>
      <%= "<div><b>Number of Lots</b> : #{@detail.number_of_lots}</div>" if @detail.number_of_lots.present? %>
      <%= "<div><b>Size</b> : #{@property_size.join(' to ')}</div>" if @property.size_from.present? && @property.size_to.present? %>
      <%= "<div><b>Distance</b> : #{@detail.distance}</div>" if @detail.distance.present? %>
    <% end %>
  <% elsif @property.is_a?(CommercialBuilding) %>
    <% if @detail.present? %>
      <%= @detail.building_name.blank? ? "": "<div><b>Release Name</b> : #{@detail.building_name}</div>" %>
      <%= @detail.building_website.blank? ? "": "<div><b>Release Website</b> : #{@detail.building_website}</div>" %>
      <%= @detail.zoning.blank? ? "": "<div><b>Zoning</b> : #{@detail.zoning}</div>" %>
      <%= @detail.distance.blank? ? "": "<div><b>Distance</b> : #{@detail.distance}</div>" %>
      <%= @detail.year_built.blank? ? "": "<div><b>Year built:</b> : #{@detail.year_built}</div>" %>
      <%= @detail.capital_growth.blank? ? "": "<div><b>Capital Growth:</b> : #{@detail.capital_growth}</div>" %>
      <%= @detail.rental_yield.blank? ? "": "<div><b>Rental Yield:</b> : #{@detail.rental_yield}</div>" %>

      <%= "<div><b>Energy Efficiency Rating:</b> : #{@detail.energy_efficiency_rating}</div>" if @detail.energy_efficiency_rating.present? %>

      <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
      <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
      <%= @detail.office_area.blank? ? "": "<div><b>Office Area</b> : #{@detail.office_area} (#{@detail.office_area_metric})</div>" %>
      <%= @detail.warehouse_area.blank? ? "": "<div><b>Warehouse Area</b> : #{@detail.warehouse_area} (#{@detail.warehouse_area_metric})</div>" %>
      <%= @detail.retail_area.blank? ? "": "<div><b>Retail Area</b> : #{@detail.retail_area} (#{@detail.retail_area_metric})</div>" %>
      <%= @detail.other_area.blank? ? "": "<div><b>Other Area</b> : #{@detail.other_area} (#{@detail.other_area_metric})</div>" %>
      <%= @detail.size_from.blank? ? "": "<div><b>Size</b> : #{@detail.size_from} to #{@detail.size_to}</div>" %>
      <%= @detail.all_the_building_text.blank? ? "": "<div><b>Whole or Part</b> : #{@detail.all_the_building_text}</div>" %>
      <%= @detail.all_the_floor.blank? ? "": "<div><b>All the Floor</b> : #{@detail.all_the_floor ? 'Yes' : 'No'}</div>" %>
      <%= @detail.number_of_suites.blank? ? "": "<div><b>Number of Suites</b> : #{@detail.number_of_suites}</div>" %>
      <%= @detail.number_of_floors.blank? ? "": "<div><b>Number of Floors</b> : #{@detail.number_of_floors}</div>" %>
      <%= @detail.number_of_carspaces.blank? ? "": "<div><b>Number of Car Spaces</b> : #{@detail.number_of_carspaces}</div>" %>
      <%= @detail.parking_comments.blank? ? "": "<div><b>Parking Comments</b> : #{@detail.parking_comments}</div>" %>
      <%= @detail.carspace_from.blank? ? "": "<div><b>Carspace range</b> : #{@detail.carspace_from} to #{@detail.carspace_to}</div>" %>
      <%= @detail.current_leased_text.blank? ? "": "<div><b>Tenancy</b> : #{@detail.current_leased_text}</div>" %>

      <%= @detail.property_url.blank? ? "": "<div><b>Property URL</b> : #{@detail.property_url}</div>" %>
      <%= @detail.virtual_tour.blank? ? "": "<div><b>Virtual Tour 1</b> : #{@detail.virtual_tour}</div>" %>
      <%= @detail.virtual_tour2.blank? ? "": "<div><b>Virtual Tour 2</b> : #{@detail.virtual_tour2}</div>" %>
      <%= @detail.virtual_tour3.blank? ? "": "<div><b>Virtual Tour 3</b> : #{@detail.virtual_tour3}</div>" %>
      <%= @detail.ext_link_1.blank? ? "": "<div><b>Miniwebs 1</b> : #{@detail.ext_link_1}</div>" %>
      <%= @detail.ext_link_2.blank? ? "": "<div><b>Miniwebs 2</b> : #{@detail.ext_link_2}</div>" %>
      <%= @detail.ext_link_3.blank? ? "": "<div><b>Miniwebs 3</b> : #{@detail.ext_link_3}</div>" %>
      <%= @detail.video_url.blank? ? "": "<div><b>Video URL</b> : #{@detail.video_url}</div>" %>
    <% end %>

    <% if @property.display_price.to_i == 1 %>
      <%= @detail.price_include_tax_text.blank? ? "": "<div><b>Tax</b> : #{@detail.price_include_tax_text}</div>" %>
      <%= @detail.sale_price_from.blank? ? "": "<div><b>Sale Price Range</b> : #{property_currency(@detail.sale_price_from)} to #{property_currency(@detail.sale_price_to)}</div>" %>
      <%= @detail.return_percent.blank? ? "": "<div><b>Return % pa</b> : #{@detail.return_percent}</div>" %>
      <%= @detail.current_rent.blank? ? "": "<div><b>Rent pa</b> : #{property_rent_currency(@detail.current_rent, @detail.rent_type, @detail.current_rent_include_tax)}</div>" %>
      <%= @detail.rental_price.blank? ? "": "<div><b>Rental psn/pa</b> : #{property_currency(@detail.rental_price)} to #{property_currency(@detail.rental_price_to)}</div>" %>
      <%= @detail.current_rent_include_tax_text.blank? ? "": "<div><b>Tax</b> : #{@detail.current_rent_include_tax_text}</div>" %>
    <% end %>

    <%= @detail.outgoings_paid_by_tenant.blank? ? "": "<div><b>Plus Outgoings</b> : #{@detail.outgoings_paid_by_tenant ? 'Yes' : 'No'}</div>" %>
    <%= @detail.annual_outgoings.blank? ? "": "<div><b>Annual Outgoings</b> : #{property_currency(@detail.annual_outgoings)}</div>" %>
    <%= @detail.lease_end.blank? ? "": "<div><b>Lease End</b> : #{@detail.lease_end}</div>" %>
    <%= @detail.lease_further_option.blank? ? "": "<div><b>Further Option</b> : #{@detail.lease_further_option}</div>" %>

    <%= @detail.auction_place.blank? ? "": "<div><b>Event Place</b> : #{@detail.auction_place}</div>" %>
    <%= @detail.auction_date.blank? ? "": "<div><b>Event Date</b> : #{@detail.auction_date}</div>" %>
    <%= @detail.auction_time.blank? ? "": "<div><b>Event Time</b> : #{@detail.auction_time}</div>" %>
  <% elsif @property.is_a?(GeneralSale) %>
    <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
    <%= "<div><b>Unique ID</b> : #{@property.property_id}</div>" if @property.property_id.present? %>
    <%= @detail.date.blank? ? "": "<div><b>Event Date</b> : #{@detail.date}</div>" %>
    <%= @detail.time.blank? ? "": "<div><b>Event Time</b> : #{@detail.time}</div>" %>
  <% elsif @property.is_a?(LivestockSale) %>
    <% if @detail.present? %>
      <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
      <%= "<div><b>Unique ID</b> : #{@property.property_id}</div>" if @property.property_id.present? %>
      <%= @detail.livestock_sale_type.blank? ? "": "<div><b>Sale Type</b> : #{@detail.livestock_sale_type.name}</div>" %>
      <%= @detail.livestock_number.blank? ? "": "<div><b>Livestock Number</b> : #{@detail.livestock_number}</div>" %>
      <%= @detail.livestock_type.blank? ? "": "<div><b>Livestock Type</b> : #{@detail.livestock_type.name}</div>" %>
      <%= @detail.age.blank? ? "": "<div><b>Age</b> : #{@detail.age}</div>" %>
      <%= @detail.livestock_sex.blank? ? "": "<div><b>Sex/Type</b> : #{@detail.livestock_sex.name}</div>" %>
      <%= @detail.livestock_pregnancy.blank? ? "": "<div><b>Pregnancy</b> : #{@detail.livestock_pregnancy.name}</div>" %>
      <%= @detail.livestock_frame.blank? ? "": "<div><b>Frame</b> : #{@detail.livestock_frame.name}</div>" %>
      <%= "<div><b>Weight</b> : #{@detail.weight_from} to #{@detail.weight_to} kg</div>" if @detail.weight_to.present? && @detail.weight_from.present? %>
      <%= @detail.livestock_condition.blank? ? "": "<div><b>Condition</b> : #{@detail.livestock_condition.name}</div>" %>
      <%= @detail.livestock_quality.blank? ? "": "<div><b>Quality</b> : #{@detail.livestock_quality.name}</div>" %>
      <%= @detail.horn_percentage.blank? ? "": "<div><b>Horn Percentage</b> : #{@detail.horn_percentage}</div>" %>
      <%= @detail.livestock_horn.blank? ? "": "<div><b>Horn</b> : #{@detail.livestock_horn.name}</div>" %>
      <%= @detail.location.blank? ? "": "<div><b>Location</b> : #{@detail.location}</div>" %>
      <%= @detail.livestock_tick_status.blank? ? "": "<div><b>Tick Status</b> : #{@detail.livestock_tick_status.name}</div>" %>
      <%= @detail.treatment.blank? ? "": "<div><b>Vaccinations/Treatment</b> : #{@detail.treatment}</div>" %>
      <%= "<div><b>HGP</b> : "%> <%= @detail.hgp ? "Yes - Treated": "No - Non Treated</div>" %>
    <% end %>
  <% elsif @property.is_a?(ClearingSalesEvent) %>
    <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
    <%= "<div><b>Unique ID</b> : #{@property.property_id}</div>" if @property.property_id.present? %>
    <%= @detail.date.blank? ? "": "<div><b>Date</b> : #{@detail.date}</div>" %>
    <%= @detail.time.blank? ? "": "<div><b>Time</b> : #{@detail.time}</div>" %>
    <%= @detail.buyers_premium.blank? ? "": "<div><b>Buyers Premium</b> : #{@detail.buyers_premium}</div>" %>
    <%= @detail.warranty.blank? ? "": "<div><b>Warranty</b> : #{@detail.warranty}</div>" %>
    <div><b>GST</b> : <%= @detail && @detail.gst ? "Yes": "No</div>" %>
    <%= @detail.sale_info.blank? ? "": "<div><b>Sale Info</b> : #{@detail.sale_info}</div>" %>
    <%= @detail.collection.blank? ? "": "<div><b>Collection</b> : #{@detail.collection}</div>" %>
    <%= @detail.ohs.blank? ? "": "<div><b>OH & S</b> : #{@detail.ohs}</div>" %>
  <% elsif @property.is_a?(ClearingSale) %>
    <%= "<div><b>Parent Category</b> : #{@property.parent_category}</div>" if @property.parent_category.present? %>
    <%= @detail.number_of_floors.blank? ? "": "<div><b>Number Of Floors</b> : #{@detail.number_of_floors}</div>" %>
    <%= "<div><b>Unique ID</b> : #{@property.property_id}</div>" if @property.property_id.present? %>
    <%= @detail.lot_number.blank? ? "": "<div><b>Lot Number</b> : #{@detail.lot_number}</div>" %>
    <%= @detail.condition.blank? ? "": "<div><b>Condition</b> : #{@detail.condition}</div>" %>
  <% elsif @property.is_a?(Commercial)%>
    <%= @detail.property_type2.blank? ? "": "<div><b>Property Type2</b> : #{@detail.property_type2}</div>" %>
    <%= @detail.property_type3.blank? ? "": "<div><b>Property Type3</b> : #{@detail.property_type3}</div>" %>
    <%= @detail.authority.blank? ? "": "<div><b>Authority</b> : #{@detail.authority}</div>" %>
    <%= @detail.listings_this_address.blank? ? "": "<div><b>Listing This Adress</b> : #{@detail.listings_this_address == true ? 'Single Listing' : 'Multiple Listing'}</div>" %>
    <%= @detail.method_of_sale.blank? ? "": "<div><b>Exclusivity</b> : #{@detail.method_of_sale}</div>" %>
    <%= @detail.capital_growth.blank? ? "": "<div><b>Capital Growth</b> : #{@detail.capital_growth}</div>" %>
    <%= @detail.rental_yield.blank? ? "": "<div><b>Rental Yield</b> : #{@detail.rental_yield}</div>" %>

    <%= @property.property_id.blank? ? "": "<div><b>Property ID</b> : #{@property.property_id}</div>" %>
    <%= @detail.building_name.blank? ? "": "<div><b>Building Name</b> : #{@detail.building_name}</div>" %>
    <%= @detail.building_name.blank? ? "": "<div><b>Building Name</b> : #{@detail.building_name}</div>" %>
    <%= @detail.year_built.blank? ? "": "<div><b>Year built:</b> : #{@detail.year_built}</div>" %>
    <%= @detail.highlight1.blank? ? "": "<div><b>highlight1:</b> : #{@detail.highlight1}</div>" %>
    <%= @detail.highlight2.blank? ? "": "<div><b>highlight2:</b> : #{@detail.highlight2}</div>" %>
    <%= @detail.highlight3.blank? ? "": "<div><b>highlight3:</b> : #{@detail.highlight3}</div>" %>

    <%= @detail.energy_efficiency_rating.blank? ? "": "<div><b>Energy Efficiency Rating:</b> : #{@detail.energy_efficiency_rating}</div>" %>

    <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
    <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
    <%= @detail.office_area.blank? ? "": "<div><b>Office Area:</b> : #{@detail.office_area} (#{@detail.office_area_metric})</div>" %>
    <%= @detail.warehouse_area.blank? ? "": "<div><b>Warehouse Area:</b> : #{@detail.warehouse_area} (#{@detail.warehouse_area_metric})</div>" %>
    <%= @detail.retail_area.blank? ? "": "<div><b>Retail Area:</b> : #{@detail.retail_area} (#{@detail.retail_area_metric})</div>" %>
    <%= @detail.other_area.blank? ? "": "<div><b>Other Area:</b> : #{@detail.other_area} (#{@detail.other_area_metric})</div>" %>
    <%= @detail.area_range.blank? ? "": "<div><b>Area Range:</b> : #{@detail.area_range} to #{@detail.area_range_to} <b>m2</b></div>" %>
    <%= @detail.all_the_building_text.blank? ? "": "<div><b>Whole or Part:</b> : #{@detail.all_the_building_text}</div>" %>
    <%= @detail.all_the_floor.blank? ? "": "<div><b>All The Floor:</b> : #{@detail.all_the_floor ? 'Yes' : 'No'}</div>" %>
    <%= @detail.number_of_floors.blank? ? "": "<div><b>Level:</b> : #{@detail.number_of_floors}</div>" %>

    <%= @detail.zoning.blank? ? "": "<div><b>Zoning</b> : #{@detail.zoning}</div>" %>
    <%= @detail.carport_spaces.blank? ? "": "<div><b>Number of Car Spaces</b> : #{@detail.carport_spaces}</div>" %>
    <%= @detail.parking.blank? ? "": "<div><b>Parking Comments</b> : #{@detail.parking}</div>" %>
    <%= @detail.current_leased_text.blank? ? "": "<div><b>Tenancy</b> : #{@detail.current_leased_text}</div>" %>
    <%= @detail.tenancy_option.blank? ? "": "<div><b>Tenancy Option</b> : #{@detail.tenancy_option}</div>" %>

    <%= @detail.property_url.blank? ? "": "<div><b>Property URL</b> : #{@detail.property_url}</div>" %>
    <%= @detail.virtual_tour.blank? ? "": "<div><b>Virtual Tour 1</b> : #{@detail.virtual_tour}</div>" %>
    <%= @detail.virtual_tour2.blank? ? "": "<div><b>Virtual Tour 2</b> : #{@detail.virtual_tour2}</div>" %>
    <%= @detail.virtual_tour3.blank? ? "": "<div><b>Virtual Tour 3</b> : #{@detail.virtual_tour3}</div>" %>
    <%= @detail.ext_link_1.blank? ? "": "<div><b>Miniwebs 1</b> : #{@detail.ext_link_1}</div>" %>
    <%= @detail.ext_link_2.blank? ? "": "<div><b>Miniwebs 2</b> : #{@detail.ext_link_2}</div>" %>
    <%= @detail.ext_link_3.blank? ? "": "<div><b>Miniwebs 3</b> : #{@detail.ext_link_3}</div>" %>
    <%= @detail.video_url.blank? ? "": "<div><b>Video URL</b> : #{@detail.video_url}</div>" %>

    <% if @property.display_price.to_i == 1 %>
      <%= @detail.price_include_tax_text.blank? ? "": "<div><b>Tax</b> : #{@detail.price_include_tax_text}</div>" %>
      <%= @detail.sale_price_from.blank? ? "": "<div><b>Sale Price Range</b> : #{property_currency(@detail.sale_price_from)} to #{property_currency(@detail.sale_price_to)}</div>" %>
      <%= @detail.return_percent.blank? ? "": "<div><b>Return % pa</b> : #{@detail.return_percent}</div>" %>
      <%= @detail.current_rent.blank? ? "": "<div><b>Rent pa</b> : #{property_rent_currency(@detail.current_rent, @detail.rent_type, @detail.current_rent_include_tax)}</div>" %>
      <%= @detail.rental_price.blank? ? "": "<div><b>Rental psm/pa</b> : #{property_currency(@detail.rental_price)} to #{property_currency(@detail.rental_price_to)}</div>" %>
      <%= @detail.current_rent_include_tax_text.blank? ? "": "<div><b>Tax</b> : #{@detail.current_rent_include_tax_text}</div>" %>
    <% end %>
    <%= @detail.outgoings_paid_by_tenant.blank? ? "": "<div><b>Plus Outgoings</b> : #{@detail.outgoings_paid_by_tenant ? 'Yes' : 'No'}</div>" %>
    <%= @detail.annual_outgoings.blank? ? "": "<div><b>Annual Outgoings</b> : #{property_currency(@detail.annual_outgoings)}</div>" %>
    <%= @detail.outgoings_paid_by.blank? ? "": "<div><b>Outgoings Paid by</b> : #{@detail.outgoings_paid_by == 0 ? 'Owner' : 'Tenant'}</div>" %>
    <%= @detail.lease_end.blank? ? "": "<div><b>Lease End</b> : #{@detail.lease_end}</div>" %>
    <%= @detail.lease_further_option.blank? ? "": "<div><b>Further Option</b> : #{@detail.lease_further_option}</div>" %>

    <%= @detail.auction_place.blank? ? "": "<div><b>Event Place</b> : #{@detail.auction_place}</div>" %>
    <%= @detail.auction_date.blank? ? "": "<div><b>Event Date</b> : #{@detail.auction_date}</div>" %>
    <%= @detail.auction_time.blank? ? "": "<div><b>Event Time</b> : #{@detail.auction_time}</div>" %>
  <% elsif @property.is_a?(CommercialBuilding) %>
    <%= @detail.property_type2.blank? ? "": "<div><b>Property Type2</b> : #{@detail.property_type2}</div>" %>
    <%= @detail.property_type3.blank? ? "": "<div><b>Property Type3</b> : #{@detail.property_type3}</div>" %>
    <%= @detail.authority.blank? ? "": "<div><b>Authority</b> : #{@detail.authority}</div>" %>
    <%= @detail.year_built.blank? ? "": "<div><b>Year built:</b> : #{@detail.year_built}</div>" %>
    <%= @detail.highlight1.blank? ? "": "<div><b>highlight1:</b> : #{@detail.highlight1}</div>" %>
    <%= @detail.highlight2.blank? ? "": "<div><b>highlight2:</b> : #{@detail.highlight2}</div>" %>
    <%= @detail.highlight3.blank? ? "": "<div><b>highlight3:</b> : #{@detail.highlight3}</div>" %>
    <%= @detail.land_area.blank? ? "": "<div><b>Land Area</b> : #{@detail.land_area} (#{@detail.land_area_metric})</div>" %>
    <%= @detail.floor_area.blank? ? "": "<div><b>Floor Area</b> : #{@detail.floor_area} (#{@detail.floor_area_metric})</div>" %>
    <%= @detail.office_area.blank? ? "": "<div><b>Office Area:</b> : #{@detail.office_area} (#{@detail.office_area_metric})</div>" %>
    <%= @detail.warehouse_area.blank? ? "": "<div><b>Warehouse Area:</b> : #{@detail.warehouse_area} (#{@detail.warehouse_area_metric})</div>" %>
    <%= @detail.retail_area.blank? ? "": "<div><b>Retail Area:</b> : #{@detail.retail_area} (#{@detail.retail_area_metric})</div>" %>
    <%= @detail.other_area.blank? ? "": "<div><b>Other Area:</b> : #{@detail.other_area} (#{@detail.other_area_metric})</div>" %>
    <%= @detail.area_range.blank? ? "": "<div><b>Area Range:</b> : #{@detail.area_range} to #{@detail.area_range_to} <b>m2</b></div>" %>
    <%= @detail.zoning.blank? ? "": "<div><b>Zoning</b> : #{@detail.zoning}</div>" %>
    <%= @detail.carport_spaces.blank? ? "": "<div><b>Number of Car Spaces</b> : #{@detail.carport_spaces}</div>" %>

    <% if @property.display_price.to_i == 1 %>
      <%= @detail.sale_price_from.blank? ? "": "<div><b>Sale Price Range</b> : #{property_currency(@detail.sale_price_from)} to #{property_currency(@detail.sale_price_to)}</div>" %>
      <%= @detail.return_percent.blank? ? "": "<div><b>Return % pa</b> : #{@detail.return_percent}</div>" %>
      <%= @detail.current_rent.blank? ? "": "<div><b>Rent pa</b> : #{property_rent_currency(@detail.current_rent, @detail.rent_type, @detail.current_rent_include_tax)}</div>" %>
      <%= @detail.rental_price.blank? ? "": "<div><b>Rental psn/pa</b> : #{property_currency(@detail.rental_price)} to #{property_currency(@detail.rental_price_to)}</div>" %>
    <% end %>
    <%= @detail.annual_outgoings.blank? ? "": "<div><b>Annual Outgoings</b> : #{property_currency(@detail.annual_outgoings)}</div>" %>
    <%= @detail.lease_end.blank? ? "": "<div><b>Lease End</b> : #{@detail.lease_end}</div>" %>
    <%= @detail.lease_further_option.blank? ? "": "<div><b>Further Option</b> : #{@detail.lease_further_option}</div>" %>

    <%= @detail.auction_place.blank? ? "": "<div><b>Event Place</b> : #{@detail.auction_place}</div>" %>
    <%= @detail.auction_date.blank? ? "": "<div><b>Event Date</b> : #{@detail.auction_date}</div>" %>
    <%= @detail.auction_time.blank? ? "": "<div><b>Event Time</b> : #{@detail.auction_time}</div>" %>
  <% end %>
</div>
