<div class="title_block block">
  <h2 class="page_title"><%= @property.address_fix %></h2>
  <% if session[:search_keyword].present? %>
    <span style="float:right">
      <%= link_to "Back to search results",
        "/agents/#{current_agent.id}/offices/#{current_office.id}/search_results?search_keyword=#{session[:search_keyword]}&commit=Search" %>
    </span>
  <% end %>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<%= render 'error_messages' if @error_messages.present? %>
