<div class="property-summary-data">
  <% if @property.is_a?(ProjectSale) || @property.is_a?(LandRelease) || @property.is_a?(GeneralSale) || @property.is_a?(LivestockSale) || @property.is_a?(ClearingSalesEvent) || @property.is_a?(ClearingSale) %>
    <%= render 'properties/price_ext_link_and_vendor_det' %>
  <% elsif @property.is_a?(Commercial)%>
    <%= render 'properties/vendor_detail' %>
  <% end %>
</div>
