<div class="property-summary-data">
  <%= @property.deal_type.blank? ? "": "<div><b>Deal Type</b> : #{@property.deal_type}</div>" %>
  <%= @property.property_type.blank? ? "": "<div><b>Property Type</b> : #{@property.property_type}</div>" %>
</div>
