<div id="auctionpricediv" class="group">

  <%= render :partial => 'auction_datetime', :locals => {:detail => detail} %>

  <div id="pricingdiv" class="set full">
    <h6 class="full">Pricing <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Commercial: Pricing Lease"] %></span></small></h6>
    <fieldset class="pf_fs10">
      <table class="pf-table">
      <tr class="li--41">
        <th class="first_cell field required first_tab">
          <label><span>Price/Search Price:<span class="red_star">*</span></span></label>
        </th>
        <td class="value" colspan="3">
          <%= form.text_field :price, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
          <span style="margin:0 6px;">to</span>
          <%= form.text_field :to_price, :class => 'single', :style=>"width:40%;", :onkeypress => "return isNumberKey(event)" %>
        </td>
      </tr>
    </table>
    </fieldset>
  </div> <!-- end #pricingdiv SET -->

  <%= render :partial => 'display_price', :locals => {:form => form} %>

</div><!-- end #auctionpricediv GROUP -->