<%= render 'property_header' %>
<div>
  <div style="text-align:right;font-size:9pt;margin-right:25px;margin-bottom:10px;">
    <i>
      <span class="red_star">*</span> Compulsory for all listings, <span class="red_star">**</span> only for Sale listings,
      <span class="red_star">***</span> only for Land and Development listings
    </i>
  </div>
  <div style="clear:float;"></div>
</div>

<% form_for :property, @property, :url => agent_office_property_path(@agent,@office,@property),
  :html => {:class => 'propertyform full', :id => @property.id, :method => :put} do |f| %>
  <% fields_for @property.detail do |detail| %>
    <div class="block form half leader" >
      <%= render :partial => 'parent_listing', :locals => {:form => f} %>
      <%= render :partial => 'address', :locals => {:form => f} %>
      <%= render :partial => 'reslease_data', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'energy', :locals => {:detail => detail} %>
      <%= render :partial => 'map' %>
    </div><!-- end .half BLOCK (left side) -->

    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->

      <%= render :partial => 'comm_area', :locals => {:detail => detail} %>
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'attachments', :locals => {:detail => detail} %>
      <%= render :partial => 'cur_lease', :locals => {:detail => detail} %>
      <%= render :partial => 'commlease_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'commsale_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'commercial_duplicate' %>
      <%= render :partial => 'commercial_contact_vendor', :locals => {:form => f} %>
      <%= render :partial => 'submit', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (right side) -->
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    <% if params[:action] == 'update' %>
      <% unless params[:property].blank? %>
        $("#property_unit_number").val('<%= params[:property][:unit_number] %>');
        $("#property_street_number").val('<%= params[:property][:street_number] %>');
        $("#property_street").val('<%= params[:property][:street] %>');
        $("#property_property_id").val('<%= params[:property][:property_id] %>');
        $("#property_headline").val('<%= params[:property][:headline] %>');
        $("#property_description").val('<%= params[:property][:description] %>');
        $("#property_price").val('<%= params[:property][:price] %>');
      <%end%>
      <% unless params[:commercial_detail].blank? %>
        $("#commercial_detail_capital_growth").val('<%= params[:commercial_detail][:capital_growth] %>');
        $("#commercial_detail_rental_yield").val('<%= params[:commercial_detail][:rental_yield] %>');
        $("#commercial_detail_building_name").val('<%= params[:commercial_detail][:building_name] %>');
        $("#commercial_detail_year_built").val('<%= params[:commercial_detail][:year_built] %>');
        $("#commercial_detail_highlight1").val('<%= params[:commercial_detail][:highlight1] %>');
        $("#commercial_detail_highlight2").val('<%= params[:commercial_detail][:highlight2] %>');
        $("#commercial_detail_highlight3").val('<%= params[:commercial_detail][:highlight3] %>');
        $("#commercial_detail_land_area").val('<%= params[:commercial_detail][:land_area] %>');
        $("#commercial_detail_floor_area").val('<%= params[:commercial_detail][:floor_area] %>');
        $("#commercial_detail_office_area").val('<%= params[:commercial_detail][:office_area] %>');
        $("#commercial_detail_warehouse_area").val('<%= params[:commercial_detail][:warehouse_area] %>');
        $("#commercial_detail_retail_area").val('<%= params[:commercial_detail][:retail_area] %>');
        $("#commercial_detail_other_area").val('<%= params[:commercial_detail][:other_area] %>');
        $("#commercial_detail_area_range").val('<%= params[:commercial_detail][:area_range] %>');
        $("#commercial_detail_area_range_to").val('<%= params[:commercial_detail][:area_range_to] %>');
        $("#commercial_detail_zoning").val('<%= params[:commercial_detail][:zoning] %>');
        $("#commercial_detail_carport_spaces").val('<%= params[:commercial_detail][:carport_spaces] %>');
        $("#commercial_detail_parking").val('<%= params[:commercial_detail][:parking] %>');
        $("#commercial_detail_property_url").val('<%= params[:commercial_detail][:property_url] %>');
        $("#commercial_detail_virtual_tour").val('<%= params[:commercial_detail][:virtual_tour] %>');
        $("#commercial_detail_virtual_tour2").val('<%= params[:commercial_detail][:virtual_tour2] %>');
        $("#commercial_detail_virtual_tour3").val('<%= params[:commercial_detail][:virtual_tour3] %>');
        $("#commercial_detail_ext_link_1").val('<%= params[:commercial_detail][:ext_link_1] %>');
        $("#commercial_detail_ext_link_2").val('<%= params[:commercial_detail][:ext_link_2] %>');
        $("#commercial_detail_ext_link_3").val('<%= params[:commercial_detail][:ext_link_3] %>');
        $("#commercial_detail_video_url").val('<%= params[:commercial_detail][:video_url] %>');
        $("#commercial_detail_sale_price_from").val('<%= params[:commercial_detail][:sale_price_from] %>');
        $("#commercial_detail_sale_price_to").val('<%= params[:commercial_detail][:sale_price_to] %>');
        $("#commercial_detail_return_percent").val('<%= params[:commercial_detail][:return_percent] %>');
        $("#commercial_detail_current_rent").val('<%= params[:commercial_detail][:current_rent] %>');
        $("#commercial_detail_rental_price").val('<%= params[:commercial_detail][:rental_price] %>');
        $("#commercial_detail_rental_price_to").val('<%= params[:commercial_detail][:rental_price_to] %>');
        $("#commercial_detail_annual_outgoings").val('<%= params[:commercial_detail][:annual_outgoings] %>');
        $("#commercial_detail_lease_end").val('<%= params[:commercial_detail][:lease_end] %>');
        $("#commercial_detail_lease_further_option").val('<%= params[:commercial_detail][:lease_further_option] %>');
        $("#commercial_detail_display_price_text").val('<%= params[:commercial_detail][:display_price_text] %>');
        $("#commercial_detail_auction_place").val('<%= params[:commercial_detail][:auction_place] %>');
        $("#commercial_detail_auction_date").val('<%= params[:commercial_detail][:auction_date] %>');
        $("#commercial_detail_display_price_text").val('<%= params[:commercial_detail][:display_price_text] %>');
      <%end%>
    <%end%>
  })
</script>