<%= render 'property_header' %>
<!--<div>
  <div style="text-align:right;font-size:9pt;margin-right:25px;margin-bottom:10px;">
    <i> <span class="red_star">*</span> Compulsory for all listings, <span class="red_star">**</span> only for Sale listings, <span class="red_star">***</span> only for Land and Development listings</i>
  </div>
  <div style="clear:float;"></div>
</div>-->

<% form_for :property, @property, :url => agent_office_property_path(@agent,@office,@property), :html => {:class => 'propertyform full', :id => 'commlistingform', :method => :put} do |f| %>
  <% fields_for @property.detail do |detail| %>

    <% unless f.error_messages.blank? && detail.error_messages.blank? -%>
      <%= f.error_messages :class => 'errortext' %>
      <%= detail.error_messages :class => 'errortext' %>
    <% end -%>

    <div class="block form half leader" >
      <%= render :partial => 'address_commercial_building', :locals => {:form => f} %>
      <%= render :partial => 'commercial_building_data', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'energy', :locals => {:detail => detail} %>
      <%= render :partial => 'map' %>
    </div><!-- end .half BLOCK (left side) -->

    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
      <%= render :partial => 'comm_area', :locals => {:detail => detail} %>
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'attachments', :locals => {:detail => detail} %>
      <%= render :partial => 'cur_lease', :locals => {:detail => detail} %>
      <%= render :partial => 'commlease_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'commsale_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'commercial_contact_vendor', :locals => {:form => f} %>
      <%= render :partial => 'submit', :locals => {:form => f } %>
    </div><!-- end .half BLOCK (right side) -->
  <% end %>
<% end %>
