<style type="text/css" >
  .export-url-left{float:left;}
  .export-url-right{float:right;}
  .export-url-block{width:500px;}
  .export-url-title{width:250px;float:left;}
  .export-url-title2{width:180px;float:left;}
  .boldf{font-weight:bold;background-color:#f0f0f0;}
</style>
<div class="title_block block"><h2 class="page_title"><%= @property.address %></h2></div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div class="title_block block">
  <h4><span class="lite">
      *You can only uncheck portals for non-activated Draft listings. Once the status of a property changes from Draft you can never uncheck portals for that property.<br/>
      *Exports are automatically performed every 2 hours on the hour (eg 12.00pm, 2.00pm etc) so any properties updated since the last export will be sent to the portals checked below. For Realestate.com.au and Domain.com.au exports are sent every 15 minutes.<br/>
      * You can manually send an export for a property to a portal by clicking on the "Send Export" button<br/>
    </span></h4>
</div>
<% form_for :property, @property, :url => update_portal_exports2_agent_office_properties_path(@agent, @office, @property,:id=>@property.id, :come_from => params[:come_from] ), :html => {:method => 'put',:class =>"status_form"}  do |f| %>
  <div id="clientdiv" class="block accounts full">
    <div  class="block form group" style="background-color:#E1EBF5;">
      <h6>Portals your office are subscribed to</h6>
      <div class="set float-left">
        <fieldset class="pf_fs2">
          <div class="wraper_export" style="width:1100px">
            <% @portal_accounts.each do |portal_account| %>
              <% unless @office.hide_unused_exports && portal_check_box_exports2(@property,@portal_autosubcribes,portal_account,@portals_name_id, 1) != "checked" %> 
                <% if !Portal.child_portal.include?(portal_account.portal_name) && @portals_name_id.detect{|a| a.portal_name.downcase == portal_account.portal_name.downcase}.present? %>
                  <hr/>
                  <div class='export_list' style="line-height: 100%;margin-top:7px"><%= portal_check_box_exports2(@property,@portal_autosubcribes,portal_account,@portals_name_id) %></div>
                  <div class='optnav send_exp'>
                    <a href='http://commercialloopcrm.com.au/export/send_feed.php?portal=<%= portal_account.portal_name %>&office=<%= @office.id %>&property=<%= @property.id %>' target='_blank'>
                      Send Export
                    </a>
                  </div>
                  <div class="clearer"></div>
                  <h5 style="margin-bottom:5px"><%= portal_description(portal_account,@portals) %></h5>
                  <% if @export_properties.present? %>
                    <div class="wraper_export" style="width:1100px">
                      <%= export_history(params[:id], portal_account,@portals, @exports, @export_properties) %>
                    </div>
                  <% else %>
                    <div class="wraper_export" style="width:1100px">
                      <h5>An export have not been sent to this portal yet.</h5>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      </div><br/>
      <div class="clearer"></div>
    </div>
    <% unless @office.hide_unused_exports %>
      <div class="block form group" style="background-color:#E1EBF5;">
        <h6>Portals office not subscribed to</h6>
        <% if @not_subscribed.present? %>
          <div class="set">
            <fieldset class="pf_fs2">
              <div class="wraper_export">
                <% count = 0 %>
                <% @not_subscribed.each_with_index do |ns,idx| %>
                  <% if idx == 0 || count > (@not_subscribed.count / 4)%>
                    <% count = 0 %>
                    <div style="float:left">
                  <% end %>
                      <% count = count + 1 %>
                      <div class='export_list' style="float:none"><%= office_not_subscribe(ns,@portal_autosubcribes) %></div>
                  <% if count > (@not_subscribed.count / 4) %>
                    </div>
                  <% end %>
                <% end %>
                <div class="clearer"></div>
              </div>
            </fieldset>
          </div><br/>
        <% end %>
        <div class="clearer"></div>
      </div>
    <% end %>

    <% if @superapi_offices.present? %>
      <div class="block form group" style="background-color:#E1EBF5;">
        <h6>Super API Urls</h6>
        <div class="set full leader">
          <% @superapi_offices.each do |api| %>
            <div class="export_list" style="float:none">
              <input type="checkbox" id="ck29" name="superapi_offices[]" value="<%= api.id %>" <%= check_superapi(api, @disabled_websites) %>/>
              <span style="position:relative;top:-2px">&nbsp;<%= @superapi_websites.find{|a| a.id == api.website_id}.url %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="block form group" style="background-color:#E1EBF5;">
      <h6>Property Urls</h6>
      <div class="set full leader">
        <% if @property.agent.developer_id == 186 %>
          <div class="group" style="font-size:10pt;">
            <div class="export-url-left">
              <div class="export-url-block">
                <div class="export-url-title">Office Website:</div>
                <div>
                  <% unless @office.url.blank? %>
                    <a href="http://<%= @office.url.to_s.gsub('http://','') + "/" + @property.id.to_s %>" name="office_website" target="_blank"><%= @property.id.to_s %></a>
                  <% else %>
                    There is no website data
                  <% end %>
                </div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title">
                  <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                    Commercialrealestate.com.au:
                  <% else %>
                    Domain.com.au:
                  <% end %>
                </div>
                <div>

                  <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                    <% unless @property.cre_id.blank? %>
                      <a href="http://www.commercialrealestate.com.au/<%= @property.cre_id %>" name="com_website" target="_blank"><%= @property.cre_id %></a>
                    <% else %>
                      check back soon.......
                    <% end %>
                  <% else %>
                    <% unless @property.domain_id.blank? %>
                      <a href="http://www.domain.com.au/<%= @property.domain_id %>" name="office_website" target="_blank"><%= @property.domain_id %></a>
                    <% else %>
                      check back soon.......
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title">
                  <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                    Realcommercial.com.au:
                  <% else %>
                    Realestate.com.au:
                  <% end %>
                </div>
                <div>
                  <% unless @property.rca_id.blank? %>
                    <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                      <a href="http://www.realcommercial.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
                    <%  else %>
                      <a href="http://www.realestate.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
                    <% end %>
                  <% else %>
                    check back soon.......
                  <% end %>
                </div>
              </div>
            </div>
            <div class="export-url-right">
              <div class="export-url-block">
                <div class="export-url-title2">Exclusive url:</div>
                <div>
                  <% unless @office.url.blank? %>
                    <a href="http://<%= @office.url.to_s.gsub('http://','') + "/" + @property.id.to_s %>" name="office_website" target="_blank"><%= @office.url.to_s + "/" + @property.id.to_s %></a>
                  <% else %>
                    There is no website data
                  <% end %>
                </div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title2">&nbsp;</div>
                <div>&nbsp;</div>
              </div>
              <div class="export-url-block">
                <div class="export-url-title2">Conjunctional Url:</div>
                <div>
                  <% unless @property.rca_id.blank? %>
                    <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                      <a href="http://www.knightfrank.com.au/00<%= @property.rca_id %>" name="re_website" target="_blank">www.knightfrank.com.au/00<%= @property.rca_id %></a>
                    <%  else %>
                      <a href="http://www.realestate.com.au/<%= @property.rca_id %>" name="re_website" target="_blank">www.realestate.com.au/<%= @property.rca_id %></a>
                    <% end %>
                  <% else %>
                    check back soon.......
                  <% end %>
                </div>
              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
        <% else %>
          <!-- non developer 186 -->
          <div class="group" style="font-size:10pt;border:none;background:none">
            <div><div class="export-url-title">Office Website:</div><div>
                <% unless @office.url.blank? %>
                  <a href="http://<%= @office.url.to_s.gsub('http://','') + "/" + @property.id.to_s %>" name="office_website" target="_blank"><%= @office.url.to_s + "/" + @property.id.to_s %></a>
                <% else %>
                  There is no website data
                <% end %>
              </div></div>
            <div>
              <div class="export-url-title">
                <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                  Commercialrealestate.com.au:
                <% else %>
                  Domain.com.au:
                <% end %>
              </div>
              <div>
                <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                  <% unless @property.cre_id.blank? %>
                    <a href="http://www.commercialrealestate.com.au/<%= @property.cre_id %>" name="com_website" target="_blank"><%= @property.cre_id %></a>
                  <% else %>
                    check back soon.......
                  <% end %>
                <% else %>
                  <% unless @property.domain_id.blank? %>
                    <a href="http://www.domain.com.au/<%= @property.domain_id %>" name="office_website" target="_blank"><%= @property.domain_id %></a>
                  <% else %>
                    check back soon.......
                  <% end %>
                <% end %>
              </div>
            </div>
            <div>
              <div class="export-url-title">
                <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                  Realcommercial.com.au:
                <% else %>
                  Realestate.com.au:
                <% end %>
              </div>
              <div>
                <% unless @property.rca_id.blank? %>
                  <% if ["Commercial", "BusinessSale"].include?(@property.type.to_s) %>
                    <a href="http://www.realcommercial.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
                  <%  else %>
                    <a href="http://www.realestate.com.au/<%= @property.rca_id %>" name="re_website" target="_blank"><%= @property.rca_id %></a>
                  <% end %>
                <% else %>
                  check back soon.......
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="block form group" style="background-color:#E1EBF5;">
      <h6>Domains</h6>
      <fieldset class="pf_fs2">
        <div class="wraper_export"><%= @domain_exports %></div>
      </fieldset>
    </div>

    <% if @domain_projects.present? %>
      <div class="block form group" style="background-color:#E1EBF5;">
        <h6>Domain Projects</h6>
        <fieldset class="pf_fs2">
          <div class="wraper_export">
            <div class="export_list">
              <input <%= @property.domain_project.present? ? "checked" : "" %> name="domain_project[enabled]" type="checkbox" value="1"> Enable Domain Projects Exports <br/>
              <span>Select Project:</span>
              <%= select_tag "domain_project[domain_project_id]", options_for_select(@domain_projects, @selected_project)%>
            </div>
          </div>
        </fieldset>
      </div>
    <% end %>
  </div>

  <div id="contactsdiv">
    <table class="pf-table" style="border:none;">
      <tr class="li--8">
        <td class="value" colspan="5">
          <button name="update" type="submit" value="Update" style="float:right;">
            Submit
          </button>
        </td>
      </tr>
    </table>
  </div>
<% end %>
