<h2 class="page_title">Livestock Sale</h2>

<% form_for :property, @property, :html => {:class => 'propertyform full', :id => 'gensalesform'} do |f| %>
  <% fields_for @property.detail do |detail| %>

    <% unless f.error_messages.blank? && detail.error_messages.blank? -%>
      <%= f.error_messages :class => 'errortext' %>
      <%= detail.error_messages :class => 'errortext' %>
    <% end -%>

    <div class="block form half leader" >
      <%= hidden_field_tag :come_from, params[:come_from] %>
      <%= render :partial => 'livestock_sale_address', :locals => {:form => f} %>
      <%= render :partial => 'livesale_data', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'map', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (left side) -->

    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'livestock_sale_attachments', :locals => {:detail => detail} %>
      <%= render :partial => 'gensale_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'livestock_sale_contact_vendor', :locals => {:form => f} %>
      <%= render :partial => 'submit', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (right side) -->

  <% end # for fields_for block %>
<% end # for form_for block %>
