<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false">
</script>
<%= javascript_include_tag 'jquery.jmap.min', 'gmap' %>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_div"),
    mapOptions);
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyChQSpCH3SdXB4BFphbz9av5KUWhqMQzrk&sensor=false";
    document.body.appendChild(script);
  }

  window.onload = loadScript;

  $(document).ready(function(){
    var latlng = new Array(2);
    latlng[0]= '<%= @property.latitude %>';
    latlng[1]= '<%= @property.longitude %>';
    init_map(latlng, 15);
    var printing;
    if($.browser.msie){
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'absolute','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    }else{
      printing = $(document.createElement('div')).attr({'id':'printing'}).css({'text-align':'center','width':'60px','height':'35px','position':'fixed','top':'0px','left':$(window).width() - 50+'px'}).html('<img id="print_image" src="/images/icons/print.png" /><p id="print_label" style="display:none">Print</><p>');
    };
    $('body').append(printing);
    $('#print_image').css({'cursor':'pointer'});
    $('#print_label').css({'cursor':'pointer','font-weight':'bolder','font-size':'15px'});
    $('#printing').css('line-height','1px');
    $('#printing').mouseover(function(){
      $('#printing').animate({
        height:60
      },{duration: 'slow',easing: 'easeOutBounce'}, function(){
        $('#printing').css('height','60px');
      });
      $('#print_label').show();
    });
    $('#printing').mouseleave(function(){
      $('#printing').animate({
        height:35
      },{duration: 'fast',easing: 'easeInBounce'}, function(){
        $('#printing').css('height','35px');
      });
      $('#print_label').hide();
    });
    $('#print_label,#print_image').click(function(){
      window.print();
      return false;
    });
  });
</script>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_div { height: 100% }
  .wrapper{margin:0 auto;width:700px;height:auto;font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;}
  .logo{margin-bottom:5px;font-weight:bold;font-size:25px;}
  .headline{width:700px;height:30px;margin-bottom:5px;}
  .headline-text{font-size:12pt;font-weight:bold;}
  .middle-content{width:700px;height:auto;margin-bottom:5px;}
  .middle-content .right-column{width:450px;height:auto;float:left;}
  .middle-content .left-column{width:231px;height:auto;float:right;}
  .right-column .address-box{height:25px;border:1px solid #CCCCCC;margin-bottom:10px;padding:5px;}
  .right-column .big-pic{margin-bottom:10px;}
  .right-column .detail{height:auto;margin-bottom:10px;}
  .right-column .map{height:100px;border:1px solid #CCCCCC;}
  .detail .right-column{width:140px;height:auto;float:left;}
  .small-pic{width:140px;margin-bottom:10px;}
  .detail .left-column{width:290px;height:auto;float:right;}
  .clear{clear:both;}
  .right-box{
    width:210px;
    min-height:100px;
    border:1px solid #CCCCCC;
    margin-bottom:10px;
    padding:5px 10px;
  }
  p, .property-summary-data {
    font-size: 11px;
    margin: 10px 0;
  }
  .detail .left-column ul{font-size:8pt;}
</style>
<div class="wrapper">
  <% if @property.agent.developer.present? %>
    <div class="logo">
      <% if @header_image.present? %>
        <img src="<%= @header_image.public_filename %>" width="700"/>
      <% else %>
        <%= @property.office.name rescue nil %>
      <% end %>
    </div>
  <% end %>
  <div class="headline">
    <p>
      <span class="headline-text"><%= @property.deal_type == "Both" ? "For Sale & Lease" : @property.deal_type %></span>
      Property Id : <%= @property.id %>
    </p>
  </div>
  <div class="middle-content">
    <div class="right-column">
      <div class="address-box"><%= @property.suburb %></div>
      <% if @images.present? %>
        <div class="big-pic"><img src="<%= @images.first.public_filename %>" name="big_pic" style="width:450px;" /></div>
      <% end %>
      <div class="detail">
        <div class="right-column">
          <% if @images.second.present? %>
            <div class="small-pic"><img src="<%= @images.second.public_filename %>" style="width:140px;" name="sec_pic" /></div>
          <% end %>
          <% if @images.third.present? %>
            <div class="small-pic"><img src="<%= @property.images.third.public_filename %>" style="width:140px;" name="sec_pic" /></div>
          <% end %>
        </div>
        <div class="left-column">
          <b><%= @property.headline %></b><br/>
          <p><%= strip_tags(@property.description).gsub("\n","</br>") if @property.description.present? %></p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="map">
        <div id='map_div' style="height:450px; width: auto; position: relative;"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="left-column">
      <%= render 'contacts_list' %>
      <%= render 'property_summary' %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer">
    <% unless @header_image.blank? %>
      <img src="<%= @header_image.public_filename %>" width="700" style="margin-top: 400px;" />
    <% end %>
  </div>
</div>
