<h2 class="page_title">Residential Lease</h2>

<p class="required">* Fields in bold are required.</p>

<% form_for :property, @property, :html => {:class => 'propertyform full', :id => 'resleaseform'} do |f| %>
  <% fields_for @property.detail do |detail| %>

    <% unless f.error_messages.blank? && detail.error_messages.blank? -%>
      <%= f.error_messages :class => 'errortext' %>
      <%= detail.error_messages :class => 'errortext' %>
    <% end -%>

    <div class="block form half leader" >
      <%= render :partial => 'parent_listing', :locals => {:form => f} %>
      <%= render :partial => 'address', :locals => {:form => f} %>
      <%= render :partial => 'reslease_data', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'garage_bed_bath', :locals => {:detail => detail} %>
      <%= render :partial => 'energy', :locals => {:detail => detail} %>
      <%= render :partial => 'map', :locals => {:form => f} %>
    </div><!-- end .half BLOCK (left side) -->

    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
      <%= render :partial => 'res_area', :locals => {:detail => detail} %>
      <%= render :partial => 'features_list' %>
      <%= render :partial => 'attachments', :locals => {:detail => detail} %>
      <%= render :partial => 'reslease_price', :locals => {:form => f, :detail => detail} %>
      <%= render :partial => 'contact_vendor', :locals => {:form => f} %>
      <%= render :partial => 'duplication' %>
      <%= render :partial => 'submit', :locals => {:form => f } %>
    </div><!-- end .half BLOCK (right side) -->

  <% end # for fields_for block %>
<% end # for form_for block %>

