<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
    <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
    <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','application'%>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('#booting', window.parent.document).hide();
<% unless (@office.url.blank? || @property.detail && @property.detail.property_url.blank?) %>
      window.location = "http://www.facebook.com/sharer.php?u=<%= translate_url("#{@office.url}/#{@property.id}") || @property.detail.property_url  %>"
<%else%>
      $("#msg_facebook").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
<%end%>
  });
    </script>
  </head>
  <body>
    <div id ="msg_facebook">

    </div>
  </body>
</html>