<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery.flexbox' %>
  <%= javascript_include_tag 'ui/jquery.flexbox.min' %>
<%end%>
<div id="propertyaddressdiv" class="group">
  <div class="set">
    <h6 class="full">Property Address <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a><span class="helplink_info" style="display:none"><%= @help_data["Property Address"] %></span></small></h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul" id="address_container">
        <li class="li--15 required" id="li_country"><label><span>Country:<span class="red_star">*</span></span></label>
          <%#= select_tag "property[country]", options_from_collection_for_select(@countries,  "name", "name") %>
          <%= select_tag "property[country]", options_for_select(@countries, @property.country || @country.name)%>
          <div id="country_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
        </li>
        <!-- TODO: check whether it's possible to do this for all country later -->
        <!-- NOTE TO DEVELOPER: See the Zip Code field on this site: https://wwws.mint.com/login.event?task=S. We would like the same functionality here, but the city, state, suburb or whatever is populated in the fields below. You should not be able to type in those fields. I will style the fields so it appears they are not input boxes. -->
        <li class="li--16 required" id="li_suburb"><label><span><div id="address1">Suburb:<span class="red_star">*</span></div></span></label>
          <div id="property_suburb_suggest"></div>
          <%= text_field_tag "property[suburb]", "#{@parent_listing.suburb}", {:class => 'single' , :style => 'display:none'} %>
        </li>
        <li class="li--17 required" id="li_town"><label><span><div id="address2">Town/Village:<span class="red_star">*</span></div></span></label>
          <%= label_tag "lb_town_village", "#{@parent_listing.town_village}", :id =>"lb_town_village" %>
          <%= text_field_tag "property[town_village]", "#{@parent_listing.town_village}", {:class => 'single' , :style => 'display:none'}  %>
        </li>
        <li class="li--18 required" id="li_state"><label><span><div id="address3">State:<span class="red_star">*</span></div></span></label>
          <%= label_tag "lb_state", "#{@parent_listing.state}", :id =>"lb_state"  %>
          <%= text_field_tag "property[state]", "#{@parent_listing.state}", {:class => 'single' , :style => 'display:none'}  %>
        </li>
        <li class="li--19 required" id="li_postCode"><label><span><div id="address4">Postcode:<span class="red_star">*</span></div></span></label>
          <%= label_tag "lb_zip_code", "#{@parent_listing.zipcode}", :id =>"lb_zip_code"  %>
          <%= text_field_tag "property[zipcode]", "#{@parent_listing.zipcode}", {:class => 'single' , :style => 'display:none'}  %>
          <%= text_field_tag "property[street]", "#{@parent_listing.street}", {:class => 'single' , :style => 'display:none'}  %>
          <%= hidden_field_tag "property[latitude]", "#{@parent_listing.latitude}", {:class => 'single'}  %>
          <%= hidden_field_tag "property[longitude]", "#{@parent_listing.longitude}", {:class => 'single'}  %>
        </li>
        <% unless params[:action] == 'land_release' || @ptype == 'land_release' %>
          <li class="li--20" id="li_unitNumber"><label><span>Unit Number:</span></label>
            <%= text_field_tag "property[unit_number]", "#{@property.unit_number}", {:class => 'single'}  %>
          </li>
          <% if params[:action] == 'business_sale' || @ptype == 'business_sale' -%>
            <li class="li--21" id="li_streetNo"><label><span>Street Number:</span></label>
            <% else %>
            <li class="li--21 required" id="li_streetNo"><label><span>Street Number:<span class="red_star">*</span></span></label>
            <% end -%>
            <%= text_field_tag "property[street_number]", "#{@parent_listing.street_number}", {:class => 'single'} %>
          </li>

          <% if params[:action] == 'business_sale' || @ptype == 'business_sale' -%>
            <li class="li--22" id="li_streetType"><label><span>Street Name/Type:</span></label>
            <% else %>
            <li class="li--22 required" id="li_streetType"><label><span>Street Name/Type:<span class="red_star">*</span></span></label>
            <% end -%>

            <%= text_field_tag "property[street]", "#{@parent_listing.street}", {:class => 'single'}  %>
          </li>
          <li class="li--23" id="li_displayAddress"><label><span>Display Address:</span></label>
            <%= radio_button_tag "property[display_address]", "1", true %> All Address &nbsp;
            <%= radio_button_tag "property[display_address]", "0" %> Suburb Only
            <% if (params[:action] == 'commercial' || @ptype == 'commercial') || (params[:action] == 'business_sale' || @ptype == 'business_sale') -%>
              &nbsp;<%= radio_button_tag "property[display_address]", "2" %> No Address &nbsp;
            <% end -%>
          </li>
          <li class="li--16" id="li_suburb_desc" style="display:none;">
            <b>Suburbs to be listed for other sites (if blank above suburb will be sent)</b>
          </li>
          <li class="li--16" id="li_re_suburb" style="display:none;"><label><span>Realestate.co.nz:</span></label>
            <div id="property_re_suburb_suggest"></div>
            <%= text_field_tag "property[re_suburb]", "#{@parent_listing.re_suburb}", {:class => 'single', :style => 'display:none'}  %>
            <%= hidden_field_tag "property[re_state]", "#{@parent_listing.re_state}", {:class => 'single'}  %>
            <%= hidden_field_tag "property[re_postcode]", "#{@parent_listing.re_postcode}", {:class => 'single'}  %>
          </li>
          <li class="li--16" id="li_rca_suburb" style="display:none;"><label><span>Realcommercial.co.nz:</span></label>
            <div id="property_rca_suburb_suggest"></div>
            <%= text_field_tag "property[rca_suburb]", "#{@parent_listing.rca_suburb}", {:class => 'single', :style => 'display:none'}  %>
            <%= hidden_field_tag "property[rca_state]", "#{@parent_listing.rca_state}", {:class => 'single'}  %>
            <%= hidden_field_tag "property[rca_postcode]", "#{@parent_listing.rca_postcode}", {:class => 'single'}  %>
          </li>
        <%end%>
      </ul>
    </fieldset>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    //jQuery("#property_suburb_suggest_input").ajaxStop(function(){
    //jQuery(this).val("<%#=@parent_listing.suburb%>");
    //});
    var query = "<%= @parent_listing.suburb %>";
    var country = "<%= @parent_listing.country %>";
    var re_suburb = "<%= @parent_listing.re_suburb %>";
    var rca_suburb = "<%= @parent_listing.rca_suburb %>";

    flexbox(query,country,query);
    if(country == "New Zealand"){
      $("#li_re_suburb").show();
      $("#li_rca_suburb").show();
      $("#li_suburb_desc").show();

      nz_suburb_flexbox("property_re",re_suburb,country,re_suburb);
      nz_suburb_flexbox("property_rca",rca_suburb,country,rca_suburb);
      $("input[style='width: 550px;']").hide();
    }else{
      $("#li_re_suburb").hide();
      $("#li_rca_suburb").hide();
      $("#li_suburb_desc").hide();
    }
  });

  function flexbox(query,country,suburb){
    jQuery("#property_suburb_suggest").flexbox('<%= search_suburbs_path+"?country=" %>'+country,{
      customParameters: {q: query, c: country},
      method: 'post',
      watermark: suburb,
      showArrow: false,
      inputClass: 'single',
      resultTemplate:'{name}, {town} {id} {post}',
      hiddenValue: 'post',
      additionValue: 'id',
      townValue: 'town',
      minChars: 3,
      width:550,
      maxVisibleRows: 10,
      queryDelay: 300,
      paging:false,
      containerClass:'ffbContainer',
      highlightMatches: true,
      onSelect: function(){
        jQuery("#property_state").val(this.getAttribute("additionValue"));
        jQuery("#property_town_village").val(this.getAttribute("townValue"));
        jQuery("#property_zipcode").val(this.getAttribute("hiddenValue"));
        jQuery("#property_suburb").val(this.getAttribute('val'));

        jQuery("#lb_state").text($("#property_state").val());
        jQuery("#lb_town_village").text($("#property_town_village").val());
        jQuery("#lb_zip_code").text($("#property_zipcode").val());
      }
    });
    jQuery("#property_suburb_suggest_input").removeAttr("style");
  };

  function nz_suburb_flexbox(div_id, query,country,suburb){
    var type = '';
    if(div_id+"_suburb" == "property_re_suburb"){
      type = "realestate"
    }else{
      type = "realcommercial"
    }

    jQuery("#"+div_id+"_suburb_suggest").flexbox('<%= search_suburbs_path+"?type=" %>'+type,{
      customParameters: {q: query, c: country},
      method: 'post',
      watermark: suburb,
      showArrow: false,
      inputClass: 'single',
      resultTemplate:'{name}, {town} {id} {post}',
      hiddenValue: 'post',
      additionValue: 'id',
      townValue: 'town',
      minChars: 3,
      width:550,
      maxVisibleRows: 10,
      queryDelay: 300,
      paging:false,
      containerClass:'ffbContainer',
      highlightMatches: true,
      onSelect: function(){
        jQuery("#"+div_id+"_suburb").val(this.getAttribute('val'));
        jQuery("#"+div_id+"_state").val(this.getAttribute("additionValue"));
        jQuery("#"+div_id+"_postcode").val(this.getAttribute("hiddenValue"));
      }
    });
    jQuery("#"+div_id+"_suburb_suggest_input").removeAttr("style");
  };

</script>