<p><%= h @comment.commenter.full_name %> posted a comment on message: <%= h @message.title %></p>

<% if @comment.rating %>
	<p>The user who created this message has rated the support provided by you:</p>
	<p>Rating: <%= [
      [ Message::RatingIncomplete,  'Incomplete'  ],
      [ Message::RatingPoor,        'Poor'        ],
      [ Message::RatingReasonable,  'Reasonable'  ],
      [ Message::RatingGood,        'Good'        ],
      [ Message::RatingExcellent,   'Excellent'   ]
    ].freeze.find { |r| r[0] == @comment.rating }[1] %></p>
	<p>Their Feedback:</p>
<% end %>

<div><%= simple_format(@comment.comment) %></div>

<p>Follow this link to read the message and comment:</p>

<p>
<%= @url %>
</p>