<p>Dear <%= @user.first_name.blank? ? @user.login : @user.first_name %>,</p>
<br/>
<p>The status of the following office account <%= @office.name %> has changed from Active to Inactive in your Developer's System. This means exports to 3rd party websites and the API for that office are currently suspended. To reactivate them you need to login to the Developer's System and pay the monthly subscription for that office.</p>
<br/>
Kind regards Commercial Loop Team