<div class="block files quarter" id="sidebar">
<div class="upload_button">
	<%= link_to "Add a New Portal", "/admin/exports/new", :class => "btn" %>
	<!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though. -->
</div>
</div>

<h2>Exports are available to the following portals</h2><br/>

<div class="block accounts full" id="accountdiv">

<div class="group">

	<table cellspacing="0" cellpadding="0" class="account_portal_details_table full">
		<tbody><tr>
			<th class="th_portal_name first_cell"><a title="" href="#">Portal Name</a></th>
                        <th class="th_portal_disp_name" style="width:100px;"><a title="" href="#">Display Name</a></th>
			<th class="th_portal_type"><a title="" href="#">Type</a></th>
			<th class="th_portal_availability" style="width:70px;"><a title="" href="#">Availability</a></th>
			<th class="th_portal_url"><a title="" href="#">URL</a></th>
			<th class="th_portal_usename"><a title="" href="#">Username</a></th>
			<th class="th_portal_password"><a title="" href="#">Password</a></th>
			<th class="th_portal_developers"><a title="" href="#"># Developers</a></th>
			<th class="th_portal_offices"><a title="" href="#"># Offices</a></th>
			<th class="th_portal_listings"><a title="" href="#"># Listings</a></th>
			<th class="th_default"><a title="" href="#">Default</a></th>
		</tr>
    <% @portals.each do |portal| %>
      <tr class="alt">
        <td class="td_portal_name first_cell"><%= link_to portal.portal_name, :action => "edit", :id => portal.id %></td>
        <td class="td_portal_disp_name"><%= portal.display_name %></td>
        <td class="td_portal_type"><%= portal.portal_type %></td>
        <td class="td_portal_availability">
          <%= portal.availability %>
        </td>
        <td class="td_portal_url"><%= link_to portal.portal_url, portal.portal_url, :target => "_blank"%></td>
        <td class="td_portal_username"><%= portal.username %></td>
        <td class="td_portal_password"><%= portal.password %></td>
        <td class="td_portal_developers"></td>
        <td class="td_portal_offices"></td>
        <td class="td_portal_listings"></td>
        <td class="td_default"><%= portal.default %></td>
      </tr>
    <% end %>
	</tbody></table>

<div class="clearer"/>
</div>


</div>