<h1>Listing videos</h1>

<table>
  <th>URL</th>
  <th></th>
  <th>Action</th>
  <th></th>
  <%= render :partial => 'rows' %>
</table>

<br />
<%= render :partial => "form" %>
<%# link_to 'New video', new_agent_office_property_video_path(1) %>
