<div id="sidebar" class="block files quarter">
</div>

<h2>Agent's Quicklinks</h2><br />
<div class="block tables twothirds">
<div class="group">
<% form_for :data, @updates_data, :url => update_admin_agent_quicklinks_path, :html => {:method => :put} do |h| %>
<table id='agent' cellpadding="0" cellspacing="0">
<tbody>
		<tr>
			<td colspan="2">URL Format : http://{subdomain}.commercialloopcrm.com.au/agents/{agent_id}/offices/{office_id} etc, text in semicolon "{}" will be translated into user environment</td>
		</tr>
<% if !@updates_data.nil? %>	
	<% @updates_data.each do |k,v| %>	
		<tr class="alt">
			<td class="td_ql_name"><%= text_field_tag "updates_data_key[]", k , :class => "single" %></td>
			<td class="td_ql_link"><%= text_field_tag "updates_data[]", v , :class => "single" %></td>
		</tr>	
	<% end %>
<% end %>
</tbody>
</table>

<a href="#" onclick="$('#agent tbody').append('<tr class=\'alt\'><td class=\'td_ql_name\'><input type=\'text\' name=\'updates_data_key[]\' id=\'updates_data_key\' class=\'single\' value=\'\'/></td><td class=\'td_ql_link\'><input type=\'text\' name=\'updates_data[]\' id=\'updates_data\' class=\'single\' value=\'\' /></td></tr>'); return false;" title="">Add another</a><br/><br/>

<%= h.submit %>
<% end %>
</div>
</div>
