  <div class="step_button">
    <a href="<%= choose_layout_agent_office_property_brochures_path(@agent, @office, @property) %>" class="<%= 'active_tab' if %w(choose_layout).include?(params[:action]) %>">1. Choose Brochure Layout</a>
    <% if session[:brochure_layout].blank? %>
      <a href="#">2. Choose Brochure Images</a>
    <% else %>
      <a href="<%= choose_images_agent_office_property_brochures_path(@agent, @office, @property) %>" class="<%= 'active_tab' if %w(choose_images).include?(params[:action]) %>">2. Choose Brochure Images</a>
    <% end %>

    <% if session[:brochure_image].blank? %>
      <a href="#">3. Sort and Crop Images</a>
    <% else %>
      <a href="<%= crop_images_agent_office_property_brochures_path(@agent, @office, @property) %>" class="<%= 'active_tab' if %w(crop_images).include?(params[:action]) %>">3. Sort and Crop Images</a>
    <% end %>

    <% if session[:brochure_image].blank? %>
       <a href="#">4. Manage Brochure Copy</a>
    <% else %>
       <a href="<%= manage_brochure_agent_office_property_brochures_path(@agent, @office, @property) %>" class="<%= 'active_tab' if %w(manage_brochure).include?(params[:action]) %>">4. Manage Brochure Copy</a>
    <% end %>

    <% if session[:brochure_image].blank? %>
       <a href="#">5. Brochure Back</a>
    <% else %>
       <a href="<%= brochure_back_agent_office_property_brochures_path(@agent, @office, @property) %>" class="<%= 'active_tab' if %w(brochure_back).include?(params[:action]) %>">5. Brochure Back</a>
    <% end %>

    <% if session[:brochure_data].blank? %>
      <a href="#">6. Preview Brochure</a>
    <% else %>
      <a href="<%= preview_agent_office_property_brochures_path(@agent, @office, @property) %>" class="<%= 'active_tab' if %w(preview).include?(params[:action]) %>">6. Preview Brochure</a>
    <% end %>
  </div>