<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;margin-left:10px;margin-bottom:10px;">
    <div class="set">
     <h6>General </h6>
     <table cellpadding="0" cellspacing="0">
       <tr>
         <td><b>Font</b></td>
         <td>
           <select style="width:150px;" onchange="update_font(this.value);">
             <option value="arial">Arial</option>
             <option value="sans-serif">Sans-serif</option>
             <option value="'Lucida Sans'">Lucida Sans</option>
             <option value="'Lucida Grande'">Lucida Grande</option>
             <option value="'Lucida Sans Unicode'">Lucida Sans Unicode</option>
           </select>
         </td>
       </tr>
       <tr>
         <td><b>Heading Colour</b></td>
         <td>
           <div class="selector" id="swatch_heading" onclick="active_selector_func('heading');"></div>
         <% @color_list.each_with_index{|clr, index| %>
           <div class="heading_class color_block <%= (clr.to_s == @option[:heading])? 'block_active' : ''  %>" style="background-color:<%= clr %> " onclick="update_heading('<%= clr %>', <%= index %>);" id="heading_class<%= index %>"></div>
         <% } %>
         </td>
       </tr>
       <tr>
         <td><b>Main Content Colour</b></td>
         <td>
           <div class="selector" id="swatch_background" onclick="active_selector_func('background');"></div>
         <% @color_list.each_with_index{|clr, index| %>
           <div class="bg_class color_block <%= (clr.to_s == @option[:background])? 'block_active' : ''  %>" style="background-color:<%= clr %> " onclick="update_backgroud('<%= clr %>', <%= index %>);" id="bg_class<%= index %>"></div>
         <% } %>
         </td>
       </tr>
       <tr>
         <td><b>Sidebar Colour</b></td>
         <td>
           <div class="selector" id="swatch_sidebar" onclick="active_selector_func('sidebar');"></div>
         <% @color_list.each_with_index{|clr, index| %>
           <div class="sidebar_class color_block <%= (clr.to_s == @option[:sidebar])? 'block_active' : ''  %>" style="background-color:<%= clr %> " onclick="update_sidebar('<%= clr %>', <%= index %>);" id="sidebar_class<%= index %>"></div>
         <% } %>
         </td>
       </tr>
       <tr><td><b>Icon & Text Colours</b></td><td>
         <div id="title_class1" class="title_class color_block <%= ("#000000" == @option[:title_color])? 'block_active' : ''  %>" style="background-color:#000000" onclick="update_title_color(1);"></div>
         <div id="title_class2" class="title_class color_block <%= ("#FFFFFF" == @option[:title_color])? 'block_active' : ''  %>" style="background-color:#FFFFFF" onclick="update_title_color(2);"></div>
       </td></tr>
       <tr><td><b>Display Team Image</b></td><td><input type="checkbox" name="display_team_image_frm" id="display_team_image_frm"  onchange="update_team();" <%= (@option[:display_team_image] == '1')? 'checked' : ''  %> /></td></tr>
       <tr><td><b>Leave Header & Footer Blank</b></td><td><input type="checkbox" name="leave_blank_header_frm" id="leave_blank_header_frm" onchange="update_leave_blank();" <%= (@option[:leave_blank_header] == '1')? 'checked' : ''  %> /></td></tr>
     </table>
    </div>
</div>
