<%= stylesheet_link_tag 'brochure','pdf_style' %>
<% if !@html.blank? %>
  <%= @html %>
<% else %>
    <%= render :partial => "brochures/theme/#{session[:brochure_layout]}" %>
    <% if session[:brochure_data][:display_brochure_back] == "1" %>
      <%= render :partial => "brochures/theme/brochure_back" %>
    <% end %>
<% end %>

