<h3>Brochure</h3>

<div><strong>Note:</strong> Only PDF file types can be added to brochures. You are also limited to 5 megabytes per property.</div>
<% form_for :brochure, @brochure, :url => agent_office_property_brochures_path(@agent, @office, @property, :come_from => params[:come_from]), :html => { :multipart => true, :id => 'upload' } do |f| %>
  <div id="vtlinksfilesdiv" class="group">
    <div id="virtualtourdiv" class="set full">
      <small class="formgrouplinks"><a href="#" title="Help" class="helplink"><img src="/images/question.gif" alt="question" /></a></small>

      <% unless @brochure.blank? || @brochure.first.new_record? %>
        <%  @brochure.each do |broc| %>
          <p>
            <%= broc.filename %>&nbsp;&nbsp;<%= link_to 'Delete', agent_office_property_brochure_path(@agent, @office, @property, broc, :come_from => params[:come_from]), :method => 'delete', :confirm => 'Are you sure?' %>
          </p>
        <% end %>
      <% end %>
      <ul class="pf-ul">
        <li class="li--36">
          <label><span>Upload file:</span></label>
          <%= f.file_field :uploaded_data, :class => 'single' %>
        </li>
      </ul>
    </div>
    <p><%= f.submit 'Upload Brochure' %></p>

    <div class="clearer"></div>
  </div><!-- end #linksfilesdiv GROUP -->
<% end %>
