<%= stylesheet_link_tag 'pdf_style' %>
<div class="title_block block">
  <h2 class="page_title">Manage Brochure copy</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<div id="clientdiv" class="block accounts half" style="width:800px;">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
    <table cellpadding="0" cellspacing="0">
     <tr>
       <td colspan="2" >
         <b>Footer Image</b><br/>
         <img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="80"  class="dropper1"/>
       </td>
     </tr>
    </table>
    </div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Preview Editor (click on the sections you'd like to edit) </h6>
     <%= render :partial => "brochures/text_editor/#{@text_editor}" %>
    </div>
     <br/><p>*Note : Click on the text to edit and add some style.</p>
     <div class="clearer"></div>
  </div>

  <div id="edit_wraper" style="width:800px;display:none;">
    <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
      <div class="set">
       <h6>Edit Text</h6>
       <div id="wrapper_edit_text"  style="display:none;">
        <textarea name="edit_text" id="edit_text" cols="105" rows="10" style="width:780px;height:250px;" class="mceEditor"></textarea>
       </div>
       <div id="wrapper_edit_text_noeditor" style="display:none;">
         <textarea name="edit_text_noeditor" id="edit_text_noeditor" cols="105" rows="10" style="width:780px;" class="mNc"></textarea><br/>
       </div>
        <a href="#" id="save_text" style="font-size:9pt;">Save</a>&nbsp;|&nbsp;<a href="javascript:close_text();" style="font-size:9pt;">Cancel</a>
      </div>
    </div>
  </div>
</div>


<div id="clientdiv" class="block accounts half" style="width:400px;">
  <%= render :partial => @opt_color %>
</div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
            <button name="back_crop_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= crop_images_agent_office_property_brochures_path(@agent, @office, @property) %>'">« Previous </button>
            <form action="" method="post" name="frm1">
              <textarea name="data[description]" id="data_description" class="mceNoEditor"><%= @data[:description] unless @data.blank? %></textarea>
              <textarea name="data[title]" id="data_title" class="mceNoEditor"><%= @data[:title] unless @data.blank? %></textarea>
              <textarea name="data[headline]" id="data_headline" class="mceNoEditor"><%= @data[:headline] unless @data.blank? %></textarea>
              <textarea name="data[price]" id="data_price" class="mceNoEditor"><%= @data[:price] unless @data.blank? %></textarea>
              <textarea name="data[contact1]" id="data_contact1" class="mceNoEditor"><%= @data[:contact1] unless @data.blank? %></textarea>
              <textarea name="data[contact2]" id="data_contact2" class="mceNoEditor"><%= @data[:contact2] unless @data.blank? %></textarea>

              <input type="hidden" name="active_selector" id="active_selector" value="heading" />
              <input type="hidden" name="style[font]" id="style_font" value="<%= @style[:font] unless @style.blank? %>"/>
              <input type="hidden" name="style[heading_color]" id="style_heading_color" value="<%= @style[:heading_color] unless @style.blank? %>"/>
              <input type="hidden" name="style[background_color]" id="style_background_color" value="<%= @style[:background_color] unless @style.blank? %>"/>
              <input type="hidden" name="style[sidebar_color]" id="style_sidebar_color" value="<%= @style[:sidebar_color] unless @style.blank? %>"/>
              <input type="hidden" name="style[title_color]" id="style_title_color" value="<%= @style[:title_color] unless @style.blank? %>"/>

              <input type="hidden" name="option[font]" id="option_font" value="<%= @option[:font] unless @option.blank? %>"/>
              <input type="hidden" name="option[heading_color]" id="option_heading_color" value="<%= @option[:heading_color] unless @option.blank? %>"/>
              <input type="hidden" name="option[background_color]" id="option_background_color" value="<%= @option[:background_color] unless @option.blank? %>"/>
              <input type="hidden" name="option[sidebar_color]" id="option_sidebar_color" value="<%= @option[:sidebar_color] unless @option.blank? %>"/>

              <input type="hidden" name="option[title_color]" id="option_title_color" value="<%= @option[:title_color] unless @option.blank? %>"/>
              <input type="hidden" name="option[display_team_image]" id="option_display_team_image" value="<%= @option[:display_team_image] unless @option.blank? %>"/>
              <input type="hidden" name="option[leave_blank_header]" id="option_leave_blank_header" value="<%= @option[:leave_blank_header] unless @option.blank? %>"/>
              <button name="update" type="submit" value="Update" style="float:right;">Next »</button>
            </form>
        </td></tr>
      </table>
  </div>
<%= javascript_include_tag 'tiny_mce/tiny_mce.js', 'dropperredux', 'colorpicker', 'eye', 'utils' %>
<style>
  .selector{cursor:pointer; width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;}
</style>
<script type="text/javascript">
   tinyMCE.init({
      mode : "textareas",
      theme : "advanced",
      plugins : "spellchecker",
      theme_advanced_buttons1 : "spellchecker, bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
      theme_advanced_buttons2 : "",
      theme_advanced_buttons3 : "",
      theme_advanced_buttons4 : "",
      editor_selector : "mceEditor",
      editor_deselector : "mceNoEditor, mNc"
    });
    $(document).ready(function() {
        $("#brochure_title_text").click(function(){
           update_text_noeditor('brochure_title_text', 'data_title');
        });
        $("#brochure_headline").click(function(){
           update_text('brochure_headline', 'data_headline');
        });
        $("#brochure_description").click(function(){
           update_text('brochure_description', 'data_description');
        });
        $("#brochure_price").click(function(){
           update_text('brochure_price', 'data_price');
        });
        $("#brochure_contact1").click(function(){
           update_text('brochure_contact1', 'data_contact1');
        });
        $("#brochure_contact2").click(function(){
           update_text('brochure_contact2', 'data_contact2');
        });
    });

    function save_text(id, prev_id, noeditor){
      var text = '';
      if(noeditor == '1'){
        text = $("#edit_text_noeditor").val();
      }else{
        text = tinyMCE.get('edit_text').getContent();
      }
      $("#"+id).html(text);
      $('#'+prev_id).val(text);
      close_text();
    }

    function close_text(){
      $("#wrapper_edit_text_noeditor").hide();
      $("#wrapper_edit_text").hide();
      $("#edit_wraper").hide();
    }

    function update_text(id, prev_id){
      close_text();
      $("#edit_wraper").show();
      $("#wrapper_edit_text").show();
      var text = $('#'+id).html();
      tinyMCE.activeEditor.setContent(text.replace(/\s+/g, " "));
      $("#save_text").attr('href', 'javascript:save_text("'+id+'","'+prev_id+'", "0")');
    }

    function update_text_noeditor(id, prev_id){
      close_text();
      $("#edit_wraper").show();
      $("#wrapper_edit_text_noeditor").show();
      var text = $('#'+id).html();
      $("#edit_text_noeditor").html(text.replace(/\s+/g, " "));
      $("#save_text").attr('href', 'javascript:save_text("'+id+'","'+prev_id+'", "1")');
    }
</script>
<script type="text/javascript">
  $(document).ready(function() {
    active_selector_func("heading");
    var def_color = "<%= @list_color %>";
    if(def_color!=""){
      select_color(def_color);
    }
     var turnon = function () {
      $.fn.dropperredux({
        selector: $('.dropper1'),
        hoverwidth: 10,
        clickCallback: function(color) {
           select_color("#"+color.rgbhex);
        }
      });
    };
    turnon();
  });
</script>
<script type="text/javascript">
    function active_selector_func(active){
      $(".selector").css({'border' : "1px solid #CCCCCC"});
      $('#active_selector').val(active);
      $('#swatch_'+active).css({'border' : "1px solid red"});
    }

    function select_color(color){
      var active = $('#active_selector').val();
      $('#swatch_'+active).css({'background-color' : color});
      $('#brochure_'+(active == 'heading'? 'title' : active)).css({'background-color' : color});
      $('#style_'+active+'_color').val('background-color:'+color+';');
      $('#option_'+active+'_color').val(color);
    }

    function update_title_color(type){
      if(type == 1){
        color = "#000000";
        img = "black";
      }else{
        color = "#FFFFFF";
        img = "white";
      }
      $('#brochure_title').css({'color' : color});
      $('#style_title_color').val('color:'+color);
      $('#option_title_color').val(color);
      $('div.title_class').removeClass('block_active');
      $('#title_class'+type).addClass('block_active');
      $('#img_beds').attr("src", "/images/beds_"+img+".png");
      $('#img_baths').attr("src", "/images/baths_"+img+".png");
      $('#img_cars').attr("src", "/images/cars_"+img+".png");
    }

    function update_font(font){
      $('#brochure').css({'font-family' : font});
      $('#style_font').val('font-family:'+font+';');
      $('#option_font').val(font);
    }

    function update_team(){
      var team = 0
      if($('#display_team_image_frm').attr('checked') == true){
        $('#img_primary').show();
        $('#img_secondary').show();
        team = 1
      }else{
        $('#img_primary').hide();
        $('#img_secondary').hide();
      }
      $('#option_display_team_image').val(team);
    }

    function update_leave_blank(){
      var leave = 0
      if($('#leave_blank_header_frm').attr('checked') == true){
        leave = 1
      }
      $('#option_leave_blank_header').val(leave);
    }

    function update_heading(color, id){
      active_selector_func("heading");
      $('#swatch_heading').css({'background-color' : color});
      $('#brochure_title').css({'background-color' : color});
      $('#style_heading_color').val('background-color:'+color+';');
      $('#option_heading_color').val(color);
      $('div.heading_class').removeClass('block_active');
      $('#heading_class'+id).addClass('block_active');
    }

    function update_backgroud(color, id){
      active_selector_func("background");
      $('#swatch_background').css({'background-color' : color});
      $('#brochure_background').css({'background-color' : color});
      $('#style_background_color').val('background-color:'+color+';');
      $('#option_background_color').val(color);
      $('div.bg_class').removeClass('block_active');
      $('#bg_class'+id).addClass('block_active');
    }

    function update_sidebar(color, id){
      active_selector_func("sidebar");
      $('#swatch_sidebar').css({'background-color' : color});
      $('#brochure_sidebar').css({'background-color' : color});
      $('#style_sidebar_color').val('background-color:'+color+';');
      $('#option_sidebar_color').val(color);
      $('div.sidebar_class').removeClass('block_active');
      $('#sidebar_class'+id).addClass('block_active');
    }

</script>