<div class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%">
      <h6>Footer text</h6><br/>
      <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Text:</b></td>
          <td><input type="text" name="data[footer_text]" class="single" size="90" value="<%= (@data[:footer_text].blank? ? "Copyright &copy; <b>#{@office.name}</b> #{Time.now.strftime("%Y")}. All rights reserved" : @data[:footer_text]) %>"/></td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>