<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%">
      <h6>Sold Listings</h6><br/>
      <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td colspan="2">
            <table style="border:none;">
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Title:</b></td>
                <td><input type="text" name="data[sold_listing_title]" class="single" value="<%= (@data[:sold_listing_title].blank? ? "Sold Listings" : @data[:sold_listing_title]) %>"/></td>
              </tr>
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Offices:</b></td>
              <td>
                <%  if @agent.developer.allow_listing_office == true %>
                  <%= select_tag "selection_office_soldlease", options_for_select(@offices.map{|m| [m.name, m.id]}.uniq, ""), :class => 'select_box', :onchange => "add_options('office_soldlease','office_soldlease');", :style => "width:250px;float:left;" %>
                <% else %>
                  <%= select_tag "selection_office_soldlease", options_for_select(@offices.map{|m| [m.name, m.id]}.unshift(['All Offices', nil]).uniq, ""), :class => 'select_box', :onchange => "add_options('office_soldlease','office_soldlease');", :style => "width:250px;float:left;" %>
                <% end %>
              </td></tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="2">
                  <div id="office_soldleases" style="text-align:left;font-size:9pt;"><%= @value_office_soldleases %></div>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Listing Type:</b></td>
                <td>
                  <%= select_tag "selection_listing_type_soldlease", options_for_select(@listing_types, ""), :class => 'select_box', :onchange => "add_options('listing_type_soldlease','listing_type_soldlease');", :style => "width:250px;float:left;" %>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="2">
                  <div id="listing_type_soldleases" style="text-align:left;font-size:9pt;"><%= @value_listing_type_soldleases %></div>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5"><td style="width:150px;"><b>Property Type:</b></td>
                <td>
                  <%= select_tag "selection_property_type_soldlease", options_for_select(@property_types, ""), :class => 'select_box', :onchange => "add_options('property_type_soldlease','soldlease');", :style => "width:250px;float:left;" %>
                </td></tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="2">
                  <div id="property_type_soldleases" style="text-align:left;font-size:9pt;"><%= @value_property_type_soldleases %></div>
                </td>
              </tr>
              <tr style="background-color:#E1EBF5">
                <td colspan="3"><input type="button" name="search" value="Search Property" onclick="adv_search_soldlease();" class="submit_btn"/></td>
              </tr>
            </table>
        </td></tr>
        <tr style="background-color:#E1EBF5"><td colspan="2" style="font-weight:bold;text-decoration:underline;">List Sold Listing:</td></tr>
        <tr style="background-color:#FFFFFF">
          <td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="adv_search_soldlease_container"><center><b>Sold Listings</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>