<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
      <h6>Links</h6>
      <div id="setter"></div>
      <div class="bordered-cont" id="linkcont_info">
      <table style="border:none;">
        <tr style="background-color:#E1EBF5">
          <td colspan="2">
            <b>Info Links:</b>
            <div style="float:right;font-size:9pt;">Order <span style="font-size:11pt;">+</span></div>
            <div style="clear:both;"></div>
          </td>
        </tr>
        <tr style="background-color:#E1EBF5"><td style="padding-left:10px;width:600px;">
          <div class="campaingn_info_link">
            <% if @info_links.blank? %>
            <div class="campaingn_link_wrapper">
              <div class="campaign-link-title">Title Link:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="info_link[][title]" class="single" style="width:200px;" value="" /></div>
              <div class="campaign-link-title">&nbsp;Link:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="info_link[][url]" class="single" style="width:200px;" value="" /></div>
            </div>
            <% else %>
              <%= @info_links %>
            <% end %>
          </div>
        </td><td>&nbsp;<a href="javascript:add_info_link();" name="add_info_link">Add</a></td>
        </tr>
       </table>
       </div>
       <div class="bordered-cont" id="linkcont_web">
       <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td colspan="2"><b>Web Links:</b>
        <div style="float:right;font-size:9pt;">Order <span style="font-size:11pt;">+</span></div>
        <div style="clear:both;"></div>
        </td></tr>
        <tr style="background-color:#E1EBF5"><td style="padding-left:10px;width:600px;">
          <div class="campaingn_web_link">
            <% if @web_links.blank? %>
            <div class="campaingn_link_wrapper">
              <div class="campaign-link-title">Title Link:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="web_link[][title]" class="single" style="width:200px;" value="" /></div>
              <div class="campaign-link-title">&nbsp;Link:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="web_link[][url]" class="single" style="width:200px;" value="<%= @office_web_link %>" /></div>
            </div>
            <% else %>
              <%= @web_links %>
            <% end %>
          </div>
        </td><td>&nbsp;<a href="javascript:add_web_link();" name="add_info_link">Add</a></td>
        </tr>
       </table>
       </div>
       <div class="bordered-cont" id="linkcont_general">
       <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td colspan="2"><b>General Links:</b>
        <div style="float:right;font-size:9pt;">Order <span style="font-size:11pt;">+</span></div>
        <div style="clear:both;"></div>
        </td></tr>
        <tr style="background-color:#E1EBF5"><td style="padding-left:10px;width:600px;">
          <div class="campaingn_general_link">
            <% if @general_links.blank? %>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">Headline:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="general_link[][title]" class="single" style="width:200px;" value="" /></div>
                <div class="campaign-link-title">&nbsp;Link:&nbsp;</div>
                <div class="campaign-link-link"><input type="text" name="general_link[][url]" class="single" style="width:200px;" value="" /></div>
                <div style="clear:both;"></div>
              </div>
              <div class="campaingn_link_wrapper marg">
                <div class="campaign-link-title">Description:&nbsp;</div>
                <div class="campaign-link-link"><textarea name="general_link[][desc]" style="width:495px;"></textarea></div>
                <div style="clear:both;"></div>
              </div>
            <% else %>
              <%= @general_links %>
            <% end %>
          </div>
        </td><td>&nbsp;<a href="javascript:add_general_link();" name="add_general_link">Add</a></td>
        </tr>
      </table>
      </div>
      <div class="bordered-cont" id="linkcont_social">
      <table style="border:none;">
        <tr style="background-color:#E1EBF5"><td colspan="2"><b>Social Links:</b>
        <div style="float:right;font-size:9pt;">Order <span style="font-size:11pt;">+</span></div>
        <div style="clear:both;"></div>
        </td></tr>
        <tr style="background-color:#E1EBF5"><td style="padding-left:10px;width:600px;" colspan="2">
          <div class="campaingn_social_link">
            <div class="campaingn_link_wrapper marg">
              <div class="campaign-link-title">&nbsp;Facebook:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="facebook_social_link" class="single" style="width:495px;" value="<%= @facebook_social_link %>" /></div>
              <div style="clear:both;"></div>
            </div>
            <div class="campaingn_link_wrapper marg">
              <div class="campaign-link-title">&nbsp;Twitter:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="twitter_social_link" class="single" style="width:495px;" value="<%= @twitter_social_link %>" /></div>
              <div style="clear:both;"></div>
            </div>
            <div class="campaingn_link_wrapper marg">
              <div class="campaign-link-title">&nbsp;LinkedIn:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="linkedin_social_link" class="single" style="width:495px;" value="<%= @linkedin_social_link %>" /></div>
              <div style="clear:both;"></div>
            </div>
            <div class="campaingn_link_wrapper marg">
              <div class="campaign-link-title">&nbsp;Youtube:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="youtube_social_link" class="single" style="width:495px;" value="<%= @youtube_social_link %>" /></div>
              <div style="clear:both;"></div>
            </div>
            <div class="campaingn_link_wrapper marg">
              <div class="campaign-link-title">&nbsp;Rss:&nbsp;</div>
              <div class="campaign-link-link"><input type="text" name="rss_social_link" class="single" style="width:495px;" value="<%= @rss_social_link %>" /></div>
              <div style="clear:both;"></div>
            </div>
          </div>
          </td>
        </tr>
      </table>
      </div>
      <p>*Note: move block links to order the position.</p>
     </div>
  </div>
  <div class="clearer"></div>
</div>