<div class="title_block block">
  <h2 class="page_title">Setup Time</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= setup_time_agent_office_property_alerts_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Setup Time</h6><br/>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Hour:</td>
          <td>
            <select name="time[hour]">
              <% @hours.each do |hour| %><option value="<%= hour[1] %>"><%= hour[0] %></option><% end %>
            </select>
          </td></tr>
          <tr style="background-color:#E1EBF5"><td style="width:150px;">Send Period:</td>
          <td><select name="time[period]">
            <option value="">Please Select</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            </select>
          </td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= view_sample_agent_office_property_alerts_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">Set Alert</button>
        </td></tr>
      </table>
  </div>
</div>
</form>