<h3>Property Audio Gallery</h3>
<div><strong>Audio:</strong> You can upload one audioclip to this listing. The file will be converted to MP3 file.</div>
<br/>
<p><strong>How long does file conversion take:</strong></p>
<p>File conversion should not take no than 30 minutes.</p>
<p><strong>Supported Files:</strong>WMV, MP3, and APE files are supported.</p>
<p><strong>Adding New Audio:</strong>Click on the browser button below to add a file.</p>
<br/>
<% form_for :mp3, @mp3, :url => agent_office_property_mp3s_path(@agent, @office, @property, :come_from => params[:come_from]), :html => { :multipart => true, :id => 'upload' } do |f| %>
  <p><%= f.file_field :uploaded_data %></p>
  <% unless @mp3.new_record? %>
    <p>
      <%= link_to'Download', url_for(:controller => 'mp3s', :action => 'download', :agent_id => @agent.id, :ofice_id => @office.id, :property_id => @property.id, :id => @mp3.id) if File.exist? "#{RAILS_ROOT}/public#{@mp3.public_filename}" %>
    </p>
  <% end %>
<br/>
<p><%= f.submit 'Upload Audio' %></p>
<% end %>
<div id="uploading">
  <div id="progress" class="bar">
    <div id="progressbar">&nbsp;</div>
    <div id="percentage"></div>
  </div>
</div>
