<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', 'ui/jquery.flexbox.min', 'jquery.tooltip.pack.js','thickbox','application','jquery.rte'%>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
  <div id="clientdiv" class="block accounts full"><br/>
  <% form_for :contact_pastopentime_relation, @contact_pastopentime_relation, :url => agent_office_property_past_opentime_contact_pastopentime_relations_path(@agent,@office, @property, @pastopentime), :html => {:class => 'propertyform full', :id => 'form_new'} do |f| %>
     <% fields_for @agent_contact do |contact_fields| %>
     <%= contact_fields.error_messages :class => 'errortext' %>
     <%= f.error_messages :class => 'errortext', :object_name => 'open inspection attendee' %>
     <div class="block form follower" style="padding-right:5px;">
      <%= render :partial => 'form', :locals => {:form => f, :contact => contact_fields} %>
      <%= render :partial => 'list' %>
     </div>
       <% ck = @agent_contact.errors.on :check_error unless @agent_contact.nil? %>
       <% if ck == "duplicate" %>
          <script type="text/javascript">
             var answer = confirm ("There already exists a user in the database with this First Name, Last Name and Email/Telephone. Would you like to update that contact with this data?")
              if(answer){
                $("#form_new").attr('action', "<%= update_duplicate_contact_pastopentime_path(@agent,@office, @property, @pastopentime)  %>");
                $("#form_new").submit();
              }
          </script>
       <% end %>
      <% end %>
    <% end %>
   </div>
</body>
</html>
