<div id="propertyaddressdiv" class="group">
  <div class="set">
  <h6 class="full">Provide System Access (allows user to view files from the vault for a listing)</h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--17"><label><span>Create contact login:</span></label>
          <%= form.check_box :login_required, :style => "width:14px;", :onchange => "check_username(this);" %>
        </li>
        <li class="li--20"><label><span>Username:</span></label>
          <%= form.text_field :username, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Password:</span></label>
          <%= form.text_field :password, :class => "single" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var req = "<%= @agent_company.login_required %>";
    if(req == "false"){
      $("#agent_company_username").attr("disabled","disabled");
      $("#agent_company_password").attr("disabled","disabled");
    }
  });

  function check_username(checkbox){
    if(checkbox.checked == true){
      $("#agent_company_username").removeAttr("disabled");
      $("#agent_company_password").removeAttr("disabled");
    }else{
      $("#agent_company_username").attr("disabled","disabled");
      $("#agent_company_password").attr("disabled","disabled");
    }
  }

</script>