<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Solicitor</h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23"><label><span>Solicitor Name:</span></label>
          <%= form.text_field :solicitor_name, :class => "single" %>
        </li>
        <li class="li--23"><label><span>Solicitor Email:</span></label>
          <%= form.text_field :solicitor_email, :class => "single" %>
        </li>
        <li class="li--23"><label><span>Solicitor Telephone:</span></label>
          <%= form.text_field :solicitor_phone, :class => "single" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>