<div class="block help full">
  <div class="title_block threequarters leader">&nbsp;</div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Add a company', new_agent_office_agent_company_path(@agent,@office), :class => 'btn' %>
    </div>
    <div class="upload_button">
      <%= link_to 'Add a contact', new_agent_office_agent_contact_path(@agent,@office), :class => 'btn' %>
    </div>
  </div>
</div>

<hr class="separator" />
<%= render :partial => 'filter' %>
