<!-- NOTE TO DEVELOPER: This form is used for both Adding and Updating Clients. It should be blank if you're adding a Client. Title should say Add a Client. And it should have all previously entered values when you are Updating a Client and the title should be Update a Client. Thanks! -->

<div class="title_block block">
  <h2>Update Client</h2>
  <div class="clearer"></div>
</div>

<div id="clientdiv" class="block accounts full">
  <% form_for :agent, @agent, :url => developer_agent_path(@developer,@agent), :html => {:method => :put, :class => 'update_form', :name => 'update_form', :id => 'update_form'} do |f| %>

    <%= error_messages_for :agent %>
    <%= render :partial => 'form', :object => f %>

    <div class="action_button">
      <button name="update" type="button" value="Update" onclick="$('#update_form').submit();">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
      </button>
      <span>or&nbsp;&nbsp;</span>
      <% link_to developer_agents_path(@developer) do %>
        <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/> Cancel
      <% end %>
      <span>or&nbsp;&nbsp;</span>
      <%= link_to('Delete Agent', url_for(:controller => 'agents', :action => 'delete_agent', :id => @agent.id), :method => 'delete', :confirm => 'Are you sure?') %>
    </div>	<!-- NOTE TO DEVELOPER: If user is Adding, this should be the file: ../includes/action_add_cancel.php. -->

  <% end %>
</div><!-- end #clientdiv -->
