<div class="block full">
  <div id="sidebar" class="block files quarter">
    <div class="upload_button">
      <% link_to new_developer_agent_path(@developer), :class => 'btn' do %>
        <%= image_tag '/images/icons/misc/24-em-plus.gif', :alt => '', :width => 18, :height => 19 %>Add a New Client
      <% end %>
      <!-- NOTE TO DEVELOPER: This form should be blank when you click on it from here. Client Name should already be set, though. -->
    </div>
  </div>

  <h2>Client Summary</h2><br />
  <div id="filtersresultsdiv" class="block threequarters filtersresultsdiv">
    <% form_tag developer_agents_path(@developer), :method => 'get' do %>
      <%= select_tag "client", options_for_select(@developer.agents.find(:all, :order => "name ASC").map{|s| [s.name, s.id.to_s]}.unshift(["All Clients", nil]), params[:client]), :class => 'select_box' %>
      <%= select_tag 'status', options_for_select(Agent::STATUS.map{|s|[s.capitalize, s] }.unshift(["All Status", nil]), params[:status]), :class => 'select_box' %>

      <div class="action_button">
              <button name="filter" type="submit" value="Filter" class="filter"><img src="/images/icons/famfamfam/filter.png" alt="filter" width="16" height="16"/>
                      Filter
              </button>
      </div>
    <% end %>
  </div><!-- end #filtersresultsdiv -->
</div>

<div class="block full">
  <table class="client-list" cellspacing="0" cellpadding="0">
    <tr class="extra_th">
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th colspan="2">Offices</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th class="first_cell"><%= link_to "#{(params[:sort_by] == 'created_at' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Commenced", developer_agents_path(@developer)+"?country=#{params[:country]}&client=#{params[:client]}&status=#{params[:status]}&sort_by=created_at&sort_type=#{(params[:sort_by] == 'created_at' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <!-- NOTE TO DEVELOPER: The first cell in every row of any table should have a class of "first_cell" -->
      <th><%= link_to "#{(params[:sort_by] == 'name' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Client Name", developer_agents_path(@developer)+"?country=#{params[:country]}&client=#{params[:client]}&status=#{params[:status]}&sort_by=name&sort_type=#{(params[:sort_by] == 'name' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'offices.active.count' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Active", developer_agents_path(@developer)+"?country=#{params[:country]}&client=#{params[:client]}&status=#{params[:status]}&sort_by=offices.active.count&sort_type=#{(params[:sort_by] == 'offices.active.count' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'properties.count' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Listing", developer_agents_path(@developer)+"?country=#{params[:country]}&client=#{params[:client]}&status=#{params[:status]}&sort_by=properties.count&sort_type=#{(params[:sort_by] == 'properties.count' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th><%= link_to "#{(params[:sort_by] == 'agent_users.count' && params[:sort_type] == 'ASC') ? image_tag('/images/down-arrow.png'):image_tag('/images/up-arrow.png')} Team", developer_agents_path(@developer)+"?country=#{params[:country]}&client=#{params[:client]}&status=#{params[:status]}&sort_by=agent_users.count&sort_type=#{(params[:sort_by] == 'agent_users.count' && params[:sort_type] == 'ASC') ? 'DESC':'ASC'}&page=#{params[:page]}"%></th>
      <th>API</th>
      <th>Offices</th>
    </tr>

    <%= render :partial => 'row', :collection => @agents %>

  </table>
</div>
