<div class="title_block block">
  <h2>Create Client</h2>
  <div class="clearer"></div>
</div>

<div id="clientdiv" class="block accounts full">
  <% form_for :agent, @agent, :url => developer_agents_path(@developer), :html => {:class => 'update_form', :name => 'create_form', :id => 'create_form'} do |f| %>
	<%= f.error_messages %>
    <%= render :partial => 'form', :object => f %>

    <div class="action_button">
      <button name="create" type="submit" value="Create">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Create
      </button>
      <span>or&nbsp;&nbsp;</span>
      <% link_to developer_agents_path(@developer) do %>
        <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/> Cancel
      <% end %>
    </div>	<!-- NOTE TO DEVELOPER: If user is Adding, this should be the file: ../includes/action_add_cancel.php. -->

  <% end %>
</div><!-- end #clientdiv -->
