<div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
  <div class="set">
    <h6>PDF</h6>
    <% unless @pdf.blank? %>
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Filename</th>
          </tr>
        </thead>
        <tbody>
          <% @pdf.each_with_index do |pdf, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= link_to (pdf.title.blank? ? pdf.filename : pdf.title), pdf.public_filename, :target => "_blank" %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <%else%>
      <p style="text-align: center">No data for PDF</p>
    <%end%>
  </div>
</div>
<br/>
<div id="contactsdiv" class="block form group" style="background-color: #E1EBF5">
  <div class="set">
    <h6>Floorplans</h6>
    <% unless @floorplans.blank? %>
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Floorplan Image</th>
          </tr>
        </thead>
        <tbody>
          <% @floorplans.each_with_index do |floorplan, i| %>
            <tr>
              <td><%= i + 1 %>.</td>
              <td><%= link_to image_tag(floorplan.public_filename), floorplan.public_filename, :target => "_blank" %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    <%else%>
      <p style="text-align: center">No data for floorplan</p>
    <%end%>
  </div>
</div>
