<table>
<tr><td>Page Location</td><td><%= form.select :key, @pages.collect{|p| p}, :class => 'select_box' %></td></tr>
<tr><td>Help Content</td><td><%= form.text_area :content, :cols => "50", :rows => "10" %></td></tr>
</table>
