<div id="sidebar" class="block files quarter">
</div>

<h2>Create New Active Help Pages</h2><br />
<% form_for :help, @help_page, :url => admin_active_help_page_agents_path, :html => {:method => :post} do |f| %>

<%= f.error_messages :class => 'errortext' %>

<%= render :partial => 'form', :object => f %>

<%= submit_tag "Submit" %>
<% end %>
