<div id="fileuploaddiv" class="block files full">
	
<% form_for :message, :url => agent_messages_path(@agent, :come_from => params[:come_from]), :html => { :multipart => true , :id => 'postsuploadsform'} do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<% end %>
</div>