<div class="title_block">
  <h2>Upload Files</h2>
  <h4><span class="lite">Note: You may not upload files larger than 100 MB.</span></h4>
</div>

<div id="fileuploaddiv" class="block files full">
  <% form_for :file, @file, :url => agent_office_file_path(@agent,@office,@file), :html => {:multipart => true, :class => 'postuploadform full', :id => 'postsuploadsform', :method => :put} do |f| %>
    <div class="set full">
      <fieldset class="fu_fs1">
        <%= f.hidden_field :parent_id, {:value => @office.id} %>
        <div class="pack file_button">
          <%= f.file_field :uploaded_data, :size => 30 %>
        </div>
        <p><strong>Description:</strong> (optional)<br />
          <%= f.text_field :description, :class => 'single' %>
        </p>
        <p>
          <strong>Category:</strong>
          <select name="file[category]" id="file_category">
            <% @categories.each do |category| %>
             <% if category == 'Brochure Footer' %>
                <option value="<%=category%>" <%= @file.category == category ? 'selected' : ''%>>Brochure Footer (780 x 75)</option>
              <% elsif category == 'Brochure Header' %>
                <option value="<%=category%>" <%= @file.category == category ? 'selected' : ''%>>Brochure Header (780 x 80)</option>
              <% elsif category == 'Brochure Header2' %>
                <option value="<%=category%>" <%= @file.category == category ? 'selected' : ''%>>Brochure Header2 (780 x 75)</option>
              <% elsif category == 'Brochure Header3' %>
                <option value="<%=category%>" <%= @file.category == category ? 'selected' : ''%>>Brochure Header3 (780 x 120)</option>
              <% elsif category == 'Brochure Header4' %>
                <option value="<%=category%>" <%= @file.category == category ? 'selected' : ''%>>Brochure Header4 (780 x auto)</option>
              <% else %>
                <option value="<%=category%>" <%= @file.category == category ? 'selected' : ''%>><%= category %></option>
              <% end %>
            <% end %>
          </select>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>Make this file private:</strong>
          <%= f.check_box :private, {}, true, false %>
        </p>
      </fieldset>
    </div>

    <div class="action_button">
      <button name="fileupload" type="button" value="Upload File" onclick ="$('#postsuploadsform').submit();">
        <img src="/images/icons/famfamfam/page_add.png" alt="page_add" width="16" height="16"/> Upload File
      </button>
      <span>or&nbsp;&nbsp;</span>
      <% link_to agent_office_files_path(@agent,@office) do %>
        <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/> Cancel
      <% end %>
    </div>
  <% end %>
</div>
