<div id="memberdetailsdiv" class="group">
  <h4 class="full">Member Details <small class="formgrouplinks">* Fields in bold are required.</small></h4>
  <div class="set">
    <% form_for :agent_user, @agent_user, :url => agent_office_agent_user_path(@agent,@office,@agent_user), :html => {:method => :put, :class => 'member_details_form', :id => 'member_details_form'} do |f| %>
      <% unless @errors.blank? %>
	      <div style='background-color: #EF4123; margin: 0 0 18px; padding: 0px; text-align: left; font-size: 18px; line-height: 24px; color: #fff;'>
                  <ul>
                  <% @errors.each do |k,v|%>
		   <li ><%= k%> : <%=v%></li>
		  <%end%>
                  </ul>
	      </div>
      <%end%>
      <fieldset class="pf_fs1">
        <ul class="pf-ul">
          <li class="li--1 required">
            <label><span>First Name:<span class="red_star">*</span></span></label>
            <%= f.text_field :first_name, :class => 'single fldrequired' %>
          </li>
          <li class="li--2 required">
            <label><span>Last Name:<span class="red_star">*</span></span></label>
            <%= f.text_field :last_name, :class => 'single fldrequired' %>
            <%= f.hidden_field(:conjunctional_user,:value => (@conjunctional == 'true' ? "conjunctional" : "")) %>
          </li>
          <% if @conjunctional == 'true' %>
            <li class="li--13 required">
            <label><span>Office Name:<span class="red_star">*</span></span></label>
             <%= f.select :conjunction_office_tmp_id, (@offices_agent.blank? ? [['Please select', nil]] : @offices_agent), {:selected =>@agent_user.conjunctional_office_name}, {:class => 'single fldrequired', :style=> "width:33%;"} %>
             <a href="javascript:add_office()" id="add_office">&nbsp;Add</a>
             <a href="javascript:remove_office()" id="remove_office" style="display:none;">&nbsp;Remove</a>
            </li>
            <li class="li--10 office required" style="display:none;">
              <label><span>Office Name:<span class="red_star">*</span></span></label>
              <%= f.text_field :conjunctional_office_name, :class => 'single fldrequired' %>
            </li>
            <li class="li--10 office required" style="display:none;">
              <label><span>REA agent Id (office_id):</span></label>
              <%= f.text_field :conjunction_rea_agent_id, :class => 'single fldrequired' %>
            </li>
          <% else %>
          <li class="li--3">
             <label><span>Company:</span></label>
            <label  style="width:200px"><%=h @agent.name %></label>
          </li>
          <li class="li--4">
            <label><span>Office:</span></label>
            <label style="width:200px"><%=h @office.name %></label>
          </li>
          <li class="li--12">
            <label><span>Role:</span></label>
            <%= f.text_field :role, :class => 'single fldrequired' %>
          </li>
          <% end %>
          <li class="li--20">
            <label><span>Suburbs:</span></label>
            <%= f.text_field :suburb, :class => 'single fldrequired' %>
          </li>
          <li class="li--13">
            <label><span>Group:</span></label>
             <%= f.select :group, @group, {:selected => @agent_user.group}, {:class => 'single fldrequired', :onchange => "add_group();"} %>
             <br/><div><div style="float: left;"></div><div id="groups" style="float:right;width: 285px;"><%=@list_groups%></div></div>
             <input type="hidden" id="group_ids" name="group_ids" value="<%= @group_ids %>" />
          </li>
          <li class="li--5">
            <label><span>Phone:</span></label>
            <%= f.text_field :phone, :class => 'single fldrequired' %>
          </li>
          <li class="li--6">
            <label><span>Mobile:</span></label>
            <%= f.text_field :mobile, :class => 'single fldrequired' %>
          </li>
          <li class="li--11">
            <label><span>Fax:</span></label>
            <%= f.text_field :fax, :class => 'single fldrequired' %>
          </li>
          <li class="li--7 required">
            <label><span>Email:<span class="red_star">*</span></span></label>
            <%= f.text_field :email, :class => 'single fldrequired' %>
          </li>
          <li class="li--8 required">
            <label><span>Username:<span class="red_star">*</span></span></label>
            <%= f.text_field :login, :class => 'single' %>
          </li>
          <li class="li--9">
            <label><span>Password:</span></label>
            <%= f.password_field :password, :class => 'single fldrequired' %>
          </li>
          <li class="li--10">
            <label><span>Confirm password:</span></label>
            <%= f.password_field :password_confirmation, :class => 'single fldrequired' %>
          </li>
          <li>
            <label><span>Display on team page on site?</span></label>
            <%= f.check_box :display_on_team_page, :class => 'checkbox', :onchange=>"check_display();" %>
          </li>
          <li>
            <label><span>Display on site?</span></label>
            <%= f.check_box :display_on_site, :class => 'checkbox' %>
            <%= hidden_field_tag :conjunctional, @conjunctional %>
          </li>
        </ul>
      </fieldset>
      <div class="action_button">
        <button name="update" type="button" value="Update" onclick="$('#member_details_form').submit();">
          <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
          Update
        </button>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    function add_office(){
      $(".office").show();
      $("#remove_office").show();
      $("#add_office").hide();
      $("#agent_user_conjunction_office_tmp_id").attr('disabled', 'disabled');
    }

    function remove_office(){
      $(".office").hide();
      $("#add_office").show();
      $("#remove_office").hide();
      $("#agent_user_conjunction_office_tmp_id").removeAttr('disabled');
    }

  function add_group(){
    var a_all_id = $("#group_ids").val();
    var a_arry = a_all_id.split('#');
    var a_add =0;
    if($("#agent_user_group").val()!=''){
      for(var x=0; x < a_arry.length; x++){
        if((a_arry[x]!='')&&(a_arry[x]==$("#agent_user_group").val())){
            a_add = 1
        }
      }
      if(a_add != 1){
        var new_assigns = $("#group_ids").val() + '#' + $("#agent_user_group").val()
        $("#group_ids").attr('value', new_assigns);
        $("#groups").append('<span id="'+$("#agent_user_group").val()+'" style="margin-right:20px;">'+$("#agent_user_group option:selected").text()+'<a href="javascript:remove_group(\''+$("#agent_user_group").val()+'\')">x</a></span>');
      }
    }else{
      remove_all_group();
    }
  }

  function remove_group(id){
    var all_id = $("#group_ids").val();
    var arry = all_id.split('#');
    $("#group_ids").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_assigns = $("#group_ids").val() + '#' + arry[x]
       $("#group_ids").attr('value', new_assigns);
      }
    }
    $("#groups span").remove(":contains('"+id+"')");
  }

  function remove_all_group(){
    $("#group_ids").attr('value', "");
    $('#groups span').remove();
  }

  function check_display(){
    if($('#agent_user_display_on_team_page').attr('checked') == true) $('#agent_user_display_on_site').attr('checked','checked');
  }

</script>