<p>
  *<%= form.label :login %><br />
  <%= form.text_field :login %>
</p>
<p>
  *<%= form.label :email %><br />
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :first_name %><br />
  <%= form.text_field :first_name %>
</p>
<p>
  <%= form.label :last_name %><br />
  <%= form.text_field :last_name %>
</p>
<p>
  *<%= form.label :password %><br />
  <%= form.password_field :password %>
</p>
<p>
  *<%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation %>
</p>
<p>
  <%= form.label :mobile %><br />
  <%= form.text_field :mobile %>
</p>
<p>
  *<%= form.label :phone %><br />
  <%= form.text_field :phone %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
