<div class="block help full">
  <div class="title_block threequarters leader">
    <h2>Conjunctional</h2>
    <h4><span class="lite">This section allows you to add conjunctional agents which belong to a competing office who you are working with on the sale of a property.</span></h4><br/>
  </div>
  <div class="block help quarter follower">
    <div class="upload_button">
      <%= link_to 'Add a Conjunctional', new_agent_office_agent_user_path(@agent,@office) + "?conjunctional=true", :class => 'btn' %>
    </div>
  </div>
</div>

<hr class="separator" />
<div id="teampreferencesdiv" class="block tables full">
  <div class="group">
    <table class="team_preferences_table">
      <tr>
        <th class="first_cell">Name</th>
        <th>Office Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Action</th>
      </tr>
      <%= render :partial => 'conj', :collection => @agent_users %>
    </table>
    <div class="clearer"></div>
  </div>
</div>