<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <%= javascript_include_tag 'jquery-1.3.min','application'%>
  <style type="text/css">
    body#login #login_body {margin-top: 10px;}
  </style>
  <script type="text/javascript">
  $(document).ready(function(){
      var type_agent = '<%= @type %>';
      if(type_agent == "Conjunctional"){
        $(".conjunctional").show();
      }else{
        $(".conjunctional").hide();
      }
      jQuery("#indicator1").ajaxStart(function(){ jQuery(this).show(); });
      jQuery("#indicator1").ajaxStop(function(){ jQuery(this).hide(); });
    });
</script>
  <body id="login">
  <div id="teamadddiv" class="block full" style="width:550px;">
    <% if flash[:notice]%><p style="color: green;text-align:center;"><%= flash[:notice] %></p> <% end%>
    <% form_for :agent_user, @agent_user, :url => create_level3_agent_office_agent_users_path(@agent,@office), :html => {:class => 'member_details_form', :id => 'member_details_form'} do |f| %>
      <%= f.error_messages :class => 'errortext' %>
      <div id="memdetailsdescrdiv" class="block transparent leader">
        <div id="memberdetailsdiv" class="group" style="background-color:#E1EBF5;border-color:#D7DBDE;">
          <h4 class="full">Quick Add <%= @type %> Agent</h4>
          <div class="set">
            <fieldset class="pf_fs1">
              <ul class="pf-ul">
                <%= render :partial => 'conj_user', :locals => {:f => f} %>
                <%= hidden_field_tag 'type_agent', @type %>
                <%= hidden_field_tag 'contact_type', @contact_type %>
                <%= f.hidden_field(:conjunctional_user,:value => (@type.blank? ? "" : "conjunctional")) %>
              </ul>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="action_button">
        <button name="create" type="button" value="Create" onclick="$('#member_details_form').submit();">
          <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
          Create
        </button>
        <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_contact_vendor('#{@contact_type}', '', '#{@type}');return false", :style =>"float:right;"%>
      </div>
    <% end %>
  </div>
  </body>
</html>