<div id="logo" style ="text-align: center"><% unless @office.logos.blank? %><p><%= image_tag(@office.logos.first.public_filename,:width => 200)%> </p><%end%> <h1 id="logo" style="font-size: 20px"><%= @office.name.include?("Sign") ? "#{@office.name}" : "#{@office.name} Sign Up" %></h1><br/></div> 
<div id="teamadddiv" class="block full">
        <% form_for :agent_user, @agent_user, :url => create_level4_agent_office_agent_users_path(@agent,@office), :html => {:class => 'member_details_form', :id => 'member_details_form'} do |f| %>

          <%= f.error_messages :class => 'errortext' %>

          <div id="memdetailsdescrdiv" class="block transparent leader">
            <div id="memberdetailsdiv" class="group">
              <h4 class="full">Member Details <small class="formgrouplinks">* Fields in bold are required.</small></h4>
              <div class="set">
                <fieldset class="pf_fs1">
                  <ul class="pf-ul">
                    <li class="li--1 required">
                      <label><span>First Name:<span class="red_star">*</span></span></label>
                      <%= f.text_field :first_name, :class => 'single fldrequired' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <li class="li--2 required">
                      <label><span>Last Name:<span class="red_star">*</span></span></label>
                      <%= f.text_field :last_name, :class => 'single fldrequired' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <li class="li--5">
                      <label><span>Phone:</span></label>
                      <%= f.text_field :phone, :class => 'single fldrequired' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <li class="li--6">
                      <label><span>Mobile:</span></label>
                      <%= f.text_field :mobile, :class => 'single fldrequired' %>
                    </li>
                    <li class="li--7 required">
                      <label><span>Email:<span class="red_star">*</span></span></label>
                      <%= f.text_field :email, :class => 'single fldrequired' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <li class="li--8 required">
                      <label><span>Username:</span></label>
                      <%= f.text_field :login, :class => 'single' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <li class="li--9 required">
                      <label><span>Password:<span class="red_star">*</span></span></label>
                      <%= f.password_field :password, :class => 'single fldrequired' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <li class="li--10 required">
                      <label><span>Confirm password:<span class="red_star">*</span></span></label>
                      <%= f.password_field :password_confirmation, :class => 'single fldrequired' %>
                      <span style="color:red;font-weight:bold;margin-left:5px;">*</span>
                    </li>
                    <%= f.hidden_field(:notification,:value => true) %>
                    <%= f.hidden_field(:group,:value => "Other") %>
                  </ul>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="action_button">
            <button name="create" type="button" value="Create" onclick="$('#member_details_form').submit();">
              <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
              Create
            </button>
          </div>

        <% end %>
      </div><!-- end #teamadddiv -->