<div id="teamadddiv" class="block full" style="width:550px;">
  <% form_for :agent_user, @agent_user, :url => create_conjunctional_agent_office_agent_users_path(@agent,@office), :html => {:class => 'member_details_form', :id => 'member_details_form'} do |f| %>
    <%= f.error_messages :class => 'errortext' %>
    <div id="memdetailsdescrdiv" class="block transparent leader">
      <div id="memberdetailsdiv" class="group" style="background-color:#E1EBF5;border-color:#D7DBDE;">
        <h4 class="full">Add Conjunctional Agent</h4>
        <div class="set">
          <fieldset class="pf_fs1">
            <ul class="pf-ul">
              <%= render :partial => 'conj_user', :locals => {:f => f} %>
              <%= f.hidden_field(:conjunctional_user,:value => "conjunctional") %>
            </ul>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="action_button">
      <button name="create" type="button" value="Create" onclick="$('#member_details_form').submit();">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
        Create
      </button>
    </div>
  <% end %>
</div>