<%= javascript_include_tag 'jquery.Jcrop.js' %>
<%= stylesheet_link_tag 'jquery.Jcrop.css'  %>
<script type="text/javascript">
		var api = null;

		var h = null;
		var w = null;
		var x = null;
		var y = null;
    var dot_wd = <%= @dot_width %>;
    var dot_hg = <%= @dot_height %>;

		$(window).load(function(){
			var oh = $('#cropimage').height();
			var ow = $('#cropimage').width();

      if ( oh > ow ) {
				$('#compasse').hide();
				$('#compassw').hide();
			} else if ( ow > oh ) {
				$('#compassn').hide();
				$('#compasss').hide();
			} else {
				$('#compasse').hide();
				$('#compassw').hide();
				$('#compassn').hide();
				$('#compasss').hide();
			}

			$('#cropcompass').show();
			var s = 150;

			if ( oh < s || ow < s )
				s = Math.min(oh, ow);

			var x = ((ow - s) / 2);
			var y = ((oh - s) / 2);

			api = $.Jcrop('#cropimage',{
        aspectRatio: dot_wd / dot_hg,
        allowSelect: 0,
        minSize: [dot_wd, dot_hg],
				onChange: preview,
				onSelect: preview
			});

			api.setSelect([ 0, 0, dot_wd, dot_hg ]);
			//useallofimage( 'c' );
		});

		function useallofimage( around ) {
			if ( typeof( around ) == undefined )
				around = 'center';
			var h = $('#cropimage').height();
			var w = $('#cropimage').width();
			if ( h > w )
				var minside = w;
			else
				var minside = h;
			if ( around == 'n' ) {
				h1 = 0; w1 = ( w - minside ) / 2;
			} else if ( around == 'w' ) {
				h1 = ( h - minside ) / 2; w1 = 0;
			} else if ( around == 'e' ) {
				h1 = ( h - minside ) / 2; w1 = w - minside;
			} else if ( around == 's' ) {
				h1 = h - minside; w1 = ( w - minside ) / 2;
			} else {
				h1 = ( h - minside ) / 2; w1 = ( w - minside ) / 2;
			}
			api.animateTo([ w1, h1, (w1+w), (h1+h)]);
		}

		function preview (c) {
			if ( c.w == 0 || c.h == 0 ) {
				api.setSelect([ x, y, x+w, y+h ]);
				api.animateTo([ x, y, x+w, y+h ]);
				return;
			}
			x = c.x;
			y = c.y;
			w = c.w;
			h = c.h;

      updatePost(c);
			preview2(c);
		}

		function preview2 (coords) {
      var wd = <%= @prewidth %>;
      var hg = <%= @preheight %>;
			var rx = wd / coords.w;
			var ry = hg / coords.h;
			$('#preview2').css({
				width: Math.round(rx * $('#cropimage').width() ) + 'px',
				height: Math.round(ry *  $('#cropimage').height()) + 'px',
				marginLeft: '-' + Math.round(rx * coords.x) + 'px',
				marginTop: '-' + Math.round(ry * coords.y) + 'px'
			});
		}

    function updatePost(coords){
      $('#x_image').attr('value',coords.x);
      $('#y_image').attr('value',coords.y);
      $('#w_image').attr('value',coords.w);
      $('#h_image').attr('value',coords.h);
    }

</script>
<style type="text/css">
div.jcrop-holder {margin:0 auto;}
</style>
<div id="teamadddiv" class="block full">
  <div class="box">
    <h2>Crop Your Photo</h2>
    <div style="font-size:10pt;width:850px;">Crop your photo using the dotted box below. Click on the crop tool and drag it around the screen. To make the crop tool larger click on it and then go to the edge or corner of the tool and click and then move the mouse. Once you are ready to crop the image click "Crop and Finish" at the bottom of the page.</div>
    <br/><br/>
    <div class="box_crop1">
      <img id="cropimage" src="<%= @image_file.public_filename unless @image_file.blank? %>" width="<%= @width %>" height="<%= @height %>"/>
      <br/>
      <br/>
      <% form_for :crop, :url => agent_office_agent_user_path(@agent,@office,@agent_user)+"/exec_crop?type_image=#{@type}&position=#{@position}", :html => {:multipart => true, :method => :post, :class => 'member_details_form', :id => 'crop_photo'} do |f| %>
      <input type="hidden" name="x_image" id="x_image"/>
      <input type="hidden" name="y_image" id="y_image"/>
      <input type="hidden" name="w_image" id="w_image"/>
      <input type="hidden" name="h_image" id="h_image"/>
      <input type="submit" value="Crop and Finish!" class="button"/>
      <a class="button-secondary" href="<%= agent_office_path(@agent, @office)+"/agent_users/delete_photo?type=#{@type}&position=#{@position}&redirect=true&agent_user_id=#{@agent_user.id}" %>">Back</a>
      <% end %>
    </div>
    <div class="box_crop2">
      <div id="dpreview2" class="preview-panel">
      <h3>Preview</h3>
      <div style="border:1px solid #CCCCCC;margin: 0 auto; overflow: hidden; position: relative; width: <%= @prewidth %>px;height: <%= @preheight %>px;">
        <img id="preview2" src="<%= @image_file.public_filename unless @image_file.blank? %>"/>
      </div>
      </div>
      <br/>
      <div class="preview-panel">
				The previews above show what your new picture will look like after clicking Crop and Finish
      </div>
    </div>
  </div>
</div>
