<div class="title_block block sub-opt-nav">
 <h2 class="page_title"><%= @agent_contact.full_name %> </h2>
 <div><%= render :partial => 'agent_contacts/contact_options' %></div>
</div>

<% form_for :contact_alert, @contact_alert, :url => agent_office_agent_contact_alerts_path(@agent,@office), :html => {:class => 'propertyform full'} do |f| %>
  <%= f.error_messages :class => 'errortext' %>
  <%= render :partial => 'alert_form', :locals => {:form => f} %>
  <%= render :partial => 'alert_list' %>
<% end %>

