<div class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
    <div style="width:100%">
      <div>
        <div style="float:left;"><h6>Social Links:</h6></div>
        <div class="clearer"></div>
      </div>
      <div class="">
        <div class="bordered-cont" id="linkcont_social">
          <div class="nl-wrp">
            <div class="nl1">
              <div class="nl1-text-w1">Facebook:</div>
              <div class="nl1-text-w2"><input type="text" name="facebook_social_link" class="single" style="width:495px;" value="<%= @facebook_social_link %>" /></div>
              <div class="clearer"></div>
            </div>
            <div class="nl1">
              <div class="nl1-text-w1">Twitter:</div>
              <div class="nl1-text-w2"><input type="text" name="twitter_social_link" class="single" style="width:495px;" value="<%= @twitter_social_link %>" /></div>
              <div class="clearer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
       <div>
         <div style="float:left;"><h6>News Links</h6></div>
         <div style="float:left;font-size:9pt;">&nbsp;(<a href="javascript:add_news_link();" name="add_news_link">Add News link</a>)</div>
         <div class="clearer"></div>
         <% if @social_share.present? %>
           <div class="float-left"><%= check_box_tag :social_share, {}, :checked %></div>
         <% else %> 
           <div class="float-left"><%= check_box_tag :social_share %></div>
         <% end %>
         <div class="float-left marginL10"><h6>Share news links to facebook and twitter</h6></div>
         <div class="clearer"></div>
       </div>
      <div class="news_setter" id="news_setter">
        <% if !@news_links.blank? %>
           <% @news_links.each_with_index do |news_link, idx| %>
            <div class="bordered-cont news_links" id="nl<%= idx %>">
             <div style="font-size:9pt;">
               <img src="<%=@base_url%>/images/search-loader.gif" id="loader-<%= idx %>" style="padding-left:10px;display:none"/>
               <div style="float:left;">
                 <% if news_link["image_id"].present? %>
                   <a href="#remove_container" name="delete_news_link" onclick="remove_container(<%= idx %>, <%= news_link["image_id"] %>, <%= news_link["id"] %>, 'news_link' )">Remove container</a>
                 <% else %>
                   <a href="#remove_container" name="delete_news_link" onclick="remove_container(<%= idx %>,' ',<%= news_link["id"] %>, 'news_link' )">Remove container</a>
                 <% end %>
               </div>
               <div style="float:right;margin-right:10px;">Order +</div>
             </div>
             <div class="clearer"></div>
             <div class="nl-wrp">
               <input type="hidden" name="news_link[][id]" value="<%= news_link["id"] %>"/>
               <input type="hidden" name="news_link[][image_id]" value="<%= news_link["image_id"] %>"/>

               <div class="nl1">
                 <div class="nl1-text-w1">Headline:</div>
                 <div class="nl1-text-w2"><input type="text" name="news_link[][headline]" class="single" value="<%= news_link["headline"] %>"/></div>
                 <div class="nl1-text-w1">Link url:</div>
                 <div class="nl1-text-w2"><input type="text" name="news_link[][url]" class="single" value="<%= news_link["url"] %>"/></div>
                 <div class="clearer"></div>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Description:</div>
                 <textarea class="desc-area" name="news_link[][description]" cols="89" rows="2"><%= news_link["description"] %></textarea>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Image:</div>
                 <div class="nl1-text-w2">
                   <img src="<%= free_attachment(news_link["image_id"]) %>" width="150"/>
                   <input type="file" name="news_link[][uploaded_data]"/>
                 </div>
                 <div class="nl1-text-w1">Date:</div>
                 <div class="nl1-text-w2"><input type="text" name="news_link[][date]" class="single" value="<%= news_link["date"] %>"/></div>
               </div>
              </div>
             <div class="clearer"></div>
            </div>
           <% end %>
        <% end %>
          <div class="bordered-cont news_links">
           <div class="nl-wrp">
             <input type="hidden" name="news_link[][id]"/>
             <input type="hidden" name="news_link[][image_id]"/>

             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="news_link[][headline]"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" class="single" name="news_link[][url]"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area" name="news_link[][description]" cols="89" rows="2"></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2"><input type="file" name="news_link[][uploaded_data]"/></div>
               <div class="nl1-text-w1">Date:</div>
               <div class="nl1-text-w2"><input type="text" name="news_link[][date]" class="single" value="" /></div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
      </div>
     </div>
  </div>
  <div class="clearer"></div>
</div>


<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set">
     <div style="width:100%" id="linkcont">
       <div>
         <div style="float:left;"><h6>Sidebar Links</h6></div>
         <div style="float:left;font-size:9pt;">&nbsp;(<a href="javascript:add_sidebar_link();" name="add_sidebar_link">Add sidebar link</a>)</div>
         <div class="clearer"></div>
       </div>
      <% if @larger_photos.present? %>
        <div class="float-left"><%= check_box_tag :larger_side_photos, {}, :checked %></div>
      <%else%>
        <div class="float-left"><%= check_box_tag :larger_side_photos %></div>
      <%end%>
      <div class="float-left marginL10"><h6>Larger photos on sidebar (160px wide)</h6></div>
      <div class="clearer"></div>
      <div class="sidebar_setter" id="sidebar_setter">
        <% if !@sidebar_links.blank? %>
           <% @sidebar_links.each_with_index do |sidebar_link, idx| %>
            <div class="bordered-cont sidebar_links" id="sl<%= idx %>">
             <div style="font-size:9pt;">
               <img src="<%=@base_url%>/images/search-loader.gif" id="slloader-<%= idx %>" style="padding-left:10px;display:none"/>
               <div style="float:left;">
                 <% if sidebar_link["image_id"].present? %>
                   <a href="#remove_container" name="delete_news_link" onclick="remove_container(<%= idx %>, <%= sidebar_link["image_id"] %>, <%= sidebar_link["id"] %>, 'sidebar_link' )">Remove container</a>
                 <% else %>
                   <a href="#remove_container" name="delete_news_link" onclick="remove_container(<%= idx %>,' ',<%= sidebar_link["id"] %>, 'sidebar_link' )">Remove container</a>
                 <% end %>
               </div>
               <div style="float:right;margin-right:10px;">Order +</div>
             </div>
             <div class="clearer"></div>
             <div class="nl-wrp">
               <input type="hidden" name="sidebar_link[][id]" value="<%= sidebar_link["id"] %>"/>
               <input type="hidden" name="sidebar_link[][image_id]" value="<%= sidebar_link["image_id"] %>"/>
               <div class="nl1">
                 <div class="nl1-text-w1">Headline:</div>
                 <div class="nl1-text-w2"><input type="text" name="sidebar_link[][headline]" class="single" value="<%= sidebar_link["headline"] %>"/></div>
                 <div class="nl1-text-w1">Link url:</div>
                 <div class="nl1-text-w2"><input type="text" name="sidebar_link[][url]" class="single" value="<%= sidebar_link["url"] %>"/></div>
                 <div class="clearer"></div>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Field 1 Name:</div>
                 <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_name1]" class="single" value="<%= sidebar_link["field_name1"] %>"/></div>
                 <div class="nl1-text-w1">Field 1 Value:</div>
                 <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_value1]" class="single" value="<%= sidebar_link["field_value1"] %>"/></div>
                 <div class="nl1-text-w3">Eg Field 1 Name = Name, Field 1 Value = Mike Smith</div>
                 <div class="clearer"></div>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Field 2 Name:</div>
                 <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_name2]" class="single" value="<%= sidebar_link["field_name2"] %>"/></div>
                 <div class="nl1-text-w1">Field 2 Value:</div>
                 <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_value2]" class="single" value="<%= sidebar_link["field_value2"] %>"/></div>
                 <div class="clearer"></div>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Description:</div>
                 <textarea class="desc-area" name="sidebar_link[][description]" cols="89" rows="2"><%= sidebar_link["description"] %></textarea>
               </div>
               <div class="nl1">
                 <div class="nl1-text-w1">Image:</div>
                 <div class="nl1-text-w2">
                   <img src="<%= free_attachment(sidebar_link["image_id"]) %>" width="150"/>
                   <input type="file" name="sidebar_link[][uploaded_data]"/>
                 </div>
               </div>
              </div>
             <div class="clearer"></div>
            </div>
           <% end %>
        <% end %>
          <div class="bordered-cont sidebar_links">
           <div class="nl-wrp">
             <input type="hidden" name="sidebar_link[][id]"/>
             <input type="hidden" name="sidebar_link[][image_id]"/>
             <div class="nl1">
               <div class="nl1-text-w1">Headline:</div>
               <div class="nl1-text-w2"><input type="text" name="sidebar_link[][headline]" class="single"/></div>
               <div class="nl1-text-w1">Link url:</div>
               <div class="nl1-text-w2"><input type="text" name="sidebar_link[][url]" class="single"/></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Field 1 Name:</div>
               <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_name1]" class="single" /></div>
               <div class="nl1-text-w1">Field 1 Value:</div>
               <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_value1]" class="single" /></div>
               <div class="nl1-text-w3">Eg Field 1 Name = Name, Field 1 Value = Mike Smith</div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Field 2 Name:</div>
               <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_name2]" class="single" /></div>
               <div class="nl1-text-w1">Field 2 Value:</div>
               <div class="nl1-text-w2"><input type="text" name="sidebar_link[][field_value2]" class="single" /></div>
               <div class="clearer"></div>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Description:</div>
               <textarea class="desc-area" name="sidebar_link[][description]" cols="89" rows="2"></textarea>
             </div>
             <div class="nl1">
               <div class="nl1-text-w1">Image:</div>
               <div class="nl1-text-w2"><input type="file" name="sidebar_link[][uploaded_data]"/></div>
             </div>
            </div>
           <div class="clearer"></div>
          </div>
      </div>
     </div>
  </div>
  <div class="clearer"></div>
</div>

<script type="text/javascript">
  function add_news_link(){ $(".news_setter").append($('.news_links:last').clone()); }
  function add_sidebar_link(){ $(".sidebar_setter").append($('.sidebar_links:last').clone()); }
  $("#news_setter").sortable({opacity: 0.6, cursor: 'move',update: function() {} });
  $("#sidebar_setter").sortable({opacity: 0.6, cursor: 'move',update: function() {} });

  function remove_container(idx, img_id, id, type){
    if (type == "news_link"){$("#loader-"+idx).show();}
    if (type == "sidebar_link"){$("#slloader-"+idx).show();}
    jQuery.ajax({
      type: "DELETE",
      url: "/agents/"+<%= @agent.id %>+"/offices/"+<%= @office.id %>+"/emarketings/delete_image",
      data: "type="+type+"&image_id="+img_id+"&id="+id,
      dataType:"script",
      success: function(){
        if (type == "news_link"){$("#nl"+idx).remove();}
        if (type == "sidebar_link"){$("#sl"+idx).remove();}
      },
      error : function(xhr, textStatus, errorThrown ) {
        if (textStatus == 'timeout') {
          this.tryCount++;
          if (this.tryCount <= this.retryLimit) {
            $.ajax(this);
            return;
          }
          return;
        }
        if (xhr.status == 500) {
          alert('There seems to be a server problem, please try again later.');
        } else {
          alert('There was a problem, please try again later.');
        }
      }
    });
    return false;
  };

</script>
<style type="text/css">
  .nl-wrp{font-size:8pt;font-weight:bold;}
  .nl1{margin-bottom:5px;}
  .nl1-text-w1{width:80px;margin-right:10px;float:left;}
  .nl1-text-w2{width:240px;margin-right:10px;float:left;}
  .nl1-text-w2 input{width:230px;}
  .nl1-text-w3{width:300px;margin-right:10px;float:left;}
</style>