<div id="contactsdiv" class="block form group-bluesky">
  <div class="set">
     <div>
      <h6>Main Content Image</h6><br/>
      <table class="border-less">
        <tr class="blue-bgcolor"><td class="wd-150">Image link:</td><td><input type="text" name="data[link_url]" id="data_link_url" class="single" style="width:350px;" value="<%= @data["link_url"] unless @data.blank? %>" /></td>
        </tr>
        <tr class="blue-bgcolor">
          <td class="wd-150">Main Image (width= 780px) :</td>
          <td> <%= file_field_tag 'emarketing_image[uploaded_data]' %>
          <p>Your Current Main Image: <br/> <% unless @emarketing_image.blank? %> <img src="<%= @emarketing_image.public_filename %>" width="780"/> <% end %> </p>
          </td>
        </tr>
      </table>
     </div>
  </div>
  <div class="clearer"></div>
</div>