<style type="text/css">
  a img{color:transparent !important;}
  a:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  a.info_link:hover{text-decoration:none;color:#999999 !important;background-color:transparent !important;}
  p{font-size:10pt;}
  tr{background:none;}
  .greybg{background-color:#EAEAEA;}
  .wrp{margin-top:3px;}
  .greybg th, .greybg td{padding:0}
  tr:hover{background:none;}
  .greybg table{
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
  }
  .greybg td{border:0}
  .greybg a{font-weight: inherit;padding:0}
</style>
<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;text-align:center">
  <div class="view" style="width: 780px; clear: both; margin-right: auto; margin-left: auto; background-color: #FFFFFF;">
    <table width="780" cellpadding="0" cellspacing="0" style="white-space:normal;">
      <tbody>
        <tr>
          <td width="100%" valign="top" style="background:#f5f5f5;">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" style="white-space:normal">
              <tbody>

                <tr>
                  <td width="100%" valign="top" align="center" style="background:#bababa;border-left: 90px solid #bababa;border-right: 90px solid #bababa;">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" style="text-align: center;">
                            <p style="margin:3px 0;font-size: 10pt;"><span>Having trouble reading this? </span><a href="{preview}" style="color:<%= @maintext %>;text-decoration:none !important;">View the web version »</a></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td width="100%" valign="top" align="center" style="border-left: 90px solid #f5f5f5;border-right: 90px solid #f5f5f5;">
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" align="center" style="text-align: center;">
                            <% if @header_image.present? %>
                              <% if @office.url.present? %>
                                <a href="http://<%= @office.url.gsub("http://","").gsub("https://","") %>" style="padding:0">
                                  <img src="<%= @header_image.public_filename %>" width="600" class="head-logo" style=" border:0;"/>
                                </a>
                              <% else %>
                                <img src="<%= @header_image.public_filename %>" width="600" class="head-logo" style=" border:0;"/>
                              <% end %>
                            <% else %>
                              &nbsp;
                            <% end %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td width="100%" valign="top" align="center" style="border-left: 90px solid #f5f5f5;border-right: 90px solid #f5f5f5;">
                    <table width="600" cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tbody>
                        <tr>
                          <td valign="top" align="center">
                            <a href="{emarketing_track_url}&link_url=http://<%= process_link(@data["link_url"]) %>" name="link_url" style="text-decoration:none;padding:0;margin:0;">
                              <img width="600" src="<%= @emarketing_image.public_filename unless @emarketing_image.blank? %>" style="display:block;border-width:0;"/>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <% if !@news_links.blank? %>
                  <% @news_links.each do |news_link| %>
                    <tr>
                      <td width="100%" valign="top" align="center" style="padding-bottom:20px;border-left: 90px solid #f5f5f5;border-right: 90px solid #f5f5f5;">
                        <table width="600" cellpadding="0" cellspacing="0" style="white-space:normal">
                          <tbody>
                            <tr>
                              <td valign="top" align="center" style="padding:20px; background:#fff; border-bottom:4px solid #F0F0F0">
                                <table width="560" cellpadding="0" cellspacing="0" style="white-space:normal">
                                  <tbody>
                                    <tr>
                                      <td valign="top">
                                        <h2 style="color:#474747;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:1.3em;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-size:18px;line-height:24px;font-weight:bold;">
                                          <a href="{ecampaign_track_url}&link_url=http://<%= process_link(news_link["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;font-weight:bold"><%= news_link["headline"] %></a>
                                        </h2>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td valign="top">
                                        <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                          <tbody>
                                            <tr>
                                              <td valign="top" style="padding-right:20px">
                                                <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                  <tbody>
                                                    <tr>
                                                      <td valign="top"><%= news_link["description"].gsub("\r\n","<br/>").gsub("\r","<br/>").gsub("\n","<br/>") %></td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                              <td valign="top" align="right" style="text-align:right">
                                                <% unless free_attachment(news_link["image_id"]).blank? %>
                                                  <a href="{ecampaign_track_url}&link_url=http://<%= process_link(news_link["url"]) %>">
                                                    <img label="inline-image" src="<%= free_attachment(news_link["image_id"]) %>"  style="border-width:0;width:190px" width="190" />
                                                  </a>
                                                <% else %>
                                                  &nbsp;
                                                <% end %>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding-top:7px">
                                        <% unless free_attachment(news_link["image_id2"]).blank? %>
                                          <a href="{ecampaign_track_url}&link_url=http://<%= process_link(news_link["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;"><img label="CTA Button" src="<%= free_attachment(news_link["image_id2"]) %>" style="display:block;border-width:0;margin-left:25px;"></a>
                                        <% else %>
                                          <a href="{ecampaign_track_url}&link_url=http://<%= process_link(news_link["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;font-weight:bold">Read More</a>
                                        <% end %>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                <% if @bottom_left.present? || @bottom_right.present? %>
                <!--  ---------------- BOTTOM LEFT AND RIGHT CONTENT ---------------- -->
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" style="white-space:normal">
                      <tr>
                        <% if @bottom_left.present? %>
                        <!--  ---------------- BOTTOM LEFT CONTENT ---------------- -->
                        <td width="50%" valign="top" align="center" style="padding-bottom:20px;border-left: 90px solid #f5f5f5;border-right: 10px solid #f5f5f5;">
                          <table width="300" cellpadding="0" cellspacing="0" style="white-space:normal">
                            <tbody>
                              <tr>
                                <td valign="top" align="center" style="padding:20px; background:#fff; border-bottom:4px solid #F0F0F0">
                                  <table width="280" cellpadding="0" cellspacing="0" style="white-space:normal">
                                    <tbody>
                                      <tr>
                                        <td valign="top">
                                          <h2 style="color:#474747;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0.5em;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-size:18px;line-height:24px;font-weight:bold;">
                                            <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_left["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;font-weight:bold"><%= @bottom_left["headline"] %></a>
                                          </h2>
                                        </td>
                                      </tr>
                                      <% unless free_attachment(@bottom_left["image_id"]).blank? %>
                                        <tr>
                                          <td valign="top" align="left" style="text-align:left;padding-bottom:10px">
                                              <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_left["url"]) %>">
                                                <img label="inline-image" src="<%= free_attachment(@bottom_left["image_id"]) %>"  style="border-width:0;width:190px" width="190" />
                                              </a>
                                          </td>
                                        </tr>
                                      <% end %>
                                      <tr>
                                        <td valign="top">
                                          <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                            <tbody>
                                              <tr>
                                                <td valign="top" style="padding-right:20px">
                                                  <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top"><%= @bottom_left["description"].gsub("\r\n","<br/>").gsub("\r","<br/>").gsub("\n","<br/>") %></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="padding-top:7px">
                                          <% unless free_attachment(@bottom_left["image_id2"]).blank? %>
                                            <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_left["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;"><img label="CTA Button" src="<%= free_attachment(@bottom_left["image_id2"]) %>" style="display:block;border-width:0;margin-left:25px;"></a>
                                          <% else %>
                                            <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_left["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;font-weight:bold">Read More</a>
                                          <% end %>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <% else %>
                          <td width="50%" valign="top" align="center" style="padding-bottom:20px;border-left: 90px solid #f5f5f5;border-right: 10px solid #f5f5f5;">
                            &nbsp;
                          </td>
                        <% end %>
                        <!--  ---------------- BOTTOM RIGHT CONTENT ---------------- -->
                        <% if @bottom_right.present? %>
                        <td width="50%" valign="top" align="center" style="padding-bottom:20px;border-right: 90px solid #f5f5f5;">
                          <table width="300" cellpadding="0" cellspacing="0" style="white-space:normal">
                            <tbody>
                              <tr>
                                <td valign="top" align="center" style="padding:20px; background:#fff; border-bottom:4px solid #F0F0F0">
                                  <table width="280" cellpadding="0" cellspacing="0" style="white-space:normal">
                                    <tbody>
                                      <tr>
                                        <td valign="top">
                                          <h2 style="color:#474747;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0.5em;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-size:18px;line-height:24px;font-weight:bold;">
                                            <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_right["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;font-weight:bold"><%= @bottom_right["headline"] %></a>
                                          </h2>
                                        </td>
                                      </tr>
                                      <% unless free_attachment(@bottom_right["image_id"]).blank? %>
                                        <tr>
                                          <td valign="top" align="left" style="text-align:left;padding-bottom:10px">
                                              <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_right["url"]) %>">
                                                <img label="inline-image" src="<%= free_attachment(@bottom_right["image_id"]) %>"  style="border-width:0;width:190px" width="190" />
                                              </a>
                                          </td>
                                        </tr>
                                      <% end %>
                                      <tr>
                                        <td valign="top">
                                          <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                            <tbody>
                                              <tr>
                                                <td valign="top" style="padding-right:20px">
                                                  <table cellpadding="0" cellspacing="0" style="white-space:normal">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top"><%= @bottom_right["description"].gsub("\r\n","<br/>").gsub("\r","<br/>").gsub("\n","<br/>") %></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="padding-top:7px">
                                          <% unless free_attachment(@bottom_right["image_id2"]).blank? %>
                                            <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_right["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;"><img label="CTA Button" src="<%= free_attachment(@bottom_right["image_id2"]) %>" style="display:block;border-width:0;margin-left:25px;"></a>
                                          <% else %>
                                            <a href="{ecampaign_track_url}&link_url=http://<%= process_link(@bottom_right["url"]) %>" style="color:<%= @maintext %>;text-decoration:none !important;font-weight:bold">Read More</a>
                                          <% end %>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <% else %>
                        <td width="50%" valign="top" align="center" style="padding-bottom:20px;border-right: 90px solid #f5f5f5;">
                          &nbsp;
                        </td>
                        <% end %>
                      </tr>
                    </table>
                  </td>
                </tr>
                <!--  ---------------- END LEFT AND RIGHT CONTENT ---------------- -->
                <% end %>
                <tr>
                  <td valign="top" align="center" style="text-align: center;border-left: 90px solid #f5f5f5;border-right: 90px solid #f5f5f5;">
                    <% unless @footer_image.blank?  %>
                      <img src="<%= @footer_image.public_filename %>" alt="" width="600" style="border-width:0;"/>
                    <% else %>
                      &nbsp;
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td valign="top" align="center" style="background:#D4D4D4; padding:30px 0;border-left: 90px solid #D4D4D4;border-right: 90px solid #D4D4D4;text-align:center">
                    <table width="600" cellpadding="0" cellspacing="0" style="white-space:0">
                      <tbody>
                        <tr>
                          <td valign="top" style="text-align:center">
                            <% if @office.url.present? %>
                              <p style="color:#474747;font-size:14px;line-height:21px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:1.4em;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-weight:normal;">
                                This email was sent to {recipient_mail_address} by <a href="http://<%= @office.url.gsub("http://","") %>" style="color:#ff4920;text-decoration:none !important;"><%= @office.url.gsub("http://","") %></a>. <br/>
                                If you no longer wish to receive this newsletter you may <a href="{unsubcribe}" style="color:#ff4920;text-decoration:underline;">unsubscribe here</a>.
                              </p>
                            <% end %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">{view_open_url}</div>
  </div>
</div>