<style>
  .paging_button{margin-bottom:10px;}
  .paging_button a{
    width:auto;
    background-color: #cde9f8;
    margin:0 7px 0 0;
    padding:4px 5px 3px 5px; /* IE6 */
    border:1px solid #0e7fc7; /* 4c96bd */
    float:left;
    display:block;
    overflow:visible;
    text-decoration:none;
    font-weight:bold;
    color:#28323c;
    cursor:pointer;
  }
  .paging_button span {background-color: #f0f0f0;border:1px solid #0e7fc7;padding:4px 5px 3px 5px; margin: 2px; float: left; font-weight:bold; }
  .paging_button a { margin: 2px; }
</style>

<div class="title_block block">
  <h2 class="page_title">Select Recipients</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= select_recipient_agent_office_emarketings_path(@agent, @office) %>" method="post" name="frm1">
<input type="hidden" name="group_ids" id="group_ids" value="<%= @value_group %>"/>
<input type="hidden" name="category_ids" id="category_ids" value="<%= @value_category %>"/>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Option 1 Mailing Group</h6>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Select Group:</b></td>
            <td>
              <select name="selection_group" id="selection_group" onchange="add_options('group','group');">
                <option value="">Please Select</option>
                <% @group_contacts.each do |group| %>
                 <option value="<%= group.id %>" <%= (@group_id == group.id.to_s) ? "selected" : "" %> ><%= group.name %></option>
                 <% end %>
              </select>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Select Category:</b></td>
            <td>
              <select name="selection_category" id="selection_category" onchange="add_options('category','category');">
                <option value="">Please Select</option>
                <% @category_contacts.each do |category| %>
                 <option value="<%= category.id %>" <%= (@category_id == category.id.to_s) ? "selected" : "" %> ><%= category.name %></option>
                 <% end %>
              </select>
            </td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><div id="groups"><%= @value_groups %></div></td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><div id="categorys"><%= @value_categories %></div></td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><input type="button" name="search" value="Search" onclick="adv_search('');"/>
            <br/><br/><input type="checkbox" name="group_contact_checkbox_all" onchange="toggleChecked('group_contact_checkbox', this.checked)"/> Select All
            </td>
          </tr>
          <tr style="background-color:#FFFFFF"><td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="adv_search_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td></tr>
        </table>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
       <div style="width:100%">
        <h6>Option 2 Search Contacts</h6>
        <table style="border:none;">
          <tr style="background-color:#E1EBF5"><td style="width:100px;"><b>Contact Name:</b></td>
            <td><input type="text" style="width: 255px;" size="30" name="recipient_data[search_contact_name]" id="search_contact_name" value="<%= @recipient_data['search_contact_name'] %>" class="single"/></td>
          </tr>
          <tr style="background-color:#E1EBF5">
            <td colspan="2"><input type="button" name="search" value="Search Contacts" onclick="adv_search_contact_name();"/>
            <br/><br/><input type="checkbox" id="all_search" name="contact_name_checkbox_all" onchange="toggleChecked2('contact_name_checkbox', this.checked)"/> Select All
            </td>
          </tr>
          <tr style="background-color:#FFFFFF"><td colspan="2">
          <div style="padding:10px;border:1px solid grey;">
            <div id="search_contact_name_container"><center><b>Current Contacts</b></center></div>
            <div style="clear:both;">&nbsp;</div>
          </div>
          </td></tr>
        </table>
        <div id="selected_contacts">
          <input type="hidden" id="contact_ids" name="selected_contacts" value="<%= @contact_name_checkbox_ids %>"/>
        </div>
        <div id="all_contacts_ids">
          <input type="hidden" id="all_ids" value="<%= @all_contacts %>"/>
        </div>
        <div class="paging_button">
          <div id="paging" class="pagination"></div>
          <div class="clearer"></div>
        </div>
       </div>
    </div>
    <div class="clearer"></div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="back_choose_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= choose_layout_agent_office_emarketings_path(@agent, @office) %>'" class="submit_btn">« Previous</button>
            <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<script type="text/javascript">
   $(document).ready(function(){
     $("#prop_loading").hide();
     var ids = "<%= @contact_checkbox_ids %>";
     var name_ids = "<%= @contact_name_checkbox_ids %>";
     var alert_ids = "<%= @contact_alert_checkbox_ids %>";
     var listing_type = "<%= @recipient_data['selection_listing_type'] %>";
     if(listing_type !=''){update_prop();}
     if(ids !=''){adv_search();}
     if(name_ids !=''){adv_search_contact_name();}
   });

   function add_options(type, opt_name){
      var a_all_id = $("#"+type+"_ids").val();
      var a_arry = a_all_id.split('#');
      var a_add =0;
      if($("#selection_"+type).val()!=''){
        for(var x=0; x < a_arry.length; x++){
          if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
        }
        if(a_add != 1){
          var new_datas = $("#"+type+"_ids").val() + '#' + $("#selection_"+type).val();
          $("#"+type+"_ids").attr('value', new_datas);
          $("#"+type+"s").append('<span id="'+opt_name+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
           <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\',\''+opt_name+'\')">x</a></span> ');
        }
      }
    }

   function remove_options(type, id, opt_name){
      var all_id = $("#"+type+"_ids").val();
      var arry = all_id.split('#');
      $("#"+type+"_ids").attr('value', "");
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]!=id)){
         var new_datas = $("#"+type+"_ids").val() + '#' + arry[x];
         $("#"+type+"_ids").attr('value', new_datas);
        }
      }
      if(opt_name != ''){
        $("#"+opt_name+id).remove();
      }else{
        $("span").remove(":contains('"+id+"')");
      }
    }

   function adv_search(){
      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_emarketings_path(@agent, @office) %>",
        data:"selection_group_id="+$("#group_ids").val() + "&selection_category_id=" + $("#category_ids").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#adv_search_container").html('<center><img src="/images/ajax-loader.gif" id="search-loader-note"></center>');
        },
        success: function(jsonResponse){
          $("#adv_search_container").html("");
          var ids = "<%= @contact_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if(include(arr, parseInt(array["id"]))){
                $("#adv_search_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_checkbox[]" value="'+array["id"]+'" class="group_contact_checkbox" checked/> &nbsp; '+array["name"]+'</div>');
              }else{
                $("#adv_search_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_checkbox[]" value="'+array["id"]+'" class="group_contact_checkbox"/> &nbsp; '+array["name"]+'</div>');
              }
            });
          }else{
            $("#adv_search_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    };

   function adv_search_contact_name(page){
      var container = ""
      if (page == undefined)
       {page = 1 }
      $.ajax({
        type: "POST",
        url: "<%= search_contact_agent_office_property_ebrochures_path(@agent, @office, @property) %>",
        data:"search_contact_name=1&selection_contact_name="+$("#search_contact_name").val()+"&page="+page,
        dataType:"JSON",
        beforeSend:function(){
          $("#search_contact_name_container").html('<center><img src="/images/ajax-loader.gif" id="loader_contact_name"></center>');
        },
        success: function(jsonResponse){
          $("#search_contact_name_container").html("");
          var ids = $("#contact_ids").val(); // "<%= @contact_name_checkbox_ids %>";
          var arr = ids.split("#");
          if (jsonResponse != ''){
            var jsonObject = eval('(' + jsonResponse + ')');
            $.each(jsonObject.results, function(index,array){
              if (array["current_page"] == undefined )
              {
                if(include(arr, parseInt(array["id"]))){
                  $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" class="contact_name_checkbox" id="field-'+array["id"]+'" onclick="add_ids('+array["id"]+')"  checked/> &nbsp; '+array["name"]+'</div>');
                }else{
                  $("#search_contact_name_container").append('<div style="float:left;width:33%;"><input type="checkbox" name="contact_name_checkbox[]" value="'+array["id"]+'" class="contact_name_checkbox" id="field-'+array["id"]+'" onclick="add_ids('+array["id"]+')" /> &nbsp; '+array["name"]+'</div>');
                }
              }
              else
              {
                container = $("#paging");
                container.html("");
                for (var i=1; i <= array["total_pages"] ; i++)
                {
                  if (array["current_page"] == i)
                  {
                      container.append('<span class="current">'+i+'</span>')
                  }
                  else
                  {
                    container.append('<a href="#search" rel="next" onclick="adv_search_contact_name('+i+')">'+i+'</a>')
                  }
                }
                if (array["current_page"] == 1) // if current_page == 1
                 {
                    if (array["total_entries"] <= 1000) //if total <= [perpage]
                    {
                      container.append('<div class="clearer"></div><div style="padding: 10px 0;font-size: 9pt;">1 to '+array["total_entries"]+' of '+array["total_entries"]+' number of contacts</div>') //1 to total of total
                    }
                    else
                    {
                      container.append('<div class="clearer"></div><div style="padding: 10px 0;font-size: 9pt;">1 to 1000 of '+array["total_entries"]+' number of contacts</div>') // 1 to [per_page] of total
                    }
                 }
                 else
                 {
                    if (array["current_page"] == array["total_pages"]) //if current_page == total_pages
                    {
                       container.append('<div class="clearer"></div><div style="padding: 10px 0;font-size: 9pt;">'+(1+((array["current_page"]-1)*1000)) +' to '+array["total_entries"]+' of '+array["total_entries"]+' number of contacts</div>') //1+((current_page-1)*[perpage]) to total of total
                    }
                    else
                    {
                      container.append('<div class="clearer"></div><div style="padding: 10px 0;font-size: 9pt;">'+(1+((array["current_page"]-1)*1000)) +' to '+(array["current_page"])*1000+' of '+array["total_entries"]+' number of contacts</div>') // 1+((current_page-1)*[perpage]) to (current_page*[perpage]) of total
                    }
                 }
              }
            });
          }else{
            $("#search_contact_name_container").append("<center>No Matching Results</center>");
          };
        },
        complete:function(){
        }
      });
      return false;
    };

   function update_prop(){
    if ($("#selection_listing_type option:selected").val() != ""){
      var base_ptype = $("#wrap_prop");
      var property_type = "<%= @recipient_data['selection_property_type'] %>";
      var controller = "<%= populate_prop_agent_office_property_ebrochures_path(@agent, @office, @property) %>";
      $.ajax({
        type: "GET",
        url: escape(controller),
        data:"ltype="+$("#selection_listing_type option:selected").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#selection_property_type").attr("disabled","disabled");
          $("#prop_loading").show();
        },
        success: function(jsonResponse){
          var eval_json = eval(jsonResponse);
          var option = "";
          if(eval_json == ""){
            option = "<option value =''>Please select</option>";
          }else{
            option = "<option value =''>Please select</option>";
            for(var i=0;i < eval_json.length;i++){
              var to_string = new String("'"+eval_json[i][1]+"'");
              if(eval_json[i][1] == property_type){
                option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
              }else{
                option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
              }
            };
          };
          var html = "<select id='selection_property_type' name='recipient_data[selection_property_type]' style='width:100%;'>"+option+"</select>";
          base_ptype.html($(html));
        },
        complete:function(){
          $("#contact_alert_property_type").removeAttr("disabled");
          $("#prop_loading").hide();
        }
      });
    }
    }
    function include(arr, obj) {
        for(var i=0; i<arr.length; i++) {
            if(arr[i] == obj) return true;
        }
    }

    function toggleChecked(class_name, status) {
      $("."+class_name).each( function(){ $(this).attr("checked",status);});
    }

    function toggleChecked2(class_name, status) {
      if ($('#all_search').is(":checked"))
      {
       $("#contact_ids").val('')
       $("#contact_ids").val($("#all_ids").val())
       $("."+class_name).each( function(){ $(this).attr("checked",status);
         $(this).attr("checked",true);
       });
      }
      else
      {
        $("#contact_ids").val('')
        $("."+class_name).each( function(){ $(this).attr("checked",status);
          $(this).attr("checked",false);
        });
      }
    }


    function add_ids(id){
      $('#all_search').attr('checked', false);
      var all_ids = $("#contact_ids").val();
      var all_ids_arr = all_ids.split('#');
      if($('#field-'+id).is(":checked")){
        if(!include(all_ids_arr, id)){
        $("#contact_ids").val(all_ids+"#"+$('#field-'+id).val()) }
      }
      else
      {
        var idx = all_ids_arr.indexOf($('#field-'+id).val())
        if (idx != -1)
        {all_ids_arr.splice(idx,1);}
        $("#contact_ids").val(all_ids_arr.join('#'));
      }
    }
</script>
