<script type="text/javascript">
  function add_suburb(){
    var all = $("#all_suburbs").val();
    var arry = all.split('#');
    var add =0;
    if($("#company_alert_suburb").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#company_alert_suburb").val())){
            add = 1
        }
      }
      if(add != 1){
        var new_suburb = $("#all_suburbs").val() + '#' + $("#company_alert_suburb").val()
        $("#all_suburbs").attr('value', new_suburb);
        $("#all_suburbs_list").append('<span id="'+$("#company_alert_suburb").val()+'" style="margin-right:20px;">'+$("#company_alert_suburb").val()+'\
         <a href="javascript:remove_suburb(\''+$("#company_alert_suburb").val()+'\')">x</a></span>');
      }
      $("#company_alert_suburb").attr('value', "");
    }
  }

  function remove_suburb(id){
    var all = $("#all_suburbs").val();
    var arry = all.split('#');
    $("#all_suburbs").attr('value', "");
    $("#all_suburbs_list span").remove();
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_suburb = $("#all_suburbs").val() + '#' + arry[x]
       $("#all_suburbs").attr('value', new_suburb);
       $("#all_suburbs_list").append('<span id="'+arry[x]+'" style="margin-right:20px;">'+arry[x]+'\
         <a href="javascript:remove_suburb(\''+arry[x]+'\')">x</a></span>');
      }
    }
  }

  function update_prop(){
    if ($("#company_alert_alert_type option:selected").val() != "Latest News"){
      var base_ptype = $("#wrap_prop");
      var controller = "<%= populate_prop_agent_office_agent_company_company_alerts_path(@agent,@office) %>";
      $.ajax({
        type: "GET",
        url: escape(controller),
        data:"ltype="+$("#company_alert_listing_type option:selected").val(),
        dataType:"JSON",
        beforeSend:function(){
          $("#company_alert_property_type").attr("disabled","disabled");
          $("#prop_loading").show();
        },
        success: function(jsonResponse){
          var eval_json = eval(jsonResponse);
          var option = "";
          if(eval_json == ""){
            option = "<option value =''>Please select</option>";
          }else{
            option = "<option value =''>Please select</option>";
            for(var i=0;i < eval_json.length;i++){
              var to_string = new String("'"+eval_json[i][1]+"'");
              if(eval_json[i][1] == '<%= @company_alert.property_type %>'){
                option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
              }else{
                option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
              }
            };
          };
          var html = "<select id='company_alert_property_type' name='company_alert[property_type]' class='bed1'>"+option+"</select>";
          base_ptype.empty().append($(html));
        },
        complete:function(){
          $("#company_alert_property_type").removeAttr("disabled");
          $("#prop_loading").hide();
        }
      });
    }
  }

  function check_latest_news(){
     if ($("#company_alert_alert_type option:selected").val() == "Latest News"){
       $("#company_alert_listing_type").attr("disabled","disabled");
       $("#company_alert_property_type").attr("disabled","disabled");
       $("#company_alert_min_bedroom").attr("disabled","disabled");
       $("#company_alert_min_bathroom").attr("disabled","disabled");
       $("#company_alert_min_carspace").attr("disabled","disabled");
       $("#company_alert_min_price").attr("disabled","disabled");
       $("#company_alert_max_price").attr("disabled","disabled");
       $("#company_alert_suburb").attr("disabled","disabled");
     }else{
       $("#company_alert_listing_type").removeAttr("disabled");
       $("#company_alert_property_type").removeAttr("disabled");
       $("#company_alert_min_bedroom").removeAttr("disabled");
       $("#company_alert_min_bathroom").removeAttr("disabled");
       $("#company_alert_min_carspace").removeAttr("disabled");
       $("#company_alert_min_price").removeAttr("disabled");
       $("#company_alert_max_price").removeAttr("disabled");
       $("#company_alert_suburb").removeAttr("disabled");
     }
  }

  function disable_or_enable(){
     $("#company_alert_alert_type").attr("disabled","disabled");
     $("#company_alert_listing_type").attr("disabled","disabled");
     $("#company_alert_property_type").attr("disabled","disabled");
     $("#company_alert_min_bedroom").attr("disabled","disabled");
     $("#company_alert_min_bathroom").attr("disabled","disabled");
     $("#company_alert_min_carspace").attr("disabled","disabled");
     $("#company_alert_min_price").attr("disabled","disabled");
     $("#company_alert_max_price").attr("disabled","disabled");
     $("#company_alert_suburb").attr("disabled","disabled");
  }

  $(document).ready(function(){
      $("#prop_loading").hide();
      check_latest_news();
      <% unless current_user.full_access? || (current_user.client_only_access? && current_user.include_accessible?(@agent_company.id))  || (current_user.limited_client_access? && current_user.include_accessible?(@agent_company.id)) %>
        disable_or_enable();
      <% else %>
        update_prop();
      <% end %>
  });
</script>
<div  id="companysdiv" class="block form group" style="background-color:#E1EBF5;">
  <div class="set third">
    <h6>Add Requirements</h6>
    <%= form.hidden_field :agent_company_id, :value => @agent_company.id %>
    <fieldset class="pf_fs2">
      <table class="pf-table">
        <tr class="li--8">
          <th class="first_cell field required"><label><span>Requirements Type:</span></label></th>
          <td class="value"><%= form.select :alert_type, @alert_type,{}, {:onchange => "check_latest_news();"} %></td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field"><label><span>Listing Type:</span></label></th>
          <td><%= form.select :listing_type, @listing_type,{}, {:onchange => "update_prop();"} %></td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field"><label><span>Property Type:</span></label></th>
          <td>
            <div id="wrap_prop" style="float:left;">
               <%= form.select :property_type, @ptypes,{},{:class =>"bed1"} %>
            </div>
            <div id="prop_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
          </td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field"><label><span>Min Bedroom:</span></label></th>
          <td><%= form.select :min_bedroom, @range,{},:class =>"bed1" %></td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field"><label><span>Min Bathroom:</span></label></th>
          <td><%= form.select :min_bathroom, @range,{},:class =>"bed1" %></td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field"><label><span>Min Carspace:</span></label></th>
          <td><%= form.select :min_carspace, @range,{},:class =>"bed1" %></td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div class="set third" style="width:40%">
    <h6 class="full">&nbsp;</h6>
    <fieldset class="pf_fs3">
      <table class="pf-table">
        <tr class="li--8">
          <th class="first_cell field"><label><span>Min Price:</span></label></th>
           <td class="value"><%= form.text_field :min_price, :class => "single", :style=> "width: 100px;min-width:100px;" %></td>
        </tr>
        <tr class="li--10">
          <th class="first_cell field"><label><span>Max Price:</span></label></th>
          <td class="value"><%= form.text_field :max_price, :class => "single", :style=> "width: 100px;min-width:100px;" %></td>
        </tr>
        <tr class="li--20">
          <th class="first_cell field"><label><span>Suburb:</span></label></th>
          <td class="value">
           <%= form.text_field :suburb, :class => "single", :style=> "width: 255px;", :value => "" %>
            &nbsp;<%= link_to 'Add', "javascript:add_suburb();", :id=>"add_new", :style => "color:blue;"%>
            &nbsp;<i>(Add one at a time)</i>
           <input type="hidden" id="all_suburbs" name="all_suburbs" value="<%=@all_suburbs%>" />
           <div id="all_suburbs_list" style="width:300px;"><%=@all_suburbs_list%></div>

          </td>
        </tr>
        <tr class="li--8">
          <th class="first_cell field required">&nbsp;</th>
          <td class="value">&nbsp;</td>
        </tr>
        <tr class="li--10">
          <th class="first_cell field required">&nbsp;</th>
          <td class="value">
            <button name="update" type="submit" value="Update">
            Submit
            </button>
          </td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div class="set third" style="width:20%">
     <h6 class="full">&nbsp;</h6>
     <fieldset class="pf_fs3">
    </fieldset>
  </div>
  <div class="clearer"></div>

</div><!-- end #garagingbedbathdiv GROUP -->
