<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#country_address1").DefaultValue("Suburb/Postal Code");
      $("#country_address2").DefaultValue("Town/Country");
      $("#country_address3").DefaultValue("State");
      $("#country_address4").DefaultValue("Postcode");
      $("#country_eer_upper").DefaultValue(1);
      $("#country_eer_lower").DefaultValue(2);
      $("#country_eer_deviation").DefaultValue(3);
    });
    function add_zoning(){
      if(!$("#add_zone_0").hasClass("2")){
        if($("#add_zone_3").hasClass("3")){
          zoning();
        }else{
          $('#country_zoning').append("<input id='add_zone_0' class='2' type='text' name='country[zoning][]' />");
          $("#add_zone_0").DefaultValue("Zone 2A");
        };
      }else{
        zoning();
      };
    };
    function zoning(){
      var id =  parseInt($("#add_zone_0").attr("class"))+1;
      $("#add_zone_0").attr("class",id)
      $('#country_zoning').append("<input id='add_zone_"+id+"' class='"+id+"' type='text' name='country[zoning][]' />");
      $("#add_zone_"+id).DefaultValue("Zone "+id +"A");
    }
  </script>
<%  end %>
<div class="group">
  <table cellpadding="0" cellspacing="0" class="update_table full">
    <tr>
      <th colspan="2" class="first_cell">Country Details</th>
    </tr>
    <tr>
      <td class="field first_cell">Country Name:</td>
      <td class="value"><%= f.text_field :name , :class => "single" %></td>

    </tr>
    <tr>
      <td class="field first_cell">UN Country Code:</td>
      <td class="value"><%= f.text_field :code, :class => "single" %></td>
    </tr>
    <tr>
      <td class="field first_cell">Currency Name:</td>
      <td class="value"><%= f.text_field :currency_name, :class => "single" %></td>

    </tr>
    <tr>
      <td class="field first_cell">Currency Code:</td>
      <td class="value"><%= f.text_field :currency_code, :class => "single" %></td>
    </tr>
    <tr>
      <td class="field first_cell">Land Size Default:</td>
      <td class="value">
        <%= f.select :metrics_land, Country::LAND_SIZE_OPTIONS %>
        <!-- <select class="select_box" name="land_size_box">
            <option value="Square Metres" selected="selected">Square Metres</option>
            <option value="Square Acres">Square Acres</option>
          </select> -->
      </td>

    </tr>
    <tr>
      <td class="field first_cell">Building Size Default:</td>
      <td class="value">
        <%= f.select :metrics_building, Country::BUILDING_SIZE_OPTIONS %>
        <!-- <select class="select_box" name="building_size_box">
            <option value="Square Feet" selected="selected">Square Feet</option>
            <option value="Square Yards">Square Yards</option>

            <option value="other size">other size</option>
            <option value="other size">other size</option>
          </select> -->
      </td>
    </tr>
    <tr>
      <td class="field first_cell" style="vertical-align:top;">EER:</td>

      <td class="value">
        <%= f.text_field :eer_upper, :class => "single" %>
        <%= f.text_field :eer_lower, :class => "single" %>
        <%= f.text_field :eer_deviation, :class => "single" %>
      </td>
    </tr>
    <tr>
      <td class="field first_cell" style="vertical-align:top;">Display Country</td>

      <td class="value">
        <%= f.check_box :display_country, :class => "single" %>
      </td>
    </tr>
  </table>
</div>
</div>


<div class="set half follower">
<div class="group">
  <table cellpadding="0" cellspacing="0" class="update_table full">
    <tr>
      <th colspan="2" class="first_cell">&nbsp;</th>
    </tr>
    <tr>
      <td class="field first_cell" style="vertical-align:top;">Country Flag:</td>

      <td class="value">
        <table cellpadding="0" cellspacing="0" class="logo_form_table half">
          <tr>
            <th colspan="2">Small Logo (200 pixels wide max.)</th>
          </tr>
          <tr>
            <td class="field first_cell" id="country_flag"><%= image_tag(@country.flag.url, :size => "200x150", :alt => "flag") %></td>
          </tr>

          <tr>
            <td colspan="2" class="first_cell editdelete"><p><span class="upload"> <a href="#" onclick="$('#upload_flag').show();">Upload</a></span> |
                <span class="view"><%= link_to "View", @country.flag.url, :class => "thickbox" %></span> |
              <% unless @country.new_record? %><span class="delete"><%= link_to "Delete",  delete_flag_admin_country_path(@country), :method => :delete %></span><% end %></p>
              <div id="upload_flag"  style="display:<%= "none" if @country.flag.file?  %>">
                <%= f.file_field :flag %>
              </div>
            </td>
          </tr>

        </table>
      </td>
    </tr>
    <tr>
      <td class="field first_cell" style="vertical-align:top;">Address Terminology:</td>
      <td class="value">
        Line 1: <%= f.text_field :address1 %><br />
        Line 2: <%= f.text_field :address2 %><br />
        Line 3: <%= f.text_field :address3 %><br />
        Line 4: <%= f.text_field :address4 %><br />
      </td>
    </tr>
    <tr>
      <td class="field first_cell" style="vertical-align:top;">Zoning:</td>
      <td class="value">
        <div id="country_zoning">
          <% unless @country.zoning.blank? %>
            <% @country.zoning.each do |z| %>
              <%= text_field_tag "country[zoning][]", z, :class => "single " %>
              <!-- Option 2: <input type="text" name="pf_field_13" id="pf_field_13" class="single" value="Commercial 2B"/><br /> -->
            <% end %>
          <% end %>
        </div>
        <a href="#" onclick="add_zoning();" title="">Add another</a>
      </td>
    </tr>
  </table>
</div>