<div class="title_block block">
  <h2>Update a Country</h2>
  <div class="clearer"></div>
</div>


<div id="clientdiv" class="block tables full">

  <% form_for [:admin, @country], :html => { :multipart => true } do |f| %>
    <% unless f.error_messages.blank?   -%>
      <%= f.error_messages :class => 'errortext' %>
    <% end -%>
    <div class="group">
      <div class="set half leader">
        <%= render :partial => "country_form", :locals => {:f => f} %>
      </div>

      <div class="clearer"></div>
    </div>

    <div class="action_button">
      <button name="update" type="button" value="Update" onclick="form.submit();">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
        Update
      </button>

      <span>or&nbsp;&nbsp;</span>
      <a href="<%= url_for admin_countries_path %>" title="">

        <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
        Cancel
      </a>
    </div>
  <% end %>
</div><!-- end #clientdiv -->


<!-- <div class="block suburbs half leader"> -->
<!-- NOTE TO DEVELOPER: This area is for searching/adding/editing suburbs to the various countries. The quick search will behave like the Quick Edit header in the header of the Agentlog system. When you land on this page, the Quick edit label and box will show. The table and the Matching Items: header should not show until the user begins a search. The user is required to first search for the suburb before any further action can be taken. So if the user searches for "Bondi", the results return all suburbs with "Bondi" in the name, and there is an option to edit each suburb, and at the bottom, an option to add a suburb. -->

<!-- <div class="group"> <h4>This country has 19 States and 19,567 Suburbs.</h4>

<div id="searchbox">
    <p id="search"><strong>Quick Edit: </strong>
    <input class="" id="searchQuery" name="searchQuery" size="30" value="Type in address or suburb and select edit" type="text" /></p>
<script type="text/javascript">
//<![CDATA[
new Form.Element.Observer('searchQuery', 1, function(element, value) {new Ajax.Updater('searchResult', '/office/100029/dashboard/search', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('search-indicator')}, onLoading:function(request){Element.show('search-indicator')}, parameters:'query=' + value})})
//]]>

</script>
    <img alt="Spinner" id="search-indicator" src="/images/spinner.gif?1229592633" style="display: none;">
   <div class="auto_complete" id="searchResult" style="-moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><h4>Matching items:</h4>

<table class="autocomplete_list" width="100%">
<tbody>
  <tr class="autocomplete_item">

    <td class="list-country first_cell">AU</td>
    <td class="list-state">NSW</td>
    <td class="list-suburb">Bondi Beach</td>
    <td class="list-postalcode">2026</td>
    <td class="list-edit"><a href="#" title="EDIT">EDIT</a></td>
  </tr>


  <tr class="autocomplete_item alt">
    <td class="list-country first_cell">AU</td>
    <td class="list-state">NSW</td>
    <td class="list-suburb">Bondi</td>
    <td class="list-postalcode">2025</td>
    <td class="list-edit"><a href="#" title="EDIT">EDIT</a></td>

  </tr>

  <tr class="autocomplete_item">
    <td class="list-country first_cell">AU</td>
    <td class="list-state">NSW</td>
    <td class="list-suburb">Bondi Junction</td>
    <td class="list-postalcode">2021</td>

    <td class="list-edit"><a href="#" title="EDIT">EDIT</a></td>
  </tr>

  <tr class="autocomplete_item alt">
    <td class="list-country first_cell">AU</td>
    <td class="list-state">NSW</td>
    <td class="list-suburb">Bondi Heights</td>
    <td class="list-postalcode">2080</td>

    <td class="list-edit"><a href="#" title="EDIT">EDIT</a></td>
  </tr>

  </tbody>
  </table>

  <p>Is your suburb missing from the list? <a href="#" title="">Add it</a>.</p>
 </div>

 </div>

</div> -->



<!-- If the user clicks "EDIT" this results list and the searchbox disappears, and the Edit Suburb table and action buttons appear. This is the file with the xhtml: -->




<!-- If the user's suburb does not appear in the list, they should be able to Add it by clicking "ADD" and the Add Suburb table and action buttons appear. This is the file with the xhtml: -->


<!--
 </div> -->

<div class="block suburbs half follower">
  <div class="group">
    <h4>State/Suburb/Postcode CSV Files</h4>
    <h6>&nbsp;</h6>
    <% form_for :csv, :url => bulk_upload_admin_country_path(@country), :html => {:multipart => true} do |form| %>
      <table cellpadding="0" cellspacing="0" class="update_table">
        <tr>
          <td class="field first_cell" style="vertical-align: top;">Upload:</td>

          <td class="value">
            <div class="pack file_button">
              <%= form.file_field :file %>
            </div><br />
          </td>
        </tr>
        <tr>
          <td class="field first_cell" style="vertical-align: top;">Download:</td>

          <td class="value"><%= link_to "State/Suburb/Postcode CSV file", suburbs_admin_country_path(@country, :format => :csv) %></td>
        </tr>
      </table>
    </div>
    <div class="action_button">
      <button name="upload" type="button" value="Upload" onclick="form.submit();">
        <img src="/images/icons/famfamfam/page_add.png" alt="page_add" width="16" height="16"/>
        Upload
      </button>


      <!-- <span>or&nbsp;&nbsp;</span>
                          <a href="#" title="">
                            <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
                            Cancel
                          </a> -->
    </div>
  <% end %>
</div>
<div class="clearer"></div>
<div class="title_block block">
  <h2>Country Property Types <i style="font-size:10px">(note: once you check a property type it can't be unchecked)</i></h2>
  <div class="clearer"></div>
</div>
<% form_for [:admin, @country], :html => { :multipart => true } do |f| %>
  <div class="clearer"></div>
  <div class="group">
    <div class="set half leader">
      <%= render :partial => "country_property_type_form", :locals => {:f => f} %>
    </div>
    <div class="clearer"></div>
  </div>
  <div class="action_button">
    <button name="update" type="button" value="Update" onclick="form.submit();">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/>
      Update
    </button>

    <span>or&nbsp;&nbsp;</span>
    <a href="<%= url_for admin_countries_path %>" title="">

      <img src="/images/icons/famfamfam/cancel.png" alt="cancel" width="16" height="16"/>
      Cancel
    </a>
  </div>
<% end %>
