<div class="greybg" style="margin:0 auto;padding-bottom: 5px;padding-top: 5px;margin-bottom:10px;">
  <div style="width:780px;height:auto;margin:0 auto;font-family: arial;text-align:center;font-size:8pt;color:#999999;">If you are having difficulties viewing this email please <a href="{preview}" style="color:#999999;" target="_blank">click here</a> to view in a browser. Or <a href="{forward}" style="color:#999999;" target="_blank">click here <img style="width: 22px;position: relative;top: 7px;left: 2px;" src="<%= @base_url %>/images/mail_forward.png"/></a> to forward this email</div>
  <div class="view" style="width: 780px; clear: both; margin-right: auto; margin-left: auto;">
    <%  unless @property.blank? %>
    <table width="780" cellpadding="0" cellspacing="0" border="0" align="center">
      <tr>
        <td>
          <div style="font-family:arial;">
            <% if @header_image.present? %>
              <img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780" height="80" />
            <% end %>
          </div>
          <div style="font-family:arial;width: 780px;">
	    <div style="font-family:arial;background-color: <%=@linecolor%>; width: 780px; border-top-width: 5px; border-bottom-width: 5px; border-top-style: solid; border-bottom-style: solid; border-top-color: <%=@bgcolor%>; border-bottom-color: <%=@bgcolor%>;">
              <table width="780" border="0" cellpadding="10" bgcolor="<%=@linecolor%>" style="border-spacing: 0;">
                <tr style="height: 28px;">
                  <td width="650" valign="middle" style="padding:5px 2px;"><div style="font-family: arial; font-size: 20px; font-weight: bold; width:100%;margin:0;padding:0"><%= @property.headline %></div></td>
                  <% unless @data["no_readmore"].present? %>
                    <td width="100" valign="middle"><div style="font-family: arial; font-size: 13px; color:#000000;"><a href="{ebrochure_track_property_url}" style="color:#000000">view details ></a></div></td>
                  <% end %>
                </tr>
              </table>
            </div>
            <div style="font-family:arial;"><img src="<%= @main_image %>" width="780" /></div>
            <table width="780" border="0" cellspacing="0" cellpadding="10" bgcolor="<%=@bgcolor%>" class="no-border-radius" style="color:<%=@generaltextcolor%>">
              <tr>
                <td style="padding: 0px;">
                  <table width="760px" border="0">
                    <tr>
                      <td width="470px" valign="top">
                        <table width="100%" border="0" cellpadding="10">
                          <tr>
                            <td width="470px" style="padding: 5px;">
                               <div style="font-family: arial; font-size: 20px; font-weight: bold; width:470px;margin-bottom:15px">
                                  <% unless @data["display_address"].blank? %>
                                    <%= @property.unit_number.blank? ? @property.street_number : "#{@property.unit_number}/#{@property.street_number}" %>&nbsp;<%= @property.street %>,&nbsp;
                                  <% end %>
                                  <% unless @data["with_region"].blank? %>
                                    <%= @property.town_village %><%= @data["display_suburb"] && @property.suburb.present? ? "," : ""%>&nbsp;
                                  <% end %>
                                  <% unless @data["display_suburb"].blank? %>
                                   <%= @property.suburb %>
                                  <% end %>
                               </div>
                               <% unless @data["display_feature"].blank? %>
                                <% unless @property.features.blank? %>
                                <div style="font-family:arial;margin-top: 10px; margin-bottom: 10px; width:470px;">
                                  <ul>
                                    <% @property.features.each do |feature| %>
                                      <li><%= feature.name %></li>
                                    <% end %>
                                  </ul>
                                </div>
                                <% end %>
                              <% end %>
                               <div style="font-family: arial; font-size: 13px; width:470px; margin-bottom:5px">
                                 <% if @data["large_font"] %>
                                  <pre style="font-family: arial; white-space: pre-wrap; font-size: 12pt; margin: 0;color:<%=@generaltextcolor%>;"><% unless @data["display_desc"].blank? %><%= truncate(@property.description, 450, "...") %><% end %></pre>
                                 <%else%>
                                  <pre style="font-family: arial; white-space: pre-wrap; font-size: 13px;color:<%=@generaltextcolor%>"><% unless @data["display_desc"].blank? %><%= truncate(@property.description, 450, "...") %><% end %></pre>
                                 <% end %>
                               </div>
                              <% unless @data["no_readmore"].present? %>
                                 <table width="200px">
                                   <tr>
                                     <td width="90px" valign="middle">
                                       <div style="font-family:arial;background:<%=@linecolor%>;width: 90px;text-align:center;">
                                         <a href="{ebrochure_track_property_url}" style="font-size: 13px; text-decoration: none; color: #000000; width:90px;">Read more</a>
                                       </div>
                                     </td>
                                   </tr>
                                 </table>
                              <% end %>
                            </td>
                         </tr>
                        </table>
                      </td>
                     <% unless @data["no_readmore"].present? %>
                       <td width="230px" valign="top" style="border-left-width: 3px; border-left-style: solid; border-left-color: #DDDDDD;">
                     <% else %>
                       <td width="230px" valign="top">
                     <% end %>
                        <table width="100%" border="0" cellpadding="10">
                          <tr>
                            <td>
                                <% unless @data["display_side_contact"].blank? %>
                                  <div style="font-family: arial; font-size: 20px;color:<%=@sidetextcolor%>;"><%= @property.primary_contact.full_name %></div>
                                  <div style="font-family: arial; font-size: 15px; margin-bottom: 20px;color:<%=@sidetextcolor%>;">Call: <%= @property.primary_contact.mobile %></div>
                                  <% unless @property.secondary_contact.blank? %>
                                    <div style="font-family: arial; font-size: 20px;color:<%=@sidetextcolor%>;">or <%= @property.secondary_contact.full_name %></div>
                                    <div style="font-family: arial; font-size: 15px; margin-bottom: 20px;color:<%=@sidetextcolor%>;">Call: <%= @property.secondary_contact.mobile %></div>
                                  <% end %>
                                <% end %>
                                <% unless @property.primary_contact.vcard.blank? %>
                                    <div style="font-family: arial; margin-bottom: 15px;">
                                    <table width="180px">
                                      <tr>
                                        <td width="30px" valign="middle" ><img src="<%= @base_url %>/images/eb_theme2_vcard.png" /></td>
                                        <td width="150px" valign="middle" align="center">
                                          <div style="font-family:arial;background-color:<%=@linecolor%>;width: 100px;text-align:center;">
                                          <a href="<%= @property.primary_contact.vcard.public_filename %>" target="_blank" style="text-align:center;font-size: 12px; text-decoration: none; color: #000000; ">download vcard</a>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                    </div>
                                <% end %>
                            </td>
                          </tr>
                          </table>
                      </td>
                     </tr>
                    <tr>
                      <% unless @data["no_readmore"].present? %>
                        <td colspan="3" style="border-top-width: 3px; border-top-style: solid; border-top-color: #DDDDDD;"><table width="100%" border="0" cellpadding="10">
                      <% else %>
                        <td colspan="3"><table width="100%" border="0" cellpadding="10">
                      <% end %>
                    <tr>
                      <td style="padding:0 5px;">
                          <div style="font-family: arial; font-size: 20px; font-weight: normal; clear:both;color:<%=@generaltextcolor%>;">
                            <% unless @data["display_price"].blank? %>
                            <% unless @property.display_price.to_i == 0 %>
                              <div style="font-family:arial;margin:8px 0;">
                              <% unless @data["no_price_word"] %>
                                <div style="font-family: arial;float:left;margin-bottom:5px;font-weight:bold;">Price:&nbsp;</div>
                              <% end %>
                              <div style="font-family: arial;float:left;">
                              <% if @property.type.to_s == 'Commercial'%>
                                <% if @property.deal_type == 'Lease' %>
                                  <%= @property.display_price.to_i == 1 ? (@property.detail.rental_price.blank? ? "" : "$#{@property.detail.rental_price} - $#{@property.detail.rental_price_to}") : @property.display_price_text %>
                                <% else %>
                                  <%= @property.display_price.to_i == 1 ? (@property.detail.sale_price_from.blank? ? "" : "$#{@property.detail.sale_price_from} - $#{@property.detail.sale_price_to}") : @property.display_price_text %>
                                <% end %>
                              <% else %>
                                 <%= @property.display_price.to_i == 1 ? (@property.price.blank? ? "" : "$#{@property.price} #{@property.to_price.present? ? "- $#{@property.to_price}" : ""}") : @property.display_price_text %>
                              <% end %>
                              </div>
                              <div style="font-family:arial;clear:both;"></div>
                              </div>
                            <% end %>
                         <% end %>
                         <% unless @data["display_auction"].blank? %>
                            <% if ["ResidentialSale", "BussinessSale", "Commercial"].include?(@property.type.to_s) %>
                              <% unless @property.detail.auction_date.blank? %>
                                <div style="font-family:arial;margin:8px 0;">
                                <div style="font-family:arial;float:left;margin-bottom:5px;font-weight:bold;">Auction:&nbsp;</div>
                                <div style="font-family:arial;float:left;font-size:9pt;">
                                  <%= @property.detail.auction_place.blank? ? "" : @property.detail.auction_place %>, <%= @property.detail.auction_date.to_date.strftime('%a %b %d') %> <%= @property.detail.auction_time.blank? ? "" : @property.detail.auction_time %>
                                </div>
                                <div style="font-family:arial;clear:both;"></div>
                                </div>
                              <% end %>
                            <% end %>
                        <% end %>
                          </div>
                      </td>
                    </tr>
                  </table>
                </td>
             </tr>
           </table>
         </td>
        </tr>
     </table>
      <% if @data["display_ca"].present? %>
        <div style="font-family:arial; width: 760px; border-top-width: 5px; border-bottom-width: 5px; border-top-style: solid; border-bottom-style: solid; border-top-color: <%=@bgcolor%>; border-bottom-color: <%=@bgcolor%>;padding: 0 10px;background-color: white;">
          <table width="760" border="0" cellpadding="10" bgcolor="<%=@linecolor%>">
            <tr>
              <td width="650" valign="middle" style="padding:5px"><div class="padding4p" style="font-family: arial; font-size: 14pt; text-align: center;"><a href="http://<%=@data["ca_link"].gsub("http://", "")%>" style="font-weight:bold; text-decoration: none;color: blue;">CLICK HERE - to complete confidentiality agreement and receive full information</a></div></td>
            </tr>
          </table>
        </div>
      <% end %>
     </div>
      <div style="font-family:arial;width: 780px;">
        <table class="tab_foot" width="780px" border="0" cellpadding="0" cellspacing="0">
          <% unless @data["no_footer"] %>
            <tr>
              <td colspan="2" style="border-top-width: 10px; border-top-style:solid; border-top-color:<%=@linecolor%>;"><img src="<%= @footer_image.public_filename unless @footer_image.blank? %>" width="780" height="75"/></td>
            </tr>
          <% end %>
          <tr>
            <td width="635" style="font-family: arial;font-size:8pt;color:#999999;vertical-align:top; ">
              To unsubscribe from this service please <a href="{unsubcribe}" style="color:#999999;text-decoration:underline;">click here</a>.<br/>
              Copyright &copy; <b><%= @office.name %></b> <%= Time.now.strftime("%Y")  %><br/>
              <div style="font-family:arial;display:none;">{view_open_url}</div>
            </td>
            <td width="130" valign="top" align="right" style="vertical-align:top; font-family: arial;font-size:8pt;color:#999999;text-align:right;">
              Powered By <a href="http://agentpoint.com.au" target="_blank" style="color:#999999;text-decoration:underline;"><b>Agentpoint</b></a>
            </td>
          </tr>
        </table>
      </div>
    </td>
   </tr>
   </table>
  <% end %>
  </div>
</div>