<p>
  <b>Name:</b>
  <%=h @user_file_category.name %>
</p>

<p>
  <b>Office:</b>
  <%=h @user_file_category.office_id %>
</p>


<%= link_to 'Edit', edit_user_file_category_path(@user_file_category) %> |
<%= link_to 'Back', user_file_categories_path %>
