<form action="<%= add_heard_about_us_agent_office_contact_listeners_path(@agent,@office) %>" method="post" name="form1">
  <table>
    <tr><td>Heard About Us:</td><td><input type="text" name="heard_about_us" value=""/></td></tr>
    <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="submit"/></td></tr>
  </table>
</form>