<fieldset class="pf_fs5">
  <ul class="pf-ul">
    <li class="li--23"><label><span>Name:</span></label>
      <%= form.text_field :name, :class => "single" %>
    </li>
    <li class="li--23"><label><span>&nbsp;</span></label>
      <button name="btn_submit" type="submit" value="Submit">
        <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
      </button>
    </li>
  </ul>
</fieldset>