  <div class="step_button">
    <a href="<%= choose_layout_agent_office_stock_lists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_layout).include?(params[:action]) %>">1. Choose Layout</a>
    <a href="<%= choose_properties_agent_office_stock_lists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_properties).include?(params[:action]) %>">2. Choose Properties</a>
    <a href="<%= choose_data_agent_office_stock_lists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_data).include?(params[:action]) %>">3. Choose Data</a>
    <a href="<%= choose_colour_agent_office_stock_lists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_colour).include?(params[:action]) %>">4. Choose Colours</a>
    <a href="<%= preview_agent_office_stock_lists_path(@agent, @office) %>" class="<%= 'active_tab' if %w(preview).include?(params[:action]) %>">5. Preview</a>
  </div>