<div class="wrapper stock-theme6" style="height:auto;">
  <% unless @properties.blank? %>
    <div class="s6-header"><div class="bg-top"><img src="<%= @header_image.public_filename unless @header_image.blank? %>" width="780"/></div></div>
    <div class="s6-main">
      <% @properties.each_with_index do |property, index| %>
      <div class="s6-listing-wrp" style="margin-right:<%= (index % 2 == 0 )? "20":"5" %>px;">
        <div class="s6-col1">
          <% if property['type'].to_s == 'ResidentialSale' %>
            <% if @display_bed == "true" %><% unless property['residential_sale_bedrooms'].blank? %><%= (property['residential_sale_bedrooms'].to_i > 0) ? "<div class='s6-bedroom'><div class='boldf'>#{property['residential_sale_bedrooms']}</div><div class='s6-bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['residential_sale_bathrooms'].blank? %><%= (property['residential_sale_bathrooms'].to_i > 0) ? "<div class='s6-bedroom'><div class='boldf'>#{property['residential_sale_bathrooms']}</div><div class='s6-bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i) == 0) ? "" : "<div class='s6-bedroom'><div class='boldf'>#{(property['residential_sale_carport_spaces'].to_i + property['residential_sale_garage_spaces'].to_i).to_s}</div><div class='s6-bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if property['type'].to_s == 'ResidentialLease' %>
            <% if @display_bed == "true" %><% unless property['residential_lease_bedrooms'].blank? %><%= (property['residential_lease_bedrooms'].to_i > 0) ? "<div class='s6-bedroom'><div class='boldf'>#{property['residential_lease_bedrooms']}</div><div class='s6-bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['residential_lease_bathrooms'].blank? %><%= (property['residential_lease_bathrooms'].to_i > 0) ? "<div class='s6-bedroom'><div class='boldf'>#{property['residential_lease_bathrooms']}</div><div class='s6-bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i) == 0) ? "" : "<div class='s6-bedroom'><div class='boldf'>#{(property['residential_lease_carport_spaces'].to_i + property['residential_lease_garage_spaces'].to_i).to_s}</div><div class='s6-bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if property['type'].to_s == 'ProjectSale' %>
            <% if @display_bed == "true" %><% unless property['project_sale_bedrooms'].blank? %><%= (property['project_sale_bedrooms'].to_i > 0) ? "<div class='s6-bedroom'><div class='boldf'>#{property['project_sale_bedrooms']}</div><div class='s6-bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['project_sale_bathrooms'].blank? %><%= (property['project_sale_bathrooms'].to_i > 0) ? "<div class='s6-bedroom'><div class='boldf'>#{property['project_sale_bathrooms']}</div><div class='s6-bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i) == 0) ? "" : "<div class='s6-bedroom'><div class='boldf'>#{(property['project_sale_carport_spaces'].to_i + property['project_sale_garage_spaces'].to_i).to_s}</div><div class='s6-bedf'>car parking</div></div>" %><% end %>
          <% end %>
          <% if property['type'].to_s == 'HolidayLease' %>
            <% if @display_bed == "true" %><% unless property['holiday_lease_bedrooms'].blank? %><%= (property['holiday_lease_bedrooms']) ? "<div class='s6-bedroom'><div class='boldf'>#{property['holiday_lease_bedrooms']}</div><div class='s6-bedf'>bed rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_bath == "true" %><% unless property['holiday_lease_bathrooms'].blank? %><%= (property['holiday_lease_bathrooms']) ? "<div class='s6-bedroom'><div class='boldf'>#{property['holiday_lease_bathrooms']}</div><div class='s6-bedf'>bath rooms</div></div>" : "" %><% end %><% end %>
            <% if @display_car == "true" %><%= ((property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i) == 0) ? "" : "<div class='s6-bedroom'><div class='boldf'>#{(property['holiday_lease_carport_spaces'].to_i + property['holiday_lease_garage_spaces'].to_i).to_s}</div><div class='s6-bedf'>car parking</div></div>" %><% end %>
          <% end %>
        </div>
        <div class="s6-col2">
          <div class="s6-address-wrp">
            <% if @display_suburb == "true" %>
              <div class="s6-suburb"><%= property["suburb"].downcase %></div>
            <% end %>
            <% if @display_address == "true" && property["display_address"] == "1"%>
              <div class="s6-address">
                <%= property["unit_number"].blank? ? property["street_number"].downcase : "#{property["unit_number"]}/#{property["street_number"]}".downcase %>&nbsp;<%= property["street"].downcase %>
              </div>
            <% end %>
            <div class="s6-price">
              <% if @display_price == "true" %>
              <% unless property["display_price"].to_i == 0 %>
                <% if !["2","5"].include?(property["status"]) %>
                    <% if property['deal_type'] == 'Lease' %>
                      <%= property["display_price"].to_i == 1 ? (property["commercial_current_rent"].blank? ? "" : "$"+property["commercial_current_rent"]) : property["display_price_text"] %>
                    <% else %>
                      <%= property["display_price"].to_i == 1 ? (property["price"].blank? ? "" : "$"+property["price"]) : property["display_price_text"] %>
                    <% end %>
                <% end %>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="s6-web-url">
            <% if property['type'].to_s == 'ResidentialSale' %>
              <%= property["residential_sale_property_url"].to_s.downcase.gsub("http://", "") %>
            <% end %>
            <% if property['type'].to_s == 'ResidentialLease' %>
              <%= property["residential_lease_property_url"].to_s.downcase.gsub("http://", "") %>
            <% end %>
            <% if property['type'].to_s == 'ProjectSale' %>
              <%= property["project_sale_property_url"].to_s.downcase.gsub("http://", "") %>
            <% end %>
            <% if property['type'].to_s == 'HolidayLease' %>
              <%= property["holiday_lease_property_url"].to_s.downcase.gsub("http://", "") %>
            <% end %>
            <% if property['type'].to_s == 'Commercial' %>
              <%= property["commercial_property_url"].to_s.downcase.gsub("http://", "") %>
            <% end %>
            <% if property['type'].to_s == 'BussinessSale' %>
              <%= property["bussiness_sale_property_url"].to_s.downcase.gsub("http://", "") %>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <% end %>
      <div class="clear"></div>
    <% end %>
    </div>
  <div class="clear"></div>
</div>