<div class="title_block block">
  <h2 class="page_title">Choose Layout</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<form action="<%= choose_layout_agent_office_stock_lists_path(@agent, @office) %>" method="post" name="frm1">
<div id="clientdiv" class="block accounts full">
  <div style="width:80%">
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme1" style="vertical-align:top;" <%= @stock_layout.blank? ? "checked" : (@stock_layout == "theme1" ? "checked" : "") %>/>&nbsp;Template 1
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme1_preview_s.png" >
            <img src='/images/theme/stock_theme1.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme2" style="vertical-align:top;" <%= @stock_layout == "theme2" ? "checked" : "" %> />&nbsp;Template 2
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme2_preview_s.png" >
            <img src='/images/theme/stock_theme2.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme3" style="vertical-align:top;" <%= @stock_layout == "theme3" ? "checked" : "" %> />&nbsp;Template 3
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme3_preview_s.png" >
            <img src='/images/theme/stock_theme3.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme4" style="vertical-align:top;" <%= @stock_layout == "theme4" ? "checked" : "" %> />&nbsp;Template 4
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme4_preview_s.png" >
            <img src='/images/theme/stock_theme4.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme5" style="vertical-align:top;" <%= @stock_layout == "theme5" ? "checked" : "" %> />&nbsp;Template 5
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme5_preview_s.png" >
            <img src='/images/theme/stock_theme5.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme6" style="vertical-align:top;" <%= @stock_layout == "theme6" ? "checked" : "" %> />&nbsp;Template 6
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme6_preview_s.jpg" >
            <img src='/images/theme/stock_theme6.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
      <div class="brochure_layout_wraper h230">
        <div class="layout-opt">
          <input type="radio" name="layout" value="theme7" style="vertical-align:top;" <%= @stock_layout == "theme7" ? "checked" : "" %> />&nbsp;Template 7
        </div>
        <div class="layout-title">
          <a class="thumbnail" href="/images/theme/stocklist_theme1_preview_s.jpg" >
            <img src='/images/theme/stock_theme1.png' style="border:1px solid black;" />
            <div class="magnifier">&nbsp;</div>
          </a>
        </div>
      </div>
  </div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
          <button name="choose_layout" type="submit" value="Update" style="float:right;">Next »</button>
        </td></tr>
      </table>
  </div>
</div>
</form>

<style>
  .layout-opt{width:142px;text-align:center;font-size:10pt;font-weight:bold;margin-bottom:2px;}
  .layout-title{width:142px;text-align:center;}
</style>
<script>
  $(function() {
	$('.layout-title a').lightBox({fixedNavigation:true});
        $('.thumbnail').mouseover(function(){
          $(this).children('.magnifier').css('display','block')
        })
        $('.thumbnail').mouseout(function(){
          $(this).children('.magnifier').css('display','none')
        })
  });
</script>