<% form_remote_tag :html => {}, :url => url_for(:controller => 'offices_d', :action => 'send_export_to_all', :developer_id => @developer.id, :id => @office.id), :loading => "show_loading();", :complete => "show_complete();" do %>
  <div class="group" id="terms">
    <%= hidden_field :portal, :id %>
    <%= hidden_field :portal, :portal_name %>
    <p id='status_area'>You have elected to send an export of ALL of your property listings to <%= @portal.portal_name%> for first time. You are only allowed to do this once so make sure your listings are ready. Once this is complete exports for all updated properties will be sent to <%= @portal.portal_name%> every 2 hours</p>
    <p id='success_area'><%=submit_tag 'SEND EXPORT', :id => 'send_button_' %></p>
  </div>
<% end %>
<div id="text_sending" style="display:none; padding-top:40px; padding-left:200px;"><div class="text"><h4>Sending Export</h4></div></div>
<div id="progressbar" style=" width:100%; display:none; top:5px"><div class="text">0 %</div><div class="progress" style="width: 0%;"><span class="text" style="width: 500px;">0 %</span></div></div>
<div id="complete" style="display:none; padding-top:40px; padding-left:150px;"><div class="text"><h3>Successfully Sent Export</h3></div></div>
<script type = "text/javascript">
var pct=0;
var handle=0;
function update(){
         document.getElementById('text_sending').style.display = 'block';
         document.getElementById('progressbar').style.display = 'block';
         document.getElementById('terms').style.display = 'none';
        $("#progressbar").reportprogress(++pct);
        if(pct==100){
                clearInterval(handle);
                $("#send_button").val("SEND EXPORT");
                pct=0;
        }
}
function show_loading(){
if (document.getElementById('portal_portal_name').value == 'Domain'){
   var finish = 300; 
}
else{
   var finish = 150;
}
handle=setInterval("update()",finish);
}
jQuery(function($){
        $("#send_button").click(function(){
                if(this.value=="SEND EXPORT"){
                        handle=setInterval("update()",100);
                }else{
                        clearInterval(handle);
                        this.value="SEND EXPORT";
                }
        });
        $("#reset").click(function(){
                pct=0;
                $("#progressbar").reportprogress(0);
        });
});
 
  function show_complete(){
    clearInterval(handle);
    document.getElementById('text_sending').style.display = 'none';
    document.getElementById('progressbar').style.display = 'none';
    document.getElementById('status_area').style.display=' none';
    document.getElementById('complete').style.display=' block';
  }

</script>

<style type = "text/css">
#progressbar{
        border:1px solid black;
        width:200px;
        height:20px;
        position:relative;
        color:black; 
}
/* color bar */
#progressbar div.progress{
        position:absolute;
        width:0;
        height:100%;
        overflow:hidden;
        background-color:#369;
}
/* text on bar */
#progressbar div.progress .text{
        position:absolute;
        text-align:center;
        color:white;
}
/* text off bar */
#progressbar div.text{
        position:absolute;
        width:100%;
        height:100%;
        text-align:center;
}
</style>

