<script type="text/javascript">
  function add_speciality(){
    var all_id = $("#specialities_id").val();
    var arry = all_id.split('#');
    var add =0;
    if($("#office_specialities").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#office_specialities").val())){
            add = 1
        }
      }
      if(add != 1){
        var new_specialities = $("#specialities_id").val() + '#' + $("#office_specialities").val()
        $("#specialities_id").attr('value', new_specialities);
        $("#specialities").append('<div id="'+$("#office_specialities").val()+'" style="margin-right:20px;">'+$("#office_specialities option:selected").text()+'\
         <a href="javascript:remove_speciality('+$("#office_specialities").val()+')" style="color:#0E7FC7">x</a></div>');
      }
    }
  }

  function remove_speciality(id){
    var all_id = $("#specialities_id").val();
    var arry = all_id.split('#');
    $("#specialities_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_specialities = $("#specialities_id").val() + '#' + arry[x]
       $("#specialities_id").attr('value', new_specialities);
      }
    }
    $('#specialities div#'+id).remove();
  }

  function update_specialities(){
    var base_ptype = $("#wrap_speciality");
    var controller = "<%= populate_specialities_developer_office_path(@developer,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#office_specialities").attr("disabled","disabled");
        $("#speciality_loading").show();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='office_specialities' name='office_specialities' onchange='add_speciality();' style='width:25%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#speciality_loading").hide();
      }
    });
  }

  $(document).ready(function(){
    $(".ajax-loader").hide();
    $("#speciality_loading").hide();
  });

</script>
<div class="group">
  <h4>Office Specialities</h4>
  <div class="set full leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full" id="table_add_domain">
        <tr>
          <td class="field first_cell">Add Speciality:</td>
           <td class="value">
            <div id="wrap_speciality"><%= select_tag 'office_specialities', options_for_select(@office_specialities, ""), {:class => 'select_box', :style=> "width:25%", :onchange => "add_speciality();"} %></div>
            <div id="speciality_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">&nbsp;</td>
           <td class="value">
            <input type="hidden" id="specialities_id" name="specialities_id" value="<%=@specialities%>" />
            <div id="specialities" style="width:300px;"><%=@list_specialities%></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>