<div class="group">
  <h4>Update Business & Commercial Listings Weekly</h4>
  <div class="set full leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full" id="table_add_domain">
        <tr>
          <td class="field first_cell">
            <%= check_box_tag 'office[update_listing_weekly]', 1, @office.update_listing_weekly, :class => 'checkbox' %>
            <span style="font-style:italic;">(Include update business & commercial listings weekly)</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>