<div class="group">
  <h4>Property Vendor Access</h4>
  <div class="set half leader">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full">
        <tr>
          <th colspan="3" class="first_cell">Property Vendor Access</th>
        </tr>
        <tr>
          <td class="field first_cell">Allow Property Owner Access?</td>
          <td class="value">
            <% if (params[:action] == "new") || (params[:action] == "create") %>
              <%= vendor.check_box :property_owner_access, :class => 'checkbox' %>
            <%else%>
              <%= vendor.check_box :property_owner_access, :class => 'checkbox', :disabled => 'true' %>
            <%end%>
            <span style="font-style:italic;">(Office incurrs extra USD40 charge per month)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">&nbsp;</td>
          <td class="value">
            <%if (params[:action] == "new") || (params[:action] == "create") || !@office.property_owner_access.blank?%>
              <%= vendor.check_box :property_with_owner_details, :class => 'checkbox' %> With owner contact details
            <%else%>
              <%= vendor.check_box :property_with_owner_details, :class => 'checkbox', :disabled => 'true',:checked =>false %> With owner contact details
            <%end%>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">&nbsp;</td>
          <td class="value" colspan="2">
            <%if (params[:action] == "new") || (params[:action] == "create") || !@office.property_owner_access.blank?%>
              <%= vendor.check_box :property_draft_for_new, :class => 'checkbox' %> Draft Status for new listings
            <%else%>
              <%= vendor.check_box :property_draft_for_new, :class => 'checkbox', :disabled => 'true',:checked =>false  %> Draft Status for new listings
            <%end%>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">&nbsp;</td>
          <td class="value" colspan="2">
            <%if (params[:action] == "new") || (params[:action] == "create") || !@office.property_owner_access.blank?%>
              <%= vendor.check_box :property_draft_for_updated, :class => 'checkbox' %> Draft Status for updated listings
            <%else%>
              <%= vendor.check_box :property_draft_for_updated, :class => 'checkbox', :disabled => 'true',:checked =>false %> Draft Status for updated listings
            <%end%>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Include Notes for properties?</td>
          <td class="value">
            <% if (params[:action] == "new") || (params[:action] == "create") %>
              <%= vendor.check_box :notes_for_property, :class => 'checkbox' %>
            <%else%>
              <%= vendor.check_box :notes_for_property, :class => 'checkbox', :disabled => 'true' %>
            <%end%>
            <span style="font-style:italic;">(Office incurrs extra USD40 charge per month)</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">&nbsp;</td>
          <td class="value">
              <%= vendor.check_box :enable_send_email, :class => 'checkbox' %>
            Enable send email to level1 user when<br/> level4 user update a property
          </td>
        </tr>
        <tr>
          <td class="field first_cell">&nbsp;</td>
          <td class="value">
              <%= vendor.check_box :edit_alert, :class => 'checkbox' %>
            Enable send email to level1 user when<br/> level4 user update property headline and/or description.
          </td>
        </tr>
        <!--
        <tr>
          <td class="field first_cell">&nbsp;</td>
          <td class="value" colspan="2">
            <#%= vendor.check_box :property_draft_for_new, :class => 'checkbox' %> Insert vendor details into listing template
          </td>
        </tr>
        -->
      </table>
    </div>
  </div>
  <div class="set half follower">
    <div class="group">
      <table cellpadding="0" cellspacing="0" class="full">
        <tr>
          <th colspan="2" class="first_cell">Payment per Listing through the System</th>
        </tr>
        <tr>
          <td class="field first_cell">Payment Required</td>
          <td class="value">
            <%= vendor.check_box :property_payment_required, :class => 'checkbox' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Paypal Account</td>
          <td class="value">
            <%= vendor.text_field :office_paypal_account, :class => 'single'%>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Cost per Listing</td>
          <td class="value">
            <%= vendor.text_field :property_listing_cost, :class => 'single', :style => "width:10%" %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Currency</td>
          <td class="value">
<%= vendor.text_field :office_currency_code, :class => 'single', :style => "width:10%" %>&nbsp;&nbsp;<span id="open_currency" style="cursor:pointer;color: blue">codes</span><%= select_tag "country_code_option",options_for_select(Country.find(:all,:conditions=>'currency_code is NOT NULL',:select=>"currency_code,name").map{|x|["#{x.name} - #{x.currency_code}",x.currency_code]}),:onclick=>'$("#office_office_currency_code").val($(this).val());' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="clearer"/>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#country_code_option").hide();
  });
  $("#open_currency").bind("click",function(){
      $("#country_code_option").show();
      $(this).hide();
  });
</script>