<style>
  td.first_cell {
    padding-left:4px;
    vertical-align:middle;
    width:315px;
  }
</style>
<script type="text/javascript">
  var newwindow;
  function poptastic(url)
  {
    newwindow=window.open(url,'name','height=screen.height,width=screen.width,resizable=yes,scrollbars=yes,toolbar=yes,status=yes');
    if (window.focus) {newwindow.focus()}
  }

  function check_field(){
    var status = 0;
    var include_local = 0;
    var invalid_ipn = 0;
    var invalid_url = 0;
    for(var i=0; i < $('#count_field').val(); i++){
      if($('#domain_name'+i).val() == '') status = 1;
      if($('#domain_ipn'+i).val() == '') status = 1;
      if($('#domain_ipn'+i).val().toLowerCase().indexOf("localhost") >= 0) include_local = 1;
      if($('#domain_ipn'+i).val().toLowerCase().indexOf("/index.php") < 0) invalid_ipn = 1;
      if(isUrl($('#domain_name'+i).val()) == false || isUrl($('#domain_ipn'+i).val()) == '') invalid_url = 1;
    }
    if(status == 1){
      alert("Please Fill Domain Name and Property Notification");
    }else{
      if(invalid_url == 1){
        alert("Please Fill Valid Domain Name and Property Notification");
      }else{
        if(include_local == 1){
          alert("Url can not include localhost address!");
        }else{
          if(invalid_ipn == 1){
            alert("Please Fill a valid Property Notification eg: http://yourdomain.com/index.php ");
          }else{
            $('#update_form').submit();
          }
        }
      }
    }
  }

  function isUrl(str) {
    var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
    var regexp = new RegExp(expression);
    return regexp.test(str);
  }
</script>
<%unless @office.blank?%>
  <% if flash[:url_invalid] %>
    <div class="errortext pf_error" style="margin-bottom: 15px;padding:10px"><%= flash[:url_invalid] %></div>
  <% end %>
  <% form_for :office, @office, :url => "/developers/#{@developer.id}/offices/#{@office.id}/update_office_api", :html => {:multipart => true, :method => :put, :class => 'update_form', :name => 'update_form', :id => 'update_form'} do |f| %>
    <h2><%= @office.agent.name + " - " + @office.name %></h2><br/><br/>

    <p>The API is where you access ALL information entered by an office. This data is transfered through 2 XMLs, a
      property listing XML and a team member XML. Each XML is protected by an Access and Private Key so you can be sure your client's data is safe. More information in relation to the API can be found <a href="http://www.commercialloopcrm.com.au/api" target="_blank">here</a></p>

    <div class="block form">
      <div class="group" style="background-color: #E1EBF5;">
        <h2 class="nomargin">XML API</h2><br/>
        <%= f.check_box :xml_api_enable %>Enable XML API<br/><br/>
        <p><a href="http://www.commercialloopcrm.com.au/api/export-data-agent-websites-apps/xml-api/"> Commercial Loop CRM XML API documentation</a></p>
        <h3>Property Listing XML</h3>
        <table cellspacing="0" cellpadding="0" class="export_settings_table full">
          <tr>
            <td class="field first_cell">Office ID:</td>
            <td class="value">
              <%= @office.id %>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url (available/under_offer)</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&page=1');">http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&page=1</a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url (withdrawn)</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&withdrawn=1&page=1');">http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&withdrawn=1&page=1</a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url (sold/leased)</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&sold_leased=1&page=1');">http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&sold_leased=1&page=1</a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url (Newly Updated)</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&updated');">http://api.commercialloopcrm.com.au/api/properties?office_id=<%=@office.id%>&updated</a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Access Key:</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <%= @office.agent.access_key %>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Private Key:</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <%= @office.agent.private_key %>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
        </table>
        <br/>

        <h3>Team Member XML</h3>
        <table cellspacing="0" cellpadding="0" class="export_settings_table full">
          <tr>
            <td class="field first_cell">Office ID:</td>
            <td class="value">
              <%= @office.id %>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/agents?office_id=<%=@office.id%>')">http://api.commercialloopcrm.com.au/api/agents?office_id=<%=@office.id%></a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url (Newly Updated)</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/agents?office_id=<%=@office.id%>&updated')">http://api.commercialloopcrm.com.au/api/agents?office_id=<%=@office.id%>&updated</a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Access Key:</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <%= @office.agent.access_key %>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Private Key:</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <%= @office.agent.private_key %>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
        </table>

        <h3>Office XML</h3>
        <table cellspacing="0" cellpadding="0" class="export_settings_table full">
          <tr>
            <td class="field first_cell">Office ID:</td>
            <td class="value">
              <%= @office.id %>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">XML Url</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <a href = "#" onclick="javascript:poptastic('http://api.commercialloopcrm.com.au/api/offices?office_id=<%=@office.id%>')">http://api.commercialloopcrm.com.au/api/offices?office_id=<%=@office.id%></a>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Access Key:</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <%= @office.agent.access_key %>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
          <tr>
            <td class="field first_cell">Private Key:</td>
            <td class="value">
              <%unless @office.status == 'inactive'%>
                <%= @office.agent.private_key %>
              <%else%>
                N/a
              <%end%>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="block form">
      <div class="group"style="background-color: #E1EBF5;">
        <h2 class="nomargin">Commercial Loop CRM Super API</h2><br/>
        <%= render :partial => 'websites', :object => f %>
      </div>
    </div>
    <div class="block form">
      <div class="group" style="background-color: #E1EBF5;">
        <h2 class="nomargin">HTTP API (deprecated)</h2><br/>
        <p><a href="http://www.commercialloopcrm.com.au/api/http-api/"> Commercial Loop CRM HTTP API documentation</a></p>
        <%= f.check_box :http_api_enable%>Enable HTTP API<br/><br/>
        <%= render :partial => 'domain', :object => f %>
      </div>
    </div>
    <div class="action_button">
      <button name="update" type="button" value="Update" onclick="check_field();">
        <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Update
      </button>
      <span>or&nbsp;&nbsp;</span>
      <% link_to developer_offices_path(@developer, :agent => @agent) do %>
        <%= image_tag 'icons/famfamfam/cancel.png', :alt => 'cancel' %> Cancel
      <% end %>
    </div>
  <% end %>
<%end%>
