<% content_for :head do %>
  <script type="text/javascript">
    function tb_remove_ajax() {
      window.location = "";
    }
  </script>
<%  end %>
<div class="block accounts full" id="accountdiv">
  <h2>Exports Settings: <%= @office.name %></h2>
  <% form_for :export, :url => update_export_setting_developer_office_path(@developer, @office), :html => {:method => :put, :class => 'results_filter_form', :name => 'update_form', :id => 'update_form'} do |f| %>
    <div class="group">
      <div id="alert" style="display:none;"></div>
      <table cellspacing="0" cellpadding="0" class="export_settings_table full">
        <tbody><tr>
            <th class="first_cell"><a title="" href="#">Portal</a></th>
            <th>Account ID</th>
            <th><a title="" href="#">Active Feeds</a></th>
            <th><a title="" href="#">Automatically Subscribe</a></th>
            <th>Feed Frequency</th>
          </tr>
          <% unless @portal_countries.blank? %>
          <% @portal_countries.each do |p_c| %>
            <tr class="alt">
              <td class="td_portal_name first_cell">
                <%= portal_display_name(p_c.portal) %>
              </td>
              <td class="td_account_id">
                <% portal_account = PortalAccount.find_by_portal_name_and_office_id(p_c.portal.portal_name, @office.id) %>
                <% if p_c.portal.require_account_id == 1 %>
                  <%= text_field_tag "account_id_#{p_c.portal.id}", "#{portal_account.account_id if portal_account and portal_account.office_id}", :class => "single",:id =>"account_id_#{p_c.portal.id}" %>
                  <span id="required_account_id_<%= p_c.portal.id %>" style="display: none;color:red;">Required field</span>
                <% end %>
              </td>
              <% portal_account = PortalAccount.find_by_sql("SELECT * FROM portal_accounts WHERE portal_name = '#{p_c.portal.portal_name}' AND office_id = #{@office.id}")[0] %>
              <td class="td_portal_feeds">
                <%= hidden_field("active_feeds", "#{p_c.portal.id}", :value => portal_account.blank? ? '0' : portal_account.active_feeds )%>
                <% unless portal_account.blank? %>
                  <% checked = portal_account.active_feeds == '1' ? true : false %>
                  <%= check_box_tag "portal_feeds[]", "#{p_c.portal.id}", checked, {:id=>"checkbox_#{p_c.portal.id}",:onclick =>"hide_me(#{p_c.portal.id});"} %>
                <%else%>
                  <%= check_box_tag "portal_feeds[]", "#{p_c.portal.id}", false, {:id=>"checkbox_#{p_c.portal.id}",:onclick =>"hide_me(#{p_c.portal.id});"} %>
                <%end%>
              </td>

              <% portal_autosubcribe = PortalAutosubcribe.find_by_sql("SELECT * FROM portal_autosubcribes WHERE portal_id = '#{p_c.portal.id}' AND office_id = #{@office.id}")[0] %>
              <td class="td_portal_feeds">
                <% checked = portal_autosubcribe.blank? ?  false : true %>
                <%= check_box_tag "portal_autos[]", "#{p_c.portal.id}", checked, {:id=>"checkauto_#{p_c.portal.id}",:onclick =>"autosubcribe(#{p_c.portal.id});"} %>
              </td>

              <td class="td_portal_feed_frequency lite">Every <%= p_c.portal.timeframe %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody></table>
      <div class="clearer"/>
      </div>
      <div class="action_button">
        <button value="Update" type="button" name="update" onclick="check_account();">
          <img height="16" width="16" alt="pencil" src="/images/icons/famfamfam/pencil.png"/>
          Update
        </button>
      </div>
    </div>
  <% end %>
</div>

<div class="block accounts full" id="accountdiv">
  <h2>Domain Projects: <%= @office.name %></h2>
  <% form_for :domain_projects, :url => update_domain_projects_developer_office_path(@developer, @office), :html => {:method => :put, :class => 'results_filter_form'} do |f| %>
    <div class="group">
      <table cellspacing="0" cellpadding="0" class="export_settings_table full">
        <tbody>
          <tr>
            <th class="first_cell">Project Name</th>
            <th>Domain ID</th>
            <th style="padding-right:15px">Enable to Appear</th>
            <th>Action</th>
          </tr>
          <% if @domain_projects.present? %>
            <% @domain_projects.each do |project| %>
              <tr>
                <td>
                  <input type="text" name="domain_projects[][project_name]" value="<%= project.project_name %>" class="single" style="width:495px;"/>
                </td>
                <td>
                  <input type="text" name="domain_projects[][domain_id]" value="<%= project.domain_id %>" class="single" style="width:495px;"/>
                  <input type="hidden" name="domain_projects[][id]" class="single" value="<%= project.id %>" />
                </td>
                <td>
                  <input <%= project.enabled ? "checked" : "" %> name="domain_projects[]enabled" type="checkbox" value="1" class="domain_projects_checkbox" >
                </td>
                <td>
                  <%= link_to "Delete", delete_domain_project_developer_office_path(@developer, @office)+"?project_id=#{project.id}", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td>
              <input type="text" name="domain_projects[][project_name]" class="single" style="width:495px;"/>
            </td>
            <td>
              <input type="text" name="domain_projects[][domain_id]" class="single" style="width:495px;"/>
            </td>
            <td>
              <input  name="domain_projects[][enabled]" type="checkbox" value="1" class="domain_projects_checkbox" >
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr class="add_row">
            <td colspan="4"><a href="#new_row" onclick="add_domain_project()">Add a new row</a></td>
          </tr>
        </tbody>
      </table>
      <div class="action_button">
        <button value="Update" type="submit" name="update">
          <img height="16" width="16" alt="pencil" src="/images/icons/famfamfam/pencil.png"/>
          Update
        </button>
      </div>
    </div>
    <div class="clearer"/>
    </div>
  <% end %>
</div>

  <script  type="text/javascript">
    $(document).ready(function(){
      $('input:checkbox').each( function() {
        var id = $(this).attr("id").split("_")[1];
        if($("#checkbox_"+id).attr("checked")){
          $("#send_"+id).show();
          $("#account_id_"+id).attr('disabled','');
          $("#send_"+id).click(function (){
            $("#alert").show();
          });
        }else{
          $("#send_"+id).hide();
          if($("#account_id_"+id).val() == ''){
            $("#account_id_"+id).attr('disabled','disabled');
          }
        };
      });
    });
    function hide_me(id){
      $("#send_"+id).hide();
      if($("#account_id_"+id).val() == ''){
        $("#account_id_"+id).attr('disabled','disabled');
      }
      $("#active_feeds_"+id).val("0");
      $("#checkauto_"+id).attr("checked", "");
      if($("#checkbox_"+id).attr("checked")){
        $("#checkauto_"+id).attr("checked", "checked");
        $("#account_id_"+id).attr('disabled','');
        $("#send_"+id).show();
        $("#active_feeds_"+id).val("1");
      };
    }

    function autosubcribe(id){
      $("#checkbox_"+id).attr("checked", "checked");
      if($("#checkbox_"+id).attr("checked")){
        $("#account_id_"+id).attr('disabled','');
        $("#send_"+id).show();
        $("#active_feeds_"+id).val("1");
      };
    }

    function add_domain_project(){
      $('<tr><td><input type="text" name="domain_projects[][project_name]" class="single" style="width:495px;"/></td><td><input type="text" name="domain_projects[][domain_id]" class="single" style="width:495px;"/></td><td><input name="domain_projects[]enabled" type="checkbox" value="1"></td><td>&nbsp;</td></tr>').insertBefore(".add_row");
      return false;
    }

    function check_account() {
      var check = true;
      $(':checkbox:checked').each(function(i){
        val = $(this).val();
        if(!$(this).hasClass("domain_projects_checkbox"))
        if ($('#account_id_' + val).length > 0){
          if ($('#account_id_' + val).val() == ""){
            $('#required_account_id_' + val).show();
            check = false;
          }else{
            $('#required_account_id_' + val).hide();
          }
        }
      });

      if (check){
        var answer = confirm ("Updating export settings could affect which portals a particular property in this office is NOT susbcribed to. Do you still wish to continue? ")
        if(answer){
          $('#update_form').submit();
        }
      }
    }
  </script>
  <script  type="text/javascript">
    function loading(){
    }
  </script>
