<div style="padding:5px;vertical-align:middle;">
<% form_tag logo_developer_agent_office_path(@developer,@agent,@office), :multipart => true do %>
  <% if flash.now[:notice] %>
    <div style="font-weight:bold;padding: 1px 5px 1px 5px;margin-bottom:5px;background:#FFFFCC url('/images/icons/icon_info.gif') no-repeat scroll 10px center;">
      <p style="margin-left:50px;"><%= h flash.now[:notice] %></p>
    </div>
  <% end %>
  <%= file_field_tag 'logo[uploaded_data]' %>
  <%= hidden_field_tag 'type', params[:type] %><br/>
  <%= hidden_field_tag 'logo[order]', params[:type] %>
  <%= submit_tag 'Upload' %>
<% end %>
</div>