<div style="text-align:center;width:450px;margin-bottom:5px;"><b>Propertylister Office Signup</b></div>
<% form_for :office, @office, :url => create_office_developer_agent_offices_path(@developer, @agent), :html => {:class => 'update_form', :name => 'create_form', :id => 'create_form'} do |form| %>
<%if !@office.errors.blank? || !@agent_user.errors.blank?%>
  <div id="errorExplanation" class="errorExplanation">
    <p>There were problems with the following fields:</p>
    <% [{:klass => :office, :kolumn => :name}, {:klass => :office, :kolumn => :country}, {:klass => :office, :kolumn => :status}, {:klass => :office, :kolumn => :developer_contact_id}, {:klass => :office, :kolumn => :support_contact_id}, {:klass => :office, :kolumn => :update_contact_id}, {:klass => :agent_user, :kolumn => :first_name}, {:klass => :agent_user, :kolumn => :last_name}, {:klass => :agent_user, :kolumn => :email}, {:klass => :agent_user, :kolumn => :login}, {:klass => :agent_user, :kolumn => :password}, {:klass => :agent_user, :kolumn => :password_confirmation}].each do |x| %>
      <ul style="padding:0">
        <% error_message = error_message_on x[:klass], x[:kolumn], Kernel.const_get(x[:klass].to_s.camelize).human_attribute_name(x[:kolumn].to_s) + ' ' %>
        <% if !error_message.blank? %><li><%= error_message %></li><% end %>
      </ul>
    <% end %>
  </div>
<% end %>
<div style="width:450px;">
<div id="helpdiv" class="block help full">
  <% if flash.now[:notice] %>
    <div class='group'>
      <p class="help_message"><%= h flash.now[:notice] %></p>
    </div>
  <% end %>
</div>
<div class="set leader">
      <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th colspan="2" class="first_cell">Office Details</th>
        </tr>
        <tr>
          <td class="field first_cell">Client Name:</td>
          <td class="value">
            <span><%= h @agent.name unless @agent.blank? %></span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Client Office:</td>
          <td class="value">
            <%= form.text_field :name, :class => 'single' %>
            <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Country:</td>
          <td class="value">
             <%= form.select :country, @countries, :class => 'select_box', :selected => @agent.country %>
             <span style="color:red;font-weight:bold;">*</span>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Suburb:</td>
          <td class="value">
            <%= form.text_field :suburb, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">State:</td>
          <td class="value">
            <%= form.text_field :state, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Postcode:</td>
          <td class="value">
            <%= form.text_field :zipcode, :class => 'single' %>
            <!-- should with noenter class -->
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Unit/Office Number:</td>
          <td class="value">
            <%= form.text_field :unit_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Number:</td>
          <td class="value">
            <%= form.text_field :street_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Street Name/Type:</td>
          <td class="value">
            <%= form.text_field :street, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Phone:</td>
          <td class="value">
            <%= form.text_field :phone_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Fax:</td>
          <td class="value">
            <%= form.text_field :fax_number, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Office Email:</td>
          <td class="value">
            <%= form.text_field :email, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <td class="field first_cell">Website:</td>
          <td class="value">
            <%= form.text_field :url, :class => 'single' %>
          </td>
        </tr>
        <tr>
          <th colspan="2" class="first_cell">Office Contact</th>
        </tr>
          <% fields_for :agent_user, @agent_user do |as| %>
            <tr>
              <td class="field first_cell">First Name:</td>
              <td class="value">
                <%= as.text_field :first_name, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Last Name:</td>
              <td class="value">
                <%= as.text_field :last_name, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Email:</td>
              <td class="value">
                <%= as.text_field :email, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>

            <tr>
              <td class="field first_cell">Username:</td>
              <td class="value">
                <%= as.text_field :login, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Password:</td>
              <td class="value">
                <%=  as.password_field :password, :class => 'single'  %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
            <tr>
              <td class="field first_cell">Retype Password:</td>
              <td class="value">
                <%=  as.password_field :password_confirmation, :class => 'single' %>
                <span style="color:red;font-weight:bold;">*</span>
              </td>
            </tr>
          <%end%>
        <tr>
          <td class="value" colspan="2">
            Require importation of listings from Realestate.co.au <br/>(compulsory if your listings are already on Realestate.com.au)
            <%= form.check_box :require_import, :class => 'checkbox' %>
          </td>
        </tr>
      </table>
  </div>
    <div class="action_button">
    <button name="create" type="button" value="Create" onclick="$('#create_form').submit();">
      <img src="/images/icons/famfamfam/pencil.png" alt="pencil" width="16" height="16"/> Create
    </button>
    </div>
</div>
<% end %>