<div class="group">
<div class="set half leader">
<div class="group">
<table cellpadding="0" cellspacing="0" class="update_table full">
<tr>

<th colspan="2" class="first_cell">Team Member Details</th>
</tr>
<tr>
  <td class="field first_cell">First Name:</td>
  <td class="value">
    <%= f.text_field :first_name, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Last Name:</td>
  <td class="value">
    <%= f.text_field :last_name, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Email:</td>
  <td class="value">
    <%= f.text_field :email, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Phone:</td>

  <td class="value">
    <%= f.text_field :phone, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Fax:</td>
  <td class="value">
    <%= f.text_field :fax, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Mobile:</td>

  <td class="value">
    <%= f.text_field :mobile, :class => 'single' %>
  </td>
</tr>
<tr>
<td class="field first_cell">IM Name:</td>
<td class="value field_im"><!-- NOTE TO DEVELOPER: This is different than the other team forms. May I have this class "field_im" on this cell? Thanks! -->
  <%= f.text_field :im_username, :class => 'single' %>
  <label class="field">IM Service:&nbsp;</label>
  <%= f.select :im_service, im_services, :class => 'select_box' %>
</td>
</tr>
</table>
</div>
</div>

<div class="set half follower">

<div class="group">
<table cellpadding="0" cellspacing="0" class="update_table full">
<tr>
  <td class="field first_cell">Username:</td>
  <td class="value">
    <%= f.text_field :login, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Password:</td>

  <td class="value">
    <%= f.password_field :password, :class => 'single' %>
  </td>
</tr>
<tr>
  <td class="field first_cell">Retype Password:</td>
  <td class="value">
    <%= f.password_field :password_confirmation, :class => 'single' %>
  </td>
</tr>
<tr>
<td class="field first_cell">Team Member Access:</td>

<td class="value">
  <%= f.select :access_level, admin_user_access_level %>
</td>

</tr>
  <% unless @admin_user.new_record? %>
    <tr>
    <td class="field first_cell" style="vertical-align: top;">Photo:<br /><small class="lite">Should be exactly<br />50 x 50 and under 50 KB.</small></td>
    <td class="value">
    <div class="pack file_button">
      <%= file_field_tag "avatar[uploaded_data]" %>
    </div>

    <div class="file_show">
      <%= image_tag( @admin_user.avatar.blank? ? "/images/me_manga_178.jpg" : @admin_user.avatar.public_filename, :width => '100px', :height => '125px', :alt => @admin_user.full_name) %>
    </div>
    <div class="clearer"></div>
    <div class="action_button">
    <button name="photosubmit" type="button" value="Upload Photos" onclick="$('#update_form').submit();">
      <%= image_tag("/images/icons/famfamfam/picture_add.png", :alt => 'picture_add', :width => '16', :height => '16') %>
      Upload Photo
    </button>

    </div>
    </td>
    </tr>
  <% end %>
</table>
</div>
</div>

<div class="clearer"></div>
</div>

