<p>
  <b>Password:</b>
  <%=h @admin_user.password %>
</p>

<p>
  <b>Password confirmation:</b>
  <%=h @admin_user.password_confirmation %>
</p>

<p>
  <b>First name:</b>
  <%=h @admin_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @admin_user.last_name %>
</p>

<p>
  <b>Login:</b>
  <%=h @admin_user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @admin_user.email %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @admin_user.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%=h @admin_user.phone %>
</p>

<p>
  <b>Description:</b>
  <%=h @admin_user.description %>
</p>


<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_users_path %>
