<ul id="allfirms">
<% unless contacts.blank? %>
  <% for contact in contacts do %>
    <li id="<%= contact.id %>"><span><%= contact.full_name %></span></li>
  <% end %>
<% else %>
    <li id=""><span style="color:red;">Contact does not Exist</span></li>
<% end %>
</ul>
