<% form_for :property, @property, :url => update_brochure_agent_office_property_media_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :class => "mediaform full", :id => "propertybrochureform" } do |f| %>
  <div class="group">

    <h3 style="float:left;">Property Brochure Gallery </h3>
    <p>&nbsp;(* File types allowed: pdf)</p>
    <div style="clear:float;"></div>
    <div class="block full" >
      <div id="brochure_images">
        <% @property.brochure.find(:all, :conditions => "`send_to_api` IS NULL OR `send_to_api` = 1", :order => "`position`").each do |b| %>
          <div class="set brochure_image" id="brochure_<%= b.id %>"  onmouseover="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'visible';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'visible';} ;" onmouseout="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'hidden';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'hidden';} ;">
            <fieldset class="pbrochure_fs<%= b.position + 1 %>">
              <ul>
                <li>
                  <h4><%= b.position %></h4>
                  <% if b.new_record? %>
                    <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
                  <% else %>
                    <div class="file_show">
                      <%= b.title %><br />
                      <%= link_to 'View', b.public_filename, :target => '_blank' %> |
                      <%= link_to_remote image_tag('/images/delete.gif'), :url => destroy_brochure_agent_office_property_media_path(@agent, @office, @property, :image_id => b.id),
                        :method => :delete, :class => "delete_btn", :confirm => "Are you sure to delete this?" %>
                    </div>
                  <% end %>
                  <%= hidden_field_tag "images[][id]", b.id %>

                  <div class="clearer"></div>
                  <label><span>Title:</span></label>
                  <input type="text" id="images__description" value="<%=b.description%>" class="single fldrequired" onfocus="this.parentNode.childNodes[this.parentNode.childNodes.length-2].style.visibility = 'visible';" />
                  <input style="visibility: hidden" type="button" value="Update" onclick="var desc,_this = this;if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-5];}else{desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-4]} ;$.post('/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/media/update_description', { media_type:'brochure', media_id:'<%=b.id%>',description:desc.value},function(data){desc.value = data;});return false;"></input>
                </li>
              </ul>
            </fieldset>
          </div>
        <%end %>
      </div>
      <div class="clearer"></div>
    </div>
  </div>

  <div class="action_button">
    <span id="brochure_action_button"></span>
    <button name="brochuresubmit" type="submit" value="Upload Brochure" onclick="brochure_uploader.startUpload();return false;" id="btn_upload">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
      Upload Brochure
    </button>
  </div>

<% end %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    //update_brochure_button(<#%#= Property::MAX_BROCHURE %>);
  });
</script>

<script type="text/javascript">
$(function() {
  $("#brochure_images").sortable({
    opacity: 0.6,
    cursor: 'move', update: function() {
      var order = $(this).sortable("serialize");
      $.post("<%= agent_office_property_media_path(@agent, @office, @property) + "/sort_brochure" %>", order, function(theResponse){
        update_orders('brochure_image');
      });
     }
    });
});
</script>
