<% form_for :property, @property, :url => update_plans_agent_office_property_media_path(@agent, @office, @property, :come_from => params[:come_from]), :html => { :multipart => true, :class => "mediaform full", :id => "propertyplansform" } do |f| %>
  <% unless @plan_errors.blank? %>
    <div style='background-color: #EF4123; margin: 0 0 18px; padding: 0px; text-align: left; font-size: 18px; line-height: 24px; color: #fff;'>
      <ul>
        <% @plan_errors.each do |k,v|%>
          <li ><%=v%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <div class="group">
    <h3 style="float:left;">Property Plans Gallery </h3>
    <p>&nbsp;(* File types allowed: jpeg, jpg, gif)</p>
    <div style="clear:float;"></div>
    <div class="block full" >
      <div id="plan_images">
        <%= render :partial => 'media/plan', :collection => @property.floorplans %>
      </div>

      <div class="clearer"></div>
    </div>

  </div>

  <div class="action_button">
    <span id="floorplan_action_button"></span>
    <button name="photosubmit" type="submit" value="Upload Floorplans" onclick="plans_uploader.startUpload();return false;" id="btn_upload">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
      Upload Floorplans
    </button>
  </div>

<% end %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    update_plan_button(<%= Property::MAX_PLAN %>);
  });
</script>

<script type="text/javascript">
$(function() {
  $("#plan_images").sortable({
    opacity: 0.6,
    cursor: 'move', update: function() {
      var order = $(this).sortable("serialize");
      $.post("<%= agent_office_property_media_path(@agent, @office, @property) + "/sort_plans" %>", order, function(theResponse){
        update_orders('plan_image');
      });
     }
    });
});
</script>
