<% form_for :uploaded_video, @uploaded_video, :url => update_simple_uploaded_video_agent_office_property_media_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :id => 'upload', :class => "mediaform full" } do |f| %>
  <div class="group">

      <h3 style="float:left;">Property Video Gallery</h3>
      <p>&nbsp;(* File types allowed: mp4, mov)</p>
      <div style="clear:float;"></div>
      <div class="block full">
        <div class="set video_image" id="uploaded_video_<%= @property.uploaded_video.id %>">
        <fieldset class="puploaded_video_fs1">
          <ul><li>
              <% if @uploaded_video.new_record? %>
                <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
              <% else %>
                <div class="file_show">
                  <%= image_tag(@property.uploaded_video.public_filename(:thumb), :style => "width: 100px; height: 65px;") %><br />
                  <%= link_to 'View', @property.uploaded_video.public_filename, :target => '_blank' %>
                  <%#= link_to_remote image_tag('/images/delete.gif'), :url => destroy_uploaded_video_agent_office_property_media_path(@agent, @office, @property, :image_id => @property.uploaded_video.id),
                      :method => :delete, :class => "delete_btn", :confirm => "Are you sure to delete this?" %>
                  <%= link_to_remote image_tag('/images/delete.gif', :id => "del_img_#{@property.uploaded_video.id}"), :url => destroy_uploaded_video_agent_office_property_media_path(@agent, @office, @property, :image_id => @property.uploaded_video.id),
                      :method => :delete, :confirm => "Are you sure to delete this image", :html => {:class => "delete_btn"}, :after => "$('#del_img_#{@property.uploaded_video.id}').attr('src', '/images/search-loader.gif')" %>
                </div>
              <% end %>
              <div class="clearer"></div>
              <label><span>Name:</span></label>
              <input type="text" id="uploaded_video_description" name="uploaded_video[description]" value="<%=@property.uploaded_video.description%>" class="single fldrequired" />
          </li></ul>
          <div class="pack file_button"><%= f.file_field :uploaded_data, :size => 0 %></div>
        </fieldset>
        </div>
        <div class="clearer"></div>
      </div>
    </div>
    <div class="action_button">
      <button name="brochuresubmit" type="submit" value="Upload Video" id="btn_upload">
        <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
        Upload Video
      </button>
    </div>
<% end %>
