<div class="set brochure_image" id="brochure_<%= b.id %>">
  <fieldset class="pbrochure_fs<%= b.position + 1 %>">
    <ul>
      <li>
        <h4><%= b.position %></h4>
        <% if b.new_record? %>
          <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
        <% else %>
          <div class="file_show">
            <%= b.title %><br />
            <%= link_to 'View', b.public_filename, :target => '_blank' %> |
            <%= link_to_remote image_tag('/images/delete.gif'), :url => destroy_brochure_agent_office_property_media_path(@agent, @office, @property, :image_id => b.id),
              :method => :delete, :class => "delete_btn", :confirm => "Are you sure to delete this?" %>
          </div>
        <% end %>
        <%= hidden_field_tag "brochures[][id]", b.id %>

        <div class="clearer"></div>
        <label><span>Title:</span></label>
        <%= text_field_tag "brochures[][description]", b.description, :class => "single fldrequired" %>
      </li>
    </ul>
    <div class="pack file_button"><%= file_field_tag "brochures[][uploaded_data]" %></div>
  </fieldset>
</div>