<% form_for :property, @property, :url => update_uploaded_video_agent_office_property_media_path(@agent, @office, @property, :come_from => request.request_uri), :html => { :multipart => true, :class => "mediaform full", :id => "propertyupladedvideoform" } do |f| %>
  <div class="group">

    <h3 style="float:left;">Upload MP4 video</h3>
    <p>&nbsp;(* File types allowed: mp4, mov)</p>
    <div style="clear:float;"></div>
    <div class="block full" >
      <div id="uploaded_video">
        <% unless @property.uploaded_video.blank? %>
          <div class="set video_image" id="video_<%= @property.uploaded_video.id %>"  onmouseover="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'visible';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'visible';} ;" onmouseout="if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ this.childNodes[0].childNodes[0].childNodes[0].childNodes[this.childNodes[0].childNodes[0].childNodes[0].childNodes.length-3].style.visibility = 'hidden';}else{this.childNodes[1].childNodes[1].childNodes[1].childNodes[this.childNodes[1].childNodes[1].childNodes[1].childNodes.length-2].style.visibility = 'hidden';} ;">
            <fieldset class="puploaded_video_fs1">
              <ul>
                <li>
                  <h4>1</h4>
                  <% if @property.uploaded_video.new_record? %>
                    <div class="file_show"><%= image_tag('/images/default_avatar.jpg', :style => "width: 100px; height: 65px;") %><br />&nbsp;</div>
                  <% else %>
                    <div class="file_show">
                      <%= image_tag(@property.uploaded_video.public_filename(:thumb), :style => "width: 100px; height: 65px;") %><br />
                      <%= link_to 'View', @property.uploaded_video.public_filename, :target => '_blank' %> |
                      <%= link_to_remote image_tag('/images/delete.gif'), :url => destroy_uploaded_video_agent_office_property_media_path(@agent, @office, @property, :image_id => @property.uploaded_video.id),
                        :method => :delete, :class => "delete_btn", :confirm => "Are you sure to delete this?" %>
                    </div>
                  <% end %>
                  <%= hidden_field_tag "images[][id]", @property.uploaded_video.id %>

                  <div class="clearer"></div>
                  <label><span>Name:</span></label>
                  <input type="text" id="images__description" value="<%=@property.uploaded_video.description%>" class="single fldrequired" onfocus="this.parentNode.childNodes[this.parentNode.childNodes.length-2].style.visibility = 'visible';" />
                  <input style="visibility: hidden" type="button" value="Update" onclick="var desc,_this = this;if(/msie/.test(navigator.userAgent.toLowerCase()) && !/opera/.test(navigator.userAgent.toLowerCase())){ desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-5];}else{desc = _this.parentNode.childNodes[_this.parentNode.childNodes.length-4]} ;$.post('/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/media/update_description', { media_type:'floorplan', media_id:'<%@property.uploaded_video.id%>',description:desc.value},function(data){desc.value = data;});return false;"></input>
                </li>
              </ul>
            </fieldset>
          </div>
        <%end %>
      </div>
      <div class="clearer"></div>
    </div>
  </div>

  <div class="action_button">
    <span id="uploaded_video_action_button"></span>
    <button name="uploaded_videosubmit" type="submit" value="Upload Video" onclick="video_uploader.startUpload();return false;" id="btn_upload">
      <img src="/images/icons/famfamfam/picture_add.png" alt="picture_add" width="16" height="16"/>
      Upload Video
    </button>
  </div>
<% end %>
