<div class="group">
  <h3>Property video gallery</h3>
  <div class="block full" >
    <table>
      <tr>
        <td width="670">
          <div id="api_wraper">
            <div id="ytapiplayer">
              You need Flash player 9+ and JavaScript enabled to view this video.
            </div>
          </div>
          <div id="video_div" style="position:relative;text-align:center;">
            <img src="/images/loadingAnimation.gif" id="loader" style="display:none;position:absolute;top:100px;left:200px;"></img>
          </div>
        </td>
        <td>
          <table>
            <tr><td><b>No</b></td><td><b>Title</b></td><td><b>Actions</b></td></tr>
            <% if @property.property_videos.size > 0 %>
                <% @property.property_videos.each_with_index do |video, index| %>
                <tr><td><%= index.to_i + 1  %></td>
                  <td><%= video.title %></td>
                  <td>
                    <% if video.status == true %>
                      <a href="javascript:void(0);" onclick="load(<%= video.id %>, 1);">Load</a> |
                    <% else %>
                      <% if video.status.nil? %>
                      <a href="javascript:void(0);" onclick="load('<%= video.youtube_id %>', 0);">Play</a> |
                      <a href="javascript:void(0);" onclick="stop();">Stop</a> |
                      <a href="javascript:void(0);" onclick="pause();">Pause</a> |
                      <% end %>
                    <% end %>
                    <%= link_to "Delete", destroy_youtube_video_path(@agent, @office, @property, video), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :style => "color:red;" %></td></tr>
               <% end %>
            <% else %>
               <tr><td colspan="3">There is no video.</td></tr>
            <% end %>
          </table>
          <br/>
          <table>
            <tr>
              <td colspan="3">
                <!-- Upload to youtube -->
                <% unless @token_url.blank? %>
                  <b>Upload Video to youtube</b>
                  <form action="<%= @upload_url %>" method="post" enctype="multipart/form-data" onsubmit="return checkForFile();">
                  <input id="file" type="file" name="file"/><br/>
                  <div id="errMsg" style="display:none;color:red">You need to specify a file.</div>
                  <input type="hidden" name="token" value="<%= @token_url %>"/>
                  <button name="btn_submit" type="submit" value="Submit">
                    <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                  </button>
                  </form>
                <% else %>
                  <button name="photodelete" type="button" id="button_show_upload" onclick="window.location='<%= @youtube_login %>'">
                    <img src="/images/icons/famfamfam/tick.png" alt="picture_add" width="16" height="16"/> Click here to upload a video through YouTube
                  </button>
                <% end %>
                <!-- End Upload to youtube -->

                <!-- Add url from youtube -->
                  <div style="clear:both;"></div>
                  <button name="upload_from_url" type="button" id="upload_from_url" onclick="upload_from_url()" >
                    <img src="/images/icons/famfamfam/tick.png" alt="picture_add" width="16" height="16"/> Click here to Add a video url
                  </button>
                  <div style="clear:both;"></div>
                  <div id="form_upload_from_url" style="display:none;">
                  <form action="<%= create_video_agent_office_property_media_path(@agent, @office, @property)  %>" method="post" onsubmit="return checkForUrl();">
                    <div id="errMsg_url" style="display:none;color:red">You need to fill title and url.</div>
                    <b>Title :</b> <br/><input  type="text" name="title" id="title_url" class="single" size="30"/><br/>
                    <b>Video Url :</b> <br/><input  type="text" name="video_url" id="video_url" class="single" size="30"/><br/>
                    <button name="btn_submit" type="submit" value="Submit" id="btn_upload">
                      <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                    </button>
                  </form>
                  </div>
                <!-- End Add url from youtube -->

                <!-- Add embed code from youtube -->
                  <div style="clear:both;"></div>
                  <button name="upload_embed_code" type="button" id="upload_embed_code" onclick="upload_embed_code()">
                    <img src="/images/icons/famfamfam/tick.png" alt="picture_add" width="16" height="16"/> Click here to Add the Embed code for any video
                  </button>
                  <div style="clear:both;"></div>
                  <div id="form_upload_embed_code" style="display:none;">
                  <form action="<%= create_video_agent_office_property_media_path(@agent, @office, @property)  %>" method="post" onsubmit="return checkForEmbed();">
                    <div id="errMsg_embed" style="display:none;color:red">You need to fill title and embed code.</div>
                    <b>Title :</b> <br/><input  type="text" name="title_embed" id="title_embed" class="single" size="30"/><br/>
                    <b>Embed Code :</b><br/><textarea name="embed_code" id="embed_code" cols="40" rows="5"></textarea><br/>
                    <button name="btn_submit" type="submit" value="Submit">
                      <img src="/images/icons/famfamfam/tick.png" alt="tick" width="16" height="16"/> Submit
                    </button>
                  </form>
                  </div>
                <!-- End Add embed code from youtube -->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div class="clearer"></div>
  </div>
</div>

<script type="text/javascript">
  var vid = '';
  var ytswf;

  // Event handlers
  function onYouTubePlayerReady(playerId) {
    if (playerId && playerId != 'undefined') {
      ytswf = document.getElementById('myytplayer');
    }
  }

  function constructUrl(baseUrl) {
    vid = '<%= @property.property_videos.first.youtube_id if @property.property_videos.size > 0 && !@property.property_videos.first.youtube_id.blank? %>';
    var args = [];
    args.push('&enablejsapi=1&playerapiid=ytplayer');
    var argsString = args.join('');
    (baseUrl.search('\/$')) || (baseUrl += '/');
    var apiUrl = baseUrl + 'v/' + vid;
    return apiUrl + '?video_id=' + vid + argsString;
  }

  function play() {
    ytswf.playVideo();
  }

  function pause() {
    ytswf.pauseVideo();
  }

  function stop() {
    ytswf.stopVideo();
  }

  function load(id, status){
    if(status == 1){
      $('#video_div').html('<img src="/images/loadingAnimation.gif" id="loader" style="display:none;position:absolute;top:100px;left:200px;"></img>');
      $('#api_wraper').hide();
      load_embed(id);
    }else{
      $('#api_wraper').show();
      $('#video_div').html('<img src="/images/loadingAnimation.gif" id="loader" style="display:none;position:absolute;top:100px;left:200px;"></img>');
      ytswf.loadVideoById(id, 0, 'default');
    }
  }

  function load_embed(id){
    var base_ptype = $("#video_div");
    var controller = "/agents/<%= @agent.id  %>/offices/<%= @office.id  %>/properties/<%= @property.id  %>/media/load_embed_video/"+ id;
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#loader").show();
      },success: function(jsonResponse){
        var eval_json = jsonResponse;
        var html = "";
        if(eval_json != ""){
          html = eval_json;
        };
        base_ptype.html(html);
      },
      complete:function(){
        $("#loader").hide();
      }
    });
  }
</script>

<script type="text/javascript">
  // <![CDATA[
  var baseUrl = 'http://www.youtube.com/';
  var swfUrl = constructUrl(baseUrl);
  var params = { allowScriptAccess: "always", bgcolor: "#cccccc" };
  var atts = { id: "myytplayer" };
  var flashvars = {};
  <% if @property.property_videos.size > 0 %>
  swfobject.embedSWF(swfUrl, "ytapiplayer", "640", "360", "9", null, flashvars, params, atts);
  <% end %>
  //]]>

  function trim(str){
    return str.replace(/^\s+|\s+$/g,'');
  }

  function checkForFile() {
    if (trim(document.getElementById('file').value)) {
      return true;
    }
    document.getElementById('errMsg').style.display = '';
    return false;
  }

  function checkForEmbed(){
    if (trim(document.getElementById('embed_code').value) != '' && trim(document.getElementById('title_embed').value) != '') {
      return true;
    }
    document.getElementById('errMsg_embed').style.display = '';
    return false;
  }

  function checkForUrl(){
    if (trim(document.getElementById('video_url').value) != '' && trim(document.getElementById('title_url').value) != '') {
      return true;
    }
    document.getElementById('errMsg_url').style.display = '';
    return false;
  }

  function upload_from_url(){
    if($('#form_upload_from_url').css('display')=='none'){
      $('#form_upload_from_url').show();
      $('#form_upload_embed_code').hide();
    }else{
      $('#form_upload_from_url').hide();
    }
  }

  function upload_embed_code(){
    if($('#form_upload_embed_code').css('display')=='none'){
      $('#form_upload_embed_code').show();
      $('#form_upload_from_url').hide();
    }else{
      $('#form_upload_embed_code').hide();
    }
  }
</script>
