<script type="text/javascript">
  function callToServer(path,width,height) {
    if($("#projectFrame").length <= 1){
      var winW = $(window).width();
      var winH = $(window).height();
      if($("#mask").length < 1){
        $("body").append($(document.createElement("div")).attr({'id':'mask'}).css({'width': winW,'height': winH,"position":"fixed","top":0,"left":0, "z-index": 8888,"background-color":"#BEC8D2"}));
      };
      if(width == "200" && height == "300"){
        $(document.body).append($('<div id="frameContainer"></div><a id="closeFrame">Close</a>'));
        $("#frameContainer").append("<div id = 'errorExplanation' class = 'errortext'><h2> This property can not be shared on Facebook because no property url exist in the property details section. Please edit the property and add a link to the property page on your website</h2></div>");
        $("#frameContainer").css('top', height/2);
      }else{
        $(document.body).append($('<div id="frameContainer"></div><div id="closePanel"><img id="closeFrame" src="/images/icons/close.png"/></div><iframe id="projectFrame"></iframe>'));
        $("#projectFrame").attr({"width":width,"height":height,"position":'fixed',"src":path}).css({"background-color":"white",'border-left':'solid #6080c0  2px','border-bottom':'solid #6080c0  2px','border-top':'solid #6080c0  0px','border-right':'solid #6080c0  2px'});
        $("#frameContainer").css({'left':((winW/2)-($("#projectFrame").width()/2)),'height':'0px','width':"0px",'top':45,'z-index':'30000','position':'fixed','text-align':'left'});
      };
      $('#closePanel').hide();
      $('#closePanel').css({"z-index":"9999","text-align":"right",'border-left':'solid #6080c0  5px','border-bottom':'solid #6080c0  5px','border-top':'solid #6080c0  5px','border-right':'solid #6080c0  5px','background-color':'#6080c0','width':((winW/2)-($("#projectFrame").width()/2)+20)+'px','height':'15px'});
      $('#closeFrame').css({'cursor':'pointer',"z-index":"9999"});
      $('#mask').slideDown(1200).fadeTo("slow",0.6);
      $("#frameContainer").append($("#closePanel")).append($("#projectFrame"));
      $("#frameContainer,#projectFrame").animate({height:400, width:500},
      {duration: 'slow',easing: 'easeOutBounce'},
      function(){
        $("#frameContainer").css({"height" : "400","width":"500"});
      });
      $('#closePanel').slideUp(1000).fadeIn(1000).show();
      $('#closeFrame').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closePanel").remove();
        $("#closeFrame").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
        return false;
      });

      $('#mask').click(function () {
        $('#mask').slideUp(1200).fadeTo("slow",0);
        $('#mask').remove();
        $("#frameContainer").remove();
        $("#closeFrame").remove();
        $("#closePanel").remove();
        $("#projectFrame").remove();
        tb_remove_ajax();
      });

      return false;

    }
  };

  function callPreview(path) {
    window.open(path,'sharer','menubar=1,toolbar=0,scrollbars=1,status=0,width=800,height=800');
  };

  function tb_remove_ajax_and_change_location(referer) {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    $("#booting").hide();
    window.location.replace(referer);
  }

</script>
<script type="text/javascript">
  function fbs_click(params) {
    t=document.title;
    //<#%# if (@office.url.blank? && @property.detail && pline.detail.property_url.blank?) %>
    //callToServer("<#%#= share_on_facebook_agent_office_property_path(@agent, @office, pline, :height => 200, :width => 300) %>",200,300);
    //<#%#else%>
    window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(params)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=500,height=450');
    //<#%#end%>
    return false;
  }
</script>
<script type="text/javascript">
  // Path to the blank image must point to a valid location on your server
  function tb_remove_ajax() {
    $("#mask").hide();
    $("#frameContainer").remove();
    $("#closeFrame").remove();
    $("#RSIFrame").remove();
    Ext.getCmp("listingGrid").getStore().reload();
  }
  // Main application entry point
  Ext.onReady(function() {

    var page_name = 'listing_view'
    var pagesize = 35;
    var tbar;
    var urlProxy = '/agents/<%= @agent.id%>/offices/<%= @office.id %>/sms.json';

    // var comboDS = new Ext.data.JsonStore({
    //   id: 'id',
    //   totalProperty: 'results',
    //   remoteSort: false,
    //   fields: [
    //     {name: 'team'},
    //     {name: 'access'},
    //     {name: 'f_name'},
    //     {name: 'l_name'},
    //     {name: 'category'}
    //   ],
    //   proxy: new Ext.data.HttpProxy({
    //     url: '/agents/<%=@agent.id%>/offices/<%=@office.id%>/sms/populate_combobox',
    //     method:'GET'
    //   })
    // });

    // var teamDS = new Ext.data.JsonStore({
    //   root: 'team',
    //   id: 'id',
    //   totalProperty: 'results',
    //   remoteSort: false,
    //   fields: [
    //     {name: 'assigned_to'},
    //     {name: 'assigned_toText'}
    //   ]
    // });

    // var accessDS = new Ext.data.JsonStore({
    //   root: 'access',
    //   id: 'id',
    //   totalProperty: 'results',
    //   remoteSort: false,
    //   fields: [
    //     {name: 'accessible_by'},
    //     {name: 'accessible_byText'}
    //   ]
    // });

    // var fnameDS = new Ext.data.JsonStore({
    //   root: 'f_name',
    //   id: 'id',
    //   totalProperty: 'results',
    //   remoteSort: false,
    //   fields: [
    //     {name: 'first_name'},
    //     {name: 'first_nameText'}
    //   ]
    // });

    // var lnameDS = new Ext.data.JsonStore({
    //   root: 'l_name',
    //   id: 'id',
    //   totalProperty: 'results',
    //   remoteSort: false,
    //   fields: [
    //     {name: 'last_name'},
    //     {name: 'last_nameText'}
    //   ]
    // });

    // var categoryDS = new Ext.data.JsonStore({
    //   root: 'category',
    //   id: 'id',
    //   totalProperty: 'results',
    //   remoteSort: false,
    //   fields: [
    //     {name: 'category'},
    //     {name: 'categoryText'}
    //   ]
    // });

    // comboDS.load();
    // comboDS.on('load', function(){
    //   teamDS.loadData(comboDS.reader.jsonData);
    //   accessDS.loadData(comboDS.reader.jsonData);
    //   fnameDS.loadData(comboDS.reader.jsonData);
    //   lnameDS.loadData(comboDS.reader.jsonData);
    //   categoryDS.loadData(comboDS.reader.jsonData);

    //   assigned_toCombo.setValue('<%= session[:assigned_fullname].blank? ? 'all' : session[:assigned_fullname] %>');
    //   accessible_byCombo.setValue('<%= session[:accessible_fullname].blank? ? 'all' : session[:accessible_fullname] %>');
    //   first_nameCombo.setValue('<%= session[:first_name].blank? ? 'all' : session[:first_name] %>');
    //   last_nameCombo.setValue('<%= session[:last_name].blank? ? 'all' : session[:last_name] %>');
    //   categoryCombo.setValue('<%= session[:category].blank? ? 'all' : session[:category] %>');
    // });

    // var assigned_toCombo = new Ext.form.ComboBox({
    //   store: teamDS,
    //   typeAhead: true,
    //   mode: 'local',
    //   id: 'contactCombo',
    //   triggerAction: 'all',
    //   sortable: false,
    //   selectOnFocus:true
    //   ,valueField:'assigned_to'
    //   ,displayField:'assigned_toText'
    // });

    // var accessible_byCombo = new Ext.form.ComboBox({
    //   store: accessDS,
    //   typeAhead: true,
    //   mode: 'local',
    //   id: 'accessCombo',
    //   triggerAction: 'all',
    //   sortable: false,
    //   selectOnFocus:true
    //   ,valueField:'accessible_by'
    //   ,displayField:'accessible_byText'
    // });

    // var first_nameCombo = new Ext.form.ComboBox({
    //   store: fnameDS,
    //   typeAhead: true,
    //   mode: 'local',
    //   id: 'fnameCombo',
    //   triggerAction: 'all',
    //   sortable: false,
    //   selectOnFocus:true
    //   ,valueField:'first_name'
    //   ,displayField:'first_nameText'
    // });

    // var last_nameCombo = new Ext.form.ComboBox({
    //   store: lnameDS,
    //   typeAhead: true,
    //   mode: 'local',
    //   id: 'lnameCombo',
    //   triggerAction: 'all',
    //   sortable: false,
    //   selectOnFocus:true
    //   ,valueField:'last_name'
    //   ,displayField:'last_nameText'
    // });

    // var categoryCombo = new Ext.form.ComboBox({
    //   store: categoryDS,
    //   typeAhead: true,
    //   mode: 'local',
    //   id: 'categoryCombo',
    //   triggerAction: 'all',
    //   sortable: false,
    //   selectOnFocus:true
    //   ,valueField:'category'
    //   ,displayField:'categoryText'
    // });

    // tbar = new Ext.Toolbar({
    //   hideMode:'offset',
    //   forcefit: true,
    //   items  : [categoryCombo, first_nameCombo, last_nameCombo, assigned_toCombo, accessible_byCombo]
    // });
    // pagesize = 2;
    // urlProxy = '/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/view_listing?page_name='+page_name+'&assinged_to='+assigned_toCombo.getValue()+'&accessible_by='+accessible_byCombo.getValue()+'&first_name='+first_nameCombo.getValue()+'&last_name='+last_nameCombo.getValue()+'&category='+categoryCombo.getValue();

    // urlProxy = '/agents/<%= @agent.id%>/offices/<%= @office.id %>/sms.json';
    // assigned_toCombo.on('select', function(combo,record,index){
    //   setGridURL();
    // }, this);

    // accessible_byCombo.on('select', function(combo,record,index){
    //   setGridURL();
    // }, this);

    // first_nameCombo.on('select', function(combo,record,index){
    //   setGridURL();
    // }, this);

    // last_nameCombo.on('select', function(combo,record,index){
    //   setGridURL();
    // }, this);

    // categoryCombo.on('select', function(combo,record,index){
    //   setGridURL();
    // }, this);


    var ds = new Ext.data.JsonStore({
      //autoLoad: true,
      root: 'rows',
      id: 'id',
      totalProperty: 'results',
      remoteSort: true,

      // fields: [
      //   'id', 'category','first_name','last_name','assigned_to','accessible_by','actions'
      // ],

      fields: [
        'id', 'receiver_number','message','status','created_at', 'message_id', 'received_at'
      ],

      // load using script tags for cross domain, if the data in on the same domain as
      // this page, an HttpProxy would be better
      proxy: new Ext.data.HttpProxy({
        url: urlProxy,
        method:'GET'
      })
    });
    //  var compareData = new Array();
    ds.setDefaultSort('created_at','DESC');


    var paging_toolbar = new Ext.PagingToolbar({
      pageSize: pagesize,
      displayInfo: true,
      emptyMsg: 'No data found',
      displayInfo: true,
      forcefit: true,
      style: 'text-align:center;',
      hideMode:'offset',
      displayMsg: 'Results : {2}',
      store: ds,
      toggleHandler: function(btn, pressed){
        var view = grid.getView();
        view.showPreview = pressed;
        view.refresh();
      }
    })
    // create the Grid
    var grid = new Ext.grid.GridPanel({
      id:'listingGrid',
      store: ds,
      tbar: tbar,
      loadMask:true,
      style: 'text-align:center;',
      layout:'fit',
      stripeRows:true,
      autoScroll:true,
      shim:true,
      width:'100%',
      columns: [
        {header: 'ID', width: 60, dataIndex: 'id'},
        {header: 'Receiver Number', width: 100, sortable: true, dataIndex: 'receiver_number'},
        {header: 'Message', width: 550, sortable: true, dataIndex: 'message'},
        {header: 'Status', width: 80, sortable: true, dataIndex: 'status'},
        {header: 'Sent', width: 125, sortable: true, dataIndex: 'created_at'},
        {header: 'Message ID', width: 200, sortable: true, dataIndex: 'message_id'},
        {header: 'Received', width: 125, sortable: true, dataIndex: 'received_at'}
      ],
      autoHeight:true,
      title: 'Click on column headings to sort, drag column headings to reposition, adjust column width or remove columns from the view.',
      bbar:paging_toolbar
    });

    // render the grid to the specified div in the page
    grid.render('property-list');
    paging_toolbar.refresh.hideParent = true;
    paging_toolbar.refresh.hide();

    // function renderEdit(id){
    //   var arr = id.split("#");
    //   var id_new = arr[0]
    //   var id_inc = arr[1]
    //   <% if current_user.full_access? %>
    //     return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/' + id_new + '/edit" style="color:#0e7fc7;">Edit</a>';
    //   <% else %>
    //       <%  if current_user.client_only_access? %>
    //         if(id_inc == 'true'){
    //           return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/' + id_new + '/edit" style="color:#0e7fc7;">Edit</a>';
    //         }
    //      <% end %>
    //      <%  if current_user.limited_client_access? %>
    //         if(id_inc == 'true'){
    //           return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/' + id_new + '/edit" style="color:#0e7fc7;">Edit</a>';
    //         }
    //      <% end %>
    //   <% end %>
    // };

    // function renderAction(id){
    //   var arr = id.split("#");
    //   var id_new = arr[0]
    //   return '<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/' + id_new + '/alerts" style="color:#0e7fc7;">Alerts</a> | <a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/' + id_new + '/notes" style="color:#0e7fc7;">Notes</a>';
    // };

    // function renderId(id){
    //   var arr = id.split("#");
    //   var id_new = arr[0]
    //   return id_new;
    // };

    ds.load({params:{start:0,limit:pagesize}});
    grid.doLayout();
    // ds.on('load', function(store, records, index) {
    //grid.setHeight(ds.getCount() * 37);
    // });

  // function setGridURL(){
  //     grid.getStore().proxy.setApi('read', '/agents/<%=@agent.id%>/offices/<%=@office.id%>/agent_contacts/view_listing?page_name='+page_name+'&assinged_to='+assigned_toCombo.getValue()+'&accessible_by='+accessible_byCombo.getValue()+'&first_name='+first_nameCombo.getValue()+'&last_name='+last_nameCombo.getValue()+'&category='+categoryCombo.getValue());
  //     paging_toolbar.changePage(1);
  //     grid.getStore().reload();
  //   }

  });

</script>
<style type="text/css">
  #property-list table{
    margin: 0px;
    border: medium none;
    width: 0%;
  }
  #property-list .x-toolbar {
    background-color:inherit;
    background-image:none;
    border-color:#A9BFD3;
  }
</style>
<div id="property-list"></div>
<!-- NOTE TO DEVELOPER: For home/dashboard page, please show 10 listings. -->
<!-- NOTE TO DEVELOPER: For Listings page, please show 50 listings. -->
