<div class="sub-opt-nav" style="margin-top:10px;">
  <div class="sub2nav">
    <div class="optnav"><%= link_to 'Send SMS', new_agent_office_sm_path(@agent,@office), :title => 'Send SMS' %></div>
    <div class="optnav"><%= link_to 'Logs', agent_office_sms_path(@agent,@office), :title => 'Logs' %></div>
    <div style="clear:both;"></div>
  </div>
</div> 
