<div class="block help full">
  <div class="title_block leader"><h2>Export Errors</h2>
    <p>Below are errors in relation to properties you have exported to the major real estate portals. These properties have not successfully updated on the real estate portal. Please read the error and then click on the property and adjust it accordingly</p>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
      <table>
        <tr><th>Date/Time</th><th>Property Id</th><th>Portal</th><th>Error Message</th></tr>
        <% @export_errors.each do |error| %>
          <% unless error.blank? %>
          <tr><td><%= error.created_at.strftime("%d-%m-%Y %H:%I:%S") %></td><td><%= link_to error.property_id, edit_agent_office_property_path(@agent.id, @office.id, error.property_id) %></td><td><%= error.portal_name %></td><td><%= error.error_message %></td></tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>