<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<script type="text/javascript">
  function assigning(type){
    var Auth = encodeURIComponent(AUTH_TOKEN);
    var lbl_contact;
    var lbl_assign;
    var lbl_type;
    var assign;
    var contact;
    switch(type){
      case "primary_contact":
        type = 1;
        contact = $("#primary_contact").val();
        assign = $("#assign_primary_contact").val();
        lbl_type = "Primary Contact";
        lbl_contact = $("#primary_contact").find('option').filter(':selected').text();
        lbl_assign = $("#assign_primary_contact").find('option').filter(':selected').text();
        break;
      case "secondary_contact":
        type = 2;
        contact = $("#secondary_contact").val();
        assign = $("#assign_secondary_contact").val();
        lbl_type = "Secondary Contact";
        lbl_contact = $("#secondary_contact").find('option').filter(':selected').text();
        lbl_assign = $("#assign_secondary_contact").find('option').filter(':selected').text();
        break;
      case "third_contact":
        type = 3;
        contact = $("#third_contact").val();
        assign = $("#assign_third_contact").val();
        lbl_type = "Third Contact";
        lbl_contact = $("#third_contact").find('option').filter(':selected').text();
        lbl_assign = $("#assign_third_contact").find('option').filter(':selected').text();
        break;
      case "fourth_contact":
        type = 4;
        contact = $("#fourth_contact").val();
        assign = $("#assign_fourth_contact").val();
        lbl_type = "Fourth Contact";
        lbl_contact = $("#fourth_contact").find('option').filter(':selected').text();
        lbl_assign = $("#assign_fourth_contact").find('option').filter(':selected').text();
        break;
      default:
        contact = null;
        assign = null;
    };
    $("#main_body").before("<div id='info_message' style='color:black;background-color:#EFEFEF;width:450px;height:50px;margin:0px;padding:5px;display:none;border-style: solid;text-align:center;position:absolute;border-width: 7px;border-color:#6AACCE;z-index:9999'>Loading ...</div>")
    var e = $("#info_message");
    var windowWidth = document.documentElement.clientWidth;
    var windowHeight = document.documentElement.clientHeight;
    var wleft = parseInt(windowWidth/2 - e.width()/2);
    var wtop = parseInt(windowHeight/2 - e.height()/2);
    $("#info_message").css({
      "left" : wleft,
      "top"  : wtop - 20
    })
    var psize;

    if(contact != assign){
      if(contact != null && assign != null){
        var message ="";
        if(contact != ''){
          var contact_psize = lbl_contact.split(")")[1].split(" ")[1];
          var contact_name = lbl_contact.split("(")[0];
          var cpsize;
          if((parseInt(contact_psize) != 0 || parseInt(contact_psize) > 1)){
            cpsize = contact_psize + " properties";
          }else{
            cpsize = contact_psize + " property";
          };
        }

        if(assign != ''){
          var assign_psize = lbl_assign.split(")")[1].split(" ")[1];
          var assign_name = lbl_assign.split("(")[0];
          var apsize;
          if((parseInt(assign_psize) != 0 || parseInt(assign_psize) > 1)){
            apsize = assign_psize + " properties";
          }else{
            apsize = assign_psize + " property";
          };
        }

        if(contact != '' && assign != ''){
          message = "You are about to assign "+cpsize+" from "+contact_name+"("+contact+") to "+assign_name+"("+assign+").Continue?";
        }else{
          message = "You are about to assign from "+lbl_contact+" to "+lbl_assign+".Continue?";
        }
        if (confirm(message)) {

          $.ajax({
            type: "PUT",
            url: "<%= agent_office_team_assigns_path(@agent,@office) %>/"+type,
            data:"contact="+contact+"&assign="+assign+"&authenticity_token=" + encodeURIComponent(Auth),
            dataType:"JSON",
            beforeSend:function(){
              e.animate({opacity: "hide", top:wtop - 20,left:wleft});
              e.html("<p style='color:blue'>Loading ...</p>");
              e.animate({opacity: "show", top:wtop,left:wleft});
            },
            success:function(status){
              status = eval(status)
              if(status[1] == true){
                if(apsize){
                  apsize = parseInt(apsize.split(" ")[0]) + parseInt(cpsize.split(" ")[0]);
                  apsize = apsize + " properties";
                }
                cpsize = "0 property";

                switch(parseInt(status[0])){
                  case 1:
                    status[0] = "Primary Contact"
                    $("#primary_contact").find('option').filter(':selected').text(lbl_contact.split(")")[0]+") "+cpsize);
                    $("#assign_primary_contact").find("option[value="+contact+"]").text(lbl_contact.split(")")[0]+") "+cpsize);
                    $("#assign_primary_contact").find('option').filter(':selected').text(lbl_assign.split(")")[0]+") "+apsize);
                    $("#primary_contact").find("option[value="+assign+"]").text(lbl_assign.split(")")[0]+") "+apsize);
                    break;
                  case 2:
                    status[0] = "Secondary Contact"
                    if(apsize){
                      $("#secondary_contact").find("option[value="+assign+"]").text(lbl_assign.split(")")[0]+") "+apsize);
                      $("#assign_secondary_contact").find('option').filter(':selected').text(lbl_assign.split(")")[0]+") "+apsize);
                    }
                    $("#secondary_contact").find('option').filter(':selected').text(lbl_contact.split(")")[0]+") "+cpsize);
                    $("#assign_secondary_contact").find("option[value="+contact+"]").text(lbl_contact.split(")")[0]+") "+cpsize);
                    break;
                  case 3:
                    status[0] = "Third Contact"
                    if(apsize){
                      $("#third_contact").find("option[value="+assign+"]").text(lbl_assign.split(")")[0]+") "+apsize);
                      $("#assign_third_contact").find('option').filter(':selected').text(lbl_assign.split(")")[0]+") "+apsize);
                    }
                    $("#third_contact").find('option').filter(':selected').text(lbl_contact.split(")")[0]+") "+cpsize);
                    $("#assign_third_contact").find("option[value="+contact+"]").text(lbl_contact.split(")")[0]+") "+cpsize);
                    break;
                   case 4:
                    status[0] = "Fourth Contact"
                    if(apsize){
                      $("#fourth_contact").find("option[value="+assign+"]").text(lbl_assign.split(")")[0]+") "+apsize);
                      $("#assign_fourth_contact").find('option').filter(':selected').text(lbl_assign.split(")")[0]+") "+apsize);
                    }
                    $("#fourth_contact").find('option').filter(':selected').text(lbl_contact.split(")")[0]+") "+cpsize);
                    $("#assign_fourth_contact").find("option[value="+contact+"]").text(lbl_contact.split(")")[0]+") "+cpsize);
                    break;
                  default:
                    status[0] = "";
                    break;
                }
                e.animate({opacity: "hide", top:wtop - 20,left:wleft});
                e.html("<p style='color:blue'> Successfully assigning "+status[0]+" </p>");
                e.animate({opacity: "show", top:wtop,left:wleft});
                e.queue(function(){
                  setTimeout(function(){
                    e.dequeue();
                  }, 2000 );
                });
                e.animate({opacity: "hide", top:wtop - 20,left:wleft});
              }else{
                e.animate({opacity: "hide", top:wtop - 20,left:wleft});
                e.html("<p style='color:red'>  Failed to assign </p>");
                e.animate({opacity: "show", top:wtop,left:wleft});
                e.queue(function(){
                  setTimeout(function(){
                    e.dequeue();
                  }, 3000 );
                });
                e.animate({opacity: "hide", top:wtop - 20,left:wleft});
              }
            },
            error:function(){
              e.animate({opacity: "hide", top:wtop - 20,left:wleft});
              e.html("<p style='color:red'> Something Went Wrong </p>");
              e.animate({opacity: "show", top:wtop,left:wleft});
              e.queue(function(){
                setTimeout(function(){
                  e.dequeue();
                }, 3000 );
              });
              e.animate({opacity: "hide", top:wtop - 20,left:wleft});
            }
          });
        };
      }else{
        e.animate({opacity: "hide", top:wtop - 20,left:wleft});
        e.html("<p style='color:red'> "+lbl_type+" "+lbl_contact+"("+contact+") have "+psize+" property, Nothing to assign </p>");
        e.animate({opacity: "show", top:wtop,left:wleft});
        e.queue(function(){
          setTimeout(function(){
            e.dequeue();
          }, 3000 );
        });
        e.animate({opacity: "hide", top:wtop - 20 ,left:wleft});
      }
    }else{
      e.animate({opacity: "hide", top:wtop - 20,left:wleft});
      e.html("<p style='color:red'> Can not assign with the same member </p>");
      e.animate({opacity: "show", top:wtop,left:wleft});
      e.queue(function(){
        setTimeout(function(){
          e.dequeue();
        }, 3000 );
      });
      e.animate({opacity: "hide", top:wtop - 20,left:wleft});
    }
    return false;
  }
</script>
<div class="block full">
  <div id="lbl_primary_contact" class="set fifth ">
    <p>Primary Contact</p>
  </div>
  <div id="list_primary_contact" class="set fifth ">
    <p><%= select_tag "primary_contact",options_for_select(@primary_contact),:style =>"width:230px" %></p>
  </div>
  <div id="lbl_assign_to1" class="set fifth ">
    <p>Assign To</p>
  </div>
  <div id="list_assign_to1" class="set fifth ">
    <p><%= select_tag "assign_primary_contact",options_for_select(@primary_contact),:style =>"width:230px"%></p>
  </div>
  <div id="submit_primary_contact" class="set fifth ">
    <p><%= submit_tag "Submit" , :onclick =>"assigning('primary_contact');return false;" %></p>
  </div>
</div>

<div class="block full">
  <div id="lbl_secondary_contact" class="set fifth ">
    <p>Secondary Contact</p>
  </div>
  <div id="list_secondary_contact" class="set fifth ">
    <p><%= select_tag "secondary_contact",options_for_select(@secondary_contact),:style =>"width:230px" %></p>
  </div>
  <div id="lbl_assign_to2" class="set fifth ">
    <p>Assign To</p>
  </div>
  <div id="list_assign_to2" class="set fifth ">
    <p><%= select_tag "assign_secondary_contact",options_for_select(@secondary_contact),:style =>"width:230px" %></p>
  </div>
  <div id="submit_secondary_contact" class="set fifth ">
    <p><%= submit_tag "Submit" , :onclick =>"assigning('secondary_contact');return false;"%></p>
  </div>
</div>

<div class="block full">
  <div id="lbl_third_contact" class="set fifth ">
    <p>Third Contact</p>
  </div>
  <div id="list_third_contact" class="set fifth ">
    <p><%= select_tag "third_contact",options_for_select(@third_contact),:style =>"width:230px" %></p>
  </div>
  <div id="lbl_assign_to3" class="set fifth ">
    <p>Assign To</p>
  </div>
  <div id="list_assign_to3" class="set fifth ">
    <p><%= select_tag "assign_third_contact",options_for_select(@third_contact),:style =>"width:230px" %></p>
  </div>
  <div id="submit_third_contact" class="set fifth ">
    <p><%= submit_tag "Submit" , :onclick =>"assigning('third_contact');return false;"%></p>
  </div>
</div>

<div class="block full">
  <div id="lbl_fourth_contact" class="set fifth ">
    <p>Fourth Contact</p>
  </div>
  <div id="list_fourth_contact" class="set fifth ">
    <p><%= select_tag "fourth_contact",options_for_select(@fourth_contact),:style =>"width:230px" %></p>
  </div>
  <div id="lbl_assign_to4" class="set fifth ">
    <p>Assign To</p>
  </div>
  <div id="list_assign_to4" class="set fifth ">
    <p><%= select_tag "assign_fourth_contact",options_for_select(@fourth_contact),:style =>"width:230px" %></p>
  </div>
  <div id="submit_fourth_contact" class="set fifth ">
    <p><%= submit_tag "Submit" , :onclick =>"assigning('fourth_contact');return false;"%></p>
  </div>
</div>

