<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Note Types </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Creator</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% unless @notes.blank? %>
        <% @notes.each do |note| -%>
        <tr>
          <td class="first_cell"><%= (note.created_at ? note.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (note.name ? note.name : "-") %></td>
          <td class="value"><%= (note.creator_id.nil? ? "System" : note.creator.full_name) %></td>
          <td class="value">
            <% unless note.creator_id.nil? %>
            <%= link_to "Edit", edit_agent_office_note_type_path(@agent,@office,  note), :method => :get %> |
            <%= link_to "Delete", agent_office_note_type_path(@agent,@office, note), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
            <% end %>
        </tr>
        <% end -%>
        <% end %>
   </table>
    <%= will_paginate @notes unless @notes.blank? %>
    <div class="action_button" style="border:none;">

      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_notes(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>