<div class="title_block block">
  <h2 class="page_title"><%= @property.address %></h2>
</div>
<div class="block help full sub-opt-nav"><%= render :partial => 'properties/listing_tab' %></div>
<div id="clientdiv" class="block accounts full">
  <% form_for(@extra, :url => update_extra_agent_office_property_extras_path(@agent, @office, @property), :html => {:class => 'propertyform full', :id=> "form_new"}) do |f| %>
    <%= f.error_messages :class => 'errortext' %>
    <div class="block form half leader" >
      <div id="opentimesdiv" class="group" style="height:350px;">
        <div class="set">
          <h6 class="full" style="font-size:12px;">Extras </h6><br/>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <% if get_current_subdomain == 'knightfrank' && (@property.type.to_s == "ResidentialSale" || @property.type.to_s == "HolidayLease" || @property.type.to_s == "ResidentialLease") %>
                <li class="li--23">
                  <label><span>New Development Name:</span></label>
                  <%= f.select :new_development_name, @new_devs, {},{:class =>"bed1", :style=>"width:41%;"} %>
                </li>
              <% end %>
              <li class="li--23"><label><span>New Project (for REA):</span></label>
                <%= f.check_box :new_project_rea, :disabled => ((@property.type.to_s == "Commercial")? true : false) %>
              </li>
              <li class="li--23"><label><span>Featured Property:</span></label>
                <%= f.check_box :featured_property %>
              </li>
              <li class="li--17"><label><span>Property of week:</span></label>
                <%= f.check_box :property_of_week %>
              </li>
              <li class="li--17"><label><span>Projects:</span></label>
                <%= f.check_box :projects %>
              </li>
              <li class="li--17"><label><span>Extra Descrption:</span></label>
                <%= f.text_area :description, {:style => "height:150px;width:60%;"} %>
              </li>
            </ul>
          </fieldset>
        </div>
      </div>
    </div><!-- end .half BLOCK (left side) -->
    <div class="block form half follower" style="width: 48.5% !important"><!-- start .half BLOCK (right side) -->
      <div id="opentimesdiv" class="group">
        <div class="set">
          <h6 class="full" style="font-size:12px;">Extras Fields </h6><br/>
          <fieldset class="pf_fs5">
            <ul class="pf-ul">
              <% if @property.type == "ResidentialSale" %>
                <% (1..19).each do |number| %>
                  <li class="li--23">
                    <label><span>
                        <div class="showhide" style="display:none;"><%= f.text_field "field_name#{number}", :class => "single", :style=>"width:80%;", :value => @default_name["field_name#{number}"] %>&nbsp;:</div>
                        <div class="showhide" id="js_fname<%= number %>"><%= (@default_name["field_name#{number}"].blank? ? "Field #{number}" : @default_name["field_name#{number}"])  %>&nbsp;:</div>
                      </span></label>
                    <% if number == 3 && @property.type == "ResidentialSale" %>
                        <%= f.text_field "field3", :class => "single", :style=>"width:40%;", :onKeypress => "return isNumberKey(event)" %>&nbsp;
                      <%elsif number == 4 && @property.type == "ResidentialSale" %>
                      <%= f.text_field "field4", :class => "single", :style=>"width:40%;", :onKeypress => "return isNumberKey(event)" %>&nbsp;
                    <%elsif number == 5 && @property.type == "ResidentialSale" %>
                      <%= f.text_field "field5", :class => "single", :style=>"width:40%;", :onKeypress => "return isNumberKey(event)" %>&nbsp;
                    <%else%>
                      <%= f.text_field "field#{number}", :class => "single", :style=>"width:40%;" %>&nbsp;
                    <%end%>
                    <% if current_user.full_access? %>
                      <% if number == 1 %>
                        <a href="javascript:show_hide_field(1);" name="edit_field" class="edit_field">Edit Fields</a>
                        <a href="javascript:show_hide_field(2);" name="close_field" class="edit_field" style="display:none;">Save Fields</a>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              <%else%>
                <% (1..9).each do |number| %>
                  <li class="li--23">
                    <label><span>
                        <div class="showhide" style="display:none;"><%= f.text_field "field_name#{number}", :class => "single", :style=>"width:80%;", :value => @default_name["field_name#{number}"] %>&nbsp;:</div>
                        <div class="showhide" id="js_fname<%= number %>"><%= (@default_name["field_name#{number}"].blank? ? "Field #{number}" : @default_name["field_name#{number}"])  %>&nbsp;:</div>
                      </span></label>
                    <%= f.text_field "field#{number}", :class => "single", :style=>"width:40%;" %>&nbsp;
                    <% if current_user.full_access? %>
                      <% if number == 1 %>
                        <a href="javascript:show_hide_field(1);" name="edit_field" class="edit_field">Edit Fields</a>
                        <a href="javascript:show_hide_field(2);" name="close_field" class="edit_field" style="display:none;">Save Fields</a>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              <%end%>

              <% unless @extra_detail_names.blank? %>
                <% @extra_detail_names.each do |detail_name| %>
                  <li class="li--23">
                    <label><span>
                        <div class="showhide" style="display:none;"><input type="text" style="width: 80%;" name="detail_name[field_name][]" id="detail_field_name<%=detail_name.id %>" value="<%=detail_name.field_name %>" class="single" onkeyup="change_title(<%=detail_name.id %>)"/>:</div>
                        <div class="showhide" id="detail_name<%=detail_name.id %>"><%= (detail_name.field_name.blank? ? "Field value" : detail_name.field_name) %>&nbsp;:</div>
                      </span></label>
                    <% if detail_name.input_type == "Text" %>
                      <%= hidden_field_tag "detail_name[field_name_id][]", detail_name.id %>
                      <%= hidden_field_tag "detail_name[field_value_id][]", extra_detail_id(@property, detail_name.id) %>
                        <%= text_field_tag "detail_name[field_value][]", extra_detail_name(@property, detail_name.id), {:class => "single", :style=>"width:40%;"} %>&nbsp;
                      <%else%>
                      <%= hidden_field_tag "detail_name[field_name_id][]", detail_name.id %>
                      <%= hidden_field_tag "detail_name[field_value_id][]", extra_detail_id(@property, detail_name.id) %>
                      <%= select_tag "detail_name[field_value][]", options_for_select(detail_name.extra_options.map{|x|[x.option_title, x.option_title]}.unshift(["Please select", nil]), :selected => ExtraDetail.find_by_extra_detail_name_id(detail_name.id).field_value) %>
                      &nbsp;&nbsp;<%= link_to 'Edit Options', agent_office_property_extra_options_path(@agent,@office,@property)+"?parent_id=#{detail_name.id}&KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new"%>
                    <%end%>
                  </li>
                <% end %>
              <% end %>
              <li class="li--23"><a href="javascript:add_field();" name="add_field" class="add_field">Add Fields</a></li>
              <div id="additional_field_wrapper"></div>
            </ul>
          </fieldset>
        </div>
      </div>
    </div><!-- end .half BLOCK (right side) -->
    <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8">
          <td class="value" colspan="5">
            <button name="update" type="submit" value="Update" style="float:right;" class="submit_btn">
              Submit
            </button>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
<script type="text/javascript">

  function textInput(id){
    $("#additional_field_field_value_"+id).removeAttr("disabled");
    $("#extra_option_"+id).attr("disabled", "disabled");
    $("a#add_opt_"+id).hide();
  }

  function selectInput(id){
    $("#extra_option_"+id).removeAttr("disabled");
    $("#additional_field_field_value_"+id).val("");
    $("#additional_field_field_value_"+id).attr("disabled", "disabled");
    $("a#add_opt_"+id).show();
    init_tb();
    $('<div id="hidden_val_'+id+'"></div>').insertAfter("a#add_opt_"+id);
  }

  function init_tb(){
    tb_init('a.thickbox, area.thickbox, input.thickbox');
  }

  function add_field(){
    var newDate = new Date();
    var id = newDate.getTime();
    $('<li class="li--23" id="content_additional_field'+id+'">\n\
  <label>\n\
  <span><input type="text" style="width: 80%;" name="additional_field[field_'+id+'][field_name][]" id="additional_field_field_name_" class="single"/> :</span></label>\n\
  <input type="radio" onclick="textInput('+id+')" name="option_'+id+'[]" id="option_text" checked="checked" value="text" />\n\
  <input type="text" style="width: 40%;" name="additional_field[field_'+id+'][field_value][]" id="additional_field_field_value_'+id+'" class="single'+id+'"/>&nbsp;<a href="javascript:remove_field('+id+');" name="remove_field" class="remove_field">Remove</a>\n\
  <br/>\n\
  <input type="radio" onclick="selectInput('+id+')" name="option_'+id+'[]" id="option_select" value="select"/>&nbsp;\n\
  <select id="extra_option_'+id+'" name="additional_field[field_'+id+'][field_value][]" disabled="disabled"><option value="">Please select</option></select>&nbsp;<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/extras/option_form?hidden_val='+id+'&KeepThis=true&TB_iframe=true&height=550&width=700&modal=true" class ="thickbox" id="add_opt_'+id+'" style="display:none">Edit Options</a>\n\
</li>').appendTo('#additional_field_wrapper');
  }

  function remove_field(id){
    $("#content_additional_field"+id).remove();
  }

  function change_title(id){
    $("#detail_name"+id).html($("#detail_field_name"+id).val()+" :");
  }

  function show_hide_field(st){
    $(".edit_field").toggle();
    $(".showhide").toggle();

    if(st == 2){
<% if @property.type == "ResidentialSale" %>
        for(var i=1;i<20;i++){
<%else%>
          for(var i=1;i<10;i++){
<%end%>
          if($("#extra_field_name"+i).val() != ""){
            $("#js_fname"+i).html($("#extra_field_name"+i).val()+" :");
          }
        }
        if($("#extra_dropdown_name").val() != ""){
          $("#js_dpname").html($("#extra_dropdown_name").val()+" :");
        }
      }
    }

    function update_options(){
      var base_ptype = $("#wrap_option");
      var controller = "<%= populate_agent_office_property_extra_options_path(@agent,@office,@property) %>";
      $.ajax({
        type: "GET",
        url: escape(controller),
        data:"",
        dataType:"JSON",
        beforeSend:function(){
          $("#extra_dropdown_value").attr("disabled","disabled");
          $("#option_loading").show();
          $("#add_new").hide();
        },
        success: function(jsonResponse){
          var eval_json = eval(jsonResponse);
          var option = "";
          if(eval_json == ""){
            option = "<option value =''>Please select</option>";
          }else{
            option = "<option value =''>Please select</option>";
            for(var i=0;i < eval_json.length;i++){
              var to_string = new String("'"+eval_json[i][1]+"'");
              if(eval_json[i][1] == '<%= @extra.dropdown_value %>'){
                option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
              }else{
                option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
              }
            };
          };
          var html = "<select style='width: 41%;' name='extra[dropdown_value]' id='extra_dropdown_value' class='bed1'>"+option+"</select>";
          base_ptype.empty().append($(html));
        },
        complete:function(){
          $("#extra_dropdown_value").removeAttr("disabled");
          $("#option_loading").hide();
          $("#add_new").show();
        }
      });
    }

    $(document).ready(function(){
      update_options();
<% if @property.type == "ResidentialSale" %>
  <%if @property.extra.blank? %>
          $("#extra_field_name1").val("Floor Coverings");
          $("#extra_field_name2").val("Aspect");
          $("#extra_field_name3").val("Stamp Duty Payable");
          $("#extra_field_name4").val("Estimated Stamp Duty Saving");
          $("#extra_field_name5").val("Owners Corporation Cost");
          $("#extra_field_name6").val("Notes");
          $("#extra_field_name7").val("Deposit Paid");
          $("#extra_field_name8").val("Finance");
          $("#extra_field_name9").val("FIRB");
          $("#extra_field_name10").val("Flooring Option");
          $("#extra_field_name11").val("Settle Date");
          $("#extra_field_name12").val("Trans Rec.");
          $("#extra_field_name13").val("Dis Let");
          $("#extra_field_name14").val("Sett");
          $("#extra_field_name15").val("Multi Purpose Room");
          $("#extra_field_name16").val("Clause");
          $("#extra_field_name17").val("Colour Scheme");
          $("#extra_field_name18").val("NRAS Rec");
          $("#extra_field_name19").val("NRAS Sign");
          show_hide_field(1);
          show_hide_field(2);
  <%else%>
          $('#extra_field_name1').val("<%=@property.extra.field_name1%>");
          $('#extra_field_name2').val("<%=@property.extra.field_name2%>");
          $('#extra_field_name3').val("<%=@property.extra.field_name3%>");
          $('#extra_field_name4').val("<%=@property.extra.field_name4%>");
          $('#extra_field_name5').val("<%=@property.extra.field_name5%>");
          $('#extra_field_name6').val("<%=@property.extra.field_name6%>");
          $('#extra_field_name7').val("<%=@property.extra.field_name7%>");
          $('#extra_field_name8').val("<%=@property.extra.field_name8%>");
          $('#extra_field_name9').val("<%=@property.extra.field_name9%>");
          $('#extra_field_name10').val("<%=@property.extra.field_name10%>");
          $('#extra_field_name11').val("<%=@property.extra.field_name11%>");
          $('#extra_field_name12').val("<%=@property.extra.field_name12%>");
          $('#extra_field_name13').val("<%=@property.extra.field_name13%>");
          $('#extra_field_name14').val("<%=@property.extra.field_name14%>");
          $('#extra_field_name15').val("<%=@property.extra.field_name15%>");
          $('#extra_field_name16').val("<%=@property.extra.field_name16%>");
          $('#extra_field_name17').val("<%=@property.extra.field_name17%>");
          $('#extra_field_name18').val("<%=@property.extra.field_name18%>");
          $('#extra_field_name19').val("<%=@property.extra.field_name19%>");
          show_hide_field(1);
          show_hide_field(2);
  <%end%>
<%end%>
    });
</script>
<script type="text/javascript">
    $(function(){
      $('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
      });
    });
</script>
<!--[if IE 8]>
  <script type="text/javascript">
    function add_field(){
      var newDate = new Date();
    var id = newDate.getTime();
    $('<li class="li--23" id="content_additional_field'+id+'">\n\
  <label>\n\
  <span><input type="text" style="width: 80%;" name="additional_field[field_'+id+'][field_name][]" id="additional_field_field_name_" class="single"/> :</span></label>\n\
  <input type="radio" onclick="textInput('+id+')" name="option_'+id+'[]" id="option_text" checked="checked" value="text" />\n\
  <input type="text" style="width: 40%;" name="additional_field[field_'+id+'][field_value][]" id="additional_field_field_value_'+id+'" class="single'+id+'"/>&nbsp;<a href="javascript:remove_field('+id+');" name="remove_field" class="remove_field">Remove</a>\n\
  <br/>\n\
  <div style="float:left"><input type="radio" onclick="selectInput('+id+')" name="option_'+id+'[]" id="option_select" value="select" />&nbsp;\n\
  <select id="extra_option_'+id+'" name="additional_field[field_'+id+'][field_value][]" disabled="disabled"><option value="">Please select</option></select>&nbsp;<a href="/agents/<%=@agent.id%>/offices/<%=@office.id%>/properties/<%=@property.id%>/extras/option_form?hidden_val='+id+'&KeepThis=true&TB_iframe=true&height=550&width=700&modal=true" class ="thickbox" id="add_opt_'+id+'" style="display:none">Edit Options</a></div>\n\
</li>').appendTo('#additional_field_wrapper');
    }
  </script>
<![endif]-->
