
<%= render :partial => 'messages/back_to_messages' %>

<h2>Add a New Category</h2>

<% form_for @category do |f| %>
	<%= f.error_messages :class => 'errortext' %>
	<fieldset class="fu_fs1">
		<p class="required">
			<strong>Name:</strong><br />
			<%= f.text_field :name, :class => 'single' %>
		</p>

		<p><%= f.submit 'Save' %> or <%= link_to 'Cancel', message_categories_path %></p>
	</fieldset>
<% end %>