<div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;margin-left:10px;margin-bottom:10px;">
    <div class="set">
     <h6>General </h6>
     <table cellpadding="0" cellspacing="0">
       <tr>
         <td><b>Font</b></td>
         <td>
           <select style="width:150px;" onchange="update_font(this.value);">
             <option value="arial">Arial</option>
             <option value="sans-serif">Sans-serif</option>
             <option value="'Lucida Sans'">Lucida Sans</option>
             <option value="'Lucida Grande'">Lucida Grande</option>
             <option value="'Lucida Sans Unicode'">Lucida Sans Unicode</option>
           </select>
         </td>
         <%= form.hidden_field :font_family %>
       </tr>
       <tr>
         <td><b>Heading Colour</b></td>
         <td>
           <div class="selector" id="swatch_heading" onclick="active_selector_func('heading');"></div>
         <% @color_list.each_with_index{|clr, index| %>
           <div class="heading_class color_block <%= (clr.to_s == @pdf_configuration.heading_color)? 'block_active' : ''  %>" style="background-color:<%= clr %> " onclick="update_heading('<%= clr %>', <%= index %>);" id="heading_class<%= index %>"></div>
         <% } %>
         </td>
         <%= form.hidden_field :heading_color %>
       </tr>
       <tr>
         <td><b>Main Content Colour</b></td>
         <td>
           <div class="selector" id="swatch_background" onclick="active_selector_func('background');"></div>
         <% @color_list.each_with_index{|clr, index| %>
           <div class="bg_class color_block <%= (clr.to_s == @pdf_configuration.main_content_color)? 'block_active' : ''  %>" style="background-color:<%= clr %> " onclick="update_backgroud('<%= clr %>', <%= index %>);" id="bg_class<%= index %>"></div>
         <% } %>
         </td>
         <%= form.hidden_field :main_content_color %>
       </tr>
       <tr>
         <td><b>Sidebar Colour</b></td>
         <td>
           <div class="selector" id="swatch_sidebar" onclick="active_selector_func('sidebar');"></div>
         <% @color_list.each_with_index{|clr, index| %>
           <div class="sidebar_class color_block <%= (clr.to_s == @pdf_configuration.sidebar_color)? 'block_active' : ''  %>" style="background-color:<%= clr %> " onclick="update_sidebar('<%= clr %>', <%= index %>);" id="sidebar_class<%= index %>"></div>
         <% } %>
         </td>
         <%= form.hidden_field :sidebar_color %>
       </tr>
       <tr><td><b>Icon & Text Colours</b></td><td>
         <div id="title_class1" class="title_class color_block <%= ("#000000" == @pdf_configuration.heading_font_color)? 'block_active' : ''  %>" style="background-color:#000000" onclick="update_title_color(1);"></div>
         <div id="title_class2" class="title_class color_block <%= ("#FFFFFF" == @pdf_configuration.heading_font_color)? 'block_active' : ''  %>" style="background-color:#FFFFFF" onclick="update_title_color(2);"></div>
       </td>
       <%= form.hidden_field :heading_font_color %>
     </tr>
     </table>
    </div>
</div>
