<%= stylesheet_link_tag 'pdf_style' %>
<%= render :partial => 'agent_users/settings' %>
<br/><br/><br/>
<div class="title_block block">
  <h2 class="page_title">Manage Brochure copy</h2>
  <%= render :partial => "steps_tab" %>
</div><br/><br/><br/>
<div id="clientdiv" class="block accounts half" style="width:800px;">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <h6>Preview Editor (click on the sections you'd like to edit) </h6>
     <%= render :partial => "pdf_configurations/text_editor/#{@text_editor}" %>
    </div>
     <div class="clearer"></div>
  </div>
</div>


<div id="clientdiv" class="block accounts half" style="width:400px;">
  <% form_for :pdf_configuration, @pdf_configuration, :url => agent_office_pdf_configuration_path(@agent,@office,@pdf_configuration), :html => {:class => 'propertyform full', :method => :put} do |f| %>
  <%= render :partial => @opt_color, :locals => {:form => f} %>
</div>
  <div id="contactsdiv">
      <table class="pf-table" style="border:none;">
        <tr class="li--8"><td class="value" colspan="5">
            <button name="back_crop_images" type="button" value="Update" style="float:left;" onclick="window.location= '<%= agent_office_pdf_configurations_path(@agent, @office) %>'" class="submit_btn">« Previous </button>

              <button name="update_template" type="button" value="Update" style="float:right" onclick="jQuery('form.propertyform').submit();" class="submit_btn">Update</button>
            <%end%>
        </td></tr>
      </table>
  </div>
<%= javascript_include_tag 'tiny_mce/tiny_mce.js', 'dropperredux', 'colorpicker', 'eye', 'utils' %>
<style>
  .selector{cursor:pointer; width:30px; height: 30px; border: 1px solid #666666;float:left;margin-right:10px;}
</style>
<script type="text/javascript">
   tinyMCE.init({
      mode : "textareas",
      theme : "advanced",
      plugins : "spellchecker",
      theme_advanced_buttons1 : "spellchecker, bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,fontsizeselect",
      theme_advanced_buttons2 : "",
      theme_advanced_buttons3 : "",
      theme_advanced_buttons4 : "",
      editor_selector : "mceEditor",
      editor_deselector : "mceNoEditor, mNc"
    });
    $(document).ready(function() {
        $("#brochure_title_text").click(function(){
           update_text_noeditor('brochure_title_text', 'data_title');
        });
        $("#brochure_headline").click(function(){
           update_text('brochure_headline', 'data_headline');
        });
        $("#brochure_description").click(function(){
           update_text('brochure_description', 'data_description');
        });
        $("#brochure_price").click(function(){
           update_text('brochure_price', 'data_price');
        });
        $("#brochure_contact1").click(function(){
           update_text('brochure_contact1', 'data_contact1');
        });
        $("#brochure_contact2").click(function(){
           update_text('brochure_contact2', 'data_contact2');
        });
    });

    function save_text(id, prev_id, noeditor){
      var text = '';
      if(noeditor == '1'){
        text = $("#edit_text_noeditor").val();
      }else{
        text = tinyMCE.get('edit_text').getContent();
      }
      $("#"+id).html(text);
      $('#'+prev_id).val(text);
      close_text();
    }

    function close_text(){
      $("#wrapper_edit_text_noeditor").hide();
      $("#wrapper_edit_text").hide();
      $("#edit_wraper").hide();
    }

    function update_text(id, prev_id){
      close_text();
      $("#edit_wraper").show();
      $("#wrapper_edit_text").show();
      var text = $('#'+id).html();
      tinyMCE.activeEditor.setContent(text.replace(/\s+/g, " "));
      $("#save_text").attr('href', 'javascript:save_text("'+id+'","'+prev_id+'", "0")');
    }

    function update_text_noeditor(id, prev_id){
      close_text();
      $("#edit_wraper").show();
      $("#wrapper_edit_text_noeditor").show();
      var text = $('#'+id).html();
      $("#edit_text_noeditor").html(text.replace(/\s+/g, " "));
      $("#save_text").attr('href', 'javascript:save_text("'+id+'","'+prev_id+'", "1")');
    }
</script>
<script type="text/javascript">
  $(document).ready(function() {
    active_selector_func("heading");
    var def_color = "<%= @list_color %>";
    if(def_color!=""){
      select_color(def_color);
    }
     var turnon = function () {
      $.fn.dropperredux({
        selector: $('.dropper1'),
        hoverwidth: 10,
        clickCallback: function(color) {
           select_color("#"+color.rgbhex);
        }
      });
    };
    turnon();
  });
</script>
<script type="text/javascript">
    function active_selector_func(active){
      $(".selector").css({'border' : "1px solid #CCCCCC"});
      $('#active_selector').val(active);
      $('#swatch_'+active).css({'border' : "1px solid red"});
    }

    function select_color(color){
      var active = $('#active_selector').val();
      $('#swatch_'+active).css({'background-color' : color});
      $('#brochure_'+(active == 'heading'? 'title' : active)).css({'background-color' : color});
      $('#style_'+active+'_color').val('background-color:'+color+';');
      $('#option_'+active+'_color').val(color);
    }

    function update_title_color(type){
      if(type == 1){
        color = "#000000";
        img = "black";
      }else{
        color = "#FFFFFF";
        img = "white";
      }
      $('#brochure_title').css({'color' : color});
      $('#style_title_color').val('color:'+color);
      $('#option_title_color').val(color);
      $('div.title_class').removeClass('block_active');
      $('#title_class'+type).addClass('block_active');
      $('#img_beds').attr("src", "/images/beds_"+img+".png");
      $('#img_baths').attr("src", "/images/baths_"+img+".png");
      $('#img_cars').attr("src", "/images/cars_"+img+".png");
      $('#pdf_configuration_heading_font_color').val(color);
    }

    function update_font(font){
      $('#brochure').css({'font-family' : font});
      $('#style_font').val('font-family:'+font+';');
      $('#option_font').val(font);
      $('#pdf_configuration_font_family').val(font);
    }

    function update_team(){
      var team = 0
      if($('#display_team_image_frm').attr('checked') == true){
        $('#img_primary').show();
        $('#img_secondary').show();
        team = 1
      }else{
        $('#img_primary').hide();
        $('#img_secondary').hide();
      }
      $('#option_display_team_image').val(team);
    }

    function update_leave_blank(){
      var leave = 0
      if($('#leave_blank_header_frm').attr('checked') == true){
        leave = 1
      }
      $('#option_leave_blank_header').val(leave);
    }

    function update_heading(color, id){
      active_selector_func("heading");
      $('#swatch_heading').css({'background-color' : color});
      $('#brochure_title').css({'background-color' : color});
      $('#style_heading_color').val('background-color:'+color+';');
      $('#option_heading_color').val(color);
      $('div.heading_class').removeClass('block_active');
      $('#heading_class'+id).addClass('block_active');
      $('#pdf_configuration_heading_color').val(color);
    }

    function update_backgroud(color, id){
      active_selector_func("background");
      $('#swatch_background').css({'background-color' : color});
      $('#brochure_background').css({'background-color' : color});
      $('#style_background_color').val('background-color:'+color+';');
      $('#option_background_color').val(color);
      $('div.bg_class').removeClass('block_active');
      $('#bg_class'+id).addClass('block_active');
      $('#pdf_configuration_main_content_color').val(color);
    }

    function update_sidebar(color, id){
      active_selector_func("sidebar");
      $('#swatch_sidebar').css({'background-color' : color});
      $('#brochure_sidebar').css({'background-color' : color});
      $('#style_sidebar_color').val('background-color:'+color+';');
      $('#option_sidebar_color').val(color);
      $('div.sidebar_class').removeClass('block_active');
      $('#sidebar_class'+id).addClass('block_active');
      $('#pdf_configuration_sidebar_color').val(color);
    }

</script>