<div id="tabulardiv" class="block files" style="width:100%">
  <div class="title_block">
    <h2>Property Changes Log</h2>
  </div>
  <div id="file_listing" class="group">
    <table id="vault_table">
      <tbody>
        <tr>
          <th style="background-color:#C8D2DC">Property ID</th>
          <th style="background-color:#C8D2DC">Property Address</th>
          <th style="background-color:#C8D2DC">Status</th>
          <th style="background-color:#C8D2DC">Total Logs</th>
          <th style="background-color:#C8D2DC">Action</th>
        </tr>

        <% if @all_logs.present? && @properties.present? %>
          <% @properties.each do |property| %>
            <tr>
              <td width="10%">
                <%= property.id %>
              </td>
              <td>
                <%= property.address %>
              </td>
              <td width="20%">
                <%= property_status(property) %>
              </td>
              <td width="10%">
                <%= total_logs(property, @all_logs) %>
              </td>
              <td width="10%">
                <a href="<%= agent_office_changes_log_path(@agent, @office, property.id) %>">Details</a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="clearer"></div>
  </div><!-- end first date .group -->
</div><!-- end #tabulardiv -->

