<h1>New testimonial</h1>

<% form_for :testimonial, @testimonial, :html => {:multipart => true} ,:url => agent_office_testimonials_path(@agent, @office, :come_from => params[:come_from]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="clearer"></div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

