<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title>Commercial Loop CRM Agents <%= @title %></title>
  </head>
  <%= stylesheet_link_tag 'commercialloopcrm','ui.datepicker', 'jquery.flexbox', 'thickbox', 'jquery.tooltip',:cache=>'style' %>
  <body>
    <div id="clientdiv" class="block accounts full"><br/>
        <div class="block form follower" style="padding-right:5px;">
          <div id="propertydatadiv" class="group" style="min-height:100px;height:100px;">
            <div class="set">
              <h6 class="full">Your feature</h6>
              <fieldset class="pf_fs5">
                <ul class="pf-ul">
                  <li class="li--23"><label><span>Name:</span></label>
                    <%=h @user_defined_feature.name %>
                  </li>
                  <li class="li--23"><label><span>Property Type:</span></label>
                    <%=h @user_defined_feature.property_type %>
                  </li>
                  <li class="li--23"><label><span>&nbsp;</span></label>
                    <button>
                      <%= link_to 'Edit', edit_agent_office_user_defined_feature_path(@agent,@office,@user_defined_feature) %>
                    </button>
                    <button>
                      <%= link_to 'Index', agent_office_user_defined_features_path(@agent,@office) %>
                    </button>
                  </li>
                </ul>
              </fieldset>
              <div class="action_button" style="border:none;">
                <%= link_to 'Close', "#",:onclick=>"window.parent.tb_remove(); return false" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
