<div class="step_button">
  <a href="<%= choose_properties_agent_office_reports_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_properties).include?(params[:action]) %>">1. Choose Properties</a>
  <a href="<%= choose_data_agent_office_reports_path(@agent, @office) %>" class="<%= 'active_tab' if %w(choose_data).include?(params[:action]) %>">2. Choose Data</a>
</div>
<div style="clear:both;"></div>