<div class="block help full">
  <div class="title_block block">
    <h2 class="page_title">Choose Properties</h2>
    <h4><span class="lite">Here is where you can generate reports which can be printed or downloaded as a CSV file. Simply fill in the filter option below then press next to where you can preview the report.</span></h4><br/>
    <%= render :partial => "steps_tab" %>
  </div>
</div>
<div id="clientdiv" class="block accounts full">
  <div  id="contactsdiv" class="block form group" style="background-color:#E1EBF5;">
    <div class="set">
     <fieldset class="pf_fs2">
       <form action="<%= choose_data_agent_office_reports_path(@agent,@office) %>" method="post" name="frm1" id="frm1">
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Status</b></td>
              <td width="25%">
                <%= select_tag "selection_status", options_for_select(@statuss, ""), :class => 'select_box', :onchange => "add_options('status');"%>
                <input type="hidden" name="status" id="status" value="<%= @value_status %>"/>
              </td>
              <td><div id="statuss" style="text-align:left;font-size:9pt;"><%= @value_statuss %></div></td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Listing Type</b></td>
              <td width="25%">
               <%= select_tag "selection_listing_type", options_for_select(@listings, ""), :class => 'select_box', :onchange => "add_options('listing_type');update_property_type();"%>
               <input type="hidden" name="listing_type" id="listing_type" value="<%= @value_listing_type %>"/>
              </td>
              <td><div id="listing_types" style="text-align:left;font-size:9pt;"><%= @value_listing_types %></div></td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Property Type</b></td>
              <td width="25%">
                <div id="wrap_property_type"><%= select_tag "selection_property_type", options_for_select(@property_types, ""), :class => 'select_box', :onchange => "add_options('property_type');"%></div>
                <span id="property_type_loading" style="display:none;" ><%= image_tag "/images/ajax-loader.gif" %></span>
                <input type="hidden" name="property_type" id="property_type" value="<%= @value_property_type %>"/>
              </td>
              <td><div id="property_types" style="text-align:left;font-size:9pt;"><%= @value_property_types %></div></td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Sort</b></td>
              <td width="25%">
                <select name="sort" id="sort">
                  <option value="">Please select</option>
                  <option value="id">Property ID</option>
                  <option value="street">Address</option>
                  <option value="suburb">Suburb</option>
                </select>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Primary Contact</b></td>
              <td width="25%">
               <%= select_tag "primary_contact", options_for_select(@contacts, ""), :class => 'select_box' %>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Secondary Contact</b></td>
              <td width="25%">
               <%= select_tag "secondary_contact", options_for_select(@contacts, ""), :class => 'select_box' %>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Third Contact</b></td>
              <td width="25%">
               <%= select_tag "third_contact", options_for_select(@contacts, ""), :class => 'select_box' %>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Fourth Contact</b></td>
              <td width="25%">
               <%= select_tag "fourth_contact", options_for_select(@contacts, ""), :class => 'select_box' %>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Price</b></td>
              <td width="25%"><b>
                Min: <input type="text" name="min_price" id="min_price" size="12" value="<%= @min_price %>"/>&nbsp;&nbsp;
                Max: <input type="text" name="max_price" id="max_price" size="12" value="<%= @max_price %>"/></b>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Bed</b></td>
              <td width="25%"><b>
                Min: <input type="text" name="min_bed" id="min_bed" size="12" value="<%= @min_bed %>"/>&nbsp;&nbsp;
                Max: <input type="text" name="max_bed" id="max_bed" size="12" value="<%= @max_bed %>"/></b>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <div style="width:100%;font-size:9pt;">
          <table style="border:none;">
            <tr style="background-color:#E1EBF5;">
              <td width="15%"><b>Floor</b></td>
              <td width="25%"><b>
                Min: <input type="text" name="min_floor" id="min_floor" size="12" value="<%= @min_floor %>"/>&nbsp;&nbsp;
                Max: <input type="text" name="max_floor" id="max_floor" size="12" value="<%= @max_floor %>"/></b>
              </td>
              <td>&nbsp;</td>
            </tr>
          </table>
         </div>
         <input type="hidden" name="choose_properties" value="true"/>
         <button name="btn" type="submit" value="Update" style="float:right;">Next »</button>
       </form>
     </fieldset>
    </div>
  </div>
</div>
<script type="text/javascript">
  function add_options(type){
    var a_all_id = $("#"+type).val();
    var a_arry = a_all_id.split('~');
    var a_add =0;
    if($("#selection_"+type).val()!=''){
      for(var x=0; x < a_arry.length; x++){
        if((a_arry[x]!='')&&(a_arry[x]==$("#selection_"+type).val())){ a_add = 1; }
      }
      if(a_add != 1){
        var new_datas = $("#"+type).val() + '~' + $("#selection_"+type).val();
        $("#"+type).attr('value', new_datas);
        $("#"+type+"s").append('<span id="'+type+$("#selection_"+type).val()+'" style="margin-right:20px;">'+$("#selection_"+type+" option:selected").text()+'\
         <a href="javascript:remove_options(\''+type+'\',\''+$("#selection_"+type).val()+'\')">x</a></span>');
      }
    }
  }

  function remove_options(type, id){
    var all_id = $("#"+type).val();
    var arry = all_id.split('~');
    $("#"+type).attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
       var new_datas = $("#"+type).val() + '~' + arry[x];
       $("#"+type).attr('value', new_datas);
      }
    }
    $("#"+type+id).remove();
    if(type == 'listing_type'){
      update_property_type();
    }
  }

  function check_listing_type(listing_type){
    var a_all_id = $("#listing_type").val();
    var a_arry = a_all_id.split('~');
    var status = false;
    for(var x=0; x < a_arry.length; x++){
      if((a_arry[x]!='')&&(a_arry[x]==listing_type)){ status = true; }
    }
    return status;
  }

   function update_property_type(){
    var base_ptype = $("#wrap_property_type");
    var controller = "<%= populate_property_type_agent_office_reports_path(@agent,@office) %>";
    $.ajax({
      type: "POST",
      url: escape(controller),
      data:"listings="+$("#listing_type").val(),
      dataType:"JSON",
      beforeSend:function(){
        $("#selection_property_type").attr("disabled","disabled");
        $("#property_type_loading").show();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='selection_property_type' name='selection_property_type' onchange=\"add_options('property_type');\" style='width:250px;' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#selection_property_type").removeAttr("disabled");
        $("#property_type_loading").hide();
      }
    });
 }
</script>