<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">List Task Types </h6>
    <table cellpadding="0" cellspacing="0" class="update_table full">
        <tr>
          <th class="first_cell" style="background-color:#C8D2DC;">Date</th>
          <th style="background-color:#C8D2DC;">Name</th>
          <th style="background-color:#C8D2DC;">Office</th>
          <th style="background-color:#C8D2DC;">Action</th>
        </tr>
        <% unless @task_types.blank? %>
        <% @task_types.each do |task_type| -%>
        <tr>
          <td class="first_cell"><%= (task_type.created_at ? task_type.created_at.strftime("%d-%m-%Y") : "-") %></td>
          <td class="value"><%= (task_type.name ? task_type.name : "-") %></td>
          <td class="value"><%= (task_type.office_id.nil? ? "System" : task_type.office.name) %></td>
          <td class="value">
            <% unless task_type.office_id.nil? %>
            <%= link_to "Edit", edit_agent_office_property_task_type_path(@agent,@office,  task_type), :method => :get %> |
            <%= link_to "Delete", agent_office_property_task_type_path(@agent,@office, task_type), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>  </td>
            <% end %>
        </tr>
        <% end -%>
        <% end %>
   </table>
    <%= will_paginate @tasks unless @tasks.blank? %>
    <div class="action_button" style="border:none;">

      <%= link_to "Close Popup", "#",:onclick=>"window.parent.tb_remove();window.parent.update_tasks(); return false", :style =>"float:right;"%>
     </div>
  </div>
</div>
