<% status = current_user.active_help_status ? 'Off' :'On' %>
<% if current_user.type == 'AgentUser'%>
<%= link_to_remote "Switch #{status} Active Help", :url => {:controller => 'agent_users', :action => 'toggle_active_help', :id => current_user.id} %>
<%else%>
<%= link_to_remote "Switch #{status} Active Help", :url => {:controller => 'developer_users', :action => 'toggle_active_help', :id => current_user.id} %>
<%end%>
