<!-- NOTE TO DEVELOPER: the class "current" obviously needs to be on the current section -->
    <form action="post" name="the_view_form">
      <fieldset>
        <div style="float:left;margin-right:10px;"><label>Quick Search: </label></div>
        <div id="quick_edit_txtbox_contact" class="textbox" style="float:left;"></div>
        <div style="clear:both;"></div>
      </fieldset>
    </form>