<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="index" />
    <title><%= @developer && @developer.name || get_developer_subdomain %> Developer</title>
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    <%= javascript_include_tag 'jquery-1.3.min', 'jquery-ui', "ui/jquery.flexbox.min", "thickbox" %>
    <%= stylesheet_link_tag 'thickbox', 'eyecon/colorpicker', 'eyecon/layout' %>
    <script type="text/javascript" src="js/layout.js?ver=1.0.2"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jqueryprogressbar', 'eyecon/colorpicker', 'eyecon/eye', 'eyecon/jquery', 'eyecon/utils' %>
    <script src="/javascripts/eyecon/layout.js?ver=1.0.2" type="text/javascript"></script>
    <%= stylesheet_link_tag 'commercialloopcrm', 'jquery.flexbox', 'brochure' %>
    <script type="text/javascript">
     $(document).ready(function(){
      if(window.screen.availHeight == 973 && window.screen.availWidth == 1920){
        if(($.browser.safari) == true){
          window.parent.document.body.style.zoom = 1.5;
        }
      }
    });
    </script>
    <%= yield :head %>
    <!--[if IE 8]>
      <%= javascript_include_tag 'jquery.corner.js'%>
      <script type="text/javascript">
        $(document).ready(function(){
          $("a.btn").corner();
        });
      </script>
    <![endif]-->
    <script type="text/javascript">
      $(function(){
        $(".quick_edit_txtbox").each(function(){
          $(this).flexbox('<%= search_developer_agents_path(@developer) %>', {
            watermark: 'Enter a Client Name',
            minChars: 3,
            width: 140,
            method: 'post',
            showArrow: false,
            hiddenValue: 'href',
            inputClass: 'textbox',
            onSelect: function(){
              window.open(this.getAttribute('hiddenValue'), "_self");
            }
          });
        });
      });
    </script>
    <script type="text/javascript">
      function toggle_active_help(status) {
        if (status){
          document.getElementById('active_help').style.display = 'block';
        }
        else{
          document.getElementById('active_help').style.display = 'none';
        }

      }
    </script>
  </head>

  <body id="<%= @body_id || params[:controller]%>" class="developers">
    <div id="main_body">
      <div id="header">
        <h1 id="logo">
          <%= link_to "commercialloopcrm.com.au", developer_path(@developer), :title => 'Developer Company Logo' %>
        </h1><!--  -->

        <div id="accountmetadata">
          <p><span class="customer_id"><strong>Developer ID:</strong> <%= @developer.full_code %></span>
            <span class="account_name"><strong>Account:</strong> <%= @developer.name %></span>
            <span class="logged_in"><strong>Logged in as</strong> <%= current_user.full_name %> (<%= current_user.email %>)</span></p>
        </div>

        <ul id="quick_links">
          <li class="link2">
            <%= link_to 'Sign out', logout_path %>
          </li>
        </ul>
      </div><!-- end #header -->

      <div id="navdiv">
        <p class="navlinks">
          <span class="navlink navlink2" id='active_help_area'>
            <%= render :partial => 'layouts/active_help' %>
          </span>
          <br />
        </p>

        <ul id="nav">
          <li class="nav_item nav_item_1 <%= 'current' if current_page?(:controller => 'developers', :action => 'show') %>">
            <%= link_to 'My Dashboard', developer_path(@developer) %>
            <ul class="subnav">
              <li class="subnav1 quick_edit">
              </li>
            </ul>
          </li>
          <li class="nav_item nav_item_2 <%= 'current' if ((%w(agents offices_d).include?(params[:controller])) || current_page?(:controller => 'developers', :action => 'api_details') || current_page?(:controller => 'developers', :action => 'combined_exports') || current_page?(:controller => 'developers', :action => 'ecampaign') || current_page?(:controller => 'developers', :action => 'add_conjunctional_office')) %>">
            <% link_to developer_agents_path(@developer), :title => 'Client Centre' do %>
              Client Centre
              <% if @developer.pending_offices_count > 0 %>
                <span class="notify"><%= @developer.pending_offices_count %></span>
              <% end %>
            <% end %>
            <ul class="subnav">
              <li class="subnav1 <%= 'current' if params[:controller] == 'agents' && params[:action] == 'index' %>">
                <%= link_to 'Client Summary', developer_agents_path(@developer), :title => 'Client Summary' %>
              </li>
              <li class="subnav2 <%= 'current' if params[:controller] == 'offices_d' && params[:action] = 'index' %> ">
                <%= link_to 'Client Offices', developer_offices_path(@developer), :title => 'Client Offices'  %>
              </li>
              <li class="subnav2 <%= 'current' if current_page?(:controller => 'developers', :action => 'api_details') %>">
                <%= link_to 'Combined API', api_details_developer_path(@developer), :title => 'Combined API'  %>
              </li>
              <li class="subnav2 <%= 'current' if current_page?(:controller => 'developers', :action => 'combined_exports') %>">
                <%= link_to 'Combined Exports', combined_exports_developer_path(@developer), :title => 'Combined Exports'  %>
              </li>
              <li class="subnav2 <%= 'current' if current_page?(:controller => 'developers', :action => 'ecampaign') %>">
                <%= link_to 'Ecampaign', ecampaign_developer_path(@developer), :title => 'Ecampaign'  %>
              </li>
              <li class="subnav2 <%= 'current' if current_page?(:controller => 'developers', :action => 'add_conjunctional_office') %>">
                <%= link_to 'Add Conjunctional Office', add_conjunctional_office_developer_path(@developer), :title => 'Add Conjunctional Office' %>
              </li>
            </ul>
          </li>
          <% unless (["AdminUser"]).include?(current_user.class.name)%>
            <li class="nav_item nav_item_6 <%= 'current' if params[:controller] == 'messages_d' %>">
              <% link_to client_developer_messages_path(@developer), :title => 'Message Centre' do %>
                Message Centre
                <% if current_user.unread_messages_count > 0 -%>
                  <span class="notify"><%= current_user.unread_messages_count %></span>
                <% end -%>
              <% end %>

              <ul class="subnav">
                <li class="subnav1 <%= 'current' if params[:action] =~ /client$/ %>">
                  <%= link_to 'Client Messages', client_developer_messages_path(@developer) %>
                </li>

                <li class="subnav2 <%= 'current' if params[:action] =~ /commercial_loop_crm$/ %>">
                  <%= link_to 'Commercial Loop Messages', commercial_loop_crm_developer_messages_path(@developer) %>
                </li>
              </ul>
            </li>
          <%end%>
          <!-- add account tab -->
          <% if current_user.full_access? %>
            <li class="nav_item nav_item_7 <%= 'current' if params[:controller] == 'developer_accounts' || params[:controller] == 'developer_users'%>">
              <% link_to plans_developer_developer_account_path(@developer), :title => 'Account' do %>
                Account
              <% end %>
            </li>
          <% end %>
          <!-- Not Implemented Yet
          <li class="nav_item nav_item_4"><a href="store.php" title="Online Store">Online Store</a></li>
          -->
        </ul>

        <div class="extrasubnav">
          <ul class="subnav">
            <% if current_page?(:controller => "developer_accounts") || current_page?(:controller => "developer_users") %>
              <li class="subnav4 <%= "current" if current_page?(:controller => "developer_accounts", :action=>"plans")%>"><%= link_to "Current Plans", plans_developer_developer_account_path(:developer_id => @developer.id) %></li>
              <li class="subnav1 <%= "current" if current_page?(:controller => "developer_accounts", :action=>"billing") %>"><%= link_to "Billing", billing_developer_developer_account_path(:developer_id => @developer.id) %></li>
              <!-- Please add a class of "current" on the current page we're on. This is just an example -->
              <li class="subnav2 <%= "current" if current_page?(:controller => "developer_accounts", :action=>"show") %>"><%= link_to "Business Details", developer_developer_account_path(:developer_id => @developer.id) %></li>

                                            <!-- <li class="subnav3 <%= "current" if current_page?(:controller => "developer_accounts", :action=>"credit_card") %>"><%= link_to "Credit Card Details", credit_card_developer_developer_account_path(:developer_id => @developer.id)  %></li> -->
              <li class="subnav5 <%= "current" if current_page?(:controller => "developer_users", :action=>"index") %>"><%= link_to 'Team Members', developer_developer_users_path(@developer), :title => 'Team Members' %></li>
            <% end %>
          </ul>
        </div>

        <% unless @active_help.blank? %>
          <div class="block help full" id="active_help" style="display:<%= current_user.active_help_status && (@page_status[0].status == '1' ? 'block' : 'none') unless @page_status[0].blank? %>;">
            <div style="background:#F9CD98; border-bottom:1px solid #D2DCE6; margin:20px 0; padding: 5px"><p style="padding:5px 30px 0;">
                <%= link_to_remote "<span style='top: 105px; position: absolute; z-index: 99; right: 5px; font-size:10px;'>close</span>", :url => {:controller => 'developer_users', :action => 'close_button_per_page', :id => @active_help.id} %><%= @active_help.content %></p>
            </div>
          </div>
        <%end%>
      </div><!-- end #navdiv -->


      <% if flash.now[:notice] %>
        <div id="helpdiv" class="block help full">
          <div class='group'>
            <p class="help_message"><%= h flash.now[:notice] %></p>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <hr class="thick" />
      <div id="ac_statistic"></div>
      <%= render :partial => "layouts/footer" %>
    </div> <!-- end #main_body -->
  </body>
</html>

