<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
<title><%= @developer && @developer.name || get_developer_subdomain %> Login</title>
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/login.css" type="text/css" />
	<%= javascript_include_tag "jquery" %>
</head>

<body id="login">

<div id="login_body">

     <%= yield %>

</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){


	});
</script>
