<script type="text/javascript">
  $("#agent_contact_industry_category_id").live("change", function(){
    if($("#agent_contact_industry_category_id").val() == "1"){
      var option_residential_sale;
<% @residential_sale_options.each do |res_sale| %>
        option_residential_sale = option_residential_sale + "<option value=<%=res_sale.id %>><%= res_sale.name.to_s %></option>"
<%end%>
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append(option_residential_sale);
    }else if($("#agent_contact_industry_category_id").val() == "2"){
      var option_residential_lease;
<% @residential_lease_options.each do |res_lease| %>
        option_residential_lease = option_residential_lease + "<option value=<%=res_lease.id %>><%=res_lease.name.to_s%></option>"
<%end%>
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append(option_residential_lease);
    }else if($("#agent_contact_industry_category_id").val() == "3"){
      var option_commercial;
<% @commercial_options.each do |com| %>
        option_commercial = option_commercial + "<option value=<%=com.id%>><%=com.name.to_s%></option>"
<%end%>
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append(option_commercial);
    }else if($("#agent_contact_industry_category_id").val() == "4"){
      var option_houseland;
<% @houseland_options.each do |house_land| %>
        option_houseland = option_houseland + "<option value=<%=house_land.id%>><%=house_land.name.to_s%></option>"
<%end%>
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append(option_houseland);
    }else if($("#agent_contact_industry_category_id").val() == "5"){
      var option_business;
<% @business_options.each do |business| %>
        option_business = option_business + "<option value=<%=business.id%>><%=business.name.to_s%></option>"
<%end%>
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append(option_business);
    }else if($("#agent_contact_industry_category_id").val() == "6"){
      var option_holiday_lease;
<% @holiday_options.each do |holiday| %>
        option_holiday_lease = option_holiday_lease + "<option value=<%=holiday.id%>><%=holiday.name.to_s%></option>"
<%end%>
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append(option_holiday_lease);
    }else if($("#agent_contact_industry_category_id").val() == ""){
      $("#agent_contact_property_type_id option").remove();
      $("#agent_contact_property_type_id").append("<option value=''>Please select</option>");
    }
  });

  function add_category(){
    var all_id = $("#categories_id").val();
    var arry = all_id.split('#');
    var add =0;
    if($("#agent_contact_category_contact_id").val()!=''){
      for(var x=0; x < arry.length; x++){
        if((arry[x]!='')&&(arry[x]==$("#agent_contact_category_contact_id").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_categories = $("#categories_id").val() + '#' + $("#agent_contact_category_contact_id").val()
        $("#categories_id").attr('value', new_categories);
        $("#categories").append('<div id="'+$("#agent_contact_category_contact_id").val()+'" style="margin-right:20px;">'+$("#agent_contact_category_contact_id option:selected").text()+'\
         <a href="javascript:remove_category('+$("#agent_contact_category_contact_id").val()+')">x</a></div>');
      }
    }
  }

  function add_property_type(){
    var all_id = $("#property_types_id").val();
    var arry_ptype = all_id.split('#');
    var add =0;
    if($("#agent_contact_property_type_id").val()!=''){
      for(var x=0; x < arry_ptype.length; x++){
        if((arry_ptype[x]!='')&&(arry_ptype[x]==$("#agent_contact_property_type_id").val())){
          add = 1
        }
      }
      if(add != 1){
        var new_categories = $("#property_types_id").val() + '#' + $("#agent_contact_property_type_id").val()
        $("#property_types_id").attr('value', new_categories);
        $("#property_types").append('<div id="'+$("#agent_contact_property_type_id").val()+'"style="margin-right:20px;"class="property_type_selected">'+$("#agent_contact_industry_category_id option:selected").text()+' - '+$("#agent_contact_property_type_id option:selected").text()+'\
         <a href="javascript:remove_property_type('+$("#agent_contact_property_type_id").val()+')">x</a></div>');
      }
    }
  }

  function remove_category(id){
    var all_id = $("#categories_id").val();
    var arry = all_id.split('#');
    $("#categories_id").attr('value', "");
    for(var x=0; x < arry.length; x++){
      if((arry[x]!='')&&(arry[x]!=id)){
        var new_categories = $("#categories_id").val() + '#' + arry[x]
        $("#categories_id").attr('value', new_categories);
      }
    }
    $('#categories div#'+id).remove();
  }

  function remove_property_type(id){
    var all_id = $("#property_types_id").val();
    var arry_ptype = all_id.split('#');
    $("#property_types_id").attr('value', "");
    for(var x=0; x < arry_ptype.length; x++){
      if((arry_ptype[x]!='')&&(arry_ptype[x]!=id)){
        var new_property_types = $("#property_types_id").val() + '#' + arry_ptype[x]
        $("#property_types_id").attr('value', new_property_types);
      }
    }
    $('#property_types div#'+id).remove();
  }

  function update_categories(){
    var base_ptype = $("#wrap_category");
    var controller = "<%= populate_categories_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_category_contact_id").attr("disabled","disabled");
        $("#category_loading").show();
        $("#add_new").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
          };
        };
        var html = "<select id='agent_contact_category_contact_id' name='agent_contact[category_contact_id]' onchange='add_category();' style='width:58%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_category_contact_id").removeAttr("disabled");
        $("#category_loading").hide();
        $("#add_new").show();
      }
    });
  }

  function update_property_types(){
    var base_property_type = $("#wrap_property_type");
    var controller_property_type = "<%= populate_property_types_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller_property_type),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_property_type_id").attr("disabled","disabled");
        $("#property_type_loading").show();
      },
      success: function(jsonResponse){
        var eval_json_subcategory = eval(jsonResponse);
        var option_ptype = "";
        if(eval_json_subcategory == ""){
          option_ptype = "<option value =''>Please select</option>";
        }else{
          option_ptype = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json_subcategory.length;i++){
            var to_string = new String("'"+eval_json_subcategory[i][1]+"'");
            option_ptype += '<option value ='+to_string+'>'+eval_json_subcategory[i][0]+'</option>';
          };
        };
        var html = "<select id='agent_contact_property_type_id' name='agent_contact[property_type_id]' onchange='add_property_type();' style='width:58%' class='select_box'>"+option_ptype+"</select>";
        base_property_type.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_property_type_id").removeAttr("disabled");
        $("#property_type_loading").hide();
      }
    });
  }

  function update_heards(){
    var base_ptype = $("#heard_wrap");
    var controller = "<%= populate_heards_agent_office_agent_contacts_path(@agent,@office) %>";
    $.ajax({
      type: "GET",
      url: escape(controller),
      data:"",
      dataType:"JSON",
      beforeSend:function(){
        $("#agent_contact_heard_from_id").attr("disabled","disabled");
        $("#heard_loading").show();
        $("#add_new_heard").hide();
      },
      success: function(jsonResponse){
        var eval_json = eval(jsonResponse);
        var option = "";
        if(eval_json == ""){
          option = "<option value =''>Please select</option>";
        }else{
          option = "<option value =''>Please select</option>";
          for(var i=0;i < eval_json.length;i++){
            var to_string = new String("'"+eval_json[i][1]+"'");
            if(eval_json[i][1] == '<%= @agent_contact.heard_from_id %>'){
              option += '<option value ='+to_string+' selected>'+eval_json[i][0]+'</option>';
            }else{
              option += '<option value ='+to_string+'>'+eval_json[i][0]+'</option>';
            }
          };
        };
        var html = "<select id='agent_contact_heard_from_id' name='agent_contact[heard_from_id]' style='width:58%' class='select_box'>"+option+"</select>";
        base_ptype.empty().append($(html));
      },
      complete:function(){
        $("#agent_contact_heard_from_id").removeAttr("disabled");
        $("#heard_loading").hide();
        $("#add_new_heard").show();
      }
    });
  }

  function company_flexbox(){
    var query = "<%= @company_name %>";
    jQuery("#company_name").flexbox('<%= auto_complete_agent_office_agent_contacts_path(@agent, @office) %>',{
      customParameters: {q: query},
      method: 'post',
      watermark: query,
      showArrow: false,
      inputClass: 'single',
      minChars: 2,
      width:200,
      queryDelay: 300,
      paging:false,
      highlightMatches:false,
      containerClass:'ffbContainer',
      onSelect: function(){
        $('#agent_contact_agent_company_id').attr('value', this.getAttribute('hiddenValue'));
      }
    });
  }

  $(document).ready(function(){
    $(".ajax-loader").hide();
    $("#category_loading").hide();
    $("#property_type_loading").hide();
    $("#add_new").hide();
    $("#heard_loading").hide();
    $("#add_new_heard").hide();
    company_flexbox();
    update_categories();
    //update_property_types();
    update_heards();
<% unless session[:industry_category_id].blank? %>
      $("#agent_contact_industry_category_id option[value=<%=session[:industry_category_id]%>]").attr("selected", "selected");
  <% if session[:industry_category_id] == "1" || session[:industry_category_id] == "2" || session[:industry_category_id] == "4" %>
        var option_residential_sale;
    <% @residential_sale_options.each do |res_sale| %>
          option_residential_sale = option_residential_sale + "<option value=<%=res_sale.id %>><%= res_sale.name.to_s %></option>"
    <%end%>
        $("#agent_contact_property_type_id option").remove();
        $("#agent_contact_property_type_id").append(option_residential_sale);
  <%elsif session[:industry_category_id] == "5" %>
        var option_business;
    <% @business_options.each do |business| %>
          option_business = option_business + "<option value=<%=business.id%>><%=business.name.to_s%></option>"
    <%end%>
        $("#agent_contact_property_type_id option").remove();
        $("#agent_contact_property_type_id").append(option_business);
  <%elsif session[:industry_category_id] == "3"%>
        var option_commercial;
    <% @commercial_options.each do |com| %>
          option_commercial = option_commercial + "<option value=<%=com.id%>><%=com.name.to_s%></option>"
    <%end%>
        $("#agent_contact_property_type_id option").remove();
        $("#agent_contact_property_type_id").append(option_commercial);
  <%end%>
<%end%>

<% unless @agent_contact.new_record? %>
  <% unless @agent_contact.industry_category.blank? %>
    <% if @agent_contact.industry_category.name == "Residential Sale" || @agent_contact.industry_category.name == "Residential Lease" || @agent_contact.industry_category.name == "Project Sale" %>
          var option_residential_sale;
      <% @residential_sale_options.each do |res_sale| %>
            option_residential_sale = option_residential_sale + "<option value=<%=res_sale.id %>><%= res_sale.name.to_s %></option>"
      <%end%>
          $("#agent_contact_property_type_id option").remove();
          $("#agent_contact_property_type_id").append(option_residential_sale);
    <%elsif @agent_contact.industry_category.name == "Business Sale"%>
          var option_business;
      <% @business_options.each do |business| %>
            option_business = option_business + "<option value=<%=business.id%>><%=business.name.to_s%></option>"
      <%end%>
          $("#agent_contact_property_type_id option").remove();
          $("#agent_contact_property_type_id").append(option_business);
    <%elsif @agent_contact.industry_category.name == "Commercial"%>
          var option_commercial;
      <% @commercial_options.each do |com| %>
            option_commercial = option_commercial + "<option value=<%=com.id%>><%=com.name.to_s%></option>"
      <%end%>
          $("#agent_contact_property_type_id option").remove();
          $("#agent_contact_property_type_id").append(option_commercial);
    <%else%>
          var option_houseland;
      <% @houseland_options.each do |house_land| %>
            option_houseland = option_houseland + "<option value=<%=house_land.id%>><%=house_land.name.to_s%></option>"
      <%end%>
          $("#agent_contact_property_type_id option").remove();
          $("#agent_contact_property_type_id").append(option_houseland);
    <%end%>
  <%else%>
        $('#agent_contact_property_type_id option').remove();
        $("#agent_contact_property_type_id").append('<option value="">Please select</option>');
  <%end%>
<%end%>
  });
  jQuery(function($){
    $('#add_new').click(function(){
      return false
    })
  })

</script>
<script type="text/javascript">
  $(document).ready(function(){
    jQuery("#indicator1").ajaxStart(function(){
      jQuery(this).show();
    });
    jQuery("#indicator1").ajaxStop(function(){
      jQuery(this).hide();
    });

    var el = $('select#agent_contact_industry_category_id > option');
    $.each(el, function(i){
      if ($(el[i]).text() == 'Project Sale'){
        $(el[i]).text('House & Land');
      }
    })
  });
</script>
<div id="propertydatadiv" class="group">
  <div class="set">
    <h6 class="full">Category</h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--23 required"><label><span>Contact Type:<span class="red_star">*</span></span></label>
          <div id="wrap_category">
            <%= form.select :category_contact_id, @category_contacts, {}, {:class => 'select_box', :style=> "width:58%", :onchange => "add_category();"} %>
          </div>
          <div id="category_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
          &nbsp;&nbsp;<%= link_to 'Add', agent_office_category_contacts_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new"%>
        </li>
        <li class="li--23">
          <input type="hidden" id="categories_id" name="categories_id" value="<%=@categories%>" />
          <div id="categories" style="float:right;width:369px"><%=@list_categories%></div>
        </li>
        <li class="li--23"><label><span>Company:</span></label>
          <div id="company_name"></div>
          <%= form.hidden_field :agent_company_id, :class => "single" %>
          <span id="indicator1" style="display:none;"><img src="/images/search-loader.gif" id="contact-loader"></img></span>
          &nbsp;&nbsp;<%= link_to 'Add', agent_office_company_contacts_path(@agent,@office)+"?KeepThis=true&TB_iframe=true&height=550&width=700&modal=true",:class =>"thickbox",:id=>"add_new"%>
        </li>
        <li class="li--23 required"><label><span>Industry Category:</span><span class="red_star">*</span></label>
          <div id="industry_category_wrap">
            <% if @agent_contact.new_record? %>
              <%= select_tag "agent_contact[industry_category_id]", options_for_select(@industry_categories.unshift(['Please select', nil])), :class => "select_box" %>
            <%else%>
              <%= form.select :industry_category_id, @industry_categories.unshift(['Please select', nil]), :class => "select_box", :selected => @agent_contact.industry_category_id %>
            <%end%>
          </div>
        </li>
        <li class="li--23 required"><label><span>Industry Sub-Category:</span><span class="red_star">*</span></label>
          <div id="wrap_property_type">
            <%= form.select :property_type_id, @property_types, {}, {:class => 'select_box', :style=> "width:58%", :onchange => "add_property_type();"} %>
          </div>
          <div id="property_type_loading" ><%= image_tag "/images/ajax-loader.gif" %></div>
        </li>
        <li class="li--23">
          <input type="hidden" id="property_types_id" name="property_types_id" value="<%=@property_types%>" />
          <div id="property_types" style="float:right;width:366px"><%=@list_property_types%></div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>