<div id="propertyaddressdiv" class="group">
  <div class="set">
    <h6 class="full">Provide System Access (allows user to view files from the vault for a listing)</h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <li class="li--20"><label><span>Access the Vault:</span></label>
          <%= radio_button("agent_contact", "access_type", "Vault") %>
        </li>
        <li class="li--20"><label><span>Access Residential Projects:</span></label>
          <%= radio_button("agent_contact", "access_type", "ResidentialProject") %>
        </li>
        <% if @agent_contact.contact_type == "Company" %>
          <li class="li--17"><label><span>Create company login:</span></label>
          <%else%>
          <li class="li--17"><label><span>Create contact login:</span></label>
          <%end%>
          <%= form.check_box :login_required, :style => "width:14px;", :onchange => "check_username(this);" %>
        </li>
        <li class="li--20"><label><span>Username:</span></label>
          <%= form.text_field :username, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Password:</span></label>
          <%= form.text_field :password, :class => "single" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
<% if @agent_contact.new_record? || @agent_contact.access_type.blank? %>
      $("#agent_contact_access_type_vault").attr("checked", "checked");
<%end%>
    var req = "<%= @agent_contact.login_required %>";
    if(req == "false"){
      $("#agent_contact_username").attr("disabled","disabled");
      $("#agent_contact_password").attr("disabled","disabled");
    }
    $("#agent_contact_access_type_vault").css("width", "13px");
    $("#agent_contact_access_type_residentialproject").css("width", "13px");
  });

  function check_username(checkbox){
    if(checkbox.checked == true){
      $("#agent_contact_username").removeAttr("disabled");
      $("#agent_contact_password").removeAttr("disabled");
    }else{
      $("#agent_contact_username").attr("disabled","disabled");
      $("#agent_contact_password").attr("disabled","disabled");
    }
  }

</script>