<div id="propertyaddressdiv" class="group">
  <div class="set">
    <h6 class="full">Contact Details </h6>
    <fieldset class="pf_fs5">
      <ul class="pf-ul">
        <!--<li class="li--20"><label><span>Title:</span></label>
        <%= form.text_field :title, :class => "single" %>
        </li>-->
          <li class="li--17 required"><label><span>First Name:<span class="red_star">*</span></span></label>
          <%= form.text_field :first_name, :class => "single" %>
        </li>
          <li class="li--17"><label><span>Last Name:</span></label>
            <%= form.text_field :last_name, :class => "single" %>
          </li>
        <% if (@office.empty_contact_email.blank? || !@office.empty_contact_email) %>
          <li class="li--17"><label><span>Email:</span></label>
          <% else %>
          <li class="li--17"><label><span>Email:</span></label>
          <% end %>
          <%= form.text_field :email, :class => "single" %>
        </li>
        <li class="li--20"><label><span>Website:</span></label>
          <%= form.text_field :website, :class => "single" %>
        </li>
        <% if @agent_contact.contact_type == "Individual" %>
          <li class="li--17"><label><span>Home Number:</span></label>
            <%= form.text_field :home_number, :class => "single" %>
          </li>
          <li class="li--17"><label><span>Work Number:</span></label>
            <%= form.text_field :work_number, :class => "single" %>
          </li>
          <li class="li--17"><label><span>Mobile Number:</span></label>
            <%= form.text_field :mobile_number, :class => "single" %>
          </li>
        <%end%>
        <li class="li--17"><label><span>Contact Number:</span></label>
          <%= form.text_field :contact_number, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Fax Number:</span></label>
          <%= form.text_field :fax_number, :class => "single" %>
        </li>
        <li class="li--17"><label><span>Inactive:</span></label>
          <%= form.check_box :inactive, :style => "width:14px;" %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>